<li>
  <span><%= l(course_question_feed.created_at, format: :month_start) %></span>
  <span><%= t("view.templates.social/course_question_feed.#{course_question_feed.event}.title") %>: </span>
  <%= link_to course_question_feed.producer.name, main_app.send("#{course_question_feed.producer.role}_path", course_question_feed.producer) %>
  <%= t("view.templates.social/course_question_feed.#{course_question_feed.event}.action") %>
  <%= link_to course_question_feed.feedable.title, live_studio.send("#{course_question_feed.linkable.model_name.singular_route_key}_path", course_question_feed.linkable) %>
</li>