<tr>
  <td>
    <%= withdraw.amount %>
  </td>
  <td>
    <%= withdraw.transaction_no %>
  </td>
  <td>
    <%= withdraw.pay_type_text %>
  </td>
  <td>
    <%= localize(withdraw.created_at,:format => :long) %>
  </td>
  <td>
    <%= withdraw.status_text %>
  </td>
</tr>