<tr>
  <td><%= number_to_currency(-withdraw.amount, locale: :cn, unit: "￥", precision: 1) %></td>
  <td>
    <%= withdraw.transaction_no %>
  </td>
  <td>
    <%= withdraw.pay_type_text %>
  </td>
  <td>
    <%= localize(withdraw.created_at,:format => :long) %>
  </td>
  <td>
    <%= withdraw.status_text %>
    <%= link_to "/ #{t('teachers.common.cancel')}",cancel_user_withdraw_path(@current_resource,withdraw),method: :put if withdraw.init? %>
  </td>
</tr>