<div class="common-space">
  <div class="container">
    <div class="apply-tea">
      <div class="tutoring-title">
        <h3><%= t("view.withdraw_cn") %></h3>
      </div>
      <%= form_for @withdraw, url: user_withdraws_path(@current_resource),html: {autocomplete: "off"} do |f| %>
        <div class="drawings">
          <div class="row">
            <div class="col-md-7 applay-left">
              <p><%= t("view.withdraw.amount") %></p>
              <div class="row amount-line">
                <div class="col-md-2">
                  <label class="required control-label" for="user-moey"><%= t("view.withdraw.amount") %></label>
                </div>
                <div class="col-md-10 num-msg">
                  <%= f.text_field :amount, class: 'form-control teacher-money', placeholder: t('view.withdraw.amount_hd') %>
                  <i><%= t('currency.cn') %></i>
                  <em>(<span><%= %></span>)可用</em>
                  <span class="help-block has-error"></span>
                </div>
              </div>
            </div>
            <div class="col-md-5 applay-right">
              <p><%= Payment::Withdraw.human_attribute_name(:pay_type) %></p>
              <div class="row payment">
                <div class="payment-line">
                <label for="weixin" class="required control-label">
                              <input type="radio" name="" id="weixin" value="">
                              <img src="../img/weixin-1.png">
                              <span>微信钱包</span>
                              <i>(已支持自动转账)</i>
                            </label>
                
                <span class="help-block has-error"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row pwd-line">
            <div class="col-md-7 applay-left">
              <div class="row amount-line">
                <div class="col-md-2">
                  <label class="required control-label" for="user-password">支付密码</label>
                </div>
                <div class="col-md-10 num-msg">
                  <input class="required form-control" type="password" id="user-password" placeholder="输入支付密码验证身份">
                  <a href="">找回支付密码</a>
                  <span class="help-block has-error"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="apply-btn">
            <%= f.submit t('view.withdraw.common.audit'), id: 'submit_withdraw', disabled: 'disabled' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>