<div class="panel panel-default">
  <div class="admin">
    <%= render partial: 'recommend/banner_items/tab' %>

    <% if allow? 'recommend/choiceness_items', :new %>
      <%= link_to t('view.recommend/choiceness_item.index.new_title'), new_position_choiceness_item_path(@position), class: 'addbanner' %>
    <% end %>

    <div class="admin-recommend choiceness">

      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td><%= t('common.index_no') %></td>
          <td><%= t('view.recommend/banner_item.index.logo') %></td>
          <td><%= t('view.recommend/banner_item.index.title') %></td>
          <td><%= t('view.recommend/choiceness_item.index.tag') %></td>
          <td><%= t('view.recommend/banner_item.index.link') %></td>
          <td><%= t('view.recommend/choiceness_item.index.index') %></td>
          <td><%= t('view.recommend/banner_item.index.city') %></td>
          <td><%= t('common.operate') %></td>
        </tr>

        <%= render partial: 'choiceness_item', collection: @items %>
        </tbody>
      </table>
    </div>

    <center>
      <div class="pagination-fix">
        <%= will_paginate @items %>
      </div>
    </center>
  </div>
</div>