<%=link_to curriculum_path(curriculum) do %>
  <div class="col-md-6">
    <div class="card-ex-big card-white group" style="color:#666 ;">
      <div class="info">
        <div class="left">
          <div>
            <span class="subject">
                <%= curriculum.teaching_program.subject %>
            </span>
            <span>
              <%=curriculum.teaching_program.name %>
            </span>
          </div>

          <div class="qa_sep_15"></div>
          <div class="qa_f12 row">
            <div class="col-md-3">
              <span class="glyphicon glyphicon-user"></span>
              <span> <%=curriculum.teacher.name if curriculum.teacher %></span>
            </div>
            <div class="col-md-9">
              <span class="glyphicon glyphicon-th-list"></span>
              <%= curriculum.courses_count %> <%= Course.model_name.human %> •
              <%= curriculum.lessons_count %> <%= Lesson.model_name.human %>
            </div>
          </div>
          <div class="qa_sep_5"></div>
          <div class="qa_sep_5"></div>

          <div class="qa_f12 row">
            <div class="col-md-3">
              <span class="glyphicon glyphicon-book"></span>
              <span><%=curriculum.teaching_program.grade %></span>
            </div>
            <div class="col-md-9">
              <span class="glyphicon glyphicon-home"></span>
              <span> <%= curriculum.teacher.school.name %></span>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="teacher">
            <% if curriculum.teacher %>
                <%= image_tag curriculum.teacher.avatar.small ,class:"img-circle"%>
            <% end %>
          </div>
          <!--div class="student">
            <span class="qa_f30"><%= 0 %></span>
            <div class="qa_f12" style="color:gainsboro;font-weight: lighter">人参与学习</div>
          </div-->
        </div>
      </div>
    </div>
    <div class="qa_sep_15"></div>
  </div>
<% end %>