<div class="col-md-9 group">
  <%= render partial: 'header' %>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>

    <%= simple_form_for :search ,url: curriculum_path(@curriculum) , :method => :get do |f|%>
      <div class="qa_cell qa_box">
        <ul style="list-style: none;padding: 0;">
        <% get_curriculum_categories(@curriculum).each do |c|%>
            <li class="button-checkbox" style="float: left;width:130px;padding-top: 5px;">
                <button type="button" class="btn btn-xs btn-primary active" data-color="primary"><i class="state-icon glyphicon glyphicon-check"></i>
                  &nbsp;<%=c%>
                </button>
              <input type="checkbox"  name="tags[]" value="<%=c%>" class="hidden" <%="checked" if params[:tags] and params[:tags].include?(c) %>/>
            </li>
        <% end %>
        </ul>
        <div style="clear: both"></div>

      </div>
      <div style="clear: both"></div>
      <div class="qa_cell qa_box">
            <%= f.submit "search",class: "btn btn-xs btn-default"%>
        </div>
    <%end %>



  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>


  <div class="row">
    <div class="qa_f12">
      <!--% @curriculum.courses.each do |course| %-->
          <!--div class="col-md-4"-->
            <!--%= render partial: 'course',locals: {course: course} %-->
          <!--/div-->
      <!--% end %-->

        <div class="col-md-12">
          <div class="qa_box courses">
            <% @curriculum.teaching_program.content["chapters"].each_with_index do |chapter,chapter_index| %>
                <% @curriculum.get_courses_by_chapter(chapter).each_with_index do |course,course_index| %>
                    <%= render partial: 'courses/course_cell', locals: {course: course,
                                                                        chapter_index: chapter_index,
                                                                        course_index:course_index} %>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div   class="col-md-3">
  <div class="qa_box">
    <div class="qa_cell box_header qa_f12">
      <strong>讲师简介</strong>
    </div>
    <div class="qa_cell qa_f12">
      <div style="overflow-wrap: break-word">
        <%= @curriculum.teacher.desc %>
      </div>
    </div>
  </div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_box">
    <div class="qa_cell box_header qa_f12">
      <strong><%=link_to '全部课程','#'%></strong>
    </div>
    <% @curriculum.teaching_program.content["chapters"].each_with_index do |chapter, index| %>
        <div class="qa_cell qa_f12">
          <div>
            <strong class="qa_f14"><%= "#{index+1}.  " %><%="#{chapter}"%></strong>
            <% if allow? "teachers/curriculums","edit_courses_position",@curriculum %>
                <%= link_to edit_courses_position_teachers_curriculum_path(@curriculum, "chapter"=> chapter) do %>
                    <strong style="color: green">编辑位置</strong>

          <% end %>
            <% end %>
          </div>
          <% @curriculum.get_courses_by_chapter(chapter).each_with_index do |course,i| %>
              <div style="padding-left: 15px"><%=link_to "#{index+1}.#{i+1} #{course.name} (#{course.lessons_count}讲)",course_path(course)%></div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>