<div class="details-msg-con details-msg-arrange">
  <ul>
    <% @course.order_lessons.each_with_index do |lesson, i| %>
      <li class="<%= lesson.is_over? ? 'msg-arrange-state' : '' %>">
        <div>
          <%= image_tag("wap/#{lesson.is_over? ? 'title-1' : 'title'}.png") %>
          <span><%= lesson.name %></span>
          <span><%= lesson.status_text(current_user.try(:role)) %></span>
        </div>
        <div>
          <span><%= lesson.class_date %></span>
          <span><%= lesson.start_time %>-<%= lesson.end_time %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>