
<%= content_tag 'div', id:'qa_picture_params',data:{token: @question.token,picture_type: "Question"} do %>

<% end %>

<div class="qa_box qa_big_cell">

  <%= simple_form_for @question do |f|%>
      <div class="row">
        <%= f.association :vip_class,
                    include_blank: false,
                    collection:@student.learning_plans.map{|l| [l.vip_class.subject,l.vip_class.id,l.vip_class.category]}.uniq{|s| s.second}.group_by{|k| k[2]},
                    :as => :grouped_select,
                    :group_method => :last,
                    wrapper_html: { class: 'col-md-2' }
        %>
        <%= f.input :title ,hint:"注意：问题要和所选的科目相匹配!",
                    wrapper_html: { class: 'col-md-10',style:"padding-right:0px" }%>
      </div>

      <%= f.input :token, as: :hidden %>
      <div class="progress" id="picture-progress">
        <div class="progress-bar" id="picture-progress-bar" role="progressbar" >
        </div>
      </div>
      <%= f.input :token, as: :hidden %>
      <%= f.input :content ,:input_html => { :data => {:provider => "summernote"} } %>
      <%= f.submit class:"btn btn-default"%>
  <% end %>
</div>