
<%= content_tag 'div', id:'qa_question_params',data:{token: @question.token,picture_type: "Question"} do %>

<% end %>

<div class="qa_box qa_big_cell">

  <%= simple_form_for @question do |f|%>
      <div class="row">
        <%= f.association :vip_class,
                    include_blank: false,
                    collection:current_user.valid_learning_plans.map{|l| [l.vip_class.subject,l.vip_class.id,l.vip_class.category]}.group_by{|k| k[2]},
                    :as => :grouped_select,
                    :group_method => :last,
                    wrapper_html: { class: 'col-md-2' }
        %>
        <%= f.input :title ,wrapper_html: { class: 'col-md-10',style:"padding-right:0px" }%>
      </div>

      <%= f.input :token, as: :hidden %>
      <div class="progress" id="progress">
        <div class="progress-bar" id="progress-bar" role="progressbar" >
        </div>
      </div>
      <%= f.input :content ,:input_html => { :data => {:provider => "summernote-question"} } %>
      <%= f.submit class:"btn btn-default"%>
  <% end %>
</div>