
<%= content_tag 'div', id:'qa_picture_params',data:{token: @question.token,picture_type: "Question"} do %>

<% end %>

<script>
    $(
            function() {
                $('select#question_learning_plan_id').on("change",function(){
                    question_learning_plan_id = $("select#question_learning_plan_id").val();
                    $.ajax({
                                url: "<%= teachers_questions_path %>",
                                dataType: "script",
                                format: 'js',
                                data: {
                                    "learning_plan_id": question_learning_plan_id
                                }
                            }
                    )
                });
                $('.question-teachers-chosen-select').chosen({
                    placeholder_text_multiple:"专属讲师。",
                    allow_single_deselect: true,
                    no_results_text: '无结果',
                    width: '100%'});
            }

    )
</script>

<div class="qa_box qa_big_cell">
  <p>尊敬的用户您好:</p>
  <p>只有分配了专属讲师的用户才能在<%=VipClass.model_name.human%> 进行提问。如果以已经分配了专属讲师请忽略此信息。</p>
  <p>是否有专属讲师可以在
    <% if current_user and current_user.student? %>
        <%=link_to '我的老师',teachers_student_path(current_user)%>
    <% else %>
        '我的老师'
    <% end %>
    页面中进行查看。
  </p>
  <p>如果没有专属讲师，可以联系当地的工作站进行开通。阳泉地区 电话：0353-2135828 联系人：马老师</p>
</div>
<div class="qa_box qa_big_cell">



  <%= simple_form_for @question do |f|%>
      <div class="row">
        <%= f.association :learning_plan,
                    include_blank: false,
                    collection:@student.learning_plans.map{|l| [l.vip_class.subject,l.id,l.vip_class.category]}.uniq{|s| s.second}.group_by{|k| k[2]},
                    :as => :grouped_select,
                    :group_method => :last,
                    wrapper_html: { class: 'col-md-2' }
        %>
        <%= f.input :title ,hint:"注意：问题要和所选的科目相匹配!",
                    wrapper_html: { class: 'col-md-10',style:"padding-right:0px" }%>
      </div>
      <%= f.association :teachers ,
                        collection: @teachers.map {|t|[t.name,t.id,t.school.name]}.group_by{|k| k[2]},
                        :as => :grouped_select,
                        :group_method => :last,
                        input_html: { multiple: true , class:'question-teachers-chosen-select',
                                      id: 'question-teachers'}
      %>
      <%= f.input :token, as: :hidden %>
      <div class="progress" id="picture-progress">
        <div class="progress-bar" id="picture-progress-bar" role="progressbar" >
        </div>
      </div>
      <%= f.input :token, as: :hidden %>
      <%= f.input :content ,:input_html => { :data => {:provider => "summernote"} } %>
      <%= f.submit class:"btn btn-default"%>
  <% end %>
</div>