<div class="qa_item" style="position: relative">
  <div class="author_avatar">
    <%=image_tag question.student.avatar.normal.url %>
  </div>
  <div class="qa_status">

    <span class="label label-info">      <%= question.answers_count %></span>


  </div>

  <div class="qa_title">
    <%=link_to question.title , question_path(question)%>

  </div>

  <div class="qa_info">
    <%=link_to "#{question.vip_class.category}#{question.vip_class.subject}",
               questions_path ,class: "qa_node"%> •
    <%= question.student.name %> • 发布于<%= time_ago_in_words(question.created_at) %>前 • 有<%= question.comments_count%>个<%= Comment.model_name.human%>

    <% if current_user and current_user.teacher? and question.is_responed_by_the_teacher?(current_user.id)%>
        <% if question.is_answered_by_the_teacher?(current_user.id) %>
            • <span class="qa_answered">已处理</span>
        <% else %>
            • <span class="qa_not_answered">未处理</span>
        <% end %>
    <% end %>

    <div class="qa_teacher">

    </div>

  </div>
  <div style="clear: both"></div>
</div>
