<div class="qa_item" style="position: relative">
  <div class="author_avatar">
    <%=image_tag question.student.avatar.normal.url %>
  </div>
  <div class="qa_status">

    <span class="label label-info">      <%= question.answers_count %></span>


  </div>

  <div class="qa_title">
    <%=link_to question.title , question_path(question)%>
  </div>

  <div class="qa_info">
    <%=link_to "#{question.vip_class.category}#{question.vip_class.subject}",
               questions_path ,class: "qa_node"%> •
    <%= question.student.name %> • 发布于<%= time_ago_in_words(question.created_at) %>前 • 有<%= question.comments_count%>个<%= Comment.model_name.human%>


    <div class="qa_teacher">
      <% if not question.last_answer_info.empty? %>
          <%=image_tag Teacher.find_by_id(question.last_answer_info["teacher_id"].to_i).try(:avatar).try(:tiny).try(:url),class:"img-circle" %>

          <%= question.last_answer_info["teacher_name"] %>老师于<%=time_ago_in_words(question.last_answer_info["answered_at"])%>前给出了解答
      <% end %>

    </div>

  </div>
  <div style="clear: both"></div>
</div>
