<div class="qa_box">
    <div class="qa_question">
      <div class="qa_header">
        <div class="pull-right">
          <%=image_tag @question.student.avatar.normal.url %>
        </div>
        <div class="qa_title">
          <h1>
            <%= @question.title %>
          </h1>
        </div>
        <div class="qa_info">
          <%=link_to "#{@question.vip_class.category}#{@question.vip_class.subject}", vip_class_path(@question.vip_class)%> •
                     <%= @question.student.name %> •
                    发布于<%= time_ago_in_words(@question.created_at) %>前
        </div>

      </div>
      <div class="qa_content">
        <%= raw @question.content%>
      </div>
      <div class="qa_footer">
        <% if allow? "questions","edit",@question %>
            <%=link_to edit_question_path(@question) do %>
                <i class="fa fa-pencil-square-o"></i>编辑
            <% end %>
        <% end %>
        <% if allow? :questions,:destroy, @question %>
            <%=link_to question_path(@question),method: :delete,'data-confirm' => '你确定删除么?' do %>
                &nbsp;
                <i class="fa fa-times"></i>删除
            <% end %>
        <% end %>
        <%= render partial:'comments/index',locals: {commentable: @question} %>
      </div>
    </div>
    <div class="qa_answer">
      <div class="qa_widget">
        <div class="qa_header">

          <h4><%= @question.answers_count%> 个回答
            <div style="float:right;font-size:12px;padding-right:10px">
              <% @question.learning_plan.try(:teachers).try(:each) do |teacher| %>
                  <%=image_tag teacher.avatar.tiny.url,class:"img-circle" %><%= teacher.name %>
              <% end %> • 负责讲解
            </div>
          </h4>
        </div>

      </div>

      <%= render @question.answers.order(:created_at) %>

    </div>
    <% if allow? "answers","create", @question %>
     <div class="qa_answer">
       <%= render 'answers/form' %>
     </div>
    <% end %>
    <div class="qa_sep_15"></div>
</div>