<div class="phone-details-msg">
  <div class="details-msg-nav">
    <a href="javascript:void(0);" class="active"><%= t('wap.live_studio/courses.show.course_intro') %></a>
    <a href="javascript:void(0);" class=""><%= t('wap.live_studio/courses.show.course_teacher') %></a>
    <a href="javascript:void(0);" class=""><%= t('wap.live_studio/courses.show.course_lessions') %></a>
  </div>
  <div>
    <%= render partial: 'wap/live_studio/courses/show/intro' %>
    <%= render partial: 'wap/live_studio/courses/show/teacher' %>
    <%= render partial: 'wap/live_studio/courses/show/lessons' %>
  </div>
</div>