<div class="phone-details">
  <%= simple_form_for [:wap, :live_studio, @product, @order] do |f| %>
    <%= render 'layouts/wap/message', obj: @order %>
    <%= f.hidden_field :product_id %>
    <div class="phone-login-title">
      <div class="phone-return">
        <%= link_to image_tag("phone-return-1.png"), [:wap, :live_studio, @product, coupon_code: params[:coupon_code]] %>
      </div>
      <div class="phone-headline">
        <h3><%= t('view.wap.live_studio.orders.new_order_title') %></h3>
      </div>
    </div>
    <% if @product.is_a?(LiveStudio::VideoCourse) %>
      <div class="prompt">
        <%= image_tag("prompt.png") %>
        <span><%= t('view.tips.video_course_order.cannot_refund') %></span>
      </div>
    <% end %>
    <div class="phone-order-con">
      <h3><%= @product.name %></h3>
      <ul>
        <li>
          <span><%= Payment::Order.human_attribute_name(:product_type) %></span>
          <span><%= @product.model_name.human %></span>
        </li>
        <li>
          <span><%= LiveStudio::Course.human_attribute_name(:subject) %></span>
          <span><%= @product.subject %></span>
        </li>
        <li>
          <span><%= LiveStudio::Course.human_attribute_name(:grade) %></span>
          <span><%= @product.grade %></span>
        </li>
        <li>
          <span><%= LiveStudio::Course.human_attribute_name(:course_teacher) %></span>
          <span><%= @product.teacher.try(:name) %></span>
        </li>
        <li>
          <span><%= LiveStudio::Course.human_attribute_name(:lessons_count) %></span>
          <span><%= t('view.course_order_new.total_lessons_count_value.', count: @product.lessons_count) %></span>
        </li>
        <li>
          <span><%= LiveStudio::Course.human_attribute_name(:price) %></span>
          <span><%= number_to_currency(@product.current_price, unit: "￥", precision: 2) %></span>
        </li>
      </ul>
      <div class="pay-list">
        <% Payment::Order.pay_type.options.select {|item| item.last != 'alipay'}.each do |item| -%>
          <div class="line-method">
            <label for="order_pay_type_<%= item.last %>">
              <%= image_tag "#{item.last}.png" %>
              <div class="method-info">
                <span><%= item.first %></span>
                <span><%= t("view.tips.pay_type.#{item.last}", amount: number_to_currency(current_user.cash_account.balance, unit: "￥", precision: 2)) %></span>
              </div>
              <%= f.radio_button(:pay_type, item.last, class: 'order_pay_type') %>
            </label>
          </div>
        <% end -%>
      </div>
      <% if @coupon.nil? -%>
        <% if false -%>
          <div class="promo-code">
            <div class="btn-promo"><%= t("view.course_order_new.coupon_code_tip") %></div>
            <div class="phone-login-con">
              <div class="form-group">
                <%= f.label :coupon_code %>
                <div class="input-group">
                  <%= f.text_field :coupon_code, class: 'form-control', placeholder: t("simple_form.placeholders.payment/order.coupon_code") %>
                </div>
                <%= f.error :coupon_code %>
              </div>
            </div>
          </div>
        <% end -%>
      <% else %>
        <%= f.hidden_field :coupon_code %>
        <%= f.error :coupon_code %>
      <% end -%>
    </div>

    <div class="preferential-order">
      <div class="preferential-amount">
        <div class="preferential-amount-left">
          <span id="coupon_result"><%= t('view.wap.live_studio.orders.coupon_result', amount: number_to_currency(10, unit: "￥", precision: 0)) if @coupon.present? %></span>
        </div>
        <div class="preferential-amount-right">
          <span><%= Payment::Order.human_attribute_name(:real_amount) %></span>
          <% if @coupon.nil? -%>
            <span><%= number_to_currency(@product.current_price, unit: '', precision: 2) %></span>
          <% else %>
            <span><%= number_to_currency(@coupon.after_amount(@product.current_price), unit: '', precision: 2) %></span>
          <% end %>
          <span><%= t('currency.cn') %></span>
        </div>
      </div>
      <div class="login-submit">
        <%= f.button :submit %>
      </div>
    </div>
  <% end -%>
</div>
