<div class="phone-login phone-details phone-order">
  <div class="phone-login-title">
    <div class="phone-return">
      <%= link_to image_tag("phone-return-1.png"), wap_live_studio_course_path(@course, coupon_code: params[:coupon_code]) %>
    </div>
    <div class="phone-headline">
      <h3><%= t('view.wap.live_studio.orders.new_order_title') %></h3>
    </div>
  </div>
  <%= simple_form_for [:wap, :live_studio, @course, @order] do |f| %>
  <div class="phone-order-con">
    <ul>
      <li>
        <span><%= Payment::Order.human_attribute_name(:course_name) %></span>
        <span><%= @order.product.name %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:subject_type) %></span>
        <span><%= @course.subject %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:grade_type) %></span>
        <span><%= @course.grade %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:teacher) %></span>
        <span><%= @course.teacher.try(:name) %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:total_lessons_count) %></span>
        <span><%= t("view.wap.live_studio.orders.lessons_count", count: @course.lessons_count) %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:live_start_date) %></span>
        <span><%= localize(@course.live_start_date) %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:live_end_date) %></span>
        <span><%= localize(@course.live_end_date) %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:current_status) %></span>
        <span><%= @course.status.text %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:teach_type) %></span>
        <span><%= t('view.course_show.online') %></span>
      </li>
      <li>
        <span><%= LiveStudio::Course.human_attribute_name(:price) %></span>
        <span><%= number_to_currency(@course.current_price, unit: "￥", precision: 2) %></span>
      </li>
      <li>
        <span><%= Payment::Order.human_attribute_name(:pay_type) %></span>
        <span class="order-con-way">
          <% Payment::Order.pay_type.options.select {|item| item.last != 'alipay'}.each do |item| -%>
          <i>
            <%= f.radio_button(:pay_type, item.last, class: 'order_pay_type') %>
            <label for="order_pay_type_<%= item.last %>">
              <%= image_tag "phone-#{item.last}.png" %>
              <%= item.first %>
            </label>
          </i>
          <% end -%>
        </span>
      </li>
    </ul>
    <% if @coupon.nil? -%>
      <div class="preferential">
        <div class="preferential-title">
          <span><%= t('view.wap.live_studio.orders.coupon_tips', amount: 10) %></span>
        </div>
        <div class="phone-login-con">
          <div class="form-group">
            <%= f.label :coupon_code %>
            <div class="input-group">
              <%= f.text_field :coupon_code, class: 'form-control', placeholder: t("simple_form.placeholders.payment/order.coupon_code") %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :coupon_code %>
    <% end -%>
  </div>
  <div class="preferential-order">
    <div class="preferential-amount">
      <div class="preferential-amount-left">
        <span id="coupon_result"><%= t('view.wap.live_studio.orders.coupon_result', amount: number_to_currency(10, unit: "￥", precision: 0)) if @coupon.present? %></span>
      </div>
      <div class="preferential-amount-right">
        <span><%= Payment::Order.human_attribute_name(:real_amount) %></span>
        <% if @coupon.nil? -%>
          <span><%= number_to_currency(@course.current_price, unit: '', precision: 2) %></span>
        <% else %>
          <span><%= number_to_currency(@course.current_price - 10, unit: '', precision: 2) %></span>
        <% end %>
        <span><%= t('currency.cn') %></span>
      </div>
    </div>
    <div class="login-submit">
      <%= f.button :submit %>
    </div>
  </div>
  <% end %>
</div>
