<ul class="row-list-1">
  <li>
    <%= link_to payment.new_user_recharge_path(@current_resource, amount: @transaction.amount), class: "btn-reelect" do %>
      &lt;<%= Payment::Recharge.human_attribute_name(:reset_pay_type) %>
    <% end if  @transaction.is_a? Payment::Recharge %>

    <%= link_to live_studio.new_course_order_path(@transaction.product), class: "btn-reelect" do %>
      &lt;<%= Payment::Order.human_attribute_name(:reset_pay_type) %>
    <% end if  @transaction.is_a? Payment::Order %>
  </li>
  <li><p><%= t("view.payment/transaction.offline_tips") %></p></li>
  <li>
    <% if @transaction.unpaid? && @transaction.pay_type.offline? && allow?("payment/recharges", "pay", @transaction) %>
      <%= link_to t("activerecord.view.pay"), payment.pay_recharge_path(@transaction.transaction_no), method: "PUT" %>
    <% end %>
  </li>
</ul>