<% if @transaction.unpaid? -%>
<% else %>
  <% if @transaction.is_a? Payment::Recharge%>
    location.href = "<%= payment.cash_user_path(@transaction.user) %>";
  <% elsif @transaction.is_a? Payment::Order %>
    <% if @transaction.source.wap? -%>
      $("#pay-result").addClass("paid").html('<%= image_tag "apply-succeed.png" %><span><%= @transaction.aasm.human_state %></span>');
      // location.href = "<%= main_app.wap_live_studio_course_path(@transaction.product) %>";
    <% elsif @transaction.product.is_a? LiveStudio::InteractiveCourse %>
      location.href = "<%= live_studio.interactive_course_path(@transaction.product) %>";
    <% elsif @transaction.product.is_a? LiveStudio::VideoCourse %>
      location.href = "<%= live_studio.video_course_path(@transaction.product) %>";
    <% elsif @transaction.product.is_a? LiveStudio::CustomizedGroup %>
      location.href = "<%= live_studio.customized_group_path(@transaction.product) %>";
    <% else %>
      location.href = "<%= live_studio.course_path(@transaction.product) %>";
    <% end %>
  <% end %>
<% end %>