<div class="qa_box">
  <div class="qa_big_cell">
    <%= link_to teaching_program_full_name(@course.curriculum.teaching_program)  ,curriculum_path(@course.curriculum)%> /
    <%= link_to "#{@course.chapter} - #{@course.name}" ,course_path(@course) %> /
    <%= get_edit_or_create_model_string(@lesson) %>
  </div>
  <div class="qa_big_cell">
    <%=simple_form_for ([:teachers,@lesson.video]) do |f|%>
        <%= render 'shared/error_messages', target: @lesson.video %>
        <%=f.input :name %>
        <%=f.input :token,as: :hidden %>
        <div id="video_show" class="rel" style="width:820px;height:385px;border:4px gray dotted">
            <%= render partial: 'teachers/videos/video',object: @lesson.video unless @lesson.video.name.url.nil?%></div>
        </video>
    <% end %>
    <%=simple_form_for ([:teachers,@course,@lesson]) do |f|%>
        <%=f.input :name %>
        <%=f.input :desc %>
        <%=f.input :token,as: :hidden %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#save-lesson">
          <%=get_edit_or_create_model_string(f.object)%>
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submit-lesson">
          提交<%=Lesson.model_name.human%>
        </button>

        <div class="modal fade" id="save-lesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
              </div>
              <div class="modal-body">
                <br/>
                <% if f.object.init? %>
                    <p>您确定创建<%=Lesson.model_name.human %>吗?</p>

                <% elsif f.object.editing?%>
                    <p>您确定编辑此<%=Lesson.model_name.human %>吗?</p>
                <% elsif f.object.reviewing? %>
                    <p style="color: red">此<%=Lesson.model_name.human %>正在审核中,无法编辑!</p>
                <% end %>
                <div class="qa_sep_15"></div>
                <p>
                  <span style="color:red">注意:</span> 只有<strong>提交</strong>并<strong>审核<%=Lesson.human_state_event_name(:approve)%></strong>后，
                  学生才可以看到您的<%=Lesson.model_name.human %>。
                </p>
              </div>
              <div class="modal-footer">
                <% if not f.object.reviewing? %>
                    <%= f.button :submit, "确定",class: "btn btn-default" ,name:"edit"%>
                <% end %>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="submit-lesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
              </div>
              <div class="modal-body">
                <% if f.object.init? %>
                    <p>您确定创建<%=Lesson.model_name.human %>并提交审核么吗?<br/></p>
                <% elsif f.object.reviewing? %>
                    <p style="color: red">此<%=Lesson.model_name.human %>正在审核中,不需再次提交!</p>
              <% else %>
                    <p>您确定提交此<%=Lesson.model_name.human %>审核吗?<br/></p>
              <% end %>
              </div>
              <div class="modal-footer">
                <% if not f.object.reviewing? %>
                    <%= f.button :submit, "确定",class: "btn btn-default" ,name:"submit"%>
                <% end %>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
              </div>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</div>

<div style="display: none">
  <div id="template-progress">
    <div class="progress">
      <p class="abs" style="top:40%;left:45%;font-size: 24px;color:gray">视频</p>
      <div class="progress-bar" role="progressbar" >
      </div>
    </div>
  </div>
</div>