<div class="qa_box">
  <div class="qa_big_cell">
    <%= link_to teaching_program_full_name(@course.curriculum.teaching_program)  ,curriculum_path(@course.curriculum)%> /
    <%= link_to course_full_name(@course) ,course_path(@course) %> /
    <%= get_edit_or_create_model_string(@lesson) %>
  </div>
  <div class="qa_big_cell">

    <%= render partial: 'videos/form',locals:{video: @lesson.video} %>

    <%=simple_form_for ([:teachers,@course,@lesson]) do |f|%>
        <%= render 'shared/error_messages', target: @lesson %>
        <%=f.input :name %>
        <%=f.input :desc %>
        <%=f.input :token,as: :hidden %>
        <%=f.input :tags,collection:get_curriculum_categories_collection(@course.curriculum),hint:"给课程分类，可以帮助学生快速的找到所需要的内容。",
                   input_html: { multiple: true ,class:'lesson-chosen-select'}%>

        <%= f.fields_for :qa_files do |builder| %>
            <%= render 'shared/qa_files/qa_file_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "添加文件", f, :qa_files, "shared/qa_files/" %>
        </br>
        <%= render partial:"submit" ,locals:{f: f}%>

    <% end %>

  </div>
</div>
