<tr id="paper-<%= paper.id %>">
  <td><%= show_index(paper_counter, @papers.limit_value) %></td>
  <td><%= paper.name %></td>
  <td><%= paper.grade_category %>/<%= paper.subject %></td>
  <td><%= paper.duration %></td>
  <td><%= paper.topics_count %></td>
  <td><%= paper.price %></td>
  <td>
    <%= link_to "详情", exam.station_workstation_paper_path(@workstation, paper) %>
    <% if paper.unpublished? %>
      <%= link_to "编辑", exam.edit_station_workstation_paper_path(@workstation, paper) if allow?('exam/station/papers', :edit, @workstation) %>
      <%= link_to "删除", exam.station_workstation_paper_path(@workstation, paper),
                  data: { method: :delete, confirm: '确认删除?' }  if allow?('exam/station/papers', :destroy, @workstation) %>
      <%= link_to "发布", exam.publish_station_workstation_paper_path(@workstation, paper),
                  data: { method: :patch, confirm: '确认发布?' }  if paper.topics.all?(&:finished?) && allow?('exam/station/papers', :publish, @workstation) %>
    <% end %>
  </td>
</tr>
