<form id="pictures_upload" action="/pictures" enctype="multipart/form-data" method="post">
  <input id="picture_token" name="picture[token]" type="hidden" value="<%= @faq.token%>">
</form>
<div class="qa_box">
  <div class="qa_cell">
    <div class="progress" id="progress">
      <div class="progress-bar" id="progress-bar" role="progressbar" >
      </div>
    </div>

    <% @faq_topic = FaqTopic.find(params[:faq_topic_id]) unless not @faq_topic.nil? %>
    <%=simple_form_for([:admins, @faq_topic, @faq]) do |f| %>
        <%= render "shared/error_messages", :target => @faq %>
        <%= f.input :token, as: :hidden, input_html: {value: f.object.token} %>
        <div class="form-group">
          <%= f.input :name ,input_html:{class:'form-control'}  %>
        </div>

        <div class="form-group">
          <%= f.input :desc, class:'summernote' %>
        </div>
        <div class="form-group">
          <%= f.input :video_url %>
        </div>
        <div class="form-group">
          <%= f.input :faq_type,collection: [ "学生","老师" ] ,include_blank: false %>
        </div>

        <div class="form-group">
          <%= f.button :submit, class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>