<div class="qa_box">
  <div class="qa_big_cell">
      <%=image_tag @teacher.avatar.big.url %>

      <span style="padding-left:10px" class="qa_f18">
        <strong><%= @teacher.name %></strong>
      </span>
    <div class="pull-right">
        <%=link_to edit_admins_teacher_path(@teacher) do %>
            <button type="button" class="btn btn-xs btn-success">编辑讲师</button>
        <% end %>
        <%=link_to new_admins_group_path(teacher_id:@teacher.id) do %>
          <button type="button" class="btn btn-xs btn-success">添加班级</button>
        <% end %>
    </div>

  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px">学校</div>
      <div class="col-md-9"><%= @teacher.school.name %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px">邮件</div>
      <div class="col-md-9"><%= @teacher.email %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px">简介</div>
      <div class="col-md-10">
        <%= @teacher.desc%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @teacher.groups.each do |group| %>
    <div class="col-md-4">
      <div class="qa_sep_15"></div>
      <div class="card rel">
        <div class="abs right-top"><%= group.grade %> • <%= group.subject %> </div>
        <%=link_to group.name,group_path(group) %>

        <div class="abs left-bottom">
          <%= link_to edit_admins_group_path(group) do%>
              <button type="button" class="btn btn-xs btn-success qa_f12">编辑班级</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
