<%= form_tag '', method: :get do -%>
  <div class="condition">
    <span><%= LiveStudio::CourseInvitation.human_attribute_name(:status) %></span>
    <%= select_tag :status, options_for_select(LiveStudio::CourseInvitation.status.options, params[:status]),
                   prompt: t("live_studio.course.menu.all"),
                   class: 'immediately' %>
  </div>

  <div class="condition">
    <span><%= LiveStudio::CourseInvitation.human_attribute_name(:user_subject) %></span>
    <%= select_tag :subject, options_for_select(APP_CONSTANT['subjects'], params[:subject]),
                   prompt: t("live_studio.course_request.menu.all"),
                   class: 'immediately' %>
  </div>

  <div class="condition-right">
    <%= link_to t("live_studio.course.menu.reset"), live_studio.user_course_invitations_path(@current_resource) %>
    <%= submit_tag t("live_studio.course.menu.query") %>
  </div>
<% end %>
