<div class="row qa_big_cell">
  <div class="col-md-2"><%= banner_item.title %></div>
  <div class="col-md-2"><%= image_tag banner_item.logo_url(:list) %></div>
  <div class="col-md-2"><%= banner_item.try(:index) %></div>
  <div class="col-md-2"><%= link_to banner_item.link, banner_item.link %></div>
  <div class="col-md-2"><%= banner_item.city.try(:name) %></div>
  <div class="col-md-2">
    <%= link_to '编辑', recommend.edit_banner_item_path(banner_item) if allow?("recommend/banner_items", 'edit')  %>
    <%= link_to '删除', recommend.banner_item_path(banner_item), method: :delete, data: {confirm: '确定删除?'} if allow?("recommend/banner_items", 'destroy')  %>
  </div>
</div>
