
<tr>
  <td><%= show_index(banner_item_counter, @items.limit_value) %></td>
  <td><%= image_tag banner_item.logo_url(:list) %></td>
  <td><%= banner_item.title %></td>
  <td><%= link_to banner_item.link, banner_item.link, target: '_blank' %></td>
  <td><%= banner_item.index %></td>
  <td><%= banner_item.city.try(:name).presence || t('view.recommend/position.city') %></td>
  <td>
    <% if allow? "recommend/banner_items", :edit %>
      <%= link_to t('view.recommend/position.edit'), edit_banner_item_path(banner_item) %>
    <% end %>
    <% if allow? "recommend/banner_items", :destroy %>
      <%= link_to t('view.recommend/position.destroy'), banner_item_path(banner_item), data: {confirm: t('view.recommend/position.confirm'), method: :delete} %>
    <% end %>
  </td>
</tr>