<% if @result -%>
  <% if @student %>
    location.href = "<%= raw edit_student_path(@student, cate: params[:cate], by: params[:by]) -%>";
  <% elsif @teacher %>
    location.href = "<%= raw edit_teacher_path(@teacher, cate: params[:cate], by: params[:by]) -%>";
  <% end %>
<% else %>
  <!-- TODO 国际化 -->
  $("#<%= params[:by] %>-captcha-input").parent().next().remove();
  $("#<%= params[:by] %>-captcha-input").parent().addClass("has-error").after('<span class="help-block has-error"><%= t("errors.messages.confirmation") %></span>');
<% end -%>

