<div class="qa_item">
  <div class="author_avatar">
    <%= image_tag reply.author.try(:avatar).try(:normal).try(:url) %>
  </div>
  <div class="qa_info">
   <%= reply.author.try(:view_name) %> • 回答于<%= localize(reply.created_at,:format => :long) %>

    <%= video_duration_format(reply) %>
    <%= videoable_object_stauts(reply,true) %>


  </div>
  <div class="qa_content">
    <%if reply.video and reply.video.name  and reply.video.name.url %>
        <%= video_js_player(reply.video) %>
    <% end %>
    <%= reply.content.html_safe %>
  </div>
  <div class="pull-right qa_footer">
    <% if allow? :replies,:edit ,reply%>
        <%= link_to "", edit_reply_path(reply), class: "glyphicon glyphicon-edit"%>
    <% end %>
    <% if allow? :replies, :destroy ,reply%>
        <%= link_to "", reply_path(reply),
                    :method => :delete,
                    'data-confirm' => '你确定删除此条回复么？',
                    class: "glyphicon glyphicon-remove"%>
    <% end %>
  </div>
  <div style="clear: both"></div>
</div>