<div class="qa_box">
  <div class="qa_big_cell">
    <h2>编辑讲师</h2>
  </div>
</div>

<div class="qa_box">
   <div class="qa_big_cell">
    <%= simple_form_for(@teacher,  :url => teachers_registration_path(@teacher), :html => { :method => :put }) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, disabled: true,:required => true %>
        <%= f.association :school,  disabled: true,:collection => School.all.collect { |s| ["#{s.city.name}-#{s.name}",s.id]} %>

        <%= f.input :email, :required => true, :autofocus => true %>
        <%= f.input :avatar %>

        <%= f.input :password, :autocomplete => "off", :hint => "如果不想修改密码，则别填写此项!", :required => false %>
        <%= f.input :password_confirmation, :required => false %>
      </div>

      <div class="form-actions">
        <%= f.submit "更新信息", class: "btn btn-default" %>
      </div>
    <% end %>
    </div>
</div>
