<tr>
  <td>
    <%= link_to profile_teacher_path(course_invitation.user) do %>
      <span><%= "#{course_invitation.user.name}(#{course_invitation.user.login_mobile})" %></span>
    <% end %>
  </td>
  <td><span><%= course_invitation.user.subject %></span></td>
  <td><span><%= number_to_percentage(course_invitation.teacher_percent, precision: 0) %></span></td>
  <td><span><%= course_invitation.created_at.to_s(:db) %></span></td>
  <td><span><%= distance_of_expited_at(course_invitation.expited_at)%></span></td>
  <td><span><%= course_invitation.status.text %></span></td>
  <td>
    <%= link_to t("invitations.cancel"),
                cancel_user_course_invitation_path(@current_resource, course_invitation),
                method: :patch if course_invitation.sent? && allow?('live_studio/workstation/course_invitations', 'cancel', current_user)  %>
    <%= link_to t("invitations.reset"),
                new_user_course_invitation_path(@current_resource, template_id: course_invitation.id) if !course_invitation.accepted? && allow?('live_studio/workstation/course_invitations', 'new', @current_user)  %>
  </td>
</tr>
