<% if answer.user_id == current_user.id %>
  <p>
    <%= link_to t('actions.live_studio/answers.edit'),
                live_studio.edit_question_answer_path(answer.question, answer),
                remote: true, class: 'btn-correct' -%>
    <%= link_to t('actions.live_studio/questions.cancel'),
                "javascript:void(0);", class: "btn-correct active cancel", style: 'display:none;',
                data: { form: "#question-#{answer.parent_id}-answer form", detail: "#question-#{answer.parent_id}-answer-detail" } -%>
  </p>
  <div class="problems-edit" id="question-<%= answer.parent_id %>-answer-form"></div>
<% end %>

<div class="reply-box" id="question-<%= answer.parent_id %>-answer-detail">
  <div class="row">
    <div class="col-md-12 problem-title">
      <p><%= t("view.live_studio/answers.show.#{ answer.user == current_user ? 'my' : 'teacher' }") %>: </p>
    </div>
    <div class="col-md-12 problem-name">
      <span><%= localize(answer.created_at) %></span>
    </div>
  </div>
  <div class="reply-list">
    <div>
      <p><%= raw answer.raw_body %></p>
      <p class="image-box">
        <% answer.attachments.select(&:image?).each do |attach| %>
          <span>
            <%= link_to image_tag(attach.file_url), attach.file_url, class: 'fancybox-buttons', data: { "fancybox-group" => "answer-#{answer.id}" } %>
          </span>
        <% end %>
      </p>

      <% answer.attachments.select(&:audio?).each do |attach| %>
        <p>
          <span class="weixinAudio">
            <audio src="<%= attach.file_url %>" class="media"></audio>
            <span class="db audio_area">
              <span class="audio_wrp db">
                <span class="audio_play_area">
                  <i class="icon_audio_default"></i>
                  <i class="icon_audio_playing"></i>
                </span>
              </span>
              <span class="audio_length tips_global"></span>
            </span>
          </span>
        </p>
      <% end %>
    </div>

  </div>
</div>
