<tr>
    <td>
      <%= consumption_record.value %>
    </td>
    <td>
      <%= consumption_type(consumption_record.fee) %>
    </td>
    <td>
      <%= second_to_minutes(consumption_record.fee.try(:video_duration)) %>
    </td>
  <td>
    <%= consumption_record.fee.try(:sale_price) %>元
  </td>
    <td>
      <%= consumption_link(consumption_record.fee) %>
    </td>
</tr>