<div class="qa_big_cell">
  <h2><%=ConsumptionRecord.model_name.human%></h2>
</div>

<div class="qa_cell">
  <table class="table table-bordered">
    <tr>
      <th><%= ConsumptionRecord.human_attribute_name(:value)%></th>
      <th><%= Fee.human_attribute_name(:type)%></th>
      <th><%= Fee.human_attribute_name(:video_duration)%></th>
      <th><%= Fee.human_attribute_name(:price_per_minute) %></th>

      <th><%= Fee.human_attribute_name(:link) %></th>
    </tr>
    <%= render partial: 'shared/consumption_records/consumption_record',collection: consumption_records %>
  </table>
  <%= will_paginate consumption_records ,renderer: BootstrapPagination::Rails %>
</div>