<div class="manager-sidenav">
  <ul>
    <%= content_tag :li, class: "#{'active' if manager_sidebar_nav_is?(:home)}" do %>
      <%= link_to main_app.station_workstation_home_index_path(@workstation) do %>
        <span><i class="icon-home"></i><em><%= t('view.manager_bars.home') %></em></span>
      <% end %>
    <% end if allow?('station/home', :index, @workstation) %>

    <%= content_tag :li, class: "#{'active' if manager_sidebar_nav_is?(:station)}" do %>
      <%= link_to main_app.station_workstation_path(@workstation) do %>
        <span><i class="icon-station"></i><em><%= t("view.common_bars.workstation_info") %></em></span>
      <% end %>
    <% end if allow?('station/workstations', 'show', @workstation) %>

    <%= content_tag :li, class: "#{'active' if manager_sidebar_nav_is?(:resources)}" do %>
      <%= link_to main_app.station_workstation_students_path(@workstation) do %>
        <span><i class="icon-resources"></i><em><%= t("view.common_bars.resources") %></em></span>
      <% end %>
    <% end if allow?('station/students', 'index', @workstation) %>

    <%= content_tag :li, class: "#{'active' if manager_sidebar_nav_is?(:all_courses)}" do %>
      <%= link_to live_studio.my_courses_station_workstation_courses_path(@workstation) do %>
        <span><i class="icon-control"></i><em><%= t("view.common_bars.courses") %></em></span>
      <% end %>
    <% end if allow?('live_studio/station/courses', :my_courses, @workstation) %>

    <%= content_tag :li, class: "#{'active' if manager_sidebar_nav_is?(:webpage)}" do %>
      <%= link_to recommend.station_workstation_banner_items_path(@workstation, position_id: Recommend::BannerItem.default.presence || 0) do %>
        <span><i class="icon-webpage"></i><em><%= t("view.common_bars.webpage") %></em></span>
      <% end %>
    <% end if allow?('recommend/positions', :index) %>

    <%= content_tag :li, class: "#{'active' if manager_sidebar_nav_is?(:seller_courses)}" do %>
      <%= link_to live_studio.station_workstation_courses_path(@workstation) do %>
        <span><i class="icon-sale"></i><em><%= t("view.common_bars.seller_courses") %></em></span>
      <% end %>
    <% end if allow?('live_studio/station/courses', :index, @workstation) %>

    <%= content_tag :li, class: "#{'active' if manager_sidebar_nav_is?(:sellers)}" do %>
      <%= link_to main_app.sellers_station_workstation_path(@workstation) do %>
        <span><i class="icon-staff"></i><em><%= t("view.common_bars.sellers") %></em></span>
      <% end %>
    <% end if allow?('station/workstations', 'sellers', @workstation) %>
  </ul>
</div>