<div class="side-nav">
  <div class="user-portrait">
    <%= image_tag @student.avatar_url(:ex_big), class: 'handle_error_avatar' %>
    <p>
      <span><%= @student.name %></span>
      <%= image_tag "#{@student.gender || 'male'}_big.png" %>
    </p>
  </div>
  <ul class="nav-menu">
    <li class="<%= 'active' if student_sidebar_nav_is?(:setting) %>">
      <%= link_to main_app.info_student_path(@student) do %>
        <i class="icon-user"></i>
        <span><%= t("view.common_bars.user_setting") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:cash) %>">
      <%= link_to payment.cash_user_path(@student) do %>
        <i class="icon-wallet"></i>
        <span><%= t("view.student_bars.my_wallet") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:orders) %>">
      <%= link_to payment.user_orders_path(@student) do %>
        <i class="icon-order"></i>
        <span><%= t("view.student_bars.my_orders") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:notifications) %>">
      <%= link_to main_app.user_notifications_path(@student) do %>
        <i class="icon-msg"></i>
        <span><%= t("view.student_bars.my_notice") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:schedules) %>">
      <%= link_to live_studio.schedules_student_path(@student) do %>
        <i class="icon-class"></i>
        <span><%= t("view.student_bars.schedules") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:tastes) %>">
      <%= link_to live_studio.tastes_student_path(@student) do %>
        <i class="icon-audition"></i>
        <span><%= t("view.student_bars.tastes") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:courses) %>">
      <%= link_to live_studio.student_courses_path(@student) do %>
        <i class="icon-live"></i>
        <span><%= t("view.student_bars.my_courses") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:interactive_courses) %>">
      <%= link_to live_studio.student_interactive_courses_path(@student) do %>
        <i class="icon-face"></i>
        <span><%= t("view.student_bars.my_interactive_courses") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:video_courses) %>">
      <%= link_to live_studio.student_video_courses_path(@student) do %>
        <i class="icon-video"></i>
        <span><%= t("view.student_bars.my_video_courses") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:customized_courses) %>">
      <%= link_to main_app.customized_courses_student_path(@student) do %>
        <i class="icon-course"></i>
        <span><%= t("view.common_bars.customized_courses") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:homeworks) %>">
      <%= link_to main_app.homeworks_student_path(@student) do %>
        <i class="icon-homework"></i>
        <span><%= t("view.student_bars.my_homework") %></span>
      <% end %>
    </li>
    <li class="<%= 'active' if student_sidebar_nav_is?(:teacher_students) %>">
      <%= link_to main_app.teachers_student_path(@student) do %>
        <i class="icon-tec"></i>
        <span><%= t("view.student_bars.my_teachers") %></span>
      <% end %>
    </li>
  </ul>
</div>
