<div id="comment-<%=comment.id%>" class="item">
  <div style="float:left">
    <%=image_tag comment.author.avatar.small.url,class:"img-circle" %>
  </div>
  <div class="comment-content">
    <%= h(comment.content).gsub(/[\r\n]+/, "<br/>").html_safe%>
  </div>
  <div class="comment-info">
      <strong style="color:green"><%= comment.author.name %></strong> <span style="color: #999"><%= time_ago_in_words(comment.created_at)%>前</span>

      <div class="pull-right">
        <% if allow? :comments,:edit, comment %>
            <%=link_to '编辑' ,edit_comment_path(comment),remote:true %>
        <% end %>
        <% if allow? :comments,:destroy, comment %>
            <%=link_to '删除',comment_path(comment),method: :delete,'data-confirm' => '你确定删除么?',remote:true %>
        <% end %>
      </div>
  </div>
  <div style="clear:both"></div>
</div>