<!-- 注意权限问题 -->
&nbsp;
<%= link_to "##{commentable.class}-#{commentable.id}-comments",data:{toggle:"collapse"},
            aria:{expanded: false,controls:"#{commentable.class}-#{commentable.id}-comments"} do %>
    <i class="fa fa-comment-o"></i><%="#{Comment.model_name.human}(#{commentable.comments_count})"%>

<% end %>
<div class="comments collapse" id="<%="#{commentable.class}-#{commentable.id}-comments"%>" >
  <div class="items">
    <%= render partial:'comments/comment',collection: commentable.comments %>
  </div>
  <%= render partial:'comments/form',locals: {comment: commentable.comments.build} %>
</div>