<% lessons = @lessons || lessons %>
<% if @date_list.present? %>
  <script type="text/javascript" charset="utf-8">
    //callback(data['result']);
    var arr = '<%= @date_list.join(',') %>'.split(',');
    for (var i = 0; i < arr.length; i++){
      var tmp_date = arr[i];
      tmp_date = new Date(tmp_date);
      var tmp_cell = $("#calendar").find('.cell-'+(tmp_date.getMonth()+1)+'-'+tmp_date.getDate());
      $(tmp_cell).attr('rel', arr[i]);
      $(tmp_cell).append('<span class="circle">&nbsp;</span>');
    }
  </script>
<% end %>
<%= render 'shared/blank' if lessons.blank? %>

<% lessons.each do |lesson| %>
  <% if lesson.is_a?(LiveStudio::InteractiveLesson) %>
    <li>
      <div class="row">
        <div class="col-md-2 schedule-pic">
          <%= link_to 'javascript:void(0);', class: 'education-label' do %>
            <%= image_tag lesson.interactive_course.publicize_url(:small), class: 'handle_error_list' %>
            <p class="status-personal"><%= t('view.student.students.schedules.lesson.one_by_one') %></p>
          <% end %>
        </div>
        <div class="col-md-<%= @user.student? ? '5' : '6' %> schedule-msg">
          <div class="row">
            <div class="col-md-12 education-title">
              <p><%= lesson.name %></p>
            </div>
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= lesson.interactive_course.grade %></span>
            </div>
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= t('view.student.students.schedules.lesson.student_count') %><em><%= lesson.course.buy_user_count %></em><%= t('view.common.people') %></span>
            </div>
          </div>
        </div>
        <div class="col-md-4 schedule-time">
          <div class="row">
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= lesson.status_text %></span>
            </div>
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= lesson.class_date %> <%= lesson.start_time %>-<%= lesson.end_time %></span>
            </div>
          </div>
        </div>
        <% if @user.student? %>
          <div class="col-md-1 schedule-enter">
            <%= link_to t('view.student.students.schedules.lesson.enter'), '#', data: {toggle: 'modal', target: "#dawnloadModal"}, class: 'active' %>
          </div>
        <% end %>
      </div>
    </li>
  <% else %>
    <li>
      <div class="row">
        <div class="col-md-2 schedule-pic">
          <%= link_to 'javascript:void(0);', class: 'education-label' do %>
            <%= image_tag lesson.course.publicize_url(:small), class: 'handle_error_list' %>
            <p><%= t('view.student.students.schedules.lesson.course') %></p>
          <% end %>
        </div>
        <div class="col-md-<%= @user.student? ? '5' : '6' %> schedule-msg">
          <div class="row">
            <div class="col-md-12 education-title">
              <p><%= lesson.name %></p>
            </div>
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= lesson.course.grade %></span>
            </div>
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= t('view.student.students.schedules.lesson.student_count') %><em><%= lesson.course.buy_user_count %></em><%= t('view.common.people') %></span>
            </div>
          </div>
        </div>
        <div class="col-md-4 schedule-time">
          <div class="row">
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= lesson.status_text %></span>
            </div>
            <div class="col-md-12 col-sm-6 education-line">
              <span><%= lesson.class_date %> <%= lesson.start_time %>-<%= lesson.end_time %></span>
            </div>
          </div>
        </div>
        <% if @user.student? %>
          <div class="col-md-1 schedule-enter">
            <% if lesson.is_over? %>
              <%= link_to t('view.student.students.schedules.lesson.enter'), 'javascript:void(0);' %>
            <% else %>
              <%= link_to t('view.student.students.schedules.lesson.enter'), live_studio.play_course_path(lesson.course_id), class: 'active' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
<% end if lessons %>