<%
   lessons = @lessons || lessons
%>
<% if @date_list.present? %>
  <script type="text/javascript" charset="utf-8">
    //callback(data['result']);
    var arr = '<%= @date_list.join(',') %>'.split(',');
    for (var i = 0; i < arr.length; i++){
      var tmp_date = arr[i];
      tmp_date = new Date(tmp_date);
      var tmp_cell = $("#calendar").find('.cell-'+(tmp_date.getMonth()+1)+'-'+tmp_date.getDate());
      $(tmp_cell).attr('rel', arr[i]);
      $(tmp_cell).append('<span class="circle">&nbsp;</span>');
    }
  </script>
<% end %>
<%= content_tag :div, t('view.tips.none_lessons') if lessons.blank? %>

<% lessons.each do |lesson| %>
  <% if lesson.is_a? LiveStudio::InteractiveLesson %>
    <div class="syllabus">
      <div class="row">
        <div class="col-md-2">
          <a href="javascript:void(0);" class="syllabus-pic">
            <%= image_tag '/imgs/course_default.png' %>
            <p class="status-personal"><%= t('view.student.students.schedules.lesson.one_by_one') %></p>
          </a>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <%= lesson.name %>
            </li>
            <li><span><%= lesson.interactive_course.grade %></span></li>
            <li><span><%= t('view.student.students.schedules.lesson.student_count') %></span><span><%= t('view.student.students.schedules.lesson.student_count_text', count: lesson.interactive_course.buy_user_count) %></span></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div>
            <p><%= lesson.status_text %></p>
            <p><%= lesson.class_date %> <%= lesson.start_time %>-<%= lesson.end_time %></p>
          </div>
        </div>
        <div class="col-md-1">
          <%= link_to t('view.student.students.schedules.lesson.enter'), '#', data: {toggle: 'modal', target: "#dawnloadModal"}, class: 'active' %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="syllabus">
      <div class="row">
        <div class="col-md-2">
          <a href="javascript:void(0);" class="syllabus-pic">
            <%= image_tag lesson.course.publicize_url(:small) %>
            <p><%= t('view.student.students.schedules.lesson.course') %></p>
          </a>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <%= lesson.name %>
            </li>
            <li><span><%= lesson.course.grade %></span></li>
            <li><span><%= t('view.student.students.schedules.lesson.student_count') %></span><span><%= t('view.student.students.schedules.lesson.student_count_text', count: lesson.course.buy_user_count) %></span></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div>
            <p><%= lesson.status_text %></p>
            <p><%= lesson.class_date %> <%= lesson.start_time %>-<%= lesson.end_time %></p>
          </div>
        </div>
        <div class="col-md-1">
          <% if @user.student? %>
            <% if lesson.is_over? %>
              <%= link_to t('view.student.students.schedules.lesson.enter'), 'javascript:void(0);' %>
            <% else %>
              <%= link_to t('view.student.students.schedules.lesson.enter'), live_studio.send("#{@user.role}_course_path", @user, lesson.course.id), class: 'active' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end if lessons %>