<% @user = @student || @teacher %>
<div class="contains">
  <div class="contains-title">
    <h3><%= t("view.student_bars.schedules") %></h3>
    <%#= link_to t("view.notification_setting.notice"), live_studio.send("settings_#{@user.role}_path", @user) %>
  </div>

  <div class="contains-discipline">
    <div class="discipline-nav">
      <a href="#schedules_div" class="active" data-toggle="tab" id="schedules_ceil"><%= t('schedules.tab.schedules') %></a>
      <a href="#wait_lesson" data-toggle="tab" id="wait_lesson_ceil"><%= t('schedules.tab.wait') %></a>
      <a href="#close_lessons" data-toggle="tab" id="close_lessons_ceil"><%= t('schedules.tab.close') %></a>
    </div>

    <div class="tab-content schedule-con">
      <div id="schedules_div" class="tab-pane fade in active">
        <div id="calendar"></div>
        <ul class="calendar-info" id="calendar_data"></ul>
      </div>

      <div id="wait_lesson" class="tab-pane fade">
        <ul class="calendar-info">
          <%= render partial: '/live_studio/student/students/lesson', locals: { items: @wait_lessons } %>
        </ul>
      </div>
      <div id="close_lessons" class="tab-pane fade">
        <ul class="calendar-info">
          <%= render partial: '/live_studio/student/students/lesson', locals: { items: @close_lessons } %>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dawnloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-openclient">
    <div class="modal-content">
      <div class="popup-title">
        <span><%= t('view.student.students.schedules.modal_title') %></span>
        <span class="close fa fa-times" data-dismiss="modal" aria-label="Close"></span>
      </div>

      <div class="modal-body">
        <p><%= t('view.student.students.schedules.modal_content') %></p>
        <center><%= link_to t('view.student.students.schedules.modal_link'), Software.latest_student_windows_client.try(:cdn_url).presence || main_app.welcome_download_path %></center>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do -%>
<script type="text/javascript" charset="utf-8">
  var calendar = $("#calendar").calendar({
    data_url: '<%= live_studio.schedule_data_student_path(@student) %>',
    callback: function(data) {
      $('#calendar_data').html(data);
    }
  });

  $(function() {
    $(".discipline-nav a").click(function() {
      $(this).addClass("active").siblings().removeClass("active");
    });
  });
</script>
<% end -%>
