<li>
  <div class="row">
    <div class="col-md-12 problem-title">
      <p><%= homework.title %></p>
    </div>
    <div class="col-md-12 .col-sm-12 col-xs-12 problem-name">
      <span><i><%= homework.tasks_count %></i> <%= LiveStudio::Homework.human_attribute_name(:submited_count) %></span>
      <span><%= localize(homework.created_at) %></span>
    </div>
  </div>
  <div class="ask-info">
    <%= render homework.task_items %>
    <%= yield homework if block_given? %>
  </div>
</li>
