<li data-submenu-id="submenu-<%= sub%>">
  <%= link_to groups_path(subject:sub.downcase)  do %>
    <span class="glyphicon glyphicon-search"></span>
    <span style="font-size: 18px"> <%= sub_cn %></span>
    <span style="font-size: 12px">  <%= sub %></span>
  <% end %>
  <div id="submenu-<%= sub %>" class="submenu_popover">
    <div style="padding: 10px" >
      <% @cities.each do |city| %>
          <% if city.schools.size > 0 %>
              <div style="color: #cbcbcb;font-size: 12px;border-bottom: 1px dotted gainsboro;padding-bottom: 2px">
                <%= city.name %>
              </div>
              <div class="school item qa_f12">
                <% city.schools.each do |school| %>
                    <ol><%=link_to school.name ,groups_path(subject:sub.downcase,school_id:school.id),{style: 'color:black'}%></ol>
              <% end %>
                <div style="clear:both"></div>
              </div>
              <div  class="qa_sep_5"></div>
              <div  class="qa_sep_5"></div>
          <% end %>
      <% end %>
    </div>
  </div>
</li>