<div class="row">
  <div class="col-md-6">
    <%=simple_form_for @tutorial.cover,:html => {:multipart => true} do |f| %>
    <%= f.input :token,as: :hidden %>
    <%= f.input :name %>
    <div class="progress" id="progress-tutorial-cover-progress">
      <div class="progress-bar" id="progress-tutorial-cover-progress-bar" role="progressbar" >
      </div>
    </div>
    <% end %>
    <div id="tutorial-cover" style="height: 180px">
        <%= render partial:'covers/cover',object:@tutorial.cover unless @tutorial.cover.name.url.nil? %>
    </div>

  </div>
  <div class="col-md-6">
    <%=simple_form_for @tutorial.video do |f| %>
        <%= f.input :token,as: :hidden %>
        <%= f.input :name %>
        <div class="progress" id="progress-tutorial-video-progress">
          <div class="progress-bar" id="progress-tutorial-video-progress-bar" role="progressbar" >
          </div>
        </div>
    <% end %>

    <div id="tutorial-video">
      <%= render partial: 'videos/video',object: @tutorial.video unless @tutorial.video.name.url.nil?%>
    </div>
  </div>
</div>

<%=simple_form_for [:cpanel,@tutorial] do |f| %>
    <%= f.input :token,as: :hidden %>
    <%= f.association    :node ,collection: Node.all.map {|n| [n.name,n.id]} %>
    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :content %>
    <%= f.button :submit, class: "btn btn-default" %>
<% end %>