<div class="tutorial" style="background: #f5f5f5;border:1px solid #ccc">
  <div style="padding:20px 20px 10px 20px;border-bottom: 1px solid #e2e2e2">
    <strong>专题 > </strong><%= @tutorial.node.name%>
  </div>
  <div style="padding:20px;border-bottom:1px solid #e2e2e2">
    <%= video_player width: 640,
                 height:360,
                 poster: @tutorial.cover.name.big.url,
                 src:{ mp4: @tutorial.video.name.url},
                 controls: true,
                 'data-setup'=> {} %>
  </div>
  <div style="padding:20px">
    <h4><%=@tutorial.title %></h4>
    <p><%=@tutorial.summary%></p>
  </div>
</div>

<div style="margin-top: 20px">

    <div style="background: #f5f5f5;border:1px solid #ccc">
      <div style="border-bottom:1px solid #ccc;padding: 8px;font-size:12px;color:gray">
        共收到 <%= @tutorial.comments_count %> 条回复
      </div>
        <%= render partial: 'comments/comment',collection: @tutorial.comments %>
    </div>
</div>


<div>
  <%= simple_form_for [@tutorial,@comment] do |f| %>
    <%= f.input :body,:label => false %>
    <%= f.button :submit, class: "btn btn-default" %>
<% end %>
</div>

<% content_for :side_bar do %>
    <div style="background: #f5f5f5;border:1px solid #ccc">
      <div style="padding:20px 20px 10px 20px;border-bottom: 1px solid #e2e2e2">
        <strong>作者信息</strong>
      </div>
      <div style="padding:20px 20px 20px 20px;border-bottom: 1px solid #e2e2e2">
          <div style="float:left">
            <%= image_tag @tutorial.author.avatar.normal.url if @tutorial.author %>
          </div>
          <h5>MaGuoWei</h5>
          <div style="clear:both"></div>
      </div>
    </div>
<% end %>