<div class="row qa_big_cell">
  <div class="col-md-2"><%= link_to position.name, [current_user.role, position] %></div>
  <div class="col-md-3"><%= position.kee %></div>
  <div class="col-md-2"><%= position.klass_name.constantize.model_name.human %></div>
  <div class="col-md-2"><%= position.status_text %></div>
  <div class="col-md-2">
    <% if current_user.admin? %>
      <%= link_to '编辑', edit_admin_position_path(position) %>
      <%= link_to '删除', [:admin, position], method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to position.disable? ? '启用' : '禁用', change_status_admin_position_path(position), method: :put, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
