<div class="form-group">
  <div class="input-group">
    <%= f.text_field :login_mobile, class: 'form-control phone-num', maxlength: 11, placeholder: '请输入大陆地区11位手机号码' %>
  </div>
  <%= f.error :login_mobile %>
  <%= content_tag(:span, '', class: 'help-block has-error') if user.errors.messages[:login_mobile].blank? %>
</div>
<div class="form-group">
  <div class="input-group">
    <%= f.text_field :captcha_confirmation, class: 'form-control auth-code', maxlength: 4, placeholder: '请输入校验码' %>
    <span class="input-group-btn">
                  <input class="btn btn-default" id="btn-obtain" type="button" data-send-captcha-btn data-send-to-input="#<%= user.type.downcase %>_login_mobile" data-send-url="<%= ajax_captchas_path %>" data-key="register_captcha" value="<%= t "students.common.get_captcha" %>">
                </span>
  </div>
  <%= f.error :captcha_confirmation %>
  <%= content_tag(:span, '', class: 'help-block has-error') if user.errors.messages[:captcha_confirmation].blank? %>
</div>

<div class="form-group">
  <div class="input-group">
    <%= f.password_field :password, class: 'form-control pwd-1', placeholder: '请输入登录密码（最少6位）'%>
  </div>
  <%= f.error :password %>
  <%= content_tag(:span, '', class: 'help-block has-error') if user.errors.messages[:password].blank? %>
</div>

<div class="form-group form-bottom">
  <div class="input-group">
    <%= f.password_field :password_confirmation, class: 'form-control pwd-2', placeholder: '再输入一次密码' %>
  </div>
  <%= f.error :password_confirmation %>
  <%= content_tag(:span, '', class: 'help-block has-error') if user.errors.messages[:password_confirmation].blank? %>
</div>


<div class="form-group form-receive">
  <div class="input-group">
    <div class="accept">
      <%= f.check_box :accept, class: 'ckb' %>
      <label for="<%= user.type.downcase %>_accept">接受</label>
      <a data-toggle="modal" data-target="#acceptModal" href="#">【答疑时间用户协议】</a>
    </div>
  </div>
  <span class="help-block has-error"></span>
</div>
<div class="form-group">
  <div class="input-group">
    <%= button_tag '提交',type: :button, class: "btn-submit #{user.accept ? 'active' : ''}", disabled: !user.accept %>
  </div>
</div>
<script type="text/javascript">
  $(function  () {

    $(".auth-code").focus(function  () {
      $("#btn-obtain").css({
        borderLeft: "1px solid rgba(0,162,238,0.6)"
      })
    })
    $(".auth-code").blur(function  () {
      $("#btn-obtain").css({
        borderLeft: "1px solid #ccc"
      })
    })
  })

  $(".tea-register .btn-submit").click(function  () {
    var phone = $(".phone-num").val();
    var authcode = $(".auth-code").val();
    var pwd1 = $(".pwd-1").val();
    var pwd2 = $(".pwd-2").val();
    var check = $("ckb").prop("checked");
    var reg = /^1[3|4|5|7|8]\d{9}$/;
    var reg1 = /((?=[\x21-\x7e]+)[^A-Za-z0-9])/;
    var flag = true;

    if (phone.length <= 0) {
      $(".has-error").eq(0).html("请输入手机号");
      flag=false;
    }else if (!reg.test(phone)) {
      $(".has-error").eq(0).html("请输入手机号");
      flag=false;
    }else{
      $(".has-error").eq(0).html("");
    }
    if (authcode.length <= 0) {
      $(".has-error").eq(1).html("请输入校验码");
      flag=false;
    }else if (authcode.length < 4) {
      $(".has-error").eq(1).html("校验码不正确");
      flag=false;
    }else{
      $(".has-error").eq(1).html("");
    }

    if (pwd1.length <= 0) {
      $(".has-error").eq(2).html("请输入密码");
      flag=false;
    } else if (pwd1.length < 6||reg1.test(pwd1)) {
      $(".has-error").eq(2).html("最少输入6位（不支持特殊字符）");
      flag=false;
    }else{
      $(".has-error").eq(2).html("");
    }

    if (pwd2.length <= 0) {
      $(".has-error").eq(3).html("请输入确认密码");
      flag=false;
    }else if (pwd1 != pwd2) {
      $(".has-error").eq(3).html("两次密码不一致");
      flag=false;
    }else{
      $(".has-error").eq(3).html("");
    }
    if(flag){
      document.forms[0].submit();
    }
  })
  $(".ckb").click(function  () {
    var check = $("#<%= user.type.downcase %>_accept").prop("checked");
    if (check) {
      $(".tea-register .btn-submit").addClass("active")
      $(".tea-register .btn-submit").removeAttr("disabled");
    }else{
      $(".tea-register .btn-submit").removeClass("active");
      $(".tea-register .btn-submit").attr('disabled',"true");
      flag=false;
    }
  })
</script>