<% if session[:binding_email][:step] == 3 %>
  <% if params[:binding_success] == 'y' %>
  <div class="row">
    <p class="text-center">
      <%= t ".bind_email_success_text1" %><br/>
      <%= t ".bind_email_success_text2" %>
    </p>
    <p class="text-center">
      <button type="button" class="btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-jump-btn data-jump-href="<%= security_setting_student_path(@student) %>"><%= t "students.common.ok" %></button>
    </p>
  </div>
  <% else %>
  <div class="row">
    <p class="text-center">
      <%= t ".bind_email_fail_text1" %><br/>
    </p>
    <p class="text-center">
      <button type="button" class="btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-jump-btn data-jump-href="<%= security_setting_student_path(@student) %>"><%= t "students.common.ok" %></button>
    </p>
  </div>
  <% end %>
<% end %>
