<% if_show_password_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :password) %>
<div id="edit_login_password_area" style="padding-top: 30px;<%= 'display:none;' unless if_show_password_div %>">
  <%= simple_form_for(@student, url: student_path(@student, cate: :security_setting, by: :password), html: {id: "edit_password_form"}) do |f| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-3 text-right" >
      当前登录密码:
    </div>
    <div class="col-md-3">
      <%= f.input :current_password, label: false %>
    </div>
    <div class="col-md-2 error_input" style="color: red;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-3 text-right">
      新密码登录:
    </div>
    <div class="col-md-3">
      <%= f.input :password, label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-3 text-right">
      确认新密码:
    </div>
    <div class="col-md-3">
      <%= f.input :password_confirmation, label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
    <%= link_to t("passwords.common.find_password"), new_password_path, class: 'btn' %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#edit_password_form" data-jump-href="<%= info_student_path(@student) %>"><%= t "students.common.cancel" %></button>
    <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#edit_password_form"><%= t "students.common.save" %></button>
  </div>
</div>
