<div class="login-wechat">
  <div class="container">
    <div class="row">
      <div class="upload-title">
        <%= t("students.edit_profile_for_register.welcome") %>
      </div>
    </div>
    <div class="wechat-con upload-con">
      <div class="upload-msg">
        <%= simple_form_for(@student, url: student_path(@student, cate: :register, by: :register) ) do |f| %>
          <%= hidden_field_tag :return_to, "", id: "return-to-field" %>
          <div class="form-group upload-head">
            <label class="control-label tecmsg-title" for="course_invitation_user_phone"></label>
            <div class="input-group">
              <div class="up-head pre-2">
                <%= image_tag "avatar_student.png",
                              "data-toggle" => "modal",
                              "data-target" => "#edit_avatar",
                              size: "240x240",
                              id: 'student_avatar_preview2' %>
              </div>
              <br>
              <span><%= t("students.edit_profile_for_register.avatar_tips") %></span>
              <%= f.error :avatar %>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :name, class: "tecmsg-title" %>
            <div class="input-group">
              <%= f.input_field :name %>
              <%= f.error :name %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :grade, class: "tecmsg-title" %>
            <div class="input-group">
              <%= f.input_field :grade ,class: '', readonly: true%>
              <i class="glyphicon glyphicon-chevron-down drop-grade"></i>
              <%= f.error :grade %>
            </div>
             
            <ul class="tecmsg-subject"> 
              <% APP_CONSTANT["grades_in_menu"].each do |grade| %>
                <li><%= grade %></li>
              <% end %>
            </ul>
          </div>

          <div class="form-group select-city">
            <%= f.label :city_id, class: "tecmsg-title" %>
            <div class="input-group">
              <%= f.input_field :province_id,collection: Province.all.map{|p| [p.name, p.id]}, include_blank: t("students.edit_profile_for_register.select_province"),
                                'data-remote': true,
                                'data-url': url_for(controller: 'ajax/data', action: 'option_cities', second: 'data-second', third: 'data-third')
              %>
              <%= f.input_field :city_id,collection: (@student.province || Province.first).cities.map{|c| [c.name, c.id]}, include_blank: t("students.edit_profile_for_register.select_city"),
                                class: 'data-second',
                                'data-remote': true,
                                'data-url': url_for(controller: 'ajax/data', action: 'option_schools', third: 'data-third')
              %>
            </div>
            <%= f.error :city_id %>
          </div>

          <div class="form-group">
            <div class="input-button">
              <%= link_to t("students.edit_profile_for_register.reg_sign_out"), main_app.signout_path(redirect_url: main_app.signin_path), data: { method: :delete } %>
              <%= f.submit t("students.edit_profile_for_register.submit_profile") %>
            </div>
          </div>
          <%= render partial: 'teachers/avatar_uploader', locals: {f: f} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
<script>
$(function() {
  $(".drop-grade").click(function() {
    $(".tecmsg-subject").toggle();
  });
  $(".tecmsg-subject li").click(function  () {
    $("#student_grade").val($(this).text());
    $(".tecmsg-subject").hide();
  });

  function getObjectURL(file) {
    var url = null;
    if (window.createObjectURL != undefined) { 
      url = window.createObjectURL(file);
    } else if (window.URL != undefined) { 
      url = window.URL.createObjectURL(file);
    } else if (window.webkitURL != undefined) {
      url = window.webkitURL.createObjectURL(file);
    }
    return url;
  }
});
</script>
<% end %>
