<% if_show_email_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :email) %>
<div class="row modifiy <%= 'active' if if_show_email_div %>">
  <% if @student.login_mobile? %>
    <% if UserService::CaptchaManager.expire?(session["change-email-#{@student.login_mobile_was}"]) %>
      <%= form_tag(verify_ajax_captchas_path, method: :post, remote: true, id: "mobile_captcha_for_change_email_form") do %>
        <input type="hidden" name="send_to" value="<%= @student.login_mobile %>" id="student_login_mobile_for_change_email">
        <input type="hidden" name="edit_type" value="email">
        <input type="hidden" name="student_id" value="<%= @student.id %>">
        <input type="hidden" name="cate" value="security_setting">
        <input type="hidden" name="by" value="email">

        <div class="modifiy-info">
          <div class="row">
            <div class="col-md-3  label-line">
              <label for="" class="control-label"><%= t('students.edit_email.binding_email') %></label>
            </div>
            <div class="col-md-6">
              <% if @student.email %>
                <span class="contact-info"><%= @student.email %></span>
              <% else %>
                <span class="contact-info prompt-info"><%= t("view.common.no_bound_email") %></span>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3  label-line">
              <label for="" class="control-label"><%= t('students.edit_email.binding_mobile') %></label>
            </div>
            <div class="col-md-6">
              <span class="contact-info"><%= @student.login_mobile %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3  label-line">
              <label for="" class="control-label"><%= t('students.edit_email.mobile_captcha') %></label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <input maxlength="4" id="email-captcha-input" class="string optional form-control" type="text" name="captcha" placeholder="<%= t('students.edit_password.placeholders.payment_captcha_confirmation') %>">
                  <span class="input-group-btn">
                    <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#student_login_mobile_for_change_email" data-send-url="<%= ajax_captchas_path %>" data-key="send_captcha" value="<%= t ".get_captcha" %>">
                  </span>
                </div>
                <span class="help-block has-error"></span>
              </div>
            </div>
          </div>
          <div class="row save-line">
            <div class="col-md-6 col-md-offset-3">
              <center>
                <%= link_to t('common.cancel'), edit_student_path(@student, cate: :security_setting) %>
                <%= submit_tag t('students.common.next_step') %>
              </center>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= simple_form_for(@student, url: student_path(@student, cate: :security_setting, by: :email), html: {id: "email_captcha_for_change_email_form"}) do |f| %>
        <div class="modifiy-info">
          <div class="row">
            <div class="col-md-3  label-line">
              <%= f.label :email, t('students.edit_email.new_email') %>
            </div>
            <div class="col-md-6">
              <% _input_html = action_name == "edit" ?  { maxlength: 50, value: "" } : { maxlength: 50 } %>
              <%= f.input :email, label: false, input_html: _input_html %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3  label-line">
              <%= f.label :captcha_confirmation, t('students.edit_email.email_captcha') %>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <%= f.input_field :captcha_confirmation, maxlength: 4 %>
                  <span class="input-group-btn">
                    <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#student_email" data-send-url="<%= ajax_captchas_path %>" data-key="change_email_captcha" value="<%= t ".get_captcha" %>">
                  </span>
                </div>
              </div>
              <%= f.error :captcha_confirmation %>
            </div>
          </div>
          <div class="row save-line">
            <div class="col-md-6 col-md-offset-3">
              <center>
                <%= link_to t('common.cancel'), edit_student_path(@student, cate: :security_setting) %>
                <%= submit_tag t('students.common.next_step') %>
              </center>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="modifiy-info">
      <div class="row">
        <center><span class="red"><%= t "view.common.please_bind_login_mobile" %></span></center>
      </div>
    </div>
  <% end %>
</div>