<div class="contains">
  <%= render 'info_title' %>

  <div class="user-smg user-edit">
    <%= simple_form_for(@student, url: student_path(@student, cate: :edit_profile, by: :profile), html: {id: :edit_profile_form}) do |f| %>
      <ul>
        <li class="edit-info">
          <div class="head-portrait pre-4">
            <%= image_tag 'head-title.png', class: 'handle_error_avatar jcrop-preview jcrop_preview_s', id: 'student_avatar_preview4' %>
            <a href="#" data-toggle="modal" data-target="#edit_avatar">
              <%= image_tag 'camera.png' %>
              <p><%= t('students.edit_profile.edit_avatar_btn') %></p>
            </a>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :name, t('students.edit_profile.name') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :name %>
              <%= f.error :name %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <label class="required control-label" for="student_gender_male"><%= t('students.edit_profile.gender') %></label>
            </div>
            <div class="col-md-10 col-sm-10">
              <label for="student_gender_male" class="user-gender">
                <%= f.radio_button :gender, 'male' %>
                <%= t('students.edit_profile.male') %>
              </label>
              <label for="student_gender_female" class="user-gender">
                <%= f.radio_button :gender, 'female' %>
                <%= t('students.edit_profile.female') %>
              </label>
              <%= f.error :gender %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :birthday, t('students.edit_profile.birthday') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :birthday, as: :string, readOnly: true, placeholder: t('students.edit_profile.placeholders.birthday'), onClick: 'testShow(this);' %>
              <%= f.error :birthday %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :grade, t('students.edit_profile.grade') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input :grade, label: false, collection: APP_CONSTANT["grades_in_menu"], include_blank: false %>
              <%= f.error :grade %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :province_id, t('students.edit_profile.province_id') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="col-md-6 col-sm-6 col-xs-6 region">
                <%= f.input_field :province_id, as: :select,
                                  collection: Province.pluck(:name, :id),
                                  include_blank: t("students.edit_profile_for_register.select_province"),
                                  'data-remote': true,
                                  'data-url': url_for(controller: 'ajax/data', action: 'option_cities', second: 'data-second', third: 'data-third') %>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 region">
                <%= f.input_field :city_id, as: :select,
                                  collection: City.where(province_id: f.object.province_id).map{|c| [c.name, c.id]},
                                  include_blank: t("students.edit_profile_for_register.select_city"),
                                  class: 'data-second',
                                  'data-remote': true,
                                  'data-url': url_for(controller: 'ajax/data', action: 'option_schools', third: 'data-third') %>
              </div>
              <%= f.error :city_id %>
            </div>
          </div>

        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :school_id, t('students.edit_profile.school_id') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :school_id, as: :select,
                                collection: School.where(city_id: f.object.city_id).map {|s| [s.name, s.id] },
                                include_blank: true,
                                class: 'data-third' %>
              <%= f.error :school_id %>
            </div>
          </div>

        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :desc, t('students.edit_profile.desc') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input :desc, label: false, as: :text %>
            </div>
          </div>
        </li>
      </ul>
      <div class="user-send">
        <center>
          <%= link_to t("students.common.cancel"), info_student_path(@student) %>
          <%= f.submit t('students.common.save') %>
        </center>
      </div>
      <%= render partial: 'avatar_uploader', locals: {f: f} %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    function testShow(elem){
      $.jeDate(elem, {
        skinCell: "jedatered",
        festival: false,
        insTrigger: false,
        //isinitVal:true,
        format: "YYYY-MM-DD",
        isClear: false,
        minDate: '1900-01-01'
      });
    }
      $(function(){
        // 富文本编辑
        $("#student_desc").summernote({
          lang: 'zh-CN',
          height: 300,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['link']]
          ],
          callbacks: {
            onImageUpload: function (files, editor, welEditable) {
              var file = files[0];
              data = new FormData();
              data.append("picture[token]", $("#student_token").val());
              data.append("picture[name]", file, file.name);
              $.ajax({
                url: '/pictures',
                data: data,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                  var imgNode = document.createElement("img");
                  imgNode.src = data.url;
                  imgNode.style.width = "50%";
                  $("#student_desc").summernote('insertNode', imgNode);
                }
              });
            }
          }
        })
      });
  </script>
<% end %>