<div class="login-wechat">
  <div class="container">
    <div class="row">
      <div class="upload-title">
        <%= t("view.register.student.welcome") %>
      </div>
    </div>
    <div class="wechat-con upload-con">
      <div class="upload-msg">
        <%= simple_form_for(@student, url: student_path(@student, cate: :register, by: :register) ) do |f| %>
          <div class="form-group upload-head">
            <label class="control-label tecmsg-title" for="course_invitation_user_phone"></label>
            <div class="input-group">
              <div class="up-head pre-2">
                <%= image_tag "head-title.png",
                              class: "jcrop-preview jcrop_preview_s",
                              "data-toggle" => "modal",
                              "data-target" => "#acceptModal",
                              size: "240x240" %>
                <br> 
              </div>
              <span>点击头像上传(必填)</span>
          </div>
            <span class="help-block has-error"></span>
           </div>
          
          <div class="form-group">
            <%= f.label :name %>
            <div class="input-group">
              <%= f.input_field :name %>
            </div>
            <span class="help-block has-error"></span>
          </div>
          <div class="form-group">
            <%= f.label :grade %>
            <div class="input-group">
              <%= f.input_field :grade %>
              <i class="glyphicon glyphicon-chevron-down drop-grade"></i>
            </div>
             
            <ul class="tecmsg-subject"> 
           <li>高三</li>
           <li>高二</li>
           <li>高一</li>
           <li>初三</li>
           <li>初二</li>
           <li>初一</li>
           <li>六年级</li>
           <li>五年级</li>
           <li>四年级</li>
           <li>三年级</li>
           <li>二年级</li>
           <li>一年级</li>
            </ul>
            <span class="help-block has-error"></span>
          </div>
          <div class="form-group">
            <div class="input-button">
              <input type="button" value="完善更多" />
              <%= f.submit '立即进入' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






