<% if_show_email_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :email) %>

<div id="edit_email_area" style="padding-top: 30px;<%= 'display:none;' unless if_show_email_div %>">
  <!-- mobile_was,防止家长手机未更新的情况 -->
  <% if @student.login_mobile? %>
    <% if UserService::CaptchaManager.expire?(session["change-email-#{@student.login_mobile_was}"]) %>
      <%= form_tag(verify_ajax_captchas_path, method: :post, remote: true, id: "mobile_captcha_for_change_email_form") do |f| %>
        <input type="hidden" name="send_to" value="<%= @student.login_mobile %>" id="student_login_mobile_for_change_email">
        <input type="hidden" name="edit_type" value="email">
        <input type="hidden" name="student_id" value="<%= @student.id %>">
        <input type="hidden" name="cate" value="security_setting">
        <input type="hidden" name="by" value="email">

        <div class="row" >
          <div class="col-md-2 col-md-offset-3 text-right">
            <%= t ".binding_email" %>:
          </div>
          <div class="col-md-3">
            <% if @student.email%>
              <%= @student.email %>
            <% else %>
              <span class="alert_red_span"><%= t("view.common.no_bound_email") %></span>
            <% end %>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-2 col-md-offset-3 text-right">
            <%= t ".binding_mobile" %>:
          </div>
          <div class="col-md-3">
            <%= @student.login_mobile %>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-2 col-md-offset-3 text-right form_lable">
            <%= t ".mobile_captcha" %>:
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="verify-code">
                <div class="form-group string optional student_captcha"><input maxlength="4" id="email-captcha-input" class="string optional form-control" size="4" type="text" name="captcha"></div>
              </div>
              <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#student_login_mobile_for_change_email" data-send-url="<%= ajax_captchas_url %>" data-key="send_captcha" value="<%= t ".get_captcha" %>">
            </div>
          </div>
        </div>
        <div class="row">
          <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#mobile_captcha_for_change_email_form"><%= t "students.common.next_step" %></button>

          <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#mobile_captcha_for_change_email_form" data-jump-href="<%= edit_student_path(@student, cate: :security_setting) %>"><%= t "students.common.cancel" %></button>
        </div>
      <% end %>
    <% else %>
      <%= simple_form_for(@student, url: student_path(@student, cate: :security_setting, by: :email), html: {id: "email_captcha_for_change_email_form"}) do |f| %>
        <div class="row" >
          <div class="col-md-2 col-md-offset-3 text-right form_lable">
            <%= t ".new_email" %>:
          </div>
          <div class="col-md-3">
            <% _input_html = action_name == "edit" ?  { maxlength: 50, value: "" } : { maxlength: 50 } %>
            <%= f.input :email, label: false, input_html: _input_html %>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-2 col-md-offset-3 text-right form_lable">
            <%= t ".email_captcha" %>:
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="verify-code">
                <%= f.input :captcha_confirmation, label: false, input_html: { maxlength: 4 } %>
              </div>
              <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#student_email" data-send-url="<%= ajax_captchas_url %>" data-key="change_email_captcha" value="<%= t ".get_captcha" %>">
            </div>
          </div>
        </div>
        <div class="row">
          <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#email_captcha_for_change_email_form"><%= t ".to_bind_email" %></button>

          <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#email_captcha_for_change_email_form" data-jump-href="<%= edit_student_path(@student, cate: :security_setting) %>"><%= t "students.common.cancel" %></button>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class="text-center">
      <span class="alert_red_span"><%= t "view.common.please_bind_login_mobile" %></span>
    </p>
  <% end %>
</div>
