<% if_show_payment_password_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :payment_password) %>
<div id="edit_login_payment_password_area" style="padding-top: 30px;<%= 'display:none;' unless if_show_payment_password_div %>">
  <%= simple_form_for(@student, url: student_path(@student, cate: :security_setting, by: :payment_password), html: {id: "edit_payment_password_form"}) do |f| %>
    <div class="row">
      <div class="col-md-2 col-md-offset-3 text-right form_lable" >
        <%= t("teachers.edit_password.payment_pwd_label") %>
      </div>
      <div class="col-md-3">
        <%= f.input :payment_password, label: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-3 text-right form_lable">
        <%= t("teachers.edit_password.payment_pwd_confirmation") %>
      </div>
      <div class="col-md-3">
        <%= f.input :payment_password_confirmation, label: false %>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-2 col-md-offset-3 text-right form_lable">
        <%= t "teachers.edit_login_mobile.binding_mobile" %>:
      </div>
      <div class="col-md-3 form_lable">
        <%= @student.login_mobile %>
        <%= hidden_field_tag :verify_mobile, @student.login_mobile ,name: 'send-to'%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-3 text-right form_lable">
        <%= t("teachers.edit_password.payment_pwd_verify_code") %>
      </div>
      <div class="col-md-7">
          <div class="verify-code">
            <%= f.input :payment_captcha_confirmation, label: false, input_html: { maxlength: 4 } %>
          </div>
          <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#verify_mobile" data-send-url="<%= ajax_captchas_url %>" data-key="payment_password" value="<%= t "teachers.edit_login_mobile.get_captcha" %>">
      </div>
    </div>
  <% end %>
  <div class="row">
    <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#edit_payment_password_form" data-jump-href="<%= info_student_path(@student) %>"><%= t "teachers.common.cancel" %></button>
    <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#edit_payment_password_form"><%= t "teachers.common.save" %></button>
  </div>
</div>
