<div class="col-md-4 text-center" style="vertical-align:middle;padding-top:170px">
  <div style="padding-bottom:30px;">
    <%= image_tag @student.avatar_url(:ex_big) %>
  </div>
  <p><button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit_avatar"><%= t(".edit_avatar_btn") %></button></p>
</div>

<!-- edit avatar Modal -->
<div class="modal fade" id="edit_avatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t(".edit_avatar_title") %></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= simple_form_for(@student, url: student_path(@student, cate: :edit_profile, by: :avatar))  do |f| %>
            <div class="col-md-8">
              <img id="student_avatar_preview" style="width: 240px;height: 240px">
            </div>
            <div class="col-md-4">
              <p>
                <div style="width: 128px;height: 128px;overflow: hidden;">
                  <img id="student_avatar_preview2" style="width: 128px;height: 128px;">
                </div>
              </p>
              <p>
                <%= f.input :avatar, label: false, input_html:{onchange:"showimagepreviewarea(this)", style: "display:none;"} %>
              </p>
              <p>
                <button type="button" class="btn btn-default" id="select_avatar_btn"><%= t "students.common.select" %></button>
              </p>
              <p>
                <%= f.submit t("students.common.save"), class: "btn btn-default" %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8">

  <%= simple_form_for(@student, url: student_path(@student, cate: :edit_profile, by: :profile), html: {id: :edit_profile_form})  do |f| %>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2 text-right"><%=Student.human_attribute_name(:name)%></div>
        <div class="col-md-9">
          <%= f.input :name, label: false %>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2 text-right"><%=Student.human_attribute_name(:gender)%></div>
        <div class="col-md-9">
          <%= f.input :gender, as: :radio_buttons, label: false %>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2 text-right"><%=Student.human_attribute_name(:birthday)%></div>
        <div class="col-md-9">
          <%= f.input :birthday, label: false, as: :string, input_html: {type: :date, max: Time.now.strftime('%Y-%m-%d')} %>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2 text-right"><%=Student.human_attribute_name(:grade)%></div>
        <div class="col-md-9"><%= f.input :grade, label: false,:collection => APP_CONSTANT["grades_in_menu"], include_blank:false %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2 text-right"><%=Student.human_attribute_name(:address)%></div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <%= f.association :province, label: false, :collection => Province.all.collect { |s| [s.name, s.id]} %>
            </div>
            <div class="col-md-6">
              <%= f.association :city, label: false, collection: @student.province.cities.all.collect { |s| [s.name, s.id]} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2 text-right"><%=Student.human_attribute_name(:desc)%></div>
        <div class="col-md-9">
          <%= f.input :desc, label: false, as: :text %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#edit_profile_form" data-jump-href="<%= info_student_path(@student) %>"><%= t "students.common.cancel" %></button>
<button type="button" class="col-md-offset-2 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#edit_profile_form"><%= t "students.common.save" %></button>

<script type="text/javascript">

  $(document).ready(function(){
     var city= <%= raw Province.all.map{|province| province.cities.pluck(:id, :name)} %>

    $('#student_province_id').change(function(){
      var sltProvince=document.getElementById("student_province_id");
      var sltCity=document.getElementById("student_city_id");
      var provinceCity=city[sltProvince.selectedIndex-1];
      sltCity.length=1;
      for(var i=0;i<provinceCity.length;i++){
        sltCity[i+1]=new Option(provinceCity[i][1],provinceCity[i][0]);
      }
    })

    $("#select_avatar_btn").on('click',function(event){
      $("#student_avatar").click()
    })

  })

  var jcrop_api,
      boundx,
      boundy;

    function showimagepreviewarea(input) {
      if (input.files && input.files[0]) {
        var filerdr = new FileReader();

        filerdr.onload = function(e) {
          $("#student_avatar_preview2").attr('src', e.target.result);
          $('#student_avatar_preview').attr('src', e.target.result);
        }
        if (jcrop_api){
          jcrop_api.destroy();
        }
        filerdr.readAsDataURL(input.files[0]);
        filerdr.onloadend = function(e){
          $('#student_avatar_preview').Jcrop({
            bgFade:     true,
            bgOpacity: .4,
            aspectRatio: 1 ,
            setSelect: [ 0, 0, 240, 240 ],
            onSelect: selectCoords,
            onChange: selectCoords
          },function(){
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            jcrop_api = this;
          });
        }
      }
    }
    function selectCoords(coords)
    {
      if (parseInt(coords.w) > 0) {
        var rx = 128 / coords.w;
        var ry = 128 / coords.h;

        $('#student_avatar_preview2').css({
          width : Math.round(rx * boundx) + 'px',
          height : Math.round(ry * boundy) + 'px',
          marginLeft : '-' + Math.round(rx * coords.x) + 'px',
          marginTop : '-' + Math.round(ry * coords.y) + 'px'
        });
      }

      $('#student_crop_x').val(coords.x)
      $('#student_crop_y').val(coords.y)
      $('#student_crop_w').val(coords.w)
      $('#student_crop_h').val(coords.h)
    }
</script>
