<div class="col-md-6 col-md-offset-3">
  <div class="qa_box row">
    <div class="qa_big_cell ">
      <h2 class="text-center">完善信息-学生</h2>

      <%= simple_form_for(@student, url: students_path(@student, cate: :register, by: :register) ) do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-3 text-right"><%= Student.human_attribute_name(:name)%></div>
          <div class="col-md-6">
            <%= f.input :name, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right"><%= t ".captcha" %></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <div class="form-group string optional student_captcha"><input maxlength="4" id="mobile-captcha-input" class="string optional form-control" size="4" type="text" name="captcha"></div>
              </div>
              <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#student_mobile" data-send-url="<%= ajax_captchas_url %>" data-send-type='mobile' data-edit-type="register" value="<%= t "students.common.get_captcha" %>">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right"><%= Student.human_attribute_name(:password) %></div>
          <div class="col-md-6">
            <%= f.input :password, label: false, :autocomplete => "off" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right"><%= Student.human_attribute_name(:password_confirmation)%></div>
          <div class="col-md-6">
            <%= f.input :password_confirmation, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right"><%= Student.human_attribute_name(:register_code_value) %></div>
          <div class="col-md-6">
            <%= f.input :register_code_value, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <%= f.input :accept, label: false, as: :boolean, :inline_label=>true,:label => false, :hint =>raw("#{link_to '服务协议', "#", :data => {:toggle => "modal", :target=> "#acceptModal"}}") %>
          </div>
        </div>

        <div class="row text-center">
          <%= f.submit '完成注册', class: "btn btn-default" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
