<div class="modifiy-info">
  <div class="row">
    <div class="col-md-3  label-line">
      <%= f.label :current_payment_password, t('students.edit_password.current_payment_password') %>
    </div>
    <div class="col-md-6">
      <%= f.input_field :current_payment_password, maxlength: 6, placeholder: t('students.edit_password.placeholders.current_payment_password') %>
      <%= f.error :current_payment_password %>
    </div>
    <div class="col-md-3 find-line">
      <%= link_to t('students.edit_password.forget_payment_password'), '' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3  label-line">
      <%= f.label :payment_password, t('students.edit_password.new_payment_password') %>
    </div>
    <div class="col-md-6">
      <%= f.input_field :payment_password, maxlength: 6, placeholder: t('students.edit_password.placeholders.payment_password') %>
      <%= f.error :payment_password %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3  label-line">
      <%= f.label :payment_password_confirmation, t('students.edit_password.payment_password_confirmation') %>
    </div>
    <div class="col-md-6">
      <%= f.input_field :payment_password_confirmation, maxlength: 6, placeholder: t('students.edit_password.placeholders.payment_password_confirmation') %>
      <%= f.error :payment_password_confirmation %>
    </div>
  </div>
  <div class="row save-line">
    <div class="col-md-6 col-md-offset-3">
      <center>
        <%= link_to t('common.cancel'), edit_student_path(@student, cate: :security_setting) %>
        <%= f.submit t('common.save') %>
      </center>
    </div>
  </div>
</div>