<div class="contains">
  <%= render 'info_title' %>

  <div class="qa_box row">
    <!--登录密码-->
    <div class="set-cell">
      <div class="row">
        <div class="col-md-10 row-box">
          <div class="cell-line">
            <p><span><%= t("students.security_setting.login_password") %></span><i>(<%= t("students.security_setting.this_password_is_not_visible") %>)</i></p>
            <em><%= t('students.security_setting.required_authentication_password') %></em>
          </div>
        </div>
        <div class="col-md-2 row-btn">
          <a href="javascript:void(0);" class="btn-set"><%= t('students.security_setting.modify_login_password') %></a>
        </div>
      </div>
      <%= render 'edit_password' %>
    </div>

    <!--支付密码-->
    <div class="set-cell">
      <div class="row">
        <div class="col-md-10 row-box">
          <div class="cell-line">
            <p><span><%= t("students.security_setting.payment_password") %></span><%= payment_password_hint(@student) %></p>
            <em><%= t("students.security_setting.required_payment_password") %></em>
          </div>
        </div>
        <div class="col-md-2 row-btn">
          <a href="javascript:void(0);" class="btn-set"><%= t('students.security_setting.modify_payment_password') %></a>
        </div>
      </div>
      <%= render 'edit_payment_password' %>
    </div>

    <!--绑定手机-->
    <div class="set-cell">
      <div class="row">
        <div class="col-md-10 row-box">
          <div class="cell-line">
            <p>
              <span><%= t("students.security_setting.bound_mobile") %></span>
              <% if @student.login_mobile %>
                <i>(<%= @student.login_mobile_was %>)</i>
              <% else %>
                <i class="prompt-info"><%= t("view.common.no_bound_mobile") %></i>
              <% end %>
            </p>
            <em><%= t("students.security_setting.bound_mobile_desc") %></em>
          </div>
        </div>
        <div class="col-md-2 row-btn">
          <a href="javascript:void(0);" class="btn-set"><%= t("students.security_setting.modified_binding_mobile") %></a>
        </div>
      </div>
      <%= render 'edit_login_mobile' %>
    </div>


    <!--绑定邮箱-->
    <div class="set-cell">
      <div class="row">
        <div class="col-md-10 row-box">
          <div class="cell-line">
            <p>
              <span><%= t("students.security_setting.bound_email") %></span>
              <% if @student.login_mobile %>
                <% if @student.email %>
                  <i>(<%= @student.email_was %>)</i>
                <% else %>
                  <i class="prompt-info"><%= t("view.common.no_bound_email") %></i>
                <% end %>
              <% else %>
                <i class="prompt-info"><%= t("view.common.no_bound_mobile") %></i>
              <% end %>
            </p>
            <em><%= t("students.security_setting.bound_email_desc") %></em>
          </div>
        </div>
        <div class="col-md-2 row-btn">
          <a href="javascript:void(0);" class="btn-set"><%= t("students.security_setting.modified_binding_email") %></a>
        </div>
      </div>
      <%= render 'edit_email' %>
    </div>


    <!--家长手机-->
    <div class="set-cell">
      <div class="row">
        <div class="col-md-10 row-box">
          <div class="cell-line">
            <p>
              <span><%= t("students.security_setting.bound_parent_phone") %></span>
              <% if @student.parent_phone %>
                <i>(<%= @student.parent_phone_was %>)</i>
              <% else %>
                <i class="prompt-info"><%= t("view.common.no_bound_parent_phone") %></i>
              <% end %>
            </p>
            <em><%= t("students.security_setting.bound_parent_phone_desc") %></em>
          </div>
        </div>
        <div class="col-md-2 row-btn">
          <a href="javascript:void(0);" class="btn-set"><%= t("students.security_setting.modified_binding_parent_phone") %></a>
        </div>
      </div>
      <%= render 'edit_parent_phone' %>
    </div>

    <!--绑定微信-->
    <div class="set-cell">
      <div class="row">
        <div class="col-md-10 row-box">
          <div class="cell-line">
            <p>
              <span><%= t("students.security_setting.wechat_bind") %></span>
              <% if @student.wechat_users.blank? %>
                <i class="prompt-info"><%= t("view.common.no_bound_wechat") %></i>
              <% else %>
                <i>(<%= @student.wechat_users.last.try(:userinfo)['info']['nickname'] %>)</i>
              <% end %>
            </p>
            <em><%= t("students.security_setting.required_wechat") %></em>
          </div>
        </div>
        <div class="col-md-2 row-btn">
          <% if @student.wechat_users.blank? %>
            <%= link_to t("students.security_setting.wechat_bind_click"), wechat_login_href %>
          <% else %>
            <%= link_to t("students.security_setting.wechat_unbind"), qawechat.remove_wechat_user_path(@student), method: :put, data: {confirm: t('students.security_setting.wechat_unbind_confirm')} %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function(){
      $('.contains').on('click', '.btn-set', function(event){
        $(this).parents(".set-cell").find(".modifiy").toggleClass('active');
      })
    });
  </script>
<% end %>