<!-- 密码 -->
<div class="qa_cell">
  <div class="row">
    <div class="col-md-3" style="padding-left:40px"><%= t(".login_password") %>
      <div style="padding-left:20px">
        <%= t(".this_password_is_not_visible") %>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:40px">
      <%= t(".required_authentication_password") %>
    </div>
    <div class="col-md-2 col-md-offset-1 pull-right">
      <br/>
      <button type="button" class="btn btn-default" data-edit-area="#edit_login_password_area"><%= t('.modify_login_password') %></button>
    </div>
  </div>
  <%= render "edit_password" %>
</div>

<!-- 支付密码 -->
<div class="qa_cell">
  <div class="row">
    <div class="col-md-3" style="padding-left:40px"><%= t(".payment_password") %>
      <div style="padding-left:20px">
        <%= payment_password_hint(@student) %>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:40px">
      <%= t(".required_payment_password") %>
    </div>
    <div class="col-md-2 col-md-offset-1 pull-right">
      <br/>
      <button type="button" class="btn btn-default" data-edit-area="#edit_login_payment_password_area"><%= t('.modify_payment_password') %></button>
    </div>
  </div>
  <%= render "edit_payment_password" %>
</div>

<!-- 手机 -->
<div class="qa_cell">
  <div class="row">
    <div class="col-md-3" style="padding-left:40px"><%= t(".bound_mobile")%>
      <div style="padding-left:20px">
        <!-- 使用mobile_was,来防止未更新的情况 -->
        <% if @student.login_mobile %>
          <%= @student.login_mobile_was %>
        <% else %>
          <span class="alert_red_span"><%= t("view.common.no_bound_mobile") %></span>
        <% end %>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:40px">
      <%= t(".bound_mobile_desc") %>
    </div>
    <div class="col-md-2 col-md-offset-1 pull-right">
      <br/>
      <button type="button" class="btn btn-default" data-edit-area="#edit_login_mobile_area"><%= t(".modified_binding_mobile") %></button>
    </div>
  </div>
  <%= render "edit_login_mobile" %>
</div>

<!-- 邮箱 -->
<div class="qa_cell">
  <div class="row">
    <div class="col-md-3" style="padding-left:40px"><%= t(".bound_email")%>
      <div style="padding-left:20px">
        <!-- email_was,来邮箱防止未更新的情况 -->
        <% if @student.login_mobile %>
          <% if @student.email%>
            <%= @student.email_was %>
          <% else %>
            <span class="alert_red_span"><%= t("view.common.no_bound_email") %></span>
          <% end %>
        <% else %>
          <span class="alert_red_span"><%= t("view.common.no_bound_mobile") %></span>
        <% end %>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:40px">
      <%= t('.bound_email_desc') %>
    </div>
    <div class="col-md-2 col-md-offset-1 pull-right">
      <br/>
      <button type="button" class="btn btn-default" data-edit-area="#edit_email_area"><%= t('.modified_binding_email') %></button>
    </div>
  </div>
  <%= render "edit_email" %>
</div>

<!-- 家长手机 -->
<div class="qa_cell">
  <div class="row">
    <div class="col-md-3" style="padding-left:40px"><%= t ".bound_parent_phone" %>
      <div style="padding-left:20px">
        <!-- parent_phone_was,防止家长手机未更新的情况 -->
        <% if @student.parent_phone%>
          <%= @student.parent_phone_was %>
        <% else %>
          <span class="alert_red_span"><%= t("view.common.no_bound_parent_phone") %></span>
        <% end %>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:40px">
      <%= t ".bound_parent_phone_desc" %>
    </div>
    <div class="col-md-2 col-md-offset-1 pull-right">
      <br/>
      <button type="button" class="btn btn-default" data-edit-area="#edit_parent_phone_area"><%= t ".modified_binding_parent_phone" %></button>
    </div>
  </div>
  <%= render "edit_parent_phone" %>
</div>


<!-- 绑定微信 -->
<div class="qa_cell">
  <div class="row">
    <div class="col-md-3" style="padding-left:40px"><%= t(".wechat_bind") %>
      <div style="padding-left:20px">
        <% if @student.wechat_users.blank? %>
         <span class="alert_red_span"><%= t("view.common.no_bound_wechat") %></span>
        <% else %>
          <%= @student.wechat_users.last.try(:userinfo)['info']['nickname'] %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:40px">
      <%= t(".required_wechat") %>
    </div>
    <div class="col-md-2 col-md-offset-1 pull-right">
      <br/>
      <% if @student.wechat_users.blank? %>
        <%= link_to wechat_login_href do %>
          <button type="button" class="btn btn-default" ><%= t(".wechat_bind_click") %></button>
        <% end %>
      <% else %>
        <%= link_to qawechat.remove_wechat_user_path(@student), method: :put, data: {confirm: '解除绑定微信将不能使用部分功能,是否解除?'} do %>
          <button type="button" class="btn btn-default" ><%= t(".wechat_unbind") %></button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>