<div class="qa_box">
  <div class="qa_big_cell">
    <div class="row">
      <div class="col-md-4">
        <h2>
          <%=link_to Student.model_name.human, students_path%>
        </h2>

      </div>
      <div class="col-md-8" style="padding-top:20px">
        <%= simple_form_for :search, url: search_students_path , :method => :get do |f|%>
            <div class="row">
              <%= f.input :name,
                          placeholder: params[:search].nil? ? "学生名字或者学生邮箱":"",
                          input_html: { value: params[:search].nil? ? "": params[:search][:name]  },
                          :label => false,wrapper_html: { class: 'col-md-6 col-md-offset-4' }%>
              <%= f.submit "search", wrapper_html: { class: 'col-md-2' },class: "btn btn-default"%>
            </div>
        <%end %>
      </div>
    </div>

  </div>
  <%= yield %>
</div>