<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to t("students.common.personal_center"),info_student_path(@student) %></li>
  </ol>
<% end %>

<div class="qa_box row">
  <div style="padding-left: 1px">
  <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class=<%= "active" if (action_name == "info" or action_name == "edit") and params[:safe].nil? %>><a href="##"><%= t("students.common.personal_information") %></a></li>
      <li role="presentation" class=<%= "active" if action_name == "info"  and not params[:safe].nil? %>><%=link_to t("students.common.security_setting"),info_student_path(@student,safe: :y) %></li>
    </ul>
  </div>

  <div class="col-md-4 text-center" style="vertical-align:middle;padding-top:170px">
    <%=image_tag @student.avatar_url(:ex_big) %>
  </div>
  <div class="col-md-8">

    <%= simple_form_for(@student, html: {id: :edit_student_info})  do |f| %>
      <div class="qa_cell">
        <div class="row">
          <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:name)%></div>
          <div class="col-md-9">
            <%= f.input :name, label: false %>
          </div>
        </div>
      </div>
      <div class="qa_cell">
        <div class="row">
          <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:sex)%></div>
          <div class="col-md-9">
            <%= f.input :sex, as: :radio_buttons, label: false %>
          </div>
        </div>
      </div>
      <div class="qa_cell">
        <div class="row">
          <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:birthday)%></div>
          <div class="col-md-9">
            <%= f.input :birthday, label: false, as: :string, input_html: {type: :date, max: Time.now.strftime('%Y-%m-%d')} %>
          </div>
        </div>
      </div>
      <div class="qa_cell">
        <div class="row">
          <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:grade)%></div>
          <div class="col-md-9"><%= f.input :grade, label: false,:collection => APP_CONSTANT["grades_in_menu"], include_blank:false %></div>
        </div>
      </div>
      <div class="qa_cell">
        <div class="row">
          <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:address)%></div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <%= f.association :province, label: false, :collection => Province.all.collect { |s| [s.name, s.id]} %>
              </div>
              <div class="col-md-6">
                <%= f.association :city, label: false %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="qa_cell">
        <div class="row">
          <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:description)%></div>
          <div class="col-md-9">
            <%= f.input :description, label: false, as: :text %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#edit_student_info" data-jump-href="<%= info_student_path(@student) %>"><%= t "students.common.cancel" %></button>
  <button type="button" class="col-md-offset-2 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#edit_student_info"><%= t "students.common.save" %></button>
</div>

<script type="text/javascript">

  $(document).ready(function(){
     var city= <%= raw Province.all.map{|province| province.cities.pluck(:id, :name)} %>

    $('#student_province_id').change(function(){
      var sltProvince=document.getElementById("student_province_id");
      var sltCity=document.getElementById("student_city_id");
      var provinceCity=city[sltProvince.selectedIndex-1];
      sltCity.length=1;
      for(var i=0;i<provinceCity.length;i++){
        sltCity[i+1]=new Option(provinceCity[i][1],provinceCity[i][0]);
      }
    })
  })
</script>
