<div class="contains">
  <div class="contains-title">
    <h3><%= t("view.student_bars.my_homework") %></h3>
  </div>

  <div class="contains-discipline">
    <%= render partial: 'students/homeworks/tab' %>

    <div class="tab-content">
      <div id="practice" class="tab-pane fade active in">
        <ul class="issue-list">
          <%= render partial: 'students/homeworks/homework', collection: @homeworks %>
        </ul>

        <%= render 'shared/blank' if @homeworks.blank? %>
        <center><div class="pagination-fix"><%= will_paginate @homeworks, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
      </div>
    </div>
  </div>
</div>