<div class="contains">
  <%= render 'info_title' %>
  <div class="user-smg">
    <ul>
      <li class="edit-info">
        <%= image_tag @owner.avatar_url(:ex_big), class: 'handle_error_avatar' %>
        <% if allow? :students, :edit, @student %>
          <%= link_to t(".edit_information"), edit_student_path(@student, cate: :edit_profile, by: :profile) %>
        <% end %>
      </li>

      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%=Student.human_attribute_name(:name)%></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span><%= @student.name.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%=Student.human_attribute_name(:gender)%></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span><%= @student.gender_text.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%=Student.human_attribute_name(:birthday)%></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span><%= @student.birthday.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%=Student.human_attribute_name(:grade)%></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span><%= @student.grade.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%=Student.human_attribute_name(:city)%></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span><%= @student.city.try(:name_with_province).presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%=Student.human_attribute_name(:school)%></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span><%= @student.school.try(:name).presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>

      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%=Student.human_attribute_name(:desc)%></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <%= raw(@student.desc).presence || t('view.common.not_set') %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>