<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to t("students.common.personal_center"),info_student_path(@student) %></li>
  </ol>
<% end %>

<div class="qa_box row">
  <div style="padding-left: 1px">
  <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class=<%= "active" if (action_name == "info" or action_name == "edit") and params[:safe].nil? %>><%= link_to t("students.common.personal_information"), info_student_path(@student) %></li>
      <li role="presentation" class=<%= "active" if action_name == "info"  and not params[:safe].nil? %>><%= link_to t("students.common.security_setting"),info_student_path(@student,safe: :y) %></li>
    </ul>
  </div>

  <% if params[:safe].nil? %>

  <div class="col-md-4 text-center" style="vertical-align:middle;padding-top:55px">
    <%=image_tag @student.avatar_url(:ex_big) %>
  </div>
  <div class="col-md-8">
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:name)%></div>
        <div class="col-md-9">
          <%= @student.name %>
          <div class="pull-right">
            <% if allow? :students,:edit , @student %>
              <%=link_to edit_student_path(@student) do %>
                <button type="button" class="btn btn-xs btn-success"><%= t(".edit_information") %></button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:sex)%></div>
        <div class="col-md-9"><%= @student.sex_text %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:grade)%></div>
        <div class="col-md-9"><%= @student.grade %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:school)%></div>
        <div class="col-md-9"><%= @student.school.name %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:birthday)%></div>
        <div class="col-md-9"><%= @student.birthday %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:address)%></div>
        <div class="col-md-9">
          <%= @student.province.try(:name) %>&nbsp;
          <%= @student.city.try(:name) %>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-2" style="padding-left:40px"><%=Student.human_attribute_name(:description)%></div>
        <div class="col-md-9"><%= @student.description %></div>
      </div>
    </div>
  </div>
  <% else %>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%= t(".login_password") %>
          <div style="padding-left:20px">
            <%= t(".this_password_is_not_visible") %>
          </div>
        </div>
        <div class="col-md-6" style="padding-left:40px">
            <%= t(".required_authentication_password") %>
        </div>
        <div class="col-md-2 col-md-offset-1 pull-right">
          <br/>
          <button type="button" class="btn btn-default" data-edit-area="#edit_login_password_area"><%= t('.modify_login_password') %></button>
        </div>
      </div>
      <div id="edit_login_password_area" style="display:none;">
        <%= simple_form_for(@student, html: {id: "modify_login_password_form"}) do |f| %>
        <div class="row">
          <div class="col-md-2 col-md-offset-3 text-right" >
            当前登录密码:
          </div>
          <div class="col-md-3">
          <input class="password optional form-control" type="password" name="password_old" id="student_password_old_input" onBlur="textBlur()" >
          </div>
          <div class="col-md-2 error_input" style="color: red;">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-3 text-right">
            新密码登录:
          </div>
          <div class="col-md-3">
            <%= f.input :password_confirmation, label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-3 text-right">
            确认新密码:
          </div>
          <div class="col-md-3">
            <%= f.input :password, label: false %>
          </div>
        </div>
        <% end %>
        <div class="row">
          <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#modify_login_password_form" data-jump-href="<%= info_student_path(@student,safe: :y) %>"><%= t "students.common.cancel" %></button>
          <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#modify_login_password_form"><%= t "students.common.save" %></button>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%= t(".bound_mobile")%>
          <div style="padding-left:20px">
            <%= @student.mobile %>
          </div>
        </div>
        <div class="col-md-6" style="padding-left:40px">
          <%= t(".bound_mobile_desc") %>
        </div>
        <div class="col-md-2 col-md-offset-1 pull-right">
          <br/>
          <button type="button" class="btn btn-default"><%= t(".modified_binding_mobile") %></button>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%= t(".bound_email")%>
          <div style="padding-left:20px">
            <%= @student.email %>
          </div>
        </div>
        <div class="col-md-6" style="padding-left:40px">
          <%= t('.bound_email_desc') %>
        </div>
        <div class="col-md-2 col-md-offset-1 pull-right">
          <br/>
          <button type="button" class="btn btn-default" data-edit-area="#edit_mobile_area"><%= t('.modified_binding_email') %></button>
        </div>
      </div>

      <div id="edit_mobile_area" style="<%= session[:binding_email] ? '' : 'display:none;' %>">
          <% if(!session[:binding_email] || session[:binding_email][:step] == 1) %>
            <%= simple_form_for(@student, url: mobile_captcha_for_change_email_student_path(@student), method: :post, html: {id: "mobile_captcha_for_change_email_form"}) do |f| %>
              <div class="row" >
                <div class="col-md-2 col-md-offset-3
                 text-right">
                  <%= t ".binding_email" %>:
                </div>
                <div class="col-md-3">
                  <%= @student.email %>
                </div>
              </div>
              <div class="row" >
                <div class="col-md-2 col-md-offset-3
                 text-right">
                  <%= t ".mobile_captcha" %>:
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-2">
                      <%= f.input :input_captcha, label: false, input_html: { maxlength: 4 } %>
                    </div>
                    <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input data-next-btn="#email_step_1_next_btn" data-send-url="<%= auth_user_for_change_email_student_url(@student) %>" data-send-type='PATCH' value="<%= t ".get_captcha" %>">
                  </div>
                </div>
              </div>
              <div class="row">
                <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#mobile_captcha_for_change_email_form" disabled="disabled" id="email_step_1_next_btn"><%= t "students.common.next_step" %></button>

                <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#mobile_captcha_for_change_email_form" data-jump-href="<%= info_student_path(@student,safe: :y) %>"><%= t "students.common.cancel" %></button>
              </div>
            <% end %>
          <% elsif session[:binding_email][:step] == 2 %>

            <%= simple_form_for(@student, url: email_captcha_for_change_email_student_path(@student), method: :post, html: {id: "email_captcha_for_change_email_form"}) do |f| %>
              <div class="row" >
                <div class="col-md-2 col-md-offset-3
                 text-right">
                  <%= t ".new_email" %>:
                </div>
                <div class="col-md-3">
                  <%= f.input :input_email, label: false, input_html: { maxlength: 50 } %>
                </div>
              </div>
              <div class="row" >
                <div class="col-md-2 col-md-offset-3
                 text-right">
                  <%= t ".email_captcha" %>:
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-2">
                      <%= f.input :input_captcha, label: false, input_html: { maxlength: 4 } %>
                    </div>
                    <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#student_input_email" data-next-btn="#email_step_2_next_btn" data-send-url="<%= send_email_for_change_email_student_url(@student) %>" data-send-type='POST' value="<% t ".get_captcha" %>">
                  </div>
                </div>
              </div>
              <div class="row">
                <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#email_captcha_for_change_email_form" disabled="disabled" id="email_step_2_next_btn"><%= t ".to_bind_email" %></button>

                <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#email_captcha_for_change_email_form" data-jump-href="<%= info_student_path(@student,safe: :y) %>"><%= t "students.common.cancel" %></button>
              </div>
            <% end %>
          <% elsif session[:binding_email][:step] == 3 %>
            <% if params[:binding_success] == 'y' %>
              <div class="row">
                <p class="text-center">
                  <%= t ".bind_email_success_text1" %><br/>
                  <%= t ".bind_email_success_text2" %>
                </p>
                <p class="text-center">
                  <button type="button" class="btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-jump-btn data-jump-href="<%= info_student_path(@student,safe: :y) %>"><%= t "students.common.ok" %></button>
                </p>
              </div>
            <% else %>
              <div class="row">
                <p class="text-center">
                  <%= t ".bind_email_fail_text1" %><br/>
                </p>
                <p class="text-center">
                  <button type="button" class="btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-jump-btn data-jump-href="<%= info_student_path(@student,safe: :y) %>"><%= t "students.common.ok" %></button>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%= t ".bound_parent_phone" %>
          <div style="padding-left:20px">
            <%= @student.parent_phone %>
          </div>
        </div>
        <div class="col-md-6" style="padding-left:40px">
          <%= t ".bound_parent_phone_desc" %>
        </div>
        <div class="col-md-2 col-md-offset-1 pull-right">
          <br/>
          <button type="button" class="btn btn-default"><%= t ".modified_binding_parent_phone" %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function textBlur(event){
    $.ajax({
      url: '<%= validate_password_student_url(@student) %>',
      type: 'POST',
      data: {
        passowrd: $("#student_password_old_input").val()
      },
      error: function(xhr, statusText, errorThrown, $form){
        $(".error_input").html("<%= I18n.t("flash.alert.password_error!") %>")
      }
    })
  }
</script>
