<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to t("students.common.personal_center"),info_student_path(@student) %></li>
  </ol>
<% end %>

<div class="qa_box row">
  <%= render "info_title" %>

  <div class="col-md-4 text-center" style="vertical-align:middle;padding-top:55px">
    <%=image_tag @student.avatar_url(:ex_big) %>
  </div>

  <div class="col-md-8">
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%=Student.human_attribute_name(:name)%></div>
        <div class="col-md-9">
          <%= @student.name %>
          <div class="pull-right">
            <% if allow? :students,:edit , @student %>
              <%=link_to edit_student_path(@student, cate: :edit_profile, by: :profile) do %>
                <button type="button" class="btn btn-xs btn-success"><%= t(".edit_information") %></button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%=Student.human_attribute_name(:gender)%></div>
        <div class="col-md-9"><%= @student.gender_text %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%=Student.human_attribute_name(:grade)%></div>
        <div class="col-md-9"><%= @student.grade %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%=Student.human_attribute_name(:school)%></div>
        <div class="col-md-9"><%= @student.school.try(:name) %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%=Student.human_attribute_name(:birthday)%></div>
        <div class="col-md-9"><%= @student.birthday %></div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%=Student.human_attribute_name(:address)%></div>
        <div class="col-md-9">
          <%= @student.province.try(:name) %>&nbsp;
          <%= @student.city.try(:name) %>
        </div>
      </div>
    </div>
    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%=Student.human_attribute_name(:desc)%></div>
        <div class="col-md-9"><%= @student.desc %></div>
      </div>
    </div>
  </div>
</div>

