<div class="login-wechat">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="tea-register">
          <div class="tea-register-title">
            <%= t('.title') %>
          </div>
          <div class="tea-register-left">
            <%= simple_form_for(@student, url: students_path(@student, cate: :register, by: :create) ) do |f| %>
              <%= render partial: 'create_form', locals: {f: f} %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial: 'create_qrcode', locals: {type: @student.type} %>
    </div>
    <%= render partial: 'shared/modal_agreement_student' %>
  </div>
</div>

