<div class="qa_box">
  <div class="qa_big_cell">
    <h2>注册</h2>
  </div>
</div>

<div class="qa_box">
  <div class="qa_big_cell">
    <%= simple_form_for(@student) do |f| %>

        <div class="form-inputs">
          <%= f.input :email, :required => true, :autofocus => true ,:hint => "邮箱地址用于登录和找回密码。不可为空。"%>
          <%= f.input :name, :required => true ,:hint => "填写真实姓名，不可为空。"%>
          <%= f.input :mobile,:required=>true,:hint=>"当老师回复您的提问时候，会给您发送短信提醒。"%>
          <% %w[x y w h].each do |attribute| %>
              <%= f.hidden_field "crop_#{attribute}"%>
          <% end %>
          <%= f.input :avatar,input_html:{onchange:"showimagepreview(this)"},:hint => "用户头像不可为空。" %>
          <img id="user_avatar_preview" style="width: 240px;height: 240px">

          </img>
          <%= f.input :password, :autocomplete => "off",:hint => "密码最少为6个字符。"%>
          <%= f.input :password_confirmation %>
          <%= f.input :register_code_value %>
        </div>

        <div class="form-actions">
          <%= f.submit '注册', class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>