<%= content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to t("students.common.personal_center"),info_student_path(@student) %></li>
</ol>
<% end %>

<div class="qa_box row">
  <%= render "info_title" %>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-3" style="padding-left:40px"><%= t(".login_password") %>
        <div style="padding-left:20px">
          <%= t(".this_password_is_not_visible") %>
        </div>
      </div>
      <div class="col-md-6" style="padding-left:40px">
        <%= t(".required_authentication_password") %>
      </div>
      <div class="col-md-2 col-md-offset-1 pull-right">
        <br/>
        <button type="button" class="btn btn-default" data-edit-area="#edit_login_password_area"><%= t('.modify_login_password') %></button>
      </div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-3" style="padding-left:40px"><%= t(".bound_mobile")%>
        <div style="padding-left:20px">
          <%= @student.mobile %>
        </div>
      </div>
      <div class="col-md-6" style="padding-left:40px">
        <%= t(".bound_mobile_desc") %>
      </div>
      <div class="col-md-2 col-md-offset-1 pull-right">
        <br/>
        <button type="button" class="btn btn-default"><%= t(".modified_binding_mobile") %></button>
      </div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-3" style="padding-left:40px"><%= t(".bound_email")%>
        <div style="padding-left:20px">
          <%= @student.email %>
        </div>
      </div>
      <div class="col-md-6" style="padding-left:40px">
        <%= t('.bound_email_desc') %>
      </div>
      <div class="col-md-2 col-md-offset-1 pull-right">
        <br/>
        <button type="button" class="btn btn-default" data-edit-area="#edit_email_area"><%= t('.modified_binding_email') %></button>
      </div>
    </div>

    <div class="qa_cell">
      <div class="row">
        <div class="col-md-3" style="padding-left:40px"><%= t ".bound_parent_phone" %>
          <div style="padding-left:20px">
            <%= @student.parent_phone %>
          </div>
        </div>
        <div class="col-md-6" style="padding-left:40px">
          <%= t ".bound_parent_phone_desc" %>
        </div>
        <div class="col-md-2 col-md-offset-1 pull-right">
          <br/>
          <button type="button" class="btn btn-default"><%= t ".modified_binding_parent_phone" %></button>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var inputone=document.getElementById('student_current_password');
    inputone.onblur=function(event){
      console.log("111")
      $.ajax({
        url: '<%= validate_password_student_url(@student) %>',
        type: 'POST',
        data: {
          password: $("#student_current_password").val()
        },
        error: function(xhr, statusText, errorThrown, $form){
          $(".error_input").html("<%= I18n.t("flash.alert.password_error!") %>")
        },
        success: function(responseText, statusText, xhr, $form){
          $(".error_input").html("")
        }
      })
    }
  })
</script>
