<div class="contains">
  <div class="contains-title">
    <h3>
      <%= t('students.teachers.title') %>
      <%= link_to new_learning_plan_path(student_id: @student.id) do %>
        <button type="button" class="btn btn-xs btn-success"><%=get_edit_or_create_model_string(LearningPlan.new) %></button>
      <% end if allow?('learning_plans', 'new') %>
    </h3>
  </div>

  <div class="contains-discipline">
    <ul class="tec-list">
      <%= render partial: 'students/learning_plan', collection: @learning_plans %>
    </ul>

    <%= render 'shared/blank' if @learning_plans.blank? %>
    <center><div class="pagination-fix"><%= will_paginate @learning_plans, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
  </div>
</div>