<%= simple_form_for [:station, @workstation, @listen_speak_topic] do |f| %>

  <div class="editor-item">
    <h3 class="file-title">设置问题</h3>
    <div class="row">
      <div class="col-md-2">
        <%= f.object.name %>
      </div>
      <div class="col-md-10">
        <%= f.label :title %>
        <%= f.input :title, label: false %>
        <%= f.label :answer_attach %>
        <%= f.input :answer_attach, as: :file, label: false %>
      </div>
    </div>

  </div>
  <dir class="editor-item">
    <h3 class="file-title"> &nbsp; </h3>
    <div class="actions">
      <%= f.submit %>
    </div>
  </dir>
<% end %>
