<div class="qa_box">
  <div class="qa_big_cell">
    <div>
      <h3>
        <%= Recommend::Position.human_attribute_name(:items) %>
        <%= link_to :new, new_manager_position_item_path(@position) %>
      </h3>
    </div>
  </div>
  <div class="row qa_big_cell">
    <div class="col-md-2"><%= Recommend::TeacherItem.human_attribute_name(:title) %></div>
    <div class="col-md-2"><%= Recommend::TeacherItem.human_attribute_name(:logo) %></div>
    <div class="col-md-2"><%= Recommend::TeacherItem.human_attribute_name(:target) %></div>
    <div class="col-md-1"><%= Recommend::TeacherItem.human_attribute_name(:index) %></div>
    <div class="col-md-1"><%= City.model_name.human %></div>
    <div class="col-md-2"><%= "" %></div>
  </div>

  <%= render @items %>
  
  <%= will_paginate @items %>
</div>
