<div class="col-md-9">
  <a name="introduce"></a>
  <div class="course-item">
    <div class="nav-item">
      <a href="#introduce"><%= t('view.live_studio/courses.show.introduce') %></a>
      <a href="#arrange"><%= t('view.live_studio/courses.show.arrange') %></a>
      <a href="#study"><%= t('view.live_studio/courses.show.study') %></a>
    </div>

    <div class="course-lessons">
      <div class="lessons-detail">
        <h3><%= t('view.live_studio/courses.show.base_info') %></h3>
        <ul>
          <li>
            <span><i><%= t('view.live_studio/courses.show.subject') %></i><i><%= @course.subject %></i></span>
            <span><i><%= t('view.live_studio/courses.show.grade') %></i><i><%= @course.grade %></i></span>
            <span><i><%= t('view.live_studio/courses.show.lesson') %></i><i><%= t('view.live_studio/courses.show.lesson_text', count: @course.lessons_count) %></i></span>
          </li>

          <li>
            <span>
              <i><%= t('view.live_studio/courses.show.date') %></i>
              <i>
                <% if @course.start_at == @course.end_at %>
                  <%= @course.start_at.try(:to_date).try(:to_s) %>
                <% else %>
                  <%= t('view.live_studio/courses.show.date_text', start_at: @course.start_at.try(:to_date).try(:to_s), end_at: @course.end_at.try(:to_date).try(:to_s)) %>
                <% end %>
              </i>
            </span>
          </li>

          <li>
            <span>
              <i><%= t('view.live_studio/courses.show.status') %></i>
              <i>
                <%= @course.status_text %>
                (<%= @course.published? ? (t('view.course_show.distance_text1') % @course.distance_days) : t('view.live_studio/courses.show.status_text', one: @course.closed_lessons_count, two: @course.lessons_count) %>)
              </i>
            </span>
          </li>
        </ul>
      </div>

      <% if @course.is_a? LiveStudio::Course -%>
        <div class="lessons-detail">
          <h3><%= t('view.live_studio/courses.show.course_label') %></h3>
          <div class="class-label">
            <% @course.tag_list.each do |tag_name| %>
              <span><%= tag_name %></span>
            <% end %>

            <% if @course.tag_list.blank? %>
              <%= t('view.live_studio/courses.show.tag_none') %>
            <% end %>
          </div>
        </div>
      <% end -%>

      <div class="lessons-detail">
        <h3><%= t('view.live_studio/courses.show.objective') %></h3>
        <p><%= @course.objective.presence || t('view.live_studio/courses.show.tag_none') %></p>
      </div>

      <div class="lessons-detail">
        <h3><%= t('view.live_studio/courses.show.suit_crowd') %></h3>
        <p><%= @course.suit_crowd.presence || t('view.live_studio/courses.show.tag_none') %></p>
      </div>

      <div class="lessons-detail">
        <h3><%= t('view.live_studio/courses.show.desc') %></h3>
        <%= raw(@course.description) %>
      </div>

      <% if @course.is_a? LiveStudio::Course -%>
        <div class="lessons-detail lessonsg-process">
          <h3><%= t('view.live_studio/courses.show.study_flow') %></h3>
          <div class="row">
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.buy_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.buy_tip_value') %></div>
            <div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1 down-direction ">
              <%= image_tag "down-direction.png" %>
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.time_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.time_tip_value2') %></div>
            <div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1 down-direction ">
              <%= image_tag "down-direction.png" %>
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.online_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.online_tip_value2') %></div>
            <div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1 down-direction ">
              <%= image_tag "down-direction.png" %>
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.close_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.close_tip_value2') %></div>
          </div>
        </div>
      <% end -%>

      <% if @course.is_a? LiveStudio::InteractiveCourse -%>
        <div class="lessons-detail lessonsg-process">
          <h3><%= t('view.live_studio/courses.show.study_flow') %></h3>
          <div class="row">
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.buy_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.buy_tip_value') %></div>
            <div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1 down-direction ">
              <%= image_tag "down-direction.png" %>
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.time_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.time_tip_value') %></div>
            <div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1 down-direction ">
              <%= image_tag "down-direction.png" %>
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.online_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.online_tip_value') %></div>
            <div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1 down-direction ">
              <%= image_tag "down-direction.png" %>
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-7 col-sm-offset-1"><%= t('view.live_studio/courses.show.close_tip') %></div>
            <div class="col-md-3 col-sm-3"><%= t('view.live_studio/courses.show.close_tip_value') %></div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>

  <a name="arrange"></a>
  <div class="course-item course-item-arrangement">
    <div class="nav-item">
      <span><%= t('view.live_studio/courses.show.arrange') %></span>
    </div>

    <%= render partial: 'live_studio/courses/show/lesson_plan' %>
  </div>

  <a name="study"></a>
  <div class="course-item">
    <div class="nav-item">
      <span><%= t('view.live_studio/courses.show.study') %></span>
    </div>

    <%= render partial: 'live_studio/courses/show/study' %>
  </div>
</div>