<div class="course-header">
  <div class="container">
    <div class="row course-class">
      <div class="col-md-5 col-xs-12 pic">
        <%= image_tag @course.publicize_url(:info), class: 'handle_error_list' %>
      </div>
      <div class="col-md-7 col-xs-12 course-introduce">
        <div class="course-title">
          <h1><%= truncate_u @course.name, length: 24 %></h1>
          <span id="users_count"><%= t('view.live_studio/courses.show.purchase_number', count: @course.users_count ) %></span>

          <% if allow?('live_studio/courses', 'inc_users_count', @course) -%>
            <%= form_tag live_studio.inc_users_count_course_path, method: :post, remote: true do %>
              <%= button_tag '增加', id: 'inc_users_count_link', type: 'button', class: "form-control add" %>
              <span id='inc_users_count_field' style="display: none;" class="add-num">
                <%= text_field_tag :by, 1, type: 'number', class: 'form-control' %>
                <%= submit_tag '保存', class: 'form-control' %>
              </span>
            <% end -%>
          <% end %>
        </div>
        <div class="course-line">
          <span class="<%= 'active' if @course.refund_any_time? %>">
            <%= image_tag "course-#{@course.refund_any_time? ? 'active' : 'default'}.png" %>
            <i><%= t('view.live_studio/courses.show.refund') %></i>
          </span>
          <span class="<%= 'active' if @course.coupon_free? %>">
            <%= image_tag "course-#{@course.coupon_free? ? 'active' : 'default'}.png" %>
            <i><%= t('view.live_studio/courses.show.coupon_free') %></i>
          </span>
          <span class="<%= 'active' if @course.cheap_moment? %>">
            <%= image_tag "course-#{@course.cheap_moment? ? 'active' : 'default'}.png" %>
            <i><%= t('view.live_studio/courses.show.cheap') %></i>
          </span>
        </div>
        <% if @course.is_a? LiveStudio::Course -%>
          <div class="course-line">
            <span class="<%= 'active' if @course.join_cheap? %>">
              <%= image_tag "course-#{@course.join_cheap? ? 'active' : 'default'}.png" %>
              <i><%= t('view.live_studio/courses.show.join_cheap') %></i>
            </span>
            <span class="<%= 'active' if @course.free_taste? %>">
              <%= image_tag "course-#{@course.free_taste? ? 'active' : 'default'}.png" %>
              <i><%= t('view.live_studio/courses.show.free_taste') %></i>
            </span>
          </div>
        <% end -%>

        <div class="course-price">
          <% if @course.off_shelve? && !@course.bought_by?(current_user) %>
            <%= link_to t('view.course_info_show.shelves'), 'javascript:void(0);', class: 'btn-shelves' %>
          <% else %>
            <% if @course.is_a?(LiveStudio::Course) && @course.sell_type.free? %>
              <span class="price-left"><%= t('common.free_of_charge') %></span>
            <% else %>
              <span class="price-left"><%= number_to_currency(@course.current_price, locale: :cn) %></span>
            <% end %>
            <span class="price-right">
              <%= render partial: "live_studio/#{@course.model_name.route_key}/show/buy_or_taste" if (current_user.blank? || current_user.student?) && @course.for_sell? %>
            </span>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
<script>
$(function() {
  $("#inc_users_count_link").click(function() {
    $(this).hide();
    $("#inc_users_count_field").show();
  });
});
</script>
<% end %>
