<% interactive = @course.is_a? LiveStudio::InteractiveCourse %>
<% @course.order_lessons.each_with_index do |lesson, i| %>
  <div class="row playlist <%= lesson.is_over? ? 'end' : '' %>">
    <div class="col-md-1">
      <span><%= beautify_index(i) %></span>
    </div>

    <div class="col-md-3">
      <span>
        <%= lesson.class_date %>
        <%= lesson.start_time %>-<%= lesson.end_time %>
      </span>
    </div>

    <div class="col-md-5 coursehead">
      <span><%= truncate_u lesson.name, length: 30 %></span>
      <% if interactive %>
        <span class="coursehead-tec">
          <em><%= LiveStudio::InteractiveLesson.human_attribute_name(:teacher) %>：</em><em><%= lesson.teacher.try(:name) %></em>
        </span>
      <% end %>
    </div>

    <div class="col-md-3">
      <i>
        <% if interactive %>
          <%= lesson.status_text(current_user.try(:role)) %>
        <% else %>
          <%= replay_button_of(lesson) %>
        <% end %>
      </i>
    </div>
  </div>
<% end %>
