<% interactive = @course.is_a? LiveStudio::InteractiveCourse %>
<% @lessons.each_with_index do |lesson, i| %>
  <div class="row playlist <%= lesson.is_over? ? 'end' : '' %>">
    <div class="col-md-1">
      <span><%= beautify_index(i) %></span>
    </div>

    <div class="col-md-3">
      <span>
        <%= lesson.class_date %>
        <%= lesson.start_time %>-<%= lesson.end_time %>
      </span>
    </div>

    <div class="col-md-5 coursehead">
      <span><%= truncate_u lesson.name, length: 30 %></span>
      <% if interactive %>
        <span class="coursehead-tec">
          <em><%= LiveStudio::InteractiveLesson.human_attribute_name(:teacher) %>：</em><em><%= lesson.teacher.try(:name) %></em>
        </span>
      <% end %>
    </div>

    <div class="col-md-3">
      <i>
        <% if interactive %>
          <%= lesson.status_text(current_user.try(:role)) %>
        <% else %>
          <% if lesson.is_over? %>
            <% if allow?("live_studio/lessons", "replay", lesson) -%>
              <%= link_to 'javascript:void(0);', class: 'active', target: '_blank' do -%>
                <em><%= LiveStudio::Lesson.human_attribute_name(:replay) %></em>
                <em><%= t("view.live_studio/courses.show.left_replay_times", count: lesson.user_left_times(current_user)) %></em>
              <% end -%>
            <% else %>
              <%= link_to 'javascript: void(0);' do -%>
                <em><%= LiveStudio::Lesson.human_attribute_name(:replay) %></em>
                <em><%= t("view.live_studio/courses.show.left_replay_times", count: lesson.user_left_times(current_user)) %></em>
              <% end -%>
            <% end %>
          <% else %>
            <%= lesson.status_text(current_user.try(:role)) %>
          <% end %>
        <% end %>
      </i>
    </div>
  </div>
<% end %>