<div class="study-instructions">
  <div class="instructions-line">
    <h3><%= t('view.live_studio/courses.show.before_study') %></h3>
    <ul>
      <li>
        <%= t('view.live_studio/courses.show.before_study1') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.before_study2') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.before_study3') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.before_study4') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.before_study5') %>
      </li>
    </ul>
  </div>

  <div class="instructions-line">
    <h3><%= t('view.live_studio/courses.show.study_in') %></h3>
    <ul>
      <li>
        <%= t('view.live_studio/courses.show.study_in1') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.study_in2') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.study_in3') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.study_in4') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.study_in5') %>
      </li>
    </ul>
  </div>
  <div class="instructions-line">
    <h3><%= t('view.live_studio/courses.show.after_study') %></h3>
    <ul>
      <li>
        <%= t('view.live_studio/courses.show.after_study1') %>
      </li>
      <li>
        <%= t('view.live_studio/courses.show.after_study2') %>
      </li>

    </ul>
  </div>
</div>