<tr>
  <td><%= show_index(seller_counter, @sellers.limit_value) %></td>
  <td><%= seller.name %></td>
  <td><%= seller.login_mobile %></td>
  <td><%= seller.email %></td>
  <td>
    <%= link_to t('common.editor_toolbar_edit'), edit_station_workstation_seller_path(@workstation, seller) if allow?('station/sellers', 'edit', @workstation) %>
    <%= link_to t('common.delete'), station_workstation_seller_path(@workstation, seller), data: {method: :delete, confirm: t('common.confirm_delete')} if allow?('station/sellers', 'destroy', @workstation) %>
  </td>
</tr>