<tr>
  <td><%= show_index(student_counter, @students.limit_value) %></td>
  <td><%= student.name %></td>
  <td><%= student.login_mobile %></td>
  <td><%= student.parent_phone %></td>
  <td><%= student.grade %></td>
  <td><%= localize(student.created_at,format: :short) %></td>
  <td><%= link_to t('view.station.students.index.show'), student_path(student), target: '_blank' %></td>
</tr>