
<form id="pictures_upload" action="/pictures" enctype="multipart/form-data" method="post">
  <input id="picture_token" name="picture[token]" type="hidden" value="<%= @topic.token%>">
</form>
<div class="qa_box">
    <div class="qa_cell">
      <div class="progress" id="progress">
        <div class="progress-bar" id="progress-bar" role="progressbar" >
        </div>
      </div>
      <%=simple_form_for @topic do |f| %>
          <%= render "shared/error_messages", :target => @topic %>
          <%= f.input :node_id,as: :hidden,input_html: {value: f.object.node_id || @node.id} %>
          <%= f.input :token, as: :hidden, input_html: {value: f.object.token} %>
          <div class="form-group">
            <%= f.input :title ,input_html:{class:'form-control'}  %>
          </div>

          <div class="form-group">
            <%= f.input :body, class:'summernote' %>
          </div>
          <div class="form-group">
            <%= f.button :submit, class: "btn btn-default" %>
          </div>
      <% end %>
    </div>

</div>