<div class="qa_cell topics_item">
    <div class="pull-left">
      <%=image_tag topic.author.avatar.normal.url %>
    </div>

    <div class="topic">
        <div class="title">
            <%= link_to topic.title, topic_path(topic) %>
        </div>
        <div class="info">
            <%= topic.author.name %> •
            <%= time_ago_in_words(topic.created_at) %>前发布 • <%=topic.replies_count%>个回复 •
            <%= link_to topic.lesson.name ,lesson_path(topic.lesson) ,class: "qa_node"%>

        </div>
    </div>
    <div class="reply_count">
        <span class="badge"><%= topic.replies_count %></span>
    </div>

    <div style="clear:both"></div>
</div>