<div class="qa_cell topics_item">
    <div class="pull-left">
      <%=image_tag topic.author.try(:avatar).try(:normal).try(:url) %>
    </div>

    <div class="topic">
        <div class="title">
            <%= link_to topic.title, topic_path(topic) %>
        </div>
        <div class="info">
            <%= topic.author.try(:view_name) %> •
            <%= localize(topic.created_at,format: :long) %>创建 • <%=topic.replies_count%>个回复 •
            <%= link_to topic.topicable.name ,send("#{topic.topicable.model_name.singular_route_key}_path",topic.topicable) ,class: "qa_node"%>

        </div>
    </div>
    <div class="reply_count">
        <span class="badge"><%= topic.replies_count %></span>
    </div>

    <div style="clear:both"></div>
</div>