<% if not @node.blank? %>
    <div class="qa_box">
      <div class="qa_cell">
        <div class="node_header">
          <span class="nav">
            <%=link_to @node.section.name ,topics_path(section_id:@node.section_id) %>
            »
            <%=@node.name%>
          </span>
        </div>
        <%=link_to "new topic",new_topic_path(node_id:@node.id),class:"btn btn-success btn-xs"%>
        <span class="node_topics_num pull-right">主题数   <%= @node.topics_count%> 个</span>
      </div>
    </div>
<% else %>
    <%=render_cell :section,:topics_head_nav ,:selected_section_id=>@section_id.to_i%>
<% end %>
<div class="qa_box qa_topics">
  <%= render @topics %>
</div>
<% if @node.blank? %>
    <%=render_cell :section,:topics_bottom_nav %>
<% end %>

