<div class="qa_box">
    <div class="qa_topic">
      <div class="header">
        <div class="qa_cell" style="background-color: #f5f5f5">
          <!--div style="color: gray;margin-bottom: 10px">
            <%= link_to @topic.node.name, node_topics_path(@topic.node) ,style: "color:gray;"%>
          </div-->
          <div class="pull-right">
            <%=image_tag @topic.user.avatar.normal.url %>
          </div>

          <div class="title">
            <h4><%= @topic.title %></h4>
          </div>
          <div style="color:gray;font-size: 10px;">
            <%= link_to @topic.node.name, node_topics_path(@topic.node) ,style: "color:gray;"%> •
            <%= @topic.user.name %> •  <%= time_ago_in_words(@topic.created_at) %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="qa_cell">
          <div>
            <%= @topic.body.html_safe %>
          </div>
          <div class="pull-right">
            <%= link_to "", edit_topic_path(@topic), class: "glyphicon glyphicon-edit"%>
            <%= link_to "", topic_path(@topic),
                        :method => :delete,
                        'data-confirm' => 'Are you sure?',
                        class: "glyphicon glyphicon-remove"%>
          </div>
          <div style="clear: both"></div>
        </div>
      </div>

    <div class="form-group" id = "replies_show">
      <%= render 'topics/replies_index' %>
    </div>

    <div id = "reply_form" >
      <%= render 'shared/reply_form' %>
    </div>
    </div>
</div>