<%= simple_form_for(@course, url: (@course.new_record? ? manager_courses_path(@manager) : manager_course_path(@manager, @course))) do |f|%>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :teacher, input_html:{class: 'selectpicker',"data-live-search" => true} %>
    <%= f.input :teacher_percentage %>
    <%= f.input :preset_lesson_count, input_html: {class: 'lesson_price_item'} %>
    <%= f.input :description, type: :text %>
    <%= f.input :subject, type: :select, collection: APP_CONSTANT['subjects'] %>
    <%= f.input :grade, type: :select, collection: APP_CONSTANT['grades_in_menu'] %>
    <%= f.association :workstation, collection: @workstations if @course.new_record? %>
    <%= f.input :price, input_html: {class: 'lesson_price_item'}, hint: "#{LiveStudio::Course.human_attribute_name(:lesson_price)}: #{@course.lesson_price}" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
<% end %>

<script>
  $('.selectpicker').selectpicker({
    style: 'btn-default show-tick',
    size: 4,
    'data-live-search': "true"
  });

  $(function(){
    $(".lesson_price_item").change(function(){
      var price = parseInt($("#course_price").val());
      var lesson_count = parseInt($("#course_preset_lesson_count").val());
      var lesson_price = lesson_count === 0 ? 0 : price / lesson_count;
      lesson_price = Math.floor(lesson_price);
      console.log(lesson_price);
      console.log("<%= LiveStudio::Course.human_attribute_name(:lesson_price) %>" + lesson_price);
      $("#course_price").siblings(".help-block").text("<%= LiveStudio::Course.human_attribute_name(:lesson_price) %>" + lesson_price);
    });
  });
</script>
