<%= simple_form_for [:manager, @course] do |f|%>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :teacher %>
    <%= f.input :description, type: :text %>
    <%= f.input :workstation, collection: @workstations %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
<% end %>

