<div class="panel panel-default">
  <div class="admin">
    <div class="admin-title">
      <%= render 'live_studio/manager/tab' %>
    </div>

    <div>
      <div class="admin-list">
        <div class="admin-list-title">
          <%= render 'filter' %>
        </div>
        <div class="admin-list-con">
          <table border="1" cellspacing="1" cellpadding="1">
            <tr>
              <td><span><%= LiveStudio::Course.human_attribute_name(:name) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:teacher_name) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:subject) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:grade) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:lessons_count) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:price) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:buy_tickets_count) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:teacher_percentage) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:published_at) %></span></td>
              <td><span><%= LiveStudio::Course.human_attribute_name(:status) %></span></td>
            </tr>
            <%= render partial: 'course', collection: @courses %>
          </table>
        </div>

        <center>
          <div class="pagination-fix">
            <%= will_paginate @courses %>
          </div>
        </center>

      </div>
    </div>
  </div>
</div>
