<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <%= LiveStudio::Course.model_name.human %>
    <% if allow? "live_studio/manager/courses", "create" %>
      <%=link_to new_manager_course_path do %>
      <button type="button" class="btn btn-xs btn-success">
        <%= t("activerecord.view.create") %><%= LiveStudio::Course.model_name.human %>
      </button>
      <% end %>
    <% end -%>
  </div>
  <!--
  <div class="panel-body">
  </div>
  -->

  <!-- Table -->
  <table class="table">
    <tr>
      <th>#</th>
      <th>辅导班名称</th>
      <th>任课教师</th>
      <th>简介</th>
      <th>状态</th>
      <th>操作</th>   
    </tr>
    <%= render partial: 'course', collection: @courses %>
  </table>
</div>
