<ul class="fixed-bar">
  <li class="fixed-phone">
    <%= link_to main_app.static_page_qa_faq_path(34) do %>
      <%= image_tag 'phonenumber.png' %>
      <p><%= t('view.footer.contact_us') %></p>
    <% end %>
    <div class="phonenumber">
      <p>400-838-8010</p>
    </div>
  </li>
  <li>
    <%= link_to main_app.qa_faqs_path do %>
      <%= image_tag 'issue.png' %>
      <p><%= t('view.footer.help_center') %></p>
    <% end %>
  </li>
  <li>
    <%= link_to main_app.welcome_download_path do %>
      <%= image_tag 'download-1.png' %>
      <p><%= t('view.footer.software_down') %></p>
    <% end %>
  </li>
  <li class="fixed-weixin">
    <%= link_to main_app.static_page_qa_faq_path(34) do %>
      <%= image_tag 'code-1.png' %>
      <p><%= t('view.footer.weixin_text') %></p>
    <% end %>
    <div class="weixin-code">
      <%= image_tag 'publiccode.jpg' %>
      <p><%= t('view.footer.weixin_code') %></p>
    </div>
  </li>
  <li class="fixed-top" style="display: list-item;">
    <a href="javascript:void(0);">
      <%= image_tag 'top.png' %>
      <p><%= t('view.footer.top') %></p>
    </a>
  </li>
</ul>

<footer>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <ul class="nav-footer">
    <li>
      <%= link_to t('view.footer.weixin_public'), main_app.static_page_qa_faq_path(34) %>
    </li>
    <li>
      <%= link_to t('view.footer.about_us'), main_app.static_page_qa_faq_path(34) %>
    </li>
    <li>
      <%= link_to t('view.footer.contact_us'), main_app.static_page_qa_faq_path(34) %>
    </li>
    <li>
      <%= link_to t('view.footer.help_center'), main_app.qa_faqs_path %>
    </li>
    <li>
      <%= link_to t('view.footer.software_down'), main_app.welcome_download_path %>
    </li>
  </ul>
  <div class="copyright">
    <div><%= t('view.footer.copyright') %><%= t('view.footer.record') %></div>
  </div>
</footer>