<header class="nav-live">
  <div class="container live-big">
    <div class="row">
      <%= link_to image_tag("live-logo.png"), home_path %>
      <% if params[:action] == 'replay' || params[:controller] == 'live_studio/video_lessons' %>
        <p>
          <span><%= @lesson.try(:name) %></span>
        </p>
      <% else %>
        <p>
          <span id='live-name'><%= @course.current_lesson.try(:name) %></span>
          <em><%= LiveStudio::Course.human_attribute_name(:watchers_count) %> <strong id='team-online-count'>0</strong></em>
        </p>
      <% end %>
      <%= render 'layouts/v1/login_info' %>
    </div>
  </div>
</header>
