<!DOCTYPE html>
<html lang="cn">
  <head>
    <title>Qatime</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <%= stylesheet_link_tag "v1/application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "v1/application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheet %>
  </head>
  <body>
    <div style='display:none;'>
      <%= image_tag 'app-logo.png' %>
    </div>
    <%= render 'layouts/v1/header' %>
    <%= render 'layouts/v1/nav' %>
    <%= render 'shared/pay_password_warning' if current_user && current_user.student_or_teacher? && !current_user.try(:cash_account_password?) %>
    <%= render 'shared/flash_msg' %>

    <%= yield %>

    <%= yield :share_to %>

    <%= render 'layouts/v1/front_footer' %>
    <%= yield :mask %>
    <%= yield :javascript %>
  </body>
</html>
