<!DOCTYPE html>
<html lang="cn">
  <head>
    <title>Qatime</title>
    <meta name="renderer" content="webkit">
    <%= stylesheet_link_tag "v1/application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "v1/application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheet %>
  </head>
  <body>
    <%= render 'layouts/v1/header' %>
    <%= render 'layouts/v1/nav' %>
    <%= render 'shared/pay_password_warning' if current_user && current_user.student_or_teacher? && !current_user.try(:cash_account_password?) %>
    <%= render 'shared/flash_msg' %>

    <div class="common-space">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= render partial: 'layouts/v1/sidebars/faqs' %>
          </div>
          <div class="col-md-9">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/v1/front_footer' %>
    <%= yield :mask %>
    <%= yield :javascript %>
  </body>
</html>
