<div class="row" style="padding:10px 36px 10px 36px;border-bottom: 1px solid #e2e2e2">
  <div class="col-md-1">
    <%= register_code_counter + 1 %>
  </div>
  <div class="col-md-3">
    <%= link_to register_code.value  %>
  </div>
  <div class="col-md-4">
   <%= register_code.school.try(:name) %>
  </div>
  <div class="col-md-2">
    <%= register_code.state %>
  </div>
  <div class="col-md-2">
    <%= register_code.teacher.try(:name) %>
  </div>
</div>