
<tr>
  <td><%= show_index(index, @change_records.limit_value) %></td>
  <td><%= number_to_currency(change_record.different, locale: :cn) %></td>
  <td>
    <% if change_record.type == 'Payment::WithdrawRefundRecord' %>
      <%= t('view.shared.workstations.change_records.withdraw_refund_record') %>
    <% else %>
      <%= change_record.target.try(:model_name).try(:human) %>
      <% if "Payment::PublishPercentItem" ==  change_record.business_klass -%>
        <%= Payment::EarningRecord.human_attribute_name(:publish_earning) %>
      <% elsif "Payment::SellPercentItem" ==  change_record.business_klass -%>
        <%= Payment::EarningRecord.human_attribute_name(:sell_earning) %>
      <% end -%>
    <% end %>
  </td>
  <td><%= number_to_currency(change_record.after, locale: :cn) %></td>
  <td>
    <% if change_record.target_type == 'Payment::Course' %>
      <%= link_to change_record.target.try(:name), live_studio.course_path(change_record.target || 0) %>
    <% elsif change_record.type == 'Payment::WithdrawRefundRecord' %>
      <%= t('view.shared.workstations.change_records.withdraw_refund_record_name') %>
    <% else %>
      <%= change_record.target.try(:name) %>
    <% end %>
  </td>
  <td><%= localize(change_record.created_at, format: :long) %></td>
  <td>
    <%= link_to get_billing_item_station_workstation_path(@workstation, change_record_id: change_record.id), class: "pointer billing_item change_record_#{change_record.id}", data: {change_record_id: change_record.id} do %>
      <span><%= t('view.shared.workstations.change_records.show_link') %></span>
      <i class="fa fa-angle-down"></i>
    <% end %>
  </td>
</tr>

<tr class="admin-record-msg" id="change_record_tr_<%= change_record.id %>"></tr>