
<div class="assess-tab">
  <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <th><%= t('common.index_no') %></th>
      <th><%= t("view.shared.workstations.change_records.expend_money#{'_in' if params[:from] == 'in'}") %></th>
      <th><%= t("view.shared.workstations.change_records.expend_type#{'_in' if params[:from] == 'in'}") %></th>
      <th><%= t("view.shared.workstations.change_records.expend_balance#{'_in' if params[:from] == 'in'}") %></th>
      <th><%= t("view.shared.workstations.change_records.expend_info#{'_in' if params[:from] == 'in'}") %></th>
      <th><%= t('view.common.time') %></th>
      <th><%= t('common.operate') %></th>
    </tr>

    <% @change_records.each_with_index do |change_record, index| %>
      <%= render partial: "shared/workstations/change_record#{'_in' if params[:from] == 'in'}_tr", locals: {change_record: change_record, index: index} %>
    <% end %>

    </tbody>
  </table>

  <%= render 'shared/blank' if @change_records.blank? %>
  <center><div class="pagination-fix"><%= will_paginate @change_records, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
</div>

<script type="text/javascript">
  $(function(){
    $(document).on('click', '.billing_item', function(event){
      event.preventDefault();
      var url = $(this).attr('href');
      var change_record_id = $(this).data('change-record-id');

      if($(this).find("i").attr("class") == "fa fa-angle-down") {
        $(this).find("span").html("<%= t('view.shared.workstations.change_records.hide_link') %>");
        $(this).find("i").attr("class", "fa fa-angle-up");
      } else {
        $(this).find("span").html("<%= t('view.shared.workstations.change_records.show_link') %>");
        $(this).find("i").attr("class", "fa fa-angle-down");
      }

      if($('#ajax_complete_' + change_record_id).length == 0){
        $.post(url);
      }
      $('#change_record_tr_' + change_record_id).toggle();
    });
  });

  // change_record_tr.html.erb 不走ajax
  $(function() {
    $(".operation a.view-msg").click(function() {
      var index = $(".operation a.view-msg").index($(this));
      $(".assess-msg").eq(index).toggle();
      if($(this).find("i").attr("class") == "fa fa-angle-down") {
        $(this).find("span").html("<%= t('view.shared.workstations.change_records.hide_link') %>");
        $(this).find("i").attr("class", "fa fa-angle-up");
      } else {
        $(this).find("span").html("<%= t('view.shared.workstations.change_records.show_link') %>");
        $(this).find("i").attr("class", "fa fa-angle-down");
      }
    });
  });
</script>