<% fund_node ||= false %>

<div class="moneydetails">
  <ul>
    <li>
      <span><%= t('view.shared.workstations.fund.amount') %></span>
      <span><%= number_to_currency(workstation.cash_account.try(:balance).to_f) %></span>
      <i><%= t('view.shared.workstations.fund.amount_i') %></i>
    </li>
    <li>
      <span><%= t('view.shared.workstations.fund.caution_money') %></span>
      <span><%= number_to_currency(workstation.cash_account.try(:deposit_balance).to_f) %></span>
      <i><%= t('view.shared.workstations.fund.caution_money_i') %></i>
    </li>
    <li>
      <span><%= t('view.shared.workstations.fund.money') %></span>
      <span><%= number_to_currency(workstation.cash_account.try(:balance_left_over).to_f) %></span>
      <i><%= t('view.shared.workstations.fund.money_i') %></i>
    </li>
    <li>
      <ul class="withdrawal-list">
        <li>
          <span><%= t('view.shared.workstations.fund.withdraw_money') %></span>
          <span><%= number_to_currency(workstation.available_account.try(:balance).to_f) %></span>
          <% if fund_node %>
            <a data-toggle="modal" data-target="#withdrawModal" href="#"><%= t('view.shared.workstations.fund.withdraw_btn') %></a>
          <% end %>
          <i><%= t('view.shared.workstations.fund.withdraw_money_i') %></i>
        </li>
        <%= render partial: 'shared/workstations/fund_node', locals: {workstation: workstation} if fund_node %>
      </ul>
      <ul class="withdrawal-not">
        <li>
          <span><%= t('view.shared.workstations.fund.unwithdraw_money') %></span>
          <span><%= number_to_currency(workstation.percent_item_amount) %></span>
          <i><%= t('view.shared.workstations.fund.unwithdraw_money_i') %></i>
        </li>
        <li>
          <span><%= t('view.shared.workstations.fund.published_money') %></span>
          <span><%= number_to_currency(workstation.percent_item_amount(business_type: 'Payment::PublishPercentItem')) %></span>
          <i><%= t('view.shared.workstations.fund.published_money_i', state: '未考核') %></i>
        </li>
        <li>
          <span><%= t('view.shared.workstations.fund.sell_money') %></span>
          <span><%= number_to_currency(workstation.percent_item_amount(business_type: 'Payment::SellPercentItem')) %></span>
          <i><%= t('view.shared.workstations.fund.sell_money_i', state: '未考核') %></i>
        </li>
      </ul>
    </li>
  </ul>
</div>
<%= yield :node_modal if content_for?(:node_modal) %>