<% workstation.withdraws.not_close.each do |withdraw| %>
  <li class="withdraw_<%= withdraw.id %>">
    <div class="withdrawal-list-line">
      <span><%= t('view.shared.workstations.fund_node.withdraw') %></span>
      <span><%= number_to_currency(withdraw.amount, locale: :cn) %></span>
      <span>（<%= withdraw.payee %>）</span>
      <i><%= withdraw.status_text(withdraw.pay_type) %></i>
    </div>
    <div class="withdrawal-list-line">
      <span></span>
      <span><%= t('view.shared.workstations.fund_node.operate_time', time: localize(withdraw.updated_at, format: :long)) %></span>
      <% if withdraw.can_close? && (allow? 'station/workstations', :withdraw, workstation) %>
        <%= link_to t('view.common.close'), close_withdraw_station_workstation_path(workstation, withdraw_id: withdraw.id), data: {confirm: t('view.shared.workstations.fund_node.close_confrim'), method: :post, remote: true} %>
      <% end %>
    </div>
  </li>
<% end %>

<% content_for :node_modal do %>
  <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-apply">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= t('view.shared.workstations.fund_node.new_withdraw') %></h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'shared/workstations/modal_form', locals: {workstation: @workstation} %>
        </div>
      </div>
    </div>
  </div>
<% end %>