<li>
  <div class="withdrawal-list-line">
    <span><%= t('view.shared.workstations.fund_node.withdraw') %></span>
    <span><%= t('view.shared.workstations.fund_node.withdraw_text', price: 20000.0) %></span>
    <span>（王思洋6222 0202 0011 7484 532）</span>
    <i>等待审核</i>
    <!--<i>等待转款</i>-->
    <!--<i>已转款</i>-->
  </div>
  <div class="withdrawal-list-line">
    <span></span>
    <span><%= t('view.shared.workstations.fund_node.operate_time', time: '2016-12-13 15:13:14') %></span>
  </div>
</li>
<li>
  <div class="withdrawal-list-line">
    <span><%= t('view.shared.workstations.fund_node.withdraw') %></span>
    <span><%= t('view.shared.workstations.fund_node.withdraw_text', price: 20000.0) %></span>
    <span>（王思洋6222 0202 0011 7484 532）</span>
    <i>提现被拒</i>
  </div>
  <div class="withdrawal-list-line">
    <span></span>
    <span><%= t('view.shared.workstations.fund_node.operate_time', time: '2016-12-13 15:13:14') %></span>
    <a href="#"><%= t('view.common.close') %></a>
  </div>
</li>

<% content_for :node_modal do %>
  <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-apply">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">申请提现</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName1">申请提现金额</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="当前可提现最大金额￥1333.00">
              <span class="unit">元</span>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-group payee-information">
              <label for="exampleInputName2">填写收款人信息</label>
              <textarea id="exampleInputName2" class="form-control" rows="3" placeholder="格式：收款人姓名+空格+收款人账号"></textarea>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">手机校验码</label>
              <div class="input-group">
                <input type="text" class="form-control" id="exampleInputName1" placeholder="输入收到的手机校验码">
									<span class="input-group-btn">
                                 <input type="button" class="btn btn-default" value="发送校验码">
                            </span>
                <span class="prompt-information">(为确保账户资金安全，仅限经理本人进行操作)</span>
              </div>
              <span class="help-block has-error"></span>
            </div>
          </form>
          <div class="workstation-submit">
            <center>
              <a class="btn btn-default" href="#" role="button">取消</a>
              <input class="btn btn-default" type="submit" value="提交">
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>