<div class="workstation-setup">
  <h4><%= t('view.shared.workstations.info.base_title') %></h4>
  <ul>
    <li>
      <span><%= t('view.shared.workstations.info.name') %></span>
      <span><%= workstation.name %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.coupon_code') %></span>
      <span><%= workstation.coupon.try(:code) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.city') %></span>
      <span><%= workstation.city.try(:name) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.manager') %></span>
      <span><%= workstation.manager.try(:name) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.address') %></span>
      <span><%= workstation.address %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.tel') %></span>
      <span><%= workstation.tel %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.qq') %></span>
      <span><%= workstation.qq %></span>
    </li>
  </ul>
</div>

<div class="workstation-setup">
  <h4><%= t('view.shared.workstations.info.second_title') %></h4>
  <ul>
    <li>
      <span><%= t('view.shared.workstations.info.join_price') %></span>
      <span><%= t('view.shared.workstations.info.join_price_text', price: workstation.join_price.to_f) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.caution_money') %></span>
      <span><%= t('view.shared.workstations.info.caution_money_text', price: workstation.caution_money.to_f) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.platform_percentage') %></span>
      <span><%= number_to_percentage(workstation.platform_percentage, precision: 0) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.publish_percentage') %></span>
      <span><%= number_to_percentage(workstation.publish_percentage, precision: 0) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.service_price') %></span>
      <span><%= t('view.shared.workstations.info.service_price_text', price: workstation.service_price.to_f) %></span>
    </li>
    <li>
      <span><%= t('view.shared.workstations.info.contract_date') %></span>
      <span><%= t('view.shared.workstations.info.contract_date_text', start: workstation.contract_start_date_at.try(:to_date), end: workstation.contract_end_date_at.try(:to_date)) %></span>
    </li>
  </ul>
</div>