<div class="admin-sales">
  <div class="sales-title"><%= t('view.shared.workstations.statistics.pic_title') %></div>
  <div class="sales-statistics">
    <div class="sales-statistics-title">
      <div class="statistics-title-left">
        <%= select_tag :statistics_days, options_for_select(Payment::Transaction.statistics_days.options, params[:statistics_days]),
                       data: {url: "?#{params.to_query}"} %>
      </div>
      <div class="statistics-title-right">
        <span>
          <i><%= t('view.shared.workstations.statistics.sale_count') %></i>
          <i><%= number_to_currency(@sales_total, precision: 0) %></i>
        </span>
      </div>
    </div>
  </div>
  <%= echarts_line('main', {xAxis: { type: 'category', boundaryGap: false, name: t('view.common.time'), data: @x_cate },
                            yAxis: { type: 'value', name: t('view.shared.workstations.statistics.sale_total'), splitLine: { show: false } },
                            series: { name: t('view.shared.workstations.statistics.sale_total'), data: @series_data } }) %>
  <div class="admin-sales-record">
    <div class="sales-record-title">
      <%= link_to t('view.shared.workstations.statistics.order_title'),
                  "?#{params.reject{|k,v| k == 'page'}.merge(genre: 'order').to_query}",
                  class: "#{'active' if params[:genre] == 'order'}" %>
      <span>|</span>
      <%= link_to t('view.shared.workstations.statistics.refund_title'),
                  "?#{params.reject{|k,v| k == 'page'}.merge(genre: 'refund').to_query}",
                  class: "#{'active' if params[:genre] == 'refund'}" %>
    </div>

    <div class="sales-record-con">
      <%= render partial: "shared/workstations/statistics_#{params[:genre]}_table" if %w[order refund].include?(params[:genre]) %>
    </div>
  </div>

  <center>
    <div class="pagination-fix">
      <%= will_paginate @statistics %>
    </div>
  </center>
</div>

<script type="text/javascript">
  $(function(){
    $(document).on('change', '#statistics_days', function(event) {
      var url = $(this).data('url'),
          select_day = $(this).val();
      if (url.indexOf('statistics_days') > 0) {
        url = url.replace(/statistics_days=.*/g, "statistics_days=" + select_day);
      }else if( url.indexOf('?') > 0 ){
        url = url + '&statistics_days=' + select_day;
      }else{
        url = url + '?statistics_days=' + select_day;
      }
      window.location.href = url;
    })
  });
</script>