<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><%= t('common.index_no') %></th>
    <th><%= t('view.shared.workstations.statistics.course_name') %></th>
    <th><%= t('view.shared.workstations.statistics.sale_price') %></th>
    <th><%= t('view.shared.workstations.statistics.course_price') %></th>
    <th><%= t('view.shared.workstations.statistics.coupon_price') %></th>
    <th><%= t('view.shared.workstations.statistics.sale_at') %></th>
    <th><%= t('view.shared.workstations.statistics.user_name') %></th>
    <th><%= t('view.shared.workstations.statistics.source') %></th>
  </tr>

  <% @statistics.each_with_index do |order, index| %>
    <tr>
      <td><%= show_index(index, @statistics.limit_value) %></td>
      <td>
        <%= link_to order.product.try(:name), live_studio.course_path(order.product || 0) %>
      </td>
      <td><%= number_to_currency(order.amount.to_f, locale: :cn) %></td>
      <td><%= number_to_currency(order.product.try(:price).to_f, locale: :cn) %></td>
      <td><%= number_to_currency(order.cheap_price, locale: :cn) %></td>
      <td><%= localize(order.pay_at, format: :long) %></td>
      <td><%= order.user.try(:name) %></td>
      <td><%= order.source_text %></td>
    </tr>
  <% end %>
</table>