<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><%= t('common.index_no') %></th>
    <th><%= t('view.shared.workstations.statistics.refund_price') %></th>
    <th><%= t('view.shared.workstations.statistics.sale_price') %></th>
    <th><%= t('view.shared.workstations.statistics.course_name2') %></th>
    <th><%= t('view.shared.workstations.statistics.refund_at') %></th>
    <th><%= t('view.shared.workstations.statistics.sale_at') %></th>
    <th><%= t('view.shared.workstations.statistics.user_name') %></th>
    <th><%= t('view.shared.workstations.statistics.source') %></th>
  </tr>

  <% @statistics.each_with_index do |refund, index| %>
    <tr>
      <td><%= show_index(index, @statistics.limit_value) %></td>
      <td><%= number_to_currency(refund.amount.to_f, locale: :cn) %></td>
      <td><%= number_to_currency(refund.order.try(:amount).to_f, locale: :cn) %></td>
      <td>
        <%= link_to refund.product.try(:name), live_studio.course_path(refund.product || 0) %>
      </td>
      <td><%= localize(refund.pay_at, format: :long) %></td>
      <td><%= localize(refund.order.pay_at, format: :long) if refund.order %></td>
      <td><%= refund.user.try(:name) %></td>
      <td><%= refund.source_text %></td>
    </tr>
  <% end %>
</table>