<div class="panel panel-default">
  <div class="panel-heading">
    <h4>创建新邀请</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@inviation) do |f|%>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="col-md-3 text-right">
          填写被邀请人:
        </div>
        <div class="col-md-7">
          <%= f.input :parent_phone, label: false, placeholder:'填写想要邀请的老师的手机号', input_html: {value: @old_inviation.try(:user_phone)}%>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3 text-right">
          设置老师分成:
        </div>
        <div class="col-md-7">
          <%= f.input :teacher_percent, label: false, placeholder:'请填入老师获得的分成比例', input_html: {min: 0, max: 100, value: @old_inviation.try(:teacher_percent)} %>
        </div>
        <div class="col-md-1">%</div>

        <div class="col-md-3 text-right">
          设置有效期限:
        </div>
        <div class="col-md-7">
          <%= f.input :expited_day, label: false, placeholder:'请设置邀请的有效期限,逾期后将自动失效', input_html: {min: 0, value: @old_inviation.try(:expited_day_display)} %>
        </div>
        <div class="col-md-1">天</div>

        <div class="col-md-3"></div>
        <div class="col-md-7">
          <div class="form-actions">
            <%= f.button :submit, '立即发送', class: "btn btn-default" %>
            <%=link_to '取消', manager_inviations_path, class: 'btn btn-default'%>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
