<tr>
  <td>
    <%= inviation.user.try(:name) %>(<%= inviation.user.try(:parent_phone)%>)
  </td>
  <td>
    <%= inviation.user.try(:subject)%>
  </td>
  <td>
    <%= inviation.teacher_percent%>%
  </td>
  <td>
    <%= inviation.created_date_display%>
  </td>
  <td>
    <%= inviation.expited_at_display%>
  </td>
  <td>
    <%= inviation.status_text%>
  </td>
  <td>
  </td>
</tr>
