<div class="row qa_big_cell">
  <div class="col-md-2"><%= teacher_item.title %></div>
  <div class="col-md-2"><%= image_tag teacher_item.logo_url, size: '16x16' %></div>
  <div class="col-md-2"><%= link_to teacher_item.target.name, main_app.teacher_path(teacher_item.target) %></div>
  <div class="col-md-1"><%= teacher_item.try(:index) %></div>
  <div class="col-md-1"><%= teacher_item.city.try(:name) %></div>
  <div class="col-md-2">
    <%= link_to '编辑', send(current_user.admin? ? "edit_admin_teacher_item_path" : "edit_manager_item_path",teacher_item) %>
    <%= link_to '删除', send(current_user.admin? ? "admin_teacher_item_path" : "manager_item_path",teacher_item), method: :delete, data: {confirm: 'Are you sure?'}%>
  </div>
</div>
