<tr>
  <td><%= teacher_item.title %></td>
  <td><%= image_tag teacher_item.logo %></td>
  <td><%= teacher_item.target.name %></td>
  <td><%= teacher_item.index %></td>
  <td>
    <%= link_to 'Edit', edit_admin_teacher_item_path(teacher_item) %> |
    <%= link_to 'Destroy', [:admin, teacher_item], method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>