<li>
  <div class="row">
    <div class="col-md-2 col-sm-2 seria-number">
      <span><%= show_index(syllabus_counter, @syllabuses.limit_value) %></span>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-10 seria-msg">
      <h4>
        <%= link_to syllabus.title, syllabus_directory_path(syllabus, syllabus.get_root_dir) %>
      </h4>
      <p><%= t('view.course_library/syllabus.index.description', desc: syllabus.description) %></p>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-2 seria-operate">
      <%= link_to t('common.editor_toolbar_edit'), edit_teacher_syllabus_path(syllabus.author,syllabus) %>
      <% if allow? "course_library/syllabuses", :destroy, @syllabus %>
        <%= link_to t('common.delete'), teacher_syllabus_path(syllabus.author,syllabus), data: {method: :delete, confirm: t('view.course_library/syllabus.index.confirm')} %>
      <% end %>
    </div>
  </div>
</li>