<div class="contains">
  <div class="contains-title">
    <h3><%= t('view.course_library/syllabus.index.title') %></h3>
    <%= link_to new_teacher_syllabus_path(@teacher) do %>
      <%= image_tag 'addclass.png' %>
      <span><%= t('view.course_library/syllabus.index.new') %></span>
    <% end %>
  </div>

  <ul class="manage-list prepare-list">
    <%= render partial: 'syllabus', collection: @syllabuses %>
  </ul>

  <%= render 'shared/blank' if @syllabuses.blank? %>
  <center><div class="pagination-fix"><%= will_paginate @syllabuses, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
</div>