<div class="qa_box">
  <div class="qa_big_cell">
    <%=CourseLibrary::Syllabus.model_name.human%>列表
  </div>
  <table class="table">
    <tr>
      <td width="30%"><%=CourseLibrary::Syllabus.human_attribute_name(:title)%></td>
      <td><%=@syllabus.title%></td>
    </tr>
    <tr>
      <td><%=CourseLibrary::Syllabus.human_attribute_name(:description)%></td>
      <td><%=@syllabus.description %></td>
    </tr>
    <tr>
      <td>操作</td>
      <td>
        <%=link_to '编辑'       ,edit_syllabus_path(@syllabus) %>
        <%=link_to 'destory'    ,syllabus_path(@syllabus),method: :delete ,'data-confirm' => 'Are you sure?' %>

      </td>
    </tr>

  </table>
</div>