<div class="qa_object_item" style="clear: both;">
  <div style="float:left">
  <%= image_tag "#{notification.logo_image}", class: "img-responsive" %>
  </div>

  <div class="title">
    <% if notification.read %>
      <span class="label label-default"><%= I18n.t "view.notification.read" %></span>
    <% else %>
      <span class="label label-danger"><%= I18n.t "view.notification.unread" %></span>
    <% end %>
    <%= t("view.notification.live_studio_lesson.#{notification.action_name}", lesson_name: notification.notificationable.name, start_time: localize(notification.notificationable.start_at, format: :short)) %>
    <% if @receiver.student? -%>
      <%= link_to t("view.course_show.info"), notification_path(notification, rt: live_studio.student_course_path(@receiver, notification.notificationable)) %>
    <% elsif @receiver.teacher? -%>
      <%= link_to t("view.course_show.info"), notification_path(notification, rt: live_studio.teacher_course_path(@receiver, notification.notificationable)) %>
    <% else -%>
      <%= link_to t("view.course_show.info"), notification_path(notification, rt: live_studio.manager_course_path(@receiver, notification.notificationable)) %>
    <% end -%>
  </div>
  <div class="info">
    <%= localize(notification.created_at, format: :long) %>
  </div>
</div>
