<%=link_to group_path(group) do %>
    <div class="col-md-6">
      <div class="card-ex-big card-white group" style="color:#666 ;">
        <div class="info">
          <div class="left">
            <div><span class="subject"><%=group.subject %></span> <span><%=group.name %></span></div>
            <div class="qa_sep_15"></div>
            <div class="qa_f12 row">
              <div class="col-md-3">
                <span class="glyphicon glyphicon-user"></span>
                <span> <%=group.teacher.name%></span>
              </div>
              <div class="col-md-9">
                <span class="glyphicon glyphicon-th-list"></span>
                <%= group.courses_count %> 课
              </div>
            </div>
            <div class="qa_sep_5"></div>
            <div class="qa_sep_5"></div>

            <div class="qa_f12 row">
              <div class="col-md-3">
                <span class="glyphicon glyphicon-book"></span>
                <span><%=group.grade %></span>
              </div>
              <div class="col-md-9">
                <span class="glyphicon glyphicon-home"></span>
                <span> <%= group.teacher.school.name %></span>
              </div>
            </div>
          </div>

          <div class="right">
            <div class="teacher">
              <%= image_tag group.teacher.avatar.small ,class:"img-circle"%>
            </div>
            <div class="student">
              <span class="qa_f30">33</span>
              <div class="qa_f12" style="color:gainsboro;font-weight: lighter">人参与学习</div></div>
          </div>
        </div>
      </div>
      <div class="qa_sep_15"></div>
    </div>
<% end %>