<div class="col-md-9 group">
  <%= render partial: 'group_header' %>
  <div class="row">
  <div class="qa_f12">
    <% @catalogue_courses.each do |course| %>
    <div class="col-md-4">
        <%= render partial: 'course',locals: {course: course} %>
    </div>
    <% end %>
  </div>
  </div>
</div>
<div   class="col-md-3">
  <div class="qa_box">
      <div class="qa_cell box_header qa_f12">
        <strong>讲师简介</strong>
      </div>
      <div class="qa_cell qa_f12">
        <div style="overflow-wrap: break-word">
          <%= @group.teacher.desc %>
        </div>
      </div>
  </div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_box">
    <div class="qa_cell box_header qa_f12">
      <strong><%=link_to '全部课程',group_path(@group) %></strong>
    </div>
    <% @group.group_type.group_catalogues.order(index: :asc).each_with_index do |record,index| %>
        <div class="qa_cell qa_f12">
          <div><strong><%= "#{index+1}.  " %><%="#{record.name}"%></strong></div>
          <% record.get_courses(@courses).each_with_index do |course,i| %>
            <div style="padding-left: 15px"><%=link_to "#{index+1}.#{i+1} #{course.name} (#{course.lessons_count}讲)",course_path(course)%></div>
          <% end %>
        </div>

    <% end %>
  </div>
  <!--div class="qa_box">
    <div class="qa_cell box_header qa_f12">
      <strong>最新加入的同学</strong>
    </div>
        <% @group.student_join_group_records.order(created_at: :desc).limit(10).each do |record| %>
            <div class="qa_cell qa_f12">
              <div class="pull-left">
                <%=image_tag record.student.avatar.small %>
              </div>
              <div class="pull-left" style="padding-left: 10px ">
                 <div>
                   <strong><%= record.student.name %></strong>
                 </div>
                 <div>
                   <strong>
                     <%= record.created_at.strftime("%Y-%m-%d") %> 加入
                   </strong>
                 </div>
              </div>
              <div style="clear: both"></div>
            </div>
        <% end %>
    </div-->
</div>