<li class="col-md-3 col-xs-6">
  <%= link_to live_studio.send("#{course.model_name.singular_route_key}_path", course) do %>
    <%= image_tag course.publicize_url(:list), class: 'handle_error_list' %>
  <% end %>
  <div class="handpick-info">
    <p>
      <%= link_to live_studio.send("#{course.model_name.singular_route_key}_path", course) do %>
        <strong><%= truncate_u(course.name, length: 15) %></strong>
      <% end %>
    </p>
    <p>
      <span><%= course.grade %><%= course.subject %></span>
      <span class="class-price"><%= number_to_currency(course.current_price) %></span>
    </p>
  </div>
  <div class="classify-info">
    <p>
      <span><%= t('common.teacher') %>：<i><%= truncate_u course.teacher_name, length: 6 %></i><em>|</em><i><%= t('view.course_show.buy_user_count_text', count: course.buy_user_count) %></i></span>
    </p>
  </div>
</li>