<li>
  <div class="row">
    <div class="col-md-3 discipline-pic">
      <%= link_to image_tag(course.publicize_url(:list), class: 'handle_error_list'), live_studio.course_path(course), target: '_blank' %>
    </div>
    <div class="col-md-7 discipline-info">
      <div class="row info-title">
        <div class="col-md-12">
          <%= link_to live_studio.course_path(course), target: '_blank' do %>
            <strong><%= course.name %></strong>
          <% end -%>
        </div>
      </div>
      <div class="row info-state">
        <div class="col-md-7">
          <span><%= LiveStudio::Course.human_attribute_name(:grade) %></span>
          <span><%= course.grade %></span>
        </div>
        <div class="col-md-5">
          <span><%= LiveStudio::Course.human_attribute_name(:lessons_progress) %></span>
          <span><%= course.finished_lessons_count %>/<%= course.lessons_count %></span>
        </div>
      </div>
      <div class="row info-user">
        <div class="col-md-7">
          <span><%= LiveStudio::Course.human_attribute_name(:price) %></span>
          <span><%= number_to_currency(course.price, unit: "￥", precision: 2) %></span>
          <i>(<%= number_to_percentage(course.teacher_percentage, precision: 0) %><%= LiveStudio::Course.human_attribute_name(:percentage) %>)</i>
        </div>
        <div class="col-md-5">
          <span><%= LiveStudio::Course.human_attribute_name(:students_count) %></span>
          <span><%= course.buy_tickets_count %></span>
        </div>
      </div>
    </div>
    <div class="col-md-2 course-state">
      <span class="col-md-12 col-sm-4 col-xs-4"><%= course.status.text %></span>
      <%= link_to t("common.announcement"), live_studio.course_announcements_path(course), class: 'col-md-12 col-sm-4 col-xs-4' if %w[published teaching].include?(course.status) %>
    </div>
  </div>
