<div class="info-body">
  <div class="info-publicize">
    <%= image_tag @course.publicize_url(:info),id: 'course_publicize_preview' %>
    <%= content_tag(:div, class: '') do %>
      <%= f.file_field :publicize, label: false, style: "display:none;", onchange: 'showimagepreview(this)' %>
      <a href="javascript:void(0);" class="btn" id="select_publicize_btn"><%= t "view.teacher_course.publicize" %></a>
      <br/>
      建议：<br/>
      图片比例 4:3，<br/>
      图片格式为jpeg或png，<br/>
      图片大小不大于100KB，<br/>
      禁止上传涉及恐怖、暴力、血腥、色情、政治类图片
      <script>
        $("#select_publicize_btn").on('click',function(event){
          $("#course_publicize").click();
        })
        function showimagepreview(input){
          if (input.files && input.files[0]) {
            var filerdr = new FileReader();

            filerdr.onload = function(e) {
              $('#course_publicize_preview').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
          }
        }
      </script>
    <% end if action_name == 'edit'%>
  </div>
  <div class="info-content">
    <table class="table table-hover">
      <%= content_tag :tr do %>
      <td colspan="2">
        <%= t('view.teacher_course.course_name') %>
        <%= f.text_field :name ,class: 'form-control'%>
      </td>
      <% end if action_name == 'edit' %>
      <tr>
        <td><%= t('view.course_info_show.subject') %><%= @course.subject %></td>
        <td><%= t('view.course_info_show.grade') %><%= @course.grade %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.course_info_show.teacher') %><%= @course.teacher.name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('view.course_info_show.lesson_count') %>
          <%= @course.preset_lesson_count if action_name != 'edit'%>
          <%= f.text_field :preset_lesson_count ,class: 'lesson_price_item' if action_name == 'edit'%>
        </td>
        <td><%= t('view.course_info_show.schedule') %>
          <%= @course.completed_lesson_count%>/<span class="lesson-count-set"><%= @course.preset_lesson_count %></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.course_info_show.surplus') %>
          <span class="lesson-count-set"><%= @course.lesson_count_left %></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.course_info_show.start_time') %>
          <%= @course.live_start_time %>
          <%= t('view.course_info_show.time_tips') if action_name == 'edit'%>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.course_info_show.end_time') %>
          <%= @course.live_end_time %>
          <%= t('view.course_info_show.time_tips') if action_name == 'edit'%>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('view.teacher_course.price_unit')%>
          <%= @course.price.round(2) if action_name != 'edit'%>
          <%= f.text_field :price, class: 'lesson_price_item' if action_name == 'edit'%>
        </td>
        <td>
          <%= t('view.teacher_course.avg_price')%>
          <span class="price-set"><%= (@course.price / @course.preset_lesson_count).round(2) %></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.teacher_course.teacher_percentage') % @course.teacher_percentage %>
        </td>
      </tr>

    </table>
  </div>
  <div class="info-intro">
    <div><%= t('view.course_info_show.desc') %></div>
    <%= @course.description if action_name != 'edit'%>
    <%= f.text_area :description, class: 'form-control' if action_name == 'edit' %>
  </div>
  <%= content_tag :div,class: 'text-center info-submit-btn' do %>
    <%= link_to t('view.cancel_btn'),:back, class: 'btn btn-default' %>
    <%= button_tag t('view.save_btn'), class: 'btn btn-default btn-primary' %>
  <% end if action_name == 'edit'%>
</div>
<%= content_tag :div,class: 'announcement-div' do %>
    <div><%= t('view.teacher_course.team_announcement') %></div>
    <div id="show_notice_area">
      <%= @course.chat_team.try(:announcement) %>
      <%= button_tag t('activerecord.view.edit'),class: 'btn btn-xs btn-success', id: 'edit_notice_btn' if action_name != 'edit' %>
    </div>

    <div id="edit_notice_area" style="display:none;">
      <%= simple_form_for(@course.chat_team.team_announcements.new, url: update_notice_course_path(@course), html: {id: "edit_notice_form"}) do |sf| %>
        <%= sf.input :announcement, label: false, as: :text, input_html: {size: "60x4", value: "#{@course.chat_team.announcement}"} %>
      <% end %>
      <button type="button" class="btn btn-xs btn-success" id="submit_notice_btn">完成</button>
    </div>
<% end if @course.chat_team.present? %>

<script>
  $(function(){
    $(".lesson_price_item").change(function(){
      var price = parseInt($("#course_price").val());
      var lesson_count = parseInt($("#course_preset_lesson_count").val());
      var lesson_price = lesson_count === 0 ? 0 : price / lesson_count;
      lesson_price = Math.floor(lesson_price);
      console.log(lesson_price);
      console.log("<%= LiveStudio::Course.human_attribute_name(:lesson_price) %>" + lesson_price);
      $('.lesson-count-set').text(lesson_count);
      $('.price-set').text(lesson_price);
    });
  });
</script>