<%
   lesson = f.object
   object_id = f.object.object_id
   index = f.index + 1
   lesson.start_time_hour = nil
   lesson.start_time_minute = nil
%>
<tr>
  <td class="class-num"><span><%= index < 10 ? "0#{index}" : index%></span></td>
  <td class="create-td">
    <p class="create-time">
      <span>上课时间：</span><span><%= lesson.class_date %></span><span><%= "#{lesson.start_time}-#{lesson.end_time}" %></span>
      <span class="active">&lt;修改为&gt;</span>
      <span class="active" id="class_date_<%= object_id %>"><%= lesson.class_date %></span>
      <span class="active" id="start_time_<%= object_id %>"><%= "#{lesson.start_time}-#{lesson.end_time}" %></span>
    </p>
    <p class="create-name"><span>课程名称：</span><span><%= truncate(lesson.name, length: 40) %></span></p>
  </td>
  <td>
    <p class="adjust-redact">
      <%= link_to t('activerecord.view.edit'), 'javascript:void(0);', data: {toggle: 'modal',target: "#adjust_edit_#{object_id}"} if lesson.unstart?%>

      <%= lesson.unstart? %>
      <%= lesson.status? %>
    </p>
  </td>
</tr>
<% if lesson.unstart? %>
  <div class="modal fade" id="adjust_edit_<%= object_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="add-popup">
        <div class="popup-title">
          <span>课程名称：<%= truncate(lesson.name, length: 21) %></span>

          <span class="close fa fa-times" data-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="popup-date">
          <div class="original-date">
            <span>原上课日期<i><%= lesson.class_date.to_s %></i></span>
            <span>原开始时间<i><%= lesson.start_time %></i></span>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :duration %>
            <%= f.hidden_field :end_time %>
          </div>
          <div class="now-date">
 	        						<span class="new-date">
 	        						<label for="">新上课日期</label>
                        <%= f.text_field :class_date,as: :string, placeholder: '选择上课日期', onclick: 'testShow(this)',value: '' %>
                        <br>
 	        						<i class="has-error class_date-error-<%= object_id %>"></i>
 	        					</span>
 	        					<span class="newstart-time">
 	        						<label for="">新开始时间</label>
                      <%= f.select :start_time_hour, (0..23).to_a.map{|i| i > 9 ? i : "0#{i}"}.insert(0,['时',nil]) %>
                      <%= f.select :start_time_minute, %w(00 05 10 15 20 25 30 35 40 45 50 55).insert(0, ['分', nil]) %>
                      <i class="has-error start_time-error-<%= object_id %>"></i>
 	        					</span>
          </div>


          <div class="date-btn">
            <center>
              <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close">取消</a>
              <a href="javascript:void(0);" class="btn-datesave save-<%= object_id %>">保存</a>
              <%= hidden_field_tag "modal_click_btn_#{object_id}" %>
              <%= f.input_field :_update, as: :boolean, class: 'hidden' %>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(function () {
    var o_id = '<%= object_id %>';
    var update_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:_update)).at_css('input').attributes['id'].value %>';
    $('.active').hide();

    $('#adjust_edit_' + o_id).on('hide.bs.modal', function() {
      if($('#modal_click_btn_'+o_id).val() == 'save'){
        if(change_save()){
          $('.active').show();
        }else{
          $('#modal_click_btn_'+o_id).val('cancel');
          $(update_id).attr('checked', false);
          return false;
        }
      }
    });

    function change_save(){
      var class_date_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.text_field(:class_date)).at_css('input').attributes['id'].value %>';
      var start_time_hour_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:start_time_hour)).at_css('input').attributes['id'].value %>';
      var start_time_minute_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:start_time_minute)).at_css('input').attributes['id'].value %>';
      var duration_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:duration)).at_css('select').attributes['id'].value %>';
      var hour = $(start_time_hour_id).val();
      var minutes = $(start_time_minute_id).val();
      var duration = $(duration_id).val();
      var class_date = $(class_date_id).val();
      var flag = set_errors(class_date, hour, minutes);
      var start_time = hour + ':' + minutes;
      var end_time = _get_time(hour, minutes, duration)
      if(end_time == false){
        end_time = $('#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:duration)).at_css('select').attributes['id'].value %>').val();
      }
      if(flag){
        $('#class_date_'+o_id).html(class_date);
        $('#start_time_'+o_id).html(start_time + '-' + end_time);
      }
      return flag;
    }

    function set_errors(class_date, hour, minutes){
      var return_flag = true;
      if(class_date.trim() == '' || class_date.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/) == null){
        return_flag = false;
        $('.class_date-error-'+o_id).html('请选择上课日期');
      }else{
        $('.class_date-error-'+o_id).html('');
      }
      if(hour.trim() == '' || minutes.trim() == ''){
        return_flag = false;
        $('.start_time-error-'+o_id).html('请选择开始时间');
      }else{
        $('.start_time-error-'+o_id).html('');
      }
      return return_flag;
    }

    $('.save-'+o_id).click(function(){
      $('#modal_click_btn_'+o_id).val('save');
      $(update_id).attr('checked', true);
      $('#adjust_edit_'+o_id).modal('hide');
    });
  });
</script>