<%= form_tag teacher_lessons_path(course_id: @course),method: :post, id: 'edit_less_form',class: 'duplicate' do %>
  <table class="table table-hover">
    <thead>
    <tr>
      <td><%= t('view.course_info_show.number') %></td>
      <td width="40%" style="text-align: center;"><%= t('view.course_info_show.lesson_start_at') %></td>
      <td style="text-align: center;"><%= t('view.course_info_show.lesson_name') %></td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody id="lesson_body">
    <tr id="lesson-copy">
      <td class="lesson-no"></td>
      <td>
        <div>
          <%
             start_arr = (0..23).to_a.map{|r| ["%02d:00" % r,"%02d:30" % r]}.flatten
             end_arr = start_arr.clone
             end_arr.shift
             end_arr.push('00:00')
          %>
          <%= text_field_tag "new_class_date_", '', type: :date,class: 'form-control lesson-class-date',
                             placeholder: t('view.teacher_course.date_holder'), min: Date.today, max: '2055-01-01' %>
          <%= select_tag "new_start_time_", options_for_select(start_arr,''), class: 'form-control lesson-time' %>
          ~
          <%= select_tag "new_end_time_", options_for_select(end_arr,''), min: Date.today, max: '2055-01-01',
                         class: 'form-control lesson-time' %>
        </div>
      </td>
      <td>
        <%= text_field_tag "new_name_", '', class: 'form-control', placeholder: t('view.teacher_course.lesson_name_holder')%>
      </td>
      <td><a href="javascript:void(0);" onclick="delete_self(this)" class="delete-link"><%= t("activerecord.view.delete") %></a></td>
    </tr>
    <% @course.order_lessons.each_with_index do |lesson,i| %>
      <% can_edit = !lesson.init? && !@course.completed? %>
      <tr class="lesson-<%= lesson.id %>">
        <td><%= i+1 %></td>
        <td>
          <div>
            <%= text_field_tag "class_date_#{lesson.id}", lesson.class_date, type: :date,class: 'form-control lesson-class-date',
                               placeholder: t('view.teacher_course.date_holder'), min: Date.today,max: '2055-01-01', disabled: can_edit %>
            <%= select_tag "start_time_#{lesson.id}", options_for_select(start_arr,time_fmt(lesson.start_time)),
                           class: 'form-control lesson-time', onchange: "set_end_time(this,#{lesson.id})", disabled: can_edit %>
            ~
            <%= select_tag "end_time_#{lesson.id}", options_for_select(end_arr,time_fmt(lesson.end_time)),
                           class: 'form-control lesson-time', onchange: "set_start_time(this,#{lesson.id})", disabled: can_edit %>
          </div>
        </td>
        <td>
          <%= text_field_tag "name_#{lesson.id}", lesson.name, class: 'form-control',  placeholder: t('view.teacher_course.lesson_name_holder'), disabled: can_edit %>
        </td>
        <td>
          <%= link_to(t("activerecord.view.delete"), "javascript:delete_default(#{lesson.id})") if lesson.init? && @course.init? %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if @course.init? %>
    <div class="insert-lesson">
      <%= link_to t('view.insert_btn') % Lesson.model_name.human, 'javascript:void(0);', id: 'insert_lesson' %>
    </div>
  <% end %>
  <%= content_tag :div,class: 'text-center info-submit-btn' do %>
    <%= link_to t('view.cancel_btn'), teacher_course_path(@teacher,@course), class: 'btn btn-default' %>
    <%= button_tag t('view.save_btn'), class: 'btn btn-default btn-primary' %>
  <% end %>
  <%= hidden_field_tag :insert_lesson_list, '' %>
  <%= hidden_field_tag :delete_lesson_list, '' %>
  <%= hidden_field_tag :default_lesson_list, @course.lessons.map(&:id).join(',') %>
<% end %>

<script type="text/javascript" charset="utf-8">
  var lesson_count = <%= @course.lessons.count %>;
  var insert_lesson_list = new Array();
  var delete_lesson_list = new Array();

  $('#edit_less_form').submit(function(){
    var return_flag = true;
    $('#edit_less_form').find('tr[class^=lesson]').find('input').map(function(index,doc){
      if($(doc).val().replace(/(^\s*)|(\s*$)/g, "").length==0){
        return_flag = false;
      }
    });
    var default_lessons = $('#default_lesson_list').val().split(',');
    if(delete_lesson_list.length > 0){
      delete_lesson_list.each(function(i,v){
        default_lessons.splice(default_lessons.indexOf(v),1);
      });
    }
    $(default_lessons).each(function(i,v){
      if(undefined != $('#start_time_'+v).val() && $('#start_time_'+v).val() == $('#end_time_'+v).val())
        return_flag = false;
    });
    $(insert_lesson_list).each(function(i,v){
      if(undefined != $('#start_time_'+v).val() && $('#new_start_time_'+v).val() == $('#new_end_time_'+v).val())
        return_flag = false;
    });
    if(!return_flag){
      alert('<%= t('view.teacher_course.data_holder') %>');
    }
    return return_flag;
  });

  // 添加tr
  $('#insert_lesson').click(function(){
    lesson_count += 1;
    var copy = $('#lesson-copy').clone();
    copy.css('display', 'table-row');
    copy.attr('id', '');
    copy.addClass('lesson-'+lesson_count);
    copy.find('.lesson-no').html(lesson_count);
    insert_lesson_list.push(lesson_count);
    $('#insert_lesson_list').val(insert_lesson_list.join(','));
    $("#lesson_body").append(set_attr(copy, lesson_count));
  });

  // 删除新添tr
  function delete_self(obj){
    lesson_count -= 1;
    var lesson_no = parseInt($(obj).attr('rel'));
    var index = insert_lesson_list.indexOf(lesson_no);
    insert_lesson_list.splice(index, 1);
    $('#insert_lesson_list').val(insert_lesson_list.join(','));
    $(obj).closest('tr').remove();
  }

  // 删除动态tr
  function delete_default(lesson_id){
    lesson_count -= 1;
    if(confirm('<%= t('activerecord.view.message.confirm') %>')){
      delete_lesson_list.push(lesson_id);
      $('#delete_lesson_list').val(delete_lesson_list.join(','));
      $('.lesson-'+lesson_id).closest('tr').remove();
    }
  }

  // 为新tr创建属性
  function set_attr(obj, no){
    var attrs = new Array('new_class_date_', 'new_start_time_', 'new_end_time_', 'new_name_');
    for(var i=0; i < attrs.length; i++){
      $(obj).find('#'+attrs[i]).attr('name', attrs[i]+no);
      $(obj).find('#'+attrs[i]).attr('id', attrs[i]+no);
    }
    $(obj).find('a.delete-link').attr('rel', no);
    $(obj).find('#new_start_time_'+no).bind('change', function(){
      set_end_time(this,no);
    });
    $(obj).find('#new_end_time_'+no).bind('change', function(){
      set_start_time(this,no);
    });
    return obj;
  }
  var time_arr = new Array(<%= ('"'+(0..23).to_a.map{|r| ["%02d:00" % r,"%02d:30" % r]}.flatten.join('","') + '"').html_safe %>);
  var end_time_arr = time_arr.slice();
  end_time_arr.shift();
  end_time_arr.push('00:00');
  function set_end_time(obj,no){
    var start_time = $(obj).val();
    var end_arr = end_time_arr;
    var end_time_id = '#';
    if($(obj).attr('id').split('_')[0] == 'new')
      end_time_id+='new_';
    end_time_id+='end_time_'+no;
    console.log($(obj).val());
    if($(obj).val() != '00:00')
      end_arr = end_time_arr.slice(end_time_arr.indexOf(start_time)+1);
    append_select(end_time_id,end_arr);
  }

  function set_start_time(obj,no){
    var end_time = $(obj).val();
    var start_arr = time_arr.slice(0,time_arr.indexOf(end_time));
    var start_time_id = '#';
    if($(obj).attr('id').split('_')[0] == 'new')
      start_time_id+='new_';
    start_time_id+='start_time_'+no;
    if($(obj).val() != '00:00')
      append_select(start_time_id,start_arr);
  }

  function append_select(obj,arr){
    var optionsAsString = "";
    $(arr).each(function(i,v){
      var option_value = $(obj).val();
      if(option_value == v){
        optionsAsString += "<option value='" + v + "' selected>" + v + "</option>";
      }else{
        optionsAsString += "<option value='" + v + "'>" + v + "</option>";
      }
    });
    $(obj).html(optionsAsString);
  }

</script>
