<h1>
  <%= t('activerecord.view.manage') %><%= ::Course.model_name.human %>
</h1>

<%= simple_form_for [:teacher, @course] do |f|%>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, type: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
<% end %>

<%= link_to t('activerecord.view.select'), @manager_course %> |
<%= link_to t('activerecord.view.back'), manager_courses_path %>
