<div class="qa_box">
  <div class="qa_big_cell">
    <h2>
      <%= t("activerecord.view.edit") %><%= LiveStudio::Course.model_name.human %>
    </h2>
  </div>
</div>

<div class="qa_box">
  <div class="qa_big_cell">
    <%= simple_form_for @course,url: teacher_course_path(@teacher, @course) do |f|%>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :description, type: :text %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>