<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <%= LiveStudio::Course.model_name.human %>
    <%=link_to helps_courses_path do %>
      <button type="button" class="btn btn-xs btn-success">
        <%= t("activerecord.view.helps_course") %>
      </button>
    <% end %>
  </div>
  <!--
  <div class="panel-body">
    <p>...</p>
  </div>
  -->
  <!-- Table -->
  <table class="table">
    <tr>
      <th>#</th>
      <th>辅导班名称</th>
      <th>简介</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    <%= render partial: 'course', collection: @courses %>
  </table>

  <div class="panel-footer">
    <%= will_paginate @courses %>
  </div>
</div>
