<h1><%= @course.name %> <%= t('activerecord.view.info') %></h1>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher.name %>
</p>

<p>
  <strong>Workstation:</strong>
  <%= @course.workstation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= link_to t('activerecord.view.edit'), edit_teacher_course_path(@course) %> |
<%= link_to t('activerecord.view.back'), teacher_courses_path %>
