<h1><%= @course.name %> 详情</h1>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher.name %>
</p>

<p>
  <strong>Workstation:</strong>
  <%= @course.workstation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= link_to 'Edit', edit_teacher_course_path(@course) %> |
<%= link_to 'Back', teacher_courses_path %>
