<div class="qa_box">
  <div class="qa_big_cell">
    <span style="padding-left:10px" class="qa_f18">
      <%= link_to LiveStudio::Course.model_name.human, live_studio.teacher_courses_path %> &gt;
      <strong><%= @course.name %></strong>
    </span>
    <div class="pull-right">
      <% if allow? "live_studio/manager/courses", "edit", @course %>
        <%=link_to edit_manager_course_path(@course) do %>
          <button type="button" class="btn btn-xs btn-success">
            <%= t("activerecord.view.edit") %><%= @course.class.model_name.human %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:name)%></div>
      <div class="col-md-9"><%= @course.name %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:teacher)%></div>
      <div class="col-md-9"><%= @course.teacher_name %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:price)%></div>
      <div class="col-md-9"><%= @course.price %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:description)%></div>
      <div class="col-md-9"><%= @course.description %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:status)%></div>
      <div class="col-md-9"><%= @course.status_text %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Stream.human_attribute_name(:address)%></div>
      <div class="col-md-9"><%= @course.push_stream.try(:address) %>
	<%= link_to "获取直播地址", channel_teacher_course_path(@course), method: :patch, remote: true, id: "sync_channel" unless @course.push_stream  %>
      </div>
    </div>
  </div>
</div>
<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>

<div class="qa_box">
  <div class="qa_big_cell">
    <span style="padding-left:10px" class="qa_f18">
      <strong>课程列表</strong>
      <%=link_to new_teacher_course_lesson_path(@course) do %>
        <button type="button" class="btn btn-xs btn-success">
          <%= t("activerecord.view.create") %><%= LiveStudio::Lesson.model_name.human %>
        </button>
      <% end %>
    </span>
  </div>

  <div>
    <div class="row qa_big_cell">
    <% %w(name se_time date status operate).each do |col| %>
        <div class="col-md-2">
          <%= t("activerecord.view.#{col}") %>
        </div>
    <% end %>
     </div>
     <% @lessons.each do |lesson| -%>
       <div class="row qa_big_cell" id="row-<%= lesson.id %>">
        <div class="col-md-2">
          <%= lesson.name %>
        </div>
        <div class="col-md-2">
          <%= lesson.start_time %> - <%= lesson.end_time %>
        </div>
        <div class="col-md-2">
          <%= lesson.class_date %>
        </div>
        <div class="col-md-2 status">
          <%= lesson.status %>
        </div>
        <div class="col-md-2">
          <% unless lesson.has_finished? %>
            <%= link_to t('activerecord.view.edit'), edit_teacher_course_lesson_path(@course, lesson) %>
            <%= link_to t("activerecord.view.delete"), teacher_course_lesson_path(@course, lesson), method: :delete,
            'data-confirm' => t('activerecord.view.message.confirm') %>
            <%= link_to t("activerecord.view.lesson_ready"), ready_teacher_course_lesson_path(@course, lesson), class: 'ready', method: :patch, remote: true if lesson.ready_for? %>

              <% if lesson.live_start_at.blank? %>
                <%= link_to t("activerecord.view.begin_live_studio"), begin_live_studio_teacher_course_lesson_path(@course, lesson), method: :patch %>
              <% else lesson.live_end_at.blank? %>
                <%= link_to t("activerecord.view.end_live_studio"), end_live_studio_teacher_course_lesson_path(@course, lesson), method: :patch %>
              <% end %>

            <% end %>
          </div>
      </div>
    <% end -%>
  </div>
</div>
