<div class="qa_box panel panel-default panel-support">
  <div class='course-header-div'>
    <strong><%= t('activerecord.view.course') %></strong>
    <%= content_tag(:div, class: 'search-link') do %>
      <%= link_to t("activerecord.view.course_publish"), publish_course_path(@course), method: :patch,
                  class: "btn btn-default btn-xs #{@course.cant_publish? ? 'disabled' : nil}",
                  remote: true, 'data-confirm' => t("view.teacher_course.publish_confirm"),
                  id: "course_publish_btn_#{@course.id}" if @course.init?%>

      <%= link_to t("activerecord.view.update_class_date"), update_class_date_teacher_course_path(@teacher, @course, index: :list), class: "btn btn-default btn-xs" %>
    <% end %>
    <%= render partial: '/live_studio/courses/publish_tips' %>
  </div>
  <div class="course-info-list">
    <a href='#content_info' data-toggle="tab">
      <div id="info_div" class="list-ceil <%= params[:index].blank? || params[:index] == 'info' ? ' active' : nil %>">
        <%= t('view.course_show.info') %>
      </div>
    </a>
    <a href='#lesson_list' data-toggle="tab">
      <div id="list_div" class="list-ceil<%= params[:index] == 'list' ? ' active' : nil %>">
        <%= t('view.course_show.lessons') %>
      </div>
    </a>
  </div>
  <div class="info-header">
    <div class="info-name">
      <strong><%= @course.name %></strong>
    </div>
    <%= content_tag :div, class: "info-subtitle #{params[:index] == 'list' ? 'hide' : nil}" do %>
      <div class="info-status">
        <%= t('view.course_show.status') %>
        <%= @course.status_text %>
      </div>
      <div class="info-preview">
        <%= preview_time(@course,{text2: true}) %>
      </div>
      <div>
        <%= "#{t('view.course_info_show.ticket_count')}#{@course.buy_tickets_count}" %>
      </div>
    <% end %>
    <%= content_tag :div, class: "info-list-subtitle #{params[:index] == 'list' ? nil : 'hide'}" do %>
      <div>
        <%= t('view.course_info_show.lesson_plan') % [@course.live_start_time ,@course.live_end_time] %>
      </div>
      <div>
        <%= "#{t('view.course_info_show.schedule')}#{@course.completed_lesson_count}/#{@course.preset_lesson_count}" %>
      </div>
    <% end %>
    <%= allow_link_to({action: 'edit', url: edit_teacher_course_path(@teacher,@course,index: params[:index]),variable: @course,
                       sub: {class: 'course-buy-btn',id: "edit_btn_#{@course.id}"}}) do %>
        <%= t("activerecord.view.edit") %><%= @course.class.model_name.human %>
    <% end %>
  </div>
  <div class="tab-content">
    <div id="content_info" class="tab-pane fade<%= params[:index].blank? || params[:index] == 'info' ? ' in active' : nil %>">
      <%= render 'course_info' %>
    </div>
    <div id="lesson_list" class="tab-pane fade<%= params[:index] == 'list' ? ' in active' : nil %>">
      <%= render '/live_studio/student/courses/lesson' %>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('.list-ceil').click(function(event){
      $('.list-ceil').removeClass('active');
      $(this).addClass('active');
      if($(this).attr('id') == 'info_div'){
        $('.info-list-subtitle').addClass('hide');
        $('.info-subtitle').removeClass('hide');
      }
      if($(this).attr('id') == 'list_div'){
        $('.info-list-subtitle').removeClass('hide');
        $('.info-subtitle').addClass('hide');
      }
    });
  });
  $(document).ready(function(){
    $("#edit_notice_btn").click(function(event){
      $("#show_notice_area").hide()
      $("#edit_notice_area").show()
    })
    $("#submit_notice_btn").click(function(event){
      $('#edit_notice_form').submit()
      $("#show_notice_area").show()
      $("#edit_notice_area").hide()
    })
  })
</script>
