<div class="panel panel-default">
  <div class="addinvite">
    <div class="addinvite-title">
      <div class="addinvite-title-left">
        <%= link_to t('live_studio.menu.teacher.my_courses'), live_studio.teacher_courses_path(@teacher.id) %>
        <span>&gt;</span>
        <span><%= t('common.alert_lesson') %></span>
      </div>
    </div>
    <div class="adjust-lesson">
      <div class="adjust-title"><%= @course.name %></div>

      <div class="adjust-con">
        <div class="adjust-con-title">
          <span><%= @course.grade %></span>
          <span>|</span>
          <span><%= LiveStudio::Course.human_attribute_name(:lessons_progress) %></span>
          <span><%= "#{@course.finished_lessons_count}/#{@course.lessons_count }" %></span>
        </div>
        <%= simple_form_for @course, url: update_lessons_teacher_course_path do |f|%>
          <div class="class-con">
            <table border="0" cellspacing="0" cellpadding="01">
              <tbody>
              <%= f.fields_for :lessons do |lesson| %>
                <% if lesson.object.unstart? %>
                  <%= render 'edit_lesson', f: lesson %>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="present adjust-btn">
            <center>
              <%= link_to '取消', _back_url %>
              <%= link_to '保存调课', 'javascript:void(0);', class: 'submit' %>
            </center>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function testShow(elem){
    $.jeDate(elem,{
      skinCell:"jedateblue",
      festival:false,
      insTrigger:false,
      format:"YYYY-MM-DD",
      isClear:false,
      minDate: '<%= Date.today.to_s %>',
    });
  }

  function _get_time(hour, minutes, duration){
    if(duration == '' || duration == null){
      return false;
    }
    var duration_value = 0;
    var hour = parseInt(hour);
    var minutes = parseInt(minutes);
    switch(duration){
      case 'minutes_30':
        duration_value = 30;
        break;
      case 'minutes_45':
        duration_value = 45;
        break;
      case 'hours_1':
        duration_value = 60;
        break;
      case 'hours_half_90':
        duration_value = 90;
        break;
      case 'hours_2':
        duration_value = 120;
        break;
      case 'hours_half_150':
        duration_value = 150;
        break;
      case 'hours_3':
        duration_value = 180;
        break;
      case 'hours_half_210':
        duration_value = 210;
        break;
      case 'hours_4':
        duration_value = 240;
        break;
    }
    end_hour = hour + parseInt((minutes+duration_value)/60);
    end_minutes = minutes+duration_value % 60;
    if(end_hour > 23)
      end_hour = end_hour % 24
    if(end_hour < 10)
      end_hour = "0" + end_hour;
    if(end_minutes < 10)
      end_minutes = "0" + end_minutes;
    return end_hour + ':' + end_minutes;
  }

  $(document).ready(function() {
    $('.submit').click(function(){
      $('form').submit();
    });
  });
</script>