<tr>
  <td><%= show_index(teacher_counter, @teachers.limit_value) %></td>
  <td><%= teacher.name %></td>
  <td><%= teacher.login_mobile %></td>
  <td><%= teacher.nick_name %></td>
  <td><%= teacher.category %></td>
  <td><%= teacher.subject %></td>
  <td class="handling">
    <% if allow? :teachers, :pass %>
      <%= render partial: '/teachers/teacher_status', locals: {teacher: teacher}%>
    <% end %>
    <%= link_to t('view.station.students.index.show'), teacher_path(teacher), target: '_blank' %>
  </td>
</tr>
