<div class="article">
  <div class="work-station">
    <%= render 'station/students/tab' %>
    <%= render 'station/teachers/search' %>

    <div class="sold-tab">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th><%= t('common.index_no') %></th>
            <th><%= t('view.station.students.index.name') %></th>
            <th><%= t('view.station.students.index.login_mobile') %></th>
            <th><%= t('view.station.teachers.index.nick_name') %></th>
            <th><%= t('view.station.teachers.index.category') %></th>
            <th><%= t('view.station.teachers.index.subject') %></th>
            <th><%= t('common.operate') %></th>
          </tr>

          <%= render partial: 'station/teachers/teacher', collection: @teachers %>
        </tbody>
      </table>

      <%= render 'shared/blank' if @teachers.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @teachers, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>