<td class="row" colspan="7">
  <input type="hidden" id="ajax_complete_<%= @change_record.id %>" />
  <div class="col-md-4 inspection-line">
    <span><%= t('view.shared.workstations.change_records.different_money_in') %></span>
    <span><%= number_to_currency(@change_record.amount, locale: :cn) %></span>
  </div>
  <div class="col-md-4 inspection-line">
    <span><%= t('view.shared.workstations.change_records.beore_money_in') %></span>
    <span><%= number_to_currency(@change_record.before, locale: :cn) %></span>
  </div>
  <div class="col-md-4 inspection-line">
    <span><%= t('view.shared.workstations.change_records.after_money_in') %></span>
    <span><%= number_to_currency(@change_record.after, locale: :cn) %></span>
  </div>
</td>