<td colspan="7">
  <input type="hidden" id="ajax_complete_<%= @change_record.id %>" />
  <table border="0" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td>
        <span><%= t('view.shared.workstations.change_records.different_money_in') %></span>
        <span><%= number_to_currency(@change_record.amount, locale: :cn) %></span>
      </td>
      <td>
        <span><%= t('view.shared.workstations.change_records.beore_money_in') %></span>
        <span><%= number_to_currency(@change_record.before, locale: :cn) %></span>
      </td>
      <td>
        <span><%= t('view.shared.workstations.change_records.after_money_in') %></span>
        <span><%= number_to_currency(@change_record.after, locale: :cn) %></span>
      </td>
    </tr>

    </tbody></table>
</td>