<%=simple_form_for video do |f|%>
    <%= render 'shared/error_messages', target: video %>
    <%=f.input :name %>
    <%=f.input :token,as: :hidden %>
    <div id="video_show" class="rel" style="width:820px;height:385px;border:4px gray dotted">
      <%= render partial: 'videos/video',object: video unless video.name.url.nil?%></div>
    </video>
<% end %>

<script>
    $(
            function(){
                var video_input = $("input#video_name");
                var video_form  = video_input.closest('form');
                console.log(video_form);
                var video_show  = $("div#video_show");
                if ($("div#video_show video").length == 0){
                    video_show.html($("div#template-progress div.progress").clone());
                }
                video_input.on('change',function(){
                    var fileExtend = this.value.substring(this.value.lastIndexOf('.')).toLowerCase();
                    if(fileExtend != ".mp4") {
                        alert("视频文件格式只支持mp4，请重新上传！")
                        return;
                    }
                    video_form.ajaxSubmit({
                        dataType: 'script',
                        beforeSubmit: function(){
                            video_show.html($("div#template-progress div.progress").clone());
                        },
                        uploadProgress: function(event, position, total, percentComplete) {
                            var percentVal              = percentComplete + '%';
                            var video_progress_bar      = $("div#video_show div.progress-bar");
//                    console.log(cover_progress_bar.size());
                            video_progress_bar.text(percentVal);
                            video_progress_bar.css({width:percentVal});
                            if (percentVal == '100%'){
                                video_progress_bar.text("保存中，请稍后")
//                      cover_progress_bar.hide("slow");
                            }
                        }
                    });
                })
            }
    )
</script>
<div style="display: none">
  <div id="template-progress">
    <div class="progress">
      <p class="abs" style="top:40%;left:45%;font-size: 24px;color:gray">视频</p>
      <div class="progress-bar" role="progressbar" >
      </div>
    </div>
  </div>
</div>