<div class="qa_box">
  <div class="qa_big_cell">
    <h2><%= Seller.model_name.human %></h2>
  </div>
  <div class="qa_big_cell">
    <%= simple_form_for [:workstation, @workstation, @seller] do |f|%>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.input :login_mobile %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
