<div class="row qa_big_cell">
  <div class="col-md-1"><%= seller_counter + 1 %></div>
  <div class="col-md-3"><%= seller.name %></div>
  <div class="col-md-3"><%= seller.email %></div>
  <div class="col-md-3"><%= seller.login_mobile %></div>
  <div class="col-md-2">
    <%= link_to "编辑", edit_workstation_workstation_seller_path(@workstation, seller) if allow?('workstation/sellers', 'edit', @workstation) %>
    <%= link_to "删除", workstation_workstation_seller_path(@workstation, seller), method: 'delete', data: { confirm: '确定删除?'} if allow?('workstation/sellers', 'destroy', @workstation) %>
  </div>
</div>
