<div style="border-bottom:1px solid #ccc">
  <div class="pull-left" style="padding: 8px">
    <%= image_tag @reply.user.avatar.normal.url if reply.user%>
  </div>
  <div style="padding:8px;margin-left: 58px">
                    <span style="color:gray">
                        <small><%= @reply.user.name if reply.user%></small>
                        <small>#<%= @reply.topic.replies_count + 1 %>楼</small>
                        <small><%= time_ago_in_words(@reply.created_at) %>前</small>
                    </span>
    <div style="line-height: 180%;">
      <%= reply.body.html_safe %>
    </div>
  </div>
  <div style="clear: both"></div>
</div>