<h3>销售曲线</h3>
<%= link_to '销售明细>', statistics_station_workstation_path(@workstation, statistics_days: params[:statistics_days]), target: '_blank' %>
<%= select_tag :statistics_days, options_for_select(::Payment::Transaction.statistics_days.options, params[:statistics_days]),
               data: {url: url_for(params)} %>
<span>
  <%= t('view.shared.workstations.statistics.sale_count') %>
  <%= number_to_currency(@sales_total, precision: 0) %>
</span>

<div class="admin-sales">
  <%= echarts_line('main', {xAxis: { type: 'category', boundaryGap: false, name: t('view.common.time'), data: @x_cate },
                          yAxis: { type: 'value', name: t('view.shared.workstations.statistics.sale_total'), splitLine: { show: false } },
                          series: { name: t('view.shared.workstations.statistics.sale_total'), data: @series_data } }) %>
</div>

<h3>实时动态</h3>
<%= link_to '全部动态>', action_records_station_workstation_path(@workstation), target: '_blank' %>
<ul>
  <%= render partial: 'managers/home/action_record', collection: @action_records %>
</ul>

<h3>正在上课</h3>
<%= link_to '全部>', teaching_lessons_station_workstation_path(@workstation), target: '_blank' %>
<ul>
  <%= render partial: 'managers/home/teaching_lesson', collection: @teaching_lessons %>
</ul>

<h3>考核进度跟踪</h3>
<%= link_to '考核记录>', action_records_station_workstation_path(@workstation), target: '_blank' %>


<script type="text/javascript">
  $(function(){
    $(document).on('change', '#statistics_days', function(event) {
      var url = $(this).data('url'),
          select_day = $(this).val();
      if (url.indexOf('statistics_days') > 0) {
        url = url.replace(/statistics_days=.*/g, "statistics_days=" + select_day);
      }else if( url.indexOf('?') > 0 ){
        url = url + '&statistics_days=' + select_day;
      }else{
        url = url + '?statistics_days=' + select_day;
      }
      window.location.href = url;
    })
  });
</script>