<div class="qa_box">
  <div class="qa_big_cell">
    <h2><%= @directory.title %>
    <%=link_to new_syllabus_directory_path(@syllabus,:p => @directory) do %>
        <button type="button" class="btn btn-xs btn-success">新增目录</button>
    <% end %>
    <%=link_to new_directory_course_path(@directory) do %>
        <button type="button" class="btn btn-xs btn-success">新增课程</button>
    <% end %>
      </h2>
  </div>
    <%= render @children %>
    <%= render @directory.courses %>
    <%= hidden_field_tag("dir_tree_move_json" , get_dir_tree(@syllabus, @directory)) %>
</div>