<ul class="course-list-2">
  <li class="active-li" rel="li-msg-all">全部</li>
  <% APP_CONSTANT["subjects"].each do |subject| %>
    <%= content_tag(:li, subject,rel: "li-msg-#{APP_CONSTANT["english"][subject].capitalize}") %>
  <% end %>
</ul>
<div>
  <%
     curriculums = Curriculum.limit(10)
     if curriculums.present?
  %>
    <%= content_tag :ul, class: 'li-msg li-msg-all',style: 'display: block;' do %>
      <%
         curriculums.each do |c|
           pro = c.teaching_program
      %>
        <%= content_tag :li do %>
          <%= link_to curriculum_path(c) do %>
            <%= content_tag :i,'', class: 'fa fa-book icon1-color' %>
            <%= content_tag :span, '%s/%s/%s/%s' % [pro.try(:grade), pro.try(:name), c.teacher.name, c.teacher.try(:school).try(:name)], class: 'subject-msg' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%
     APP_CONSTANT["subjects"].each do |subject|
       curriculums = Curriculum.by_subject(subject)
       sub_en = APP_CONSTANT["english"][subject].capitalize
       if curriculums.present?
  %>
      <%= content_tag :ul, class: "li-msg li-msg-#{sub_en}" do %>
        <%
           curriculums.each do |c|
             pro = c.teaching_program
        %>
          <%= content_tag :li do %>
            <%= link_to curriculum_path(c) do %>
              <%= content_tag :i,'', class: 'fa fa-book icon1-color' %>
              <%= content_tag :span, '%s/%s/%s/%s' % [pro.try(:grade), pro.try(:name), c.teacher.name, c.teacher.try(:school).try(:name)], class: 'subject-msg' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <%end %>
  <% end %>
</div>
<script type="text/javascript">
  $(function  () {
    $('.course-list-2 li').click(function () {
      var show = $(this).attr('rel');
      $(this).addClass('active-li').siblings().removeClass('active-li');
      $('.li-msg').hide();
      $('.'+show).show();
    })
  })
</script>