<div class="line-item">
  <div class="container">
    <ul class="ascendancy-list">
      <li class="col-md-2 col-sm-4 col-xs-6">
        <p>
          <%= image_tag 'ascendancy-1.png' %>
        </p>
        <p class="ascendancy-title"><%= t('view.home.index.advantage1.title') %></p>
        <p class="ascendancy-info"><%= t('view.home.index.advantage1.description') %></p>
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <p>
          <%= image_tag 'ascendancy-2.png' %>
        </p>
        <p class="ascendancy-title"><%= t('view.home.index.advantage2.title') %></p>
        <p class="ascendancy-info"><%= t('view.home.index.advantage2.description') %></p>
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <p>
          <%= image_tag 'ascendancy-3.png' %>
        </p>
        <p class="ascendancy-title"><%= t('view.home.index.advantage3.title') %></p>
        <p class="ascendancy-info"><%= t('view.home.index.advantage3.description') %></p>
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <p>
          <%= image_tag 'ascendancy-4.png' %>
        </p>
        <p class="ascendancy-title"><%= t('view.home.index.advantage4.title') %></p>
        <p class="ascendancy-info"><%= t('view.home.index.advantage4.description') %></p>
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <p>
          <%= image_tag 'ascendancy-5.png' %>
        </p>
        <p class="ascendancy-title"><%= t('view.home.index.advantage5.title') %></p>
        <p class="ascendancy-info"><%= t('view.home.index.advantage5.description') %></p>
      </li>
      <li class="col-md-2 col-sm-4 col-xs-6">
        <p>
          <%= image_tag 'ascendancy-6.png' %>
        </p>
        <p class="ascendancy-title"><%= t('view.home.index.advantage6.title') %></p>
        <p class="ascendancy-info"><%= t('view.home.index.advantage6.description') %></p>
      </li>
    </ul>
  </div>
</div>

<div class="line-item">
  <div class="item-classify">
    <div class="container">
      <p class="slogan"><%= t('view.service.title') %></p>
    </div>
  </div>
</div>
