<!-- Banner -->
<%= render 'layouts/v1/banners' %>

<!-- 专题板块 -->
<%= render partial: 'home/items/line_items' %>

<!-- 教师推荐 -->
<%= render partial: 'home/items/teachers' %>

<!-- 精选内容 -->
<%= render partial: 'home/items/choiceness' %>

<!-- 免费课程 -->
<%= render partial: 'home/items/free_courses' %>

<!-- 新课发布 -->
<%= render partial: 'home/items/newest_courses' %>

<!-- 服务项目 -->
<%= render partial: 'home/items/service' %>

<!--Modal弹窗-->
<div class="modal fade" id="course_intro_video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-iframe">
    <div class="modal-content">
      <div class="popup-title">
        <%= image_tag 'live-logo.png' %>
        <span class="close fa fa-times" data-dismiss="modal" aria-label="Close"></span>
      </div>
      <div class="modal-body">
        <div class="video-box">
          <iframe src="<%= main_app.play_course_intro_path(CourseIntro.top.presence || 0) %>" allowfullscreen mozallowfullscreen webkitallowfullscreen frameBorder="0" scrolling="no" border="0" width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      // 广告位轮播
      $("#banner-list").rotate();
      $('#myCarousel').carousel({
        interval: false
      });
      $(".btn-nexts").click(function() {
        $("#myCarousel").carousel('prev');
        console.log($("#myCarousel").carousel('prev'))
      });
      // 循环轮播到下一个项目
      $(".btn-previous").click(function() {
        $("#myCarousel").carousel('next');
      });

      // 今日直播
      $(".live-today").hover(function() {
        var showHeight = $(".live-today  ul").height();
        if(showHeight > 334) {
          $(".live-today .liveing-info").css("overflow", "auto");
        }
      }, function() {
        $(".live-today .liveing-info").animate({
          scrollTop: 0
        }, 200);

        $(".live-today .liveing-info").css("overflow", "hidden");

      });
    });
  </script>
<% end %>