<div class="container container-details">
  <div class="row">
    <div class="panel panel-default">

      <div class="home-banner">
        <ul class="banner-show" style="left: -128.846%;">
          <li>
            <a href=""><%= image_tag 'banner.jpg' %></a>
          </li>
          <li>
            <a href=""><%= image_tag 'banner2.jpg' %></a>
          </li>
          <li>
            <a href=""><%= image_tag 'banner.jpg' %></a>
          </li>
          <li>
            <a href=""><%= image_tag 'banner.jpg' %></a>
          </li>
        </ul>
        <ul class="banner-dot">
          <li style="background-color: white;"></li>
          <li style="background-color: white;"></li>
          <li style="background-color: rgb(255, 153, 102);"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-left">
      <div class="panel panel-default">
        <div class="recommended-tutoring">
          <div class="tutoring-title">
            <div class="tutoring-title-left">
              <%= image_tag 'home_page_icon.png' %>
              <span class="title-size">辅导推荐</span>
            </div>
            <a href="<%= live_studio.courses_path %>" class="tutoring-title-right">
              <span>全部</span>
            </a>
          </div>
          <div class="tutoring-con">
            <ul class="ul-list">
              <% @recommend_courses.each do |item| %>
                <li>
                  <%= image_tag item.logo_url %>
                  <dl class="dl-list">
                    <dd><%= item.title %></dd>
                    <dd>
                    <span class="dd-left">
                      <i class="glyphicon glyphicon-time icon-color"></i>
                      <i class="num-class"><%= item.target.try(:preset_lesson_count) %></i>课时
                    </span>
                    <span class="dd-right">
                      <i class="glyphicon glyphicon-user icon-color"></i>
                      <i class="num-buy"><%= item.target.try(:buy_tickets_count) %></i>人已购
                    </span>
                    </dd>
                  </dl>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="recommended-class">
          <div class="class-title">
            <div class="class-title-left">
              <%= image_tag 'home_page_icon.png' %>
              <a href="javascript:void(0);" class="btn-tab active-tab">专属课程</a>
              <span class="separator">|</span>
              <a href="javascript:void(0);" class="btn-tab" rel=".curriculums-more">公开课程</a>
              <span class="separator">|</span>
              <a href="javascript:void(0);" class="btn-tab" rel=".questions-more">问答社区</a>
            </div>
            <a href="<%= curriculums_path %>" class="curriculums-more class-title-right">
              <span>更多</span>
              <span>&gt;</span>
            </a>
            <a href="<%= questions_path %>" class="questions-more class-title-right">
              <span>更多</span>
              <span>&gt;</span>
            </a>
          </div>
          <div>
            <div class="class-course">
              <table border="0" cellspacing="0" cellpadding="0" class="table-exclusive">
                <tbody><tr>
                  <td class="td-circle">
                    <i class="fa fa-circle course-circle"></i>
                  </td>
                  <td>
                 <span>专属课程是一种在线一对一辅导的学习方式。他的特点在于学生和老师在足不出户的情况下就可以完成学习，提问，作业批改；
                  并且对于难点、重点可以反复体会，同时对于不懂的问题可以随时提问，老师都会通过视频进行讲解。</span>
                  </td>
                </tr>
                <tr>
                  <td class="td-circle">
                    <i class="fa fa-circle course-circle"></i>
                  </td>
                  <td>
                    <span>首先，老师会对根据学生的学习情况进行评估，根据评估的结果制定学习大纲</span>
                  </td>
                </tr>
                <tr>
                  <td class="td-circle">
                    <i class="fa fa-circle course-circle"></i>
                  </td>
                  <td>
                    <span> 然后，老师会根据学习大纲，制作教学视频，以及布置相应的作业。</span>
                  </td>
                </tr>
                <tr>
                  <td class="td-circle">
                    <i class="fa fa-circle course-circle"></i>
                  </td>
                  <td>
                    最后，同学在家中就可以根据教学视频进行学习；学习过程中可以针对重点难点在线提问，老师会对问题做相应的视频
                    进行讲解；完成老师的布置的作业后，把作业上传至网站，老师进行视频批改。
                  </td>
                </tr>
                </tbody></table>

              <div class="application">
                <%= link_to @user_path || send("customized_courses_#{@user.role}_path",@user) do %>
                  <div class="apply-course">
                    <span class="fa fa-edit icon-write"></span>
                    <span class="apply-class">申请我的专属课程</span>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="class-course">
              <%= render 'curriculums' %>
            </div>
            <div class="class-course class-course-tab">
              <%= render 'questions' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-right">
      <div class="panel panel-default">
        <div class="recommended-tec">
          <div class="tutoring-tec-title">
            <div class="teacher-title-left">
              <%= image_tag 'home_page_icon.png' %>
              <span class="title-size">名师推荐</span>
            </div>
            <!--<a href="" class="teacher-title-right">-->
              <!--<span>换一批</span>-->
              <!--<span class="fa fa-refresh"></span>-->
            <!--</a>-->
          </div>
          <div class="tutoring-tec-con">
            <ul class="list-tec">
              <% @recommend_teachers.each do |r_teacher| %>
                <li class="tec-li">
                  <div class="li-introduce">
                    <center>
                      <dl class="tec-msgs">
                        <dd>
                          <%= image_tag r_teacher.logo_url %>
                        </dd>
                        <dd><%= r_teacher.target.name %></dd>
                        <dd><%= r_teacher.title %></dd>
                      </dl>
                    </center>
                  </div>
                  <% if r_teacher.target.present? && r_teacher.target.live_studio_courses.count > 0 %>
                    <div class="li-detailed">
                      <center>
                        <ul class="detailed-list">
                          <% r_teacher.target.live_studio_courses.preview.limit(4).each do |course| %>
                            <li><%= link_to course.name, live_studio.course_path(course.id) %></li>
                          <% end %>
                          <li class="detailed-more"><a href="">更多</a></li>
                        </ul>
                      </center>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="panel panel-default panel-profile">
      <div class="recommended-profile">
        <div class="profile-title">答疑时间6大优势</div>
        <div class="row">
          <div class="col-md-2 col-sm-2 col-advantage">
            <ul>
              <li>
                <%= image_tag 'advantage_1.png' %>
              </li>
              <li><span>名师</span></li>
              <li><p>名师授课和专业讲解保证让学生学到最优质的内容</p></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-advantage">
            <ul>
              <li>
                <%= image_tag 'advantage_2.png' %>
              </li>
              <li><span>多种学习模式</span></li>
              <li><p>提供四种学习模式和海量课程供学生选取最适合自己的。</p></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-advantage">
            <ul>
              <li>
                <%= image_tag 'advantage_3.png' %>
              </li>
              <li><span>直播+互动+视频</span></li>
              <li><p>直播授课体验真实互动拒绝枯燥视频讲解一看就懂</p></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-advantage">
            <ul>
              <li>
                <%= image_tag 'advantage_4.png' %>
              </li>
              <li><span>量身定制</span></li>
              <li><p>为学生量身定制课程专属课程，杜绝模板化教学。</p></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-advantage">
            <ul>
              <li>
                <%= image_tag 'advantage_5.png' %>
              </li>
              <li><span>Web/App/直播器</span></li>
              <li><p>支持网页端和手机端多种使用方式，随时随地进行学习；为老师定制开发主播助</p></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-advantage">
            <ul>
              <li>
                <%= image_tag 'advantage_6.png' %>
              </li>
              <li><span>工作站模式</span></li>
              <li><p>工作站管理模式提供更具特色的本地化服务，服务全国600+城市</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function  () {
    var index = 0;
    function autoscroll () {
      index++;
      changecolor(index);
      $(".banner-show").animate({
        left: "-" + 100 * index + "%"
      },500,function  () {
        if (index == 3) {
          index = 0;
          $(".banner-show").css("left","0");
        }
      })
    }

    function changecolor(index) {
      $(".banner-dot li").css("background-color", "white");
      if(index == 3) {
        $(".banner-dot li").eq(0).css("background-color", "rgb(255,153,102)");
      } else {
        $(".banner-dot li").eq(index).css("background-color", "rgb(255,153,102)");
      }
    }

    var timerID = setInterval(autoscroll,1000);
    $(".banner-show").mouseover(function  () {
      clearInterval(timerID);
    })
    $(".banner-show").mouseout(function  () {
      timerID = setInterval(autoscroll,1000);
    })

    $(".btn-tab").click(function  () {
      var index = $(".btn-tab").index($(this));
      var more = $(this).attr('rel');
      $(this).addClass('active-tab').siblings().removeClass('active-tab');
      $('.class-course').eq(index).show().siblings().hide();
      $(".questions-more,.curriculums-more").hide();
      $(more).show();
    })

    $(".tec-li").mouseenter(function  () {
      var index = $(".tec-li").index($(this));
      $(".li-introduce").eq(index).hide();
      $(".li-detailed").eq(index).show();
    })

    $(".tec-li").mouseleave(function  () {
      $(".li-detailed").hide();
      $(".li-introduce").show();
    })
  })

</script>