<!-- 广告条 -->
<%= render 'banners' %>
<!-- 版块介绍 -->
<%= render 'introduce' %>
<!-- 专题板块 -->
<%= render 'line_items' %>
<!-- 名师推荐 -->
<%= render 'teachers' %>
<!-- 精选内容 -->
<%= render 'choiceness' %>
<!-- 免费课程 -->
<%= render 'free_courses' %>
<!-- 新课发布 -->
<%= render 'newest_courses' %>
<!-- 服务项目 -->
<%= render 'service' %>
<!-- 首页分享 -->
<%= render 'shared/share_to_footer' %>

<!--Modal弹窗-->
<div class="modal-iframe">
  <div class="modal-content">
    <div class="popup-title">
      <%= image_tag 'live-logo.png' %>
      <span class="close fa fa-times" data-dismiss="modal" aria-label="Close"></span>
    </div>
    <div class="modal-body">
      <div class="video-box">
        <iframe src="<%= main_app.play_course_intro_path(CourseIntro.top.presence || 0) %>" allowfullscreen mozallowfullscreen webkitallowfullscreen frameBorder="0" scrolling="no" border="0" width="100%" height="100%" id="video_intro"></iframe>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    // 拖动
    function drag(obj) {
      obj.bind("mousedown", start);

      function start(event) {
        deltaX = event.clientX - obj.offset().left;
        deltaY = event.clientY - obj.offset().top;
        $(document).bind("mousemove", move);
        $(document).bind("mouseup", stop);
        return false;
      }

      function move(event) {
        obj.css({
          "left": (event.clientX - deltaX) + "px",
          "top": (event.clientY - deltaY) + "px"
        });
        return false;
      }

      function stop() {
        $(document).unbind("mousemove", move);
        $(document).unbind("mouseup", stop);
      }
    }

    $(function() {
      // 广告位轮播
      $('#myCarousel').carousel({
        interval: 5000
      });

      //轮播图左右切换按钮
      $(".carousel").hover(function  () {
        $(".carousel-control").show();
      },function  () {
        $(".carousel-control").hide();
      });

      // 今日直播
      $(".live-today").hover(function() {
        var showHeight = $(".live-today  ul").height();
        if(showHeight > 334) {
          $(".live-today .liveing-info").css("overflow", "auto");
        }
      }, function() {
        $(".live-today .liveing-info").animate({
          scrollTop: 0
        }, 200);

        $(".live-today .liveing-info").css("overflow", "hidden");

      });

      // 视频
      $(".video-item").click(function() {
        $(".modal-iframe").addClass('active');
        if( $(".modal-iframe").hasClass('active') ){
          try {
            $('#video_intro').get(0).contentWindow.playVideo();
          } catch(err) {
            console.log('wait document loading');
          }
        }
        $(".modal-iframe").css({
          left: ($(window).width() - $(".modal-iframe").outerWidth()) / 2,
          top: ($(window).height() - $(".modal-iframe").outerHeight()) / 2 + $(document).scrollTop()
        });
      });
      $(".close").click(function() {
        $(".modal-iframe").removeClass('active');
        try {
          $('#video_intro').get(0).contentWindow.pauseVideo();
        } catch(err) {
          console.log('wait document loading');
        }
      });
      var obj = $(".modal-iframe");
      drag(obj);
    });
  </script>

  <%= render 'shared/wechat_share' %>

</script>
<% end %>