<div class="live-player live-item">
  <div class="live-head playback">
    <div class="container live-big">
      <div class="row">
        <div class="video-area" id="player-and-chat">
          <div class="area-left">
            <div class="area-left-con">
              <video id="my-video" style="overflow: hidden; white-space: nowrap;" class="video-js"  x-webkit-airplay="allow" webkit-playsinline controls poster="<%= image_url 'live_cover_default.png' %>" preload="auto" width="" height="">
                <% if @replay_item.target.is_a?(LiveStudio::InteractiveLesson) %>
                  <source src="<%= @replay_item.video.try(:shd_mp4_url) %>" type="video/mp4">
                <% elsif @replay_item.video.try(:orig_url).try(:include?, 'flv') %>
                  <source src="<%= @replay_item.video.try(:orig_url) %>" type="video/x-flv">
                <% else %>
                  <source src="<%= @replay_item.video.try(:orig_url) %>" type="video/mp4">
                <% end %>
              </video>
            </div>
          </div>

          <div class="area-right view-info">
            <div class="playback-title"><%= t('view.home/replay.title') %></div>
            <div class="replay-msg">
              <div>
                <span><%= t('view.home/replay.grade_info') %>：</span>
                <span><%= @replay_item.course.try(:grade) %><%= @replay_item.course.try(:subject) %></span>
              </div>
              <div class="teaname">
                <span><%= t('view.home/replay.teacher') %>：</span>
                <span>
                  <%= link_to profile_teacher_path(@teacher.id) do %>
                    <%= image_tag @teacher.avatar, class: 'handle_error_avatar' %>
                    <%= @teacher.try(:name) %>
                  <% end %>
                  <%= image_tag "#{@teacher.gender || 'male'}_big.png" %>
                </span>
              </div>
              <div>
                <span><%= t('view.home/replay.duration') %>：</span>
                <span><%= Util.duration_in_words @replay_item.video.try(:duration).to_i %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="no-flash-area" style="display: none;">
    <p align="center">
      <%= t("activerecord.view.flash_can_not_call_msg.flash_uninstall_or_too_old_msg") %>
      <%= link_to t("activerecord.view.flash_can_not_call_msg.click_here_msg"), "https://get.adobe.com/cn/flashplayer/"  %>
      <%= t("activerecord.view.flash_can_not_call_msg.install_flash_msg") %>
    </p>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag "live_studio/live_1" %>
  <script type="text/javascript">
    $(function() {
      var myPlayer = neplayer('my-video', {
        "autoplay": true,
        loadingSpinner: false,
        controlBar: {
          'currentTimeDisplay':true,
          'timeDivider':true,
          'durationDisplay':true,
          'remainingTimeDisplay':false
        }
      },function () {
        // 错误背景图
        var errorImage = $('<div class="vjs-error-image"></div>');
        $("#my-video .vjs-control-bar").before(errorImage);
        var loadingImage = $('<div class="vjs-loading-image"></div>');
        $("#my-video .vjs-control-bar").before(loadingImage);
        // myPlayer.corePlayer.controlBar.addChild(clarityComponent,{},6);
        // myPlayer.corePlayer.controlBar.addChild(definitionComponent,{},6);
      });

      // var Component = neplayer.getComponent("Component");
      // var ClarityComponent = neplayer.extend(Component,{
      //     createEl:function(){
      //         var button = document.createElement("button");
      //         button.className = "vjs-clarity-control vjs-control vjs-button vjs-playing";
      //         button.innerHTML = "高清";
      //         return button;
      //     }
      // });
      // var clarityComponent = new ClarityComponent();
      // var DefinitionComponent = neplayer.extend(Component,{
      //     createEl:function(){
      //         var div = document.createElement("div");
      //         div.className = "vjs-control-definition vjs-control vjs-button vjs-playing";
      //         div.innerHTML = '<input type="radio"  name="clarity" id="clarity1" value="高清" /><label for="clarity1">高清</label><br /><input type="radio"  name="clarity" id="clarity2" value="标清" /><label for="clarity2">标清</label>';
      //         return div;
      //     }
      // });
      // var definitionComponent = new DefinitionComponent();
      // $("#my-video .vjs-control-bar").on('click', ".vjs-clarity-control", function  () {
      //   $(".vjs-control-definition").css("visibility","visible");
      // })
      // $("#my-video .vjs-control-bar").on('click', ".vjs-control-definition input", function  () {
      //   $(".vjs-clarity-control").html($(this).val());
      //   $(".vjs-control-definition").css("visibility","hidden");
      // })


      //判断flash是否安装
      if(!flashChecker().f) {
        $("#player-and-chat").hide();
        $("#no-flash-area").show(); //提示div
      }
    });
  </script>
<% end %>