<div class="personal">
  <div class="container">
    <div class="search-item">
      <div class="col-md-6 col-sm-6 align-left">
        <p><%= t('view.search_teachers.combo_msg1') %><span><%= @teachers.total_entries %></span><%= t('view.search_teachers.combo_msg2') %>“<span><%= params[:search_key] %></span>”<%= t('view.search_teachers.combo_msg3') %></p>
      </div>
      <div class="col-md-6 col-sm-6 align-right">
        <%= link_to t('view.search_teachers.course_link'), main_app.search_courses_home_index_path(search_key: params[:search_key]) %>
      </div>
    </div>
  </div>

  <div class="line-item">
    <div class="container">
      <% if @teachers.present? %>
        <ul class="teacher-list">
          <%= render partial: 'home/search/teacher', collection: @teachers %>
        </ul>
      <% end %>

      <%= render 'shared/blank' if @teachers.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @teachers, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>