<div class="container container-details">
  <div class="row">
    <div class="panel panel-default panel-profile">
      <div class="city-content">
        <div class="city-title">
            <%= form_tag home_path, method: :get, class: 'form-city' do %>
              <span class="province">按省份选择：</span>
              <span>
                <%= select_tag 'teacher[province_id]', options_for_select(Province.all.map{|p| [ p.name, p.id]}.insert(0,["----省----", nil])),
                               'data-remote': true,
                               'data-url': url_for(controller: 'ajax/data', action: 'option_cities', second: 'data-second')
                %>
                &nbsp;&nbsp;
                <%= select_tag :city_id, options_for_select([["----市----", nil]]), class: 'data-second' %>
              </span>
              <input type="submit" name="" id="" value="确定" class="btn-switch">
            <% end %>
            <span class="prompt-con">(城市已精确到县级单位)</span>
          <%= link_to '选择全国', home_path, class: 'change-city' %>
        </div>
        <div class="city-details">
          <div class="city-list">
            <h3>最近选择：</h3>
            <p>
              <% @selected_cities.each do |i| %>
                <%= link_to i, home_path(city_name: i) %>
              <% end if @selected_cities %>
              <%= link_to '全国', home_path if @selected_cities.blank? %>
            </p>
          </div>
          <div class="citieslist">
            <h2>按拼音字母：</h2>
            <ol class="hasallcity">
              <% @hash_cities.map do |k,cities| %>
                <li style="background-color: white;">
                  <p>
                    <span class="hasallcity-num" style="background: rgb(241, 241, 241); border-color: gray; color: rgb(0, 0, 0);">
                      <strong><%= k.upcase %></strong>
                    </span>
    							<span class="hasallcity-name">
                    <% cities.each do |city_name| %>
                      <%= link_to city_name, home_path(city_name: city_name) %>
                    <% end %>
    							</span>
                  </p>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
        <div class="city-prompt">
          如果没有您要找的城市，则该城市暂未加盟
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(".hasallcity li").each(function  (i,e) {
    $(this).mouseenter(function () {
      $(this).css("background-color","#F2F2F2");
      $(this).find(".hasallcity-num").css({
        background: "rgb(242,16,16)",
        borderColor: "rgb(242,16,16)",
        color: "white"
      })
    })
    $(this).mouseleave(function () {
      $(this).css("background-color","white");
      $(this).find(".hasallcity-num").css({
        background: "rgb(241,241,241)",
        borderColor: "gray",
        color: "#000"
      })
    })
  })


  $(".hasallcity-name a").each(function  (i,e) {
    $(this).mouseenter(function () {
      $(this).css("color","rgb(242,16,16)");
    })
    $(this).mouseleave(function () {
      $(this).css("color","rgb(153,153,153)")
    })
  })


  $(".city-list p a").each(function  (i,e) {
    $(this).mouseenter(function () {
      $(this).css("color","rgb(242,16,16)");
    })
    $(this).mouseleave(function () {
      $(this).css("color","rgb(153,153,153)")
    })
  })

  _init_area();
</script>