<style>
    .learning_plan_teachers .checkbox
    {
        margin-top:-5px;
    }
</style>
<div class="qa_box qa_cell">
  <%=simple_form_for @learning_plan do |f| %>
      <!--learning_plan未开放给学生前用这个-->
      <%= f.association :student ,collection: Student.where(id: @student.id), include_blank:false%>
      <%= f.association :vip_class, include_blank: false,
                        collection:VipClass.all.map{|vip_class| ["#{vip_class.category}-#{vip_class.subject}",vip_class.id]},
                        input_html: {data:{remote:true,:url => url_for(:controller => "learning_plans", :action => "teachers")}}
      %>
      <%= f.input :duration_type, include_blank:false,
                  collection: APP_CONSTANT["learning_plan"]["duration_types"].map {|k,v| [k+"价格【#{v["price"]}】",k]}
      %>
      <label class="check_boxes required control-label"><abbr title="required">*</abbr> 讲师</label>
      <div id="the_teacher_of_learning_plan">
        <%= f.association :teachers ,collection: @teachers.map {|t| ["【#{t.school.name}】#{t.name}", t.id]},
                          as: :check_boxes,label:false,
                          item_wrapper_tag: :div, item_wrapper_class:"col-md-4"
        %>
      </div>
      <div style="clear: both"></div>
      <div class="qa_sep_5"></div>
      <div class="qa_sep_5"></div>

      <%= f.button :submit,class: "btn btn-default" %>

  <% end %>
</div>