<% if learning_plan_counter == 0 %>
    <div class="row qa_cell" style="font-weight: bold">
    <div class="col-md-2">
        <%= LearningPlan.human_attribute_name(:vip_class) %>
    </div>
    <div class="col-md-1">
      <%= LearningPlan.human_attribute_name(:student) %>
    </div>

    <div class="col-md-4">
      <%= LearningPlan.human_attribute_name(:duration_type) %>
    </div>

    <div class="col-md-3">
      <%= LearningPlan.human_attribute_name(:teacher) %>
    </div>
    </div>
<% end %>
<div class="row qa_cell">

  <div class="col-md-2">
    <%= link_to "#{learning_plan.vip_class.category}#{learning_plan.vip_class.subject}", vip_class_path(learning_plan.vip_class)%>
    <% if allow? "learning_plans","edit", learning_plan %>
        <%= link_to edit_learning_plan_path(learning_plan) do %>
            <span class="qa_f12"><i class="fa fa-edit">编辑</i></span>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-1">
    <%= learning_plan.student.name %>
  </div>
  <div class="col-md-4">
    <%= learning_plan.begin_at.to_date %> ~
    <%= learning_plan.end_at.to_date %>
    <% if learning_plan.not_started? %>
        <span class="qa_f12 label label-info">未开始</span>
    <% elsif learning_plan.expired? %>
        <span class="qa_f12 label label-default">已过期</span>
    <% else %>
        <span class="qa_f12 label label-success">进行中</span>
    <% end %>
  </div>

  <div class="col-md-3">
    <% learning_plan.teachers.each do |teacher| %>
        <span><%= teacher.name %></span>;
    <% end %>
  </div>
  <% if allow? :learning_plan,:destroy%>
    <%= link_to 'destroy',learning_plan_path(learning_plan),method: :delete,'data-confirm' => 'Are you sure?' %>
  <% end %>
</div>