<div class="qa_tutorial_item">
    <div class="qa_box qa_tutorial">
        <div class="video_thumbnail">
            <%= link_to tutorial_path(tutorial) do %>
                <%=image_tag tutorial.cover.name.big.url ,class: "img-responsive" %>
             <% end %>
        </div>
        <div class="tutorial_info">
          <div class="pull-right">
              <%=image_tag tutorial.author.avatar.small.url ,class: 'img-rounded'%>
          </div>
          <div>
            <strong><%= tutorial.title%></strong><br/>
            <small style="color: gray"> maguowei • <%= time_ago_in_words(tutorial.created_at) %></small>
            <p style="line-height:1.6em;">
                <%= tutorial.summary %>
            </p>
          </div>
        </div>
        <div class="tutorial_status pull-right">
                <li class="glyphicon glyphicon-comment">123</li>
                <li class="glyphicon glyphicon-heart">12</li>
                <li class="glyphicon glyphicon-eye-open">11</li>
        </div>
        <div style="clear: both"></div>
    </div>
</div>