<div class="container container-details">
  <div class="row">
    <div class="panel panel-default">
      <div class="download-page">
      <% @softwares.each do |software| %>
        <div class="down-load">
          <div class="down-load-con">
            <div class="row">
              <div class="col-md-8">
                <%= image_tag software.logo_url(:big), size: "120x120", alt: software.title %>
                <div class="down-msg">
                  <div class="down-msg-title">
                    <span><%= software.title %></span>
                    <span>-<%= software.sub_title %></span>
                  </div>
                  <div class="down-msg-con">
                    <%= software.desc %>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="down-msg-right">
                  <div class="down-msg-new">
                      <span>
                        <%= t(software.platform_windows? ? '.win_desc' : '.android_desc')%>
                      </span>
                    <%= link_to t(".download"),software.download_links %>
                  </div>
                  <%= image_tag software.qr_code.code_url, size: "120x120", alt: software.title unless software.platform_windows? %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end if @softwares %>
      </div>
    </div>
  </div>
</div>

