<div class="audit-filtrate">
  <div class="audit-filtrate-left">
    <%= link_to t('view.admins.workstation_remits.search.no_remit'), admins_workstation_remits_path(remit: 'no_remit'), class: "#{'active' if params[:remit] == 'no_remit'}" %>
    <%= link_to t('view.admins.workstation_remits.search.remit'), admins_workstation_remits_path(remit: 'remit'), class: "#{'active' if params[:remit] == 'remit'}" %>
  </div>

  <div class="audit-filtrate-right">
    <%= form_for @query, :url => admins_workstation_remits_path, html: {method: :get} do |f| %>
      <%= hidden_field_tag :remit, params[:remit] %>
      <%= f.text_field :transaction_no_or_user_name_or_user_login_mobile_or_owner_of_Workstation_type_name_cont, placeholder: t('view.admins.workstation_withdraws.search.key_placeholer') %>

      <%= f.submit t('common.search2') %>
    <% end %>
  </div>
</div>