<div class="phone-details-msg">
  <div class="details-msg-nav">
    <a href="javascript:void(0);" class="active"><%= t('view.live_studio/courses.show.introduce') %></a>
    <a href="javascript:void(0);"><%= t('view.course_info_show.teacher_label')%></a>
    <a href="javascript:void(0);"><%= t('view.live_studio/courses.show.arrange') %></a>
  </div>
  <div>
    <div class="details-msg-con">
      <h4><%= t('view.live_studio/courses.show.base_info') %></h4>
      <ul>
        <li>
          <%= image_tag "title.png" %>
          <span><%= @video_course.grade %></span>
        </li>
        <li>
          <%= image_tag "title.png" %>
          <span><%= @video_course.subject %></span>
        </li>
        <li>
          <%= image_tag "title.png" %>
          <span><%= t('view.live_studio/courses.show.lesson_text', count: @video_course.video_lessons_count) %></span>
        </li>
        <li>
          <%= image_tag "title.png" %>
          <span><%= LiveStudio::VideoCourse.human_attribute_name(:total_duration) %><i><%= format_duration(@video_course.total_duration) %></i></span>
        </li>
      </ul>
      
      <div class="details-introduction">
        <h4><%= LiveStudio::VideoCourse.human_attribute_name(:objective) %></h4>
        <p><%= with_none_tips @video_course.objective %></p>
      </div>
      <div class="details-introduction">
        <h4><%= LiveStudio::VideoCourse.human_attribute_name(:suit_crowd) %></h4>
        <p><%= with_none_tips @video_course.suit_crowd %></p>
      </div>
      <div class="details-introduction">
        <h4><%= LiveStudio::VideoCourse.human_attribute_name(:description) %></h4>
        <p>
          <%= raw @video_course.description %>          
        </p>
      </div>
      <div class="details-introduction">
        <h4><%= t('view.live_studio/courses.show.study') %></h4>
        <ul class="learning-list">
          <li>
            <h5><%= t('view.live_studio/video_courses.show.study.buy') %></h5>
            <ul>
              <li><%= t('view.live_studio/video_courses.show.study.buy1') %></li>
              <li><%= t('view.live_studio/video_courses.show.study.buy2') %></li>
              <li><%= t('view.live_studio/video_courses.show.study.buy3') %></li>
              <li><%= t('view.live_studio/video_courses.show.study.buy4') %></li>
              <li><%= t('view.live_studio/video_courses.show.study.buy5') %></li>
            </ul>
          </li>
          <li>
            <h5><%= t('view.live_studio/video_courses.show.study.play') %></h5>
            <ul>
              <li><%= t('view.live_studio/video_courses.show.study.play1') %></li>
              <li><%= t('view.live_studio/video_courses.show.study.play2') %></li>
              <li><%= t('view.live_studio/video_courses.show.study.play3') %></li>
              <li><%= t('view.live_studio/video_courses.show.study.play4') %></li>
              
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="details-msg-con details-msg-tec">
      <div class="details-introduction">
        <%= link_to image_tag(@video_course.teacher.avatar, class: 'handle_error_avatar'), "javascript: void(0);" %>
        <span>
          <em><%= @video_course.teacher.name %></em>
          <%= image_tag "#{@video_course.teacher.gender || 'male'}_big.png" %>
        </span>
      </div>
      <div class="details-introduction">
        <h4><%= Teacher.human_attribute_name(:school) %></h4>
        <p><%= @video_course.teacher.school.try(:name) %></p>
      </div>
      <div class="details-introduction">
        <h4><%= Teacher.human_attribute_name(:teaching_years) %></h4>
        <div class="class-label">
          <span><%= @video_course.teacher.try(:teaching_years_text) %></span>
        </div>
      </div>
      <div class="details-introduction">
        <h4><%= Teacher.human_attribute_name(:desc) %></h4>
        <p><%= truncate_u @video_course.teacher.desc, length: 145 %></p>
      </div>
    </div>
    <div class="details-msg-con details-msg-arrange">
      <ul>
        <% @video_course.video_lessons.each do |lesson| %>
          <li>
            <div class="arrange-title">
              <%= image_tag "title.png" %>
              <span><%= lesson.name %></span>
            </div>
            <div class="arrange-time">
              <span><%= t('view.live_studio/courses.show.duration_text') %>：</span>
              <span><%= format_duration(lesson.real_time) %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>