<div class="qa_box">
  <div class="qa_big_cell">
    <span style="padding-left:10px" class="qa_f18">
      <%= link_to LiveStudio::Course.model_name.human, live_studio.seller_courses_path(@seller) %> &gt;
      <strong><%= @course.name %></strong>
    </span>
    <div class="pull-right">
      <%= allow_link_to({action: 'edit', url: edit_seller_course_path(@seller, @course)}) do %>
      <%# if allow? "live_studio/seller/courses", "edit", @course %>
        <%#=link_to edit_seller_course_path(@seller, @course) do %>
          <button type="button" class="btn btn-xs btn-success">
            <%= t("activerecord.view.edit") %><%= @course.class.model_name.human %>
          </button>
        <%# end %>
      <% end %>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:name)%></div>
      <div class="col-md-9"><%= @course.name %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:teacher)%></div>
      <div class="col-md-9"><%= @course.teacher_name %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:price)%></div>
      <div class="col-md-9"><%= @course.price %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:description)%></div>
      <div class="col-md-9"><%= @course.description %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:status)%></div>
      <div class="col-md-9" id="status-row">
        <%= @course.status_text %>
        <%#= link_to t("activerecord.view.course_publish"), publish_seller_course_path(@seller, @course), method: :patch, remote: true, 'data-confirm' => t("activerecord.view.message.course_confirm_publish") if @course.init? %>
      </div>
    </div>
  </div>
</div>
<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>

<%= render 'lesson' %>
