
<div class="condition-right">
  <%= search_form_for @q, url: '' do |f| -%>
    <div class="condition">
      <span><%= LiveStudio::Course.human_attribute_name(:owner_workstation) %></span>
      <%= select_tag 'q[workstation_id_eq]', options_for_select(::Workstation.pluck(:name,:id), @search_params[:q][:workstation_id_eq]),
                     prompt: t("live_studio.course.menu.all"),
                     class: 'immediately' %>
    </div>

    <div class="condition">
      <span><%= LiveStudio::Course.human_attribute_name(:subject) %></span>
      <%= select_tag 'q[subject_eq]', options_for_select(APP_CONSTANT['subjects'], @search_params[:q][:subject_eq]),
                     prompt: t("live_studio.course_request.menu.all"),
                     class: 'immediately' %>
    </div>
    <div class="condition">
      <span><%= LiveStudio::Course.human_attribute_name(:grade) %></span>
      <%= select_tag 'q[grade_eq]', options_for_select(APP_CONSTANT['grades_in_menu'], @search_params[:q][:grade_eq]),
                     prompt: t("live_studio.course_request.menu.all"),
                     class: 'immediately' %>
    </div>

    <div class="condition-right ml10">
      <%= link_to t("live_studio.course.menu.reset"), live_studio.station_workstation_course_records_path(@workstation) %>
      <%#= submit_tag t("live_studio.course.menu.query") %>
    </div>
  <% end %>
</div>