<p id="notice"><%= notice %></p>

<p>
  <strong>Order no:</strong>
  <%= @students_order.order_no %>
</p>

<p>
  <strong>Product:</strong>
  <%= @students_order.product %>
</p>

<%= link_to 'Edit', edit_students_order_path(@students_order) %> |
<%= link_to 'Back', students_orders_path %>
