<div class="panel panel-default">
  <div class="admin">
    <%= render partial: 'tab' %>

    <div class="workstation-list">
      <% if allow? :workstations, :new, @workstation %>
        <%= link_to t('view.admins.workstations.new.link_title'), new_admins_workstation_path, class: 'workstation-new' %>
      <% end %>
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td><%= t('common.index_no') %></td>
          <td><%= t('view.admins.workstations.index.name') %></td>
          <td><%= t('view.admins.workstations.index.city') %></td>
          <td><%= t('view.admins.workstations.index.manager')%></td>
          <td><%= t('view.admins.workstations.index.coupon_code') %></td>
          <td><%= t('view.admins.workstations.index.status') %></td>
          <td><%= t('common.operate') %></td>
        </tr>

        <%= render partial: 'workstation', collection: @workstations %>
        </tbody>
      </table>
    </div>

    <center>
      <div class="pagination-fix">
        <%= will_paginate @workstations %>
      </div>
    </center>
  </div>
</div>