<div class="qa_box">
  <div class="qa_big_cell">
    <%=image_tag current_user.avatar.big.url %>

    <span style="padding-left:10px" class="qa_f18">
        <strong><%= current_user.name %></strong>
      </span>

  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px">学校</div>
      <div class="col-md-9"><%= current_user.school.name %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px">邮件</div>
      <div class="col-md-9"><%= current_user.email %></div>
    </div>
  </div>
  <div class="qa_cell">
    <div class="row">
      <div class="col-md-2" style="padding-left:40px">简介</div>
      <div class="col-md-10">
        <%= current_user.desc%>
      </div>
    </div>
  </div>
</div>
<div class="qa_sep_15"></div>
<span class="label label-success">我的教程</span>
<div class="qa_sep_15"></div>

<div class="row groups">
    <%= render partial:'curriculums/curriculum',collection:@curriculums %>
</div>
