<table border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <% @questions.each do |q| %>
    <tr>
      <td>
        <span class="news-question"><%= link_to q.title, question_path(q) %></span>
        <%= content_tag :span, '最新提问', class: 'news-ask' if q == @questions.first %>
        <br>
        <span class="grade-suject"><%= link_to "#{q.vip_class.category}#{q.vip_class.subject}", vip_class_path(q.vip_class.id) %></span>
        <span class="answer">答案<%= q.answers_count %></span>
        <span class="comments-msg">评论<%= q.comments.length %></span>
      </td>
      <td>
        <%= image_tag q.student.avatar_url(:small) %>
        <span><%= q.student.name %></span><br>
        <span class="creation-time"><%= q.created_at.try(:strftime,'%Y-%m-%d %H:%M:%S') %></span>
      </td>
    </tr>
  <%end %>
  </tbody>
</table>