<div class="qa_big_cell">
  <h2><%=Account.human_attribute_name(:withdraw_record)%></h2>
</div>

<div class="qa_cell">
  <table class="table table-bordered">
    <tr>
      <th><%= Withdraw.human_attribute_name(:value)%></th>
      <th><%= Withdraw.human_attribute_name(:created_at)%></th>
      <th><%= Withdraw.human_attribute_name(:operator)%></th>
    </tr>
    <%= render partial: '/withdraws/withdraw',collection: withdraws %>
  </table>
  <%= will_paginate withdraws ,renderer: BootstrapPagination::Rails %>
</div>
