<div class="row">
  <div class="video-area" id="player-and-chat">
    <div class="area-left">
      <div class="area-left-con">
        <video id="my-video" style="overflow: hidden; white-space: nowrap;" class="video-js"  x-webkit-airplay="allow" webkit-playsinline controls poster="<%= image_url 'big_loading.png' %>" preload="auto" width="" height="" type="video/mp4" data-setup="{}">
        </video>
      </div>
    </div>

    <div class="area-right">
      <div class="playback-title">回放目录</div>
      <ul class="playback-con">
        <% @videos.each_with_index do |video, index| %>
        <li>
          <a href="javascript:void(0);" class="link-play" ref="<%= video.sd_mp4_url %>">
            <div class="playback-con-title">
              <span><%= "#{index < 9 ? '0' : nil}#{index+1}" %></span>
              <span><%= video.name %></span>
            </div>
            <div class="playback-con-time">
              <span></span>
              <span>视频时长：<%= Util.duration_in_words(44244) %></span>
            </div>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="no-flash-area" style="display: none;">
    <p align="center">
      <%= t("activerecord.view.flash_can_not_call_msg.flash_uninstall_or_too_old_msg") %>
      <%= link_to t("activerecord.view.flash_can_not_call_msg.click_here_msg"), "https://get.adobe.com/cn/flashplayer/"  %>
      <%= t("activerecord.view.flash_can_not_call_msg.install_flash_msg") %>
    </p>
  </div>
</div>


<%= content_for :javascript do %>
  <script>
    $(function() {
      var boardPlayer;
      var playSource;

      // 白板播放器
      boardPlayer = neplayer("my-video", {
        bigPlayButton: false,
        controlBar: {
          progressControl: false,
          remainingTimeDisplay: false
        }
      }, function() {
        var barrageButton = $('<button class="vjs-barrage-control vjs-control vjs-button vjs-playing" type="button" aria-live="polite"></button>');
        barrageButton.html('<%= image_tag "barrage.png" %>');
        var refreshButton = $('<button class="vjs-refresh-control vjs-control vjs-button vjs-playing" type="button" aria-live="polite"></button>');
        refreshButton.html('<%= image_tag "refresh.png" %>');
        $("#my-video .vjs-control-bar").children(":eq( 2 )").after(barrageButton);
        $("#my-video .vjs-control-bar").children(":first").after(refreshButton);


        // 重置
        $("#my-video .vjs-control-bar").on('click', '.vjs-refresh-control', function() {
          boardPlayer.reset();
        });

      });

      boardPlayer.onError(function(err){
        console.log(err.errCode);
        console.log(err.errMsg);
        boardPlayer.reset();
      });

      boardPlayer.onPlayState(1,function(){
        console.log('board play');
      });
      boardPlayer.onPlayState(2,function(){
        console.log('board pause');
      });
      boardPlayer.onPlayState(3,function(){
        console.log('board ended');
        boardPlayer.reset();
      });

      $('.link-play').click(function(){
        playSource = $(this).attr('ref');
        set_source();
      });

      function set_source(){
        boardPlayer.setDataSource({
          type: "video/mp4",
          src: playSource
        });
        boardPlayer.play();
      }

      //判断flash是否安装
      if(flashChecker().f) {
        playSource = '<%= @videos.first.sd_mp4_url %>';
        set_source();
      } else{
        $("#player-and-chat").hide();
        $("#no-flash-area").show() //提示div
      }
    });
  </script>

<% end %>