<% content_for :stylesheet do %>
  <link href="http://nos.netease.com/vod163/nep.min.css" rel="stylesheet">
<% end %>
<% content_for :javascript do %>
  <script src="http://nos.netease.com/vod163/nep.min.js"></script>
<% end %>


<% channel = @course.channels.first %>
<div class="qa_sep_15"></div>

<div class="row">
  <div class="col-md-4">

    <div class="row">
      <div class="qa_box">
        <div class="qa_big_cell">
          <span class="qa_f18">
            <strong><%= t("activerecord.view.course_desc") %></strong>
          </span>
        </div>
        <div class="qa_cell">
          <div class="row">
            <div class="col-md-4" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:name)%></div>
            <div class="col-md-8"><%= @course.name %></div>
          </div>
        </div>
        <div class="qa_cell">
          <div class="row">
            <div class="col-md-4" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:description)%></div>
            <div class="col-md-8"><%= @course.short_description(30) %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="qa_sep_15"></div>

    <div class="row">
      <div class="qa_box">
        <div class="qa_big_cell">
          <span class="qa_f18">
            <strong><%= t("activerecord.view.lesson_desc") %></strong>
          </span>
        </div>
        <div class="qa_cell">
          <div class="row">
            <div class="col-md-4" style="padding-left:40px"><%= LiveStudio::Lesson.human_attribute_name(:name)%></div>
            <div class="col-md-8"><%= @lesson.name %></div>
          </div>
        </div>
        <div class="qa_cell">
          <div class="row">
            <div class="col-md-4" style="padding-left:40px"><%= LiveStudio::Lesson.human_attribute_name(:description)%></div>
            <div class="col-md-8"><%= @lesson.short_description(30) %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="qa_sep_15"></div>

    <div class="row">
      <div class="qa_box">
        <div class="qa_big_cell">
          <span class="qa_f18">
            <strong><%= t("activerecord.view.teacher_desc") %></strong>
          </span>
        </div>

        <div class="qa_cell">
          <div class="row">
            <div class="col-md-3" style="padding-left:40px"><%= Teacher.human_attribute_name(:name)%></div>
            <div class="col-md-9"><%= @teacher.name %></div>
          </div>
        </div>
        <div class="qa_cell">
          <div class="row">
            <div class="col-md-3" style="padding-left:40px"><%= Student.human_attribute_name(:nick_name)%></div>
            <div class="col-md-9"><%= @teacher.nick_name %></div>
          </div>
        </div>
        <div class="qa_cell">
          <div class="row">
            <div class="col-md-3" style="padding-left:40px"><%= Teacher.human_attribute_name(:category)%></div>
            <div class="col-md-9"><%= @teacher.category %></div>
          </div>
        </div>
        <div class="qa_cell">
          <div class="row">
            <div class="col-md-3" style="padding-left:40px"><%= Teacher.human_attribute_name(:subject)%></div>
            <div class="col-md-9"><%= @teacher.subject %></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-1">
  </div>

  <div class="col-md-8">
    <video id="my-video" class="video-js" controls poster="<%= image_url('publish-bg.png') %>" preload="auto" width="800" height="480" data-setup='{}'>
    <source "src"="MY_VIDEO.mp4" type="video/mp4">
    </video>
  </div>
</div>


<script>
var myPlayer = neplayer("my-video", {}, function() {
});
myPlayer.setDataSource({
  type: "rtmp/flv",
  src: "<%= channel.pull_streams.last.address %>"
});

myPlayer.play();

myPlayer.onError(function(err){
  console.log(err.errCode);
  console.log(err.errMsg);
});

</script>
