<%= f.error_notification %>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :class_date %>
</div>
<div class="form-actions">
  <%= f.button :submit, class: "btn btn-default" %>
</div>
