<div class="qa_box">
  <div class="qa_big_cell">
    <span style="padding-left:10px" class="qa_f18">
      <%= link_to LiveStudio::Course.model_name.human, teacher_courses_path(@teacher) %> &gt;
      <%= link_to @course.name, teacher_course_path(@teacher,@course) %> &gt;
      <strong><%= LiveStudio::Lesson.model_name.human %></strong>
    </span>
  </div>
</div>

<div class="qa_box">
  <div class="qa_big_cell">
    <%= simple_form_for(@lesson, url: teacher_lesson_path(@teacher,@lesson,course_id: @course)) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>
