<tr>
  <td>
    <%= link_to live_studio.course_path(course) do %>
      <span><%= course.name %></span>
    <% end %>
  </td>
  <td>
    <%= link_to main_app.profile_teacher_path(course.teacher) do %>
      <span><%= course.teacher.name %></span>
    <% end if course.teacher %>
  </td>
  <td><span><%= course.subject %></span></td>
  <td><span><%= course.grade %></span></td>
  <td><span><%= course.lessons_count %></span></td>
  <td><span><%= number_to_currency(course.price, unit: "￥", precision: 2) %></span></td>
  <td><span><%= course.buy_tickets_count %></span></td>
  <td><span><%= number_to_percentage(course.teacher_percentage, precision: 0) %></span></td>
  <td><span><%= localize(course.published_at, format: :long) if course.published_at %></span></td>
  <td><span><%= course.status.text %></span></td>
</tr>