<h1>
  <%= t("activerecord.view.edit") %><%= @order.class.model_name.human %>
</h1>

<%= render 'form' %>

<%= link_to t('activerecord.view.select'), @order %> |
<%= link_to t('activerecord.view.back'), orders_path %>
