<p id="notice"><%= notice %></p>

<h1><%= "#{Order.model_name.human}#{t('activerecord.view.list')}" %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to t('activerecord.view.select'), order %></td>
        <td><%= link_to t('activerecord.view.edit'), edit_order_path(order) %></td>
        <td>
          <%= link_to t('activerecord.view.delete'), order, method: :delete,
                        data: { confirm: t('activerecord.view.message.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('activerecord.view.create')}#{Order.model_name.human}", new_order_path %>
