<div class="common-space">
  <div class="container">
    <div class="apply-tea">
      <div class="tutoring-title">
        <h3><%= t('view.payment_show.order_confirm') %></h3>
      </div>
      <div class="student-buy">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      $('#coupon_code').on('keyup', function(){
        var check_coupon_btn = $('#check_coupon_btn'),
            prompt_default = $('.prompt-default'),
            prompt_notice = $('.prompt-notice'),
            coupon_code_input = $(this),
            order_total = $('#order_total');

        if(coupon_code_input.val().length > 0){
          check_coupon_btn.removeClass('hide').removeClass('active');
          prompt_notice.removeClass('hide').siblings('span').addClass('hide');
        }else{
          check_coupon_btn.addClass('hide');
          prompt_default.removeClass('hide').siblings('span').addClass('hide');
        }
        order_total.html('¥ ' + parseFloat(order_total.data('total')).toFixed(2));
      });

      $(document).on('click', '#check_coupon_btn', function(event) {
        if( $(this).hasClass('active') ){return false;}

        // 检查优惠券
        var order_total = $('#order_total');

        $.ajax({
          url: '/live_studio/orders/check_coupon',
          type: 'POST',
          dataType: 'json',
          data: {coupon_code: $('#coupon_code').val()},
          success: function(data){
            $('#check_coupon_btn').addClass('active');
            if(data.success){
              $('.prompt-correct').removeClass('hide').siblings('span').addClass('hide');
              $('.prompt-correct i b').html(data.price);
              clt_total = parseFloat(order_total.data('total')) - parseFloat(data.price);
              order_total.html( '¥ ' + clt_total.toFixed(2) );
            }else{
              $('.prompt-error').removeClass('hide').siblings('span').addClass('hide');
              order_total.html('¥ ' + parseFloat(order_total.data('total')).toFixed(2));
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown){alert('request failed!')}
        })

      });

      // 下单校验
      $('#new_order').submit(function(){
        if( !$('.prompt-error').hasClass('hide') ){
          alert('<%= t("view.course_order_new.coupon_code_error") %>');
          return false;
        }

        if( $('#coupon_code').val().length > 0 && !$('.prompt-notice').hasClass('hide') ){
          alert('<%= t("view.course_order_new.coupon_code_valid_error") %>');
          return false;
        }

        if($('input.order_pay_type:checked').size() == 0){
          alert('<%= t("view.course_order_new.order_pay_type_none") %>');
          return false;
        }

        var available_balance = parseFloat($('#available_balance').data('total')),
            current_order_total = parseFloat( $('#order_total').data('total') );
        if( $('.order_pay_type:checked').val() == 'account' && available_balance < current_order_total ){
          alert('<%= t("view.course_order_new.available_balance_error") %>');
          return false;
        }

      });

      // 二维码登录自动检验优惠码
      if( !$.isBlank($('#coupon_code').val()) ){
        $('#coupon_code').trigger('keyup');
        $('#check_coupon_btn').trigger('click');
      }
    })
  </script>
<% end %>
