<div class="container container-details">
  <div class="row">
    <div class="panel panel-default panel-profile">
       <div class="apply-tea">
        <div class="tutoring-title">
          <div class="tutoring-title-left">
            <%= image_tag 'icon.png' %>
            <span class="title-size"><%= t('view.payment_show.order_confirm') %></span>
          </div>
         </div>
        <div class="student-buy">

          <%= simple_form_for [@product.model_name.singular_route_key, @order] do |f| -%>
            <%= hidden_field_tag :come_from, params[:come_from].presence %>
            <div class="student-buy-left">
              <div class="buy-left-title">
                <%= t('view.payment_show.product_info') %>
              </div>
              <div class="buy-left-con">
                <%= image_tag @order.product.publicize_url(:list) %>
                <table border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td colspan="2">
                      <span><%= t('view.course_order_new.product_name') %>：</span>
                      <span><%= @order.product.name %></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><%= t('view.course_order_new.subject') %>：</span>
                        <span><%= @order.product.subjects %></span>
                      </td>
                      <td>
                        <span><%= t('view.course_order_new.grade') %>：</span>
                        <span><%= @order.product.grade %></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span><%= t('view.course_order_new.teacher_name') %>：</span>
                        <span><%= @order.product.name %></span>
                      </td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                      </td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <span><%= t('view.course_order_new.status') %>：</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="student-buy-center">
              <div class="buy-center-title">
                <%= t('view.course_order_new.current_price') %>
              </div>
              <div class="buy-center-con">
                <center>
                </center>
              </div>
            </div>
            <div class="student-buy-right">
              <div class="buy-right-title">
                <%= t('view.course_order_new.pay_type') %>
              </div>
              <div class="buy-right-con">
                <div class="buy-right-way">
                  <% @order.class.pay_type.options.each do |item| -%>
                    <div class="form-group">  
                      <div class="input-group">
                        <%= f.radio_button(:pay_type, item.last, class: 'order_pay_type') %>
                      </div>
                      <span>
                        <label for="order_pay_type_<%= item.last %>">
                          <%= image_tag "pay_type_#{item.last}.png" %>
                          <i><%= item.first %></i>
                       </label>
                       <% if item.last == 'account' -%>
                         <em id="available_balance" data-total="<%= current_user.cash_account!.available_balance %>">(<%= number_to_currency(current_user.cash_account!.available_balance) %>)</em>
                       <% end -%>
                      </span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>


            <div class="student-buy-footer preferential">
              <div class="preferential-code">
                <div class="form-group">
                  <%= label_tag :coupon_code, t("view.course_order_new.coupon_code") %>
                  <div class="input-group">
                    <%= text_field_tag :coupon_code, params[:coupon_code].presence, placeholder: t("view.course_order_new.coupon_code_input"), class: 'form-control' %>
                    <input type="button" name="" id="check_coupon_btn" class="hide" value="<%= t("view.course_order_new.check_coupon_btn") %>">
                  </div>
                  <div class="preferential-prompt">
                    <span class="prompt-default"><%= t("view.course_order_new.coupon_code_prompt1", price: 'X') %></span>
                    <span class="prompt-notice hide"><%= t("view.course_order_new.coupon_code_prompt2") %></span>
                    <span class="prompt-correct hide"><%= image_tag "correct.png" %><i><%= t("view.course_order_new.coupon_code_prompt_correct") %><b>10</b><%= t("view.course_order_new.coupon_code_prompt_correct_yuan") %></i></span>
                    <span class="prompt-error hide"><%= image_tag "error.png" %><i><%= t("view.course_order_new.coupon_code_prompt_error") %></i></span>
                  </div>
                </div>
              </div>

              <div class="buy-footer-msg">
                <span><%= t("view.course_order_new.total_money") %>：</span>
              </div>
              <div class="buy-footer-btn">
                <input type="submit" name="" id="" value="<%= t("view.course_order_new.pay") %>">
                <p><%= t("view.course_order_new.tips") %></p>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      $('#coupon_code').on('keyup', function(){
        var check_coupon_btn = $('#check_coupon_btn'),
            prompt_default = $('.prompt-default'),
            prompt_notice = $('.prompt-notice'),
            coupon_code_input = $(this),
            order_total = $('#order_total');

        if(coupon_code_input.val().length > 0){
          check_coupon_btn.removeClass('hide').removeClass('active');
          prompt_notice.removeClass('hide').siblings('span').addClass('hide');
        }else{
          check_coupon_btn.addClass('hide');
          prompt_default.removeClass('hide').siblings('span').addClass('hide');
        }
        order_total.html('¥ ' + parseFloat(order_total.data('total')).toFixed(2));
      });

      $(document).on('click', '#check_coupon_btn', function(event) {
        if( $(this).hasClass('active') ){return false;}

        // 检查优惠券
        var order_total = $('#order_total');

        $.ajax({
          url: '/live_studio/orders/check_coupon',
          type: 'POST',
          dataType: 'json',
          data: {coupon_code: $('#coupon_code').val()},
          success: function(data){
            $('#check_coupon_btn').addClass('active');
            if(data.success){
              $('.prompt-correct').removeClass('hide').siblings('span').addClass('hide');
              $('.prompt-correct i b').html(data.price);
              clt_total = parseFloat(order_total.data('total')) - parseFloat(data.price);
              order_total.html( '¥ ' + clt_total.toFixed(2) );
            }else{
              $('.prompt-error').removeClass('hide').siblings('span').addClass('hide');
              order_total.html('¥ ' + parseFloat(order_total.data('total')).toFixed(2));
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown){alert('request failed!')}
        })

      });

      // 下单校验
      $('#new_order').submit(function(){
        if( !$('.prompt-error').hasClass('hide') ){
          alert('<%= t("view.course_order_new.coupon_code_error") %>');
          return false;
        }

        if( $('#coupon_code').val().length > 0 && !$('.prompt-notice').hasClass('hide') ){
          alert('<%= t("view.course_order_new.coupon_code_valid_error") %>');
          return false;
        }

        if($('input.order_pay_type:checked').size() == 0){
          alert('<%= t("view.course_order_new.order_pay_type_none") %>');
          return false;
        }

        var available_balance = parseFloat($('#available_balance').data('total')),
            current_order_total = parseFloat( $('#order_total').data('total') );
        if( $('.order_pay_type:checked').val() == 'account' && available_balance < current_order_total ){
          alert('<%= t("view.course_order_new.available_balance_error") %>');
          return false;
        }

      });

      // 二维码登录自动检验优惠码
      if( !$.isBlank($('#coupon_code').val()) ){
        $('#coupon_code').trigger('keyup');
        $('#check_coupon_btn').trigger('click');
      }
    })
  </script>
<% end %>
