<div class="qa_box">
  <div class="qa_big_cell">
    <h2><%=get_edit_or_create_model_string(@manager)%></h2>
  </div>
</div>

<div class="qa_box">
  <div class="qa_big_cell">
    <%= simple_form_for [:admins, @manager] do |f| %>

        <div class="form-inputs">
          <%= f.input :name, :required => true %>

          <%= f.input :email, :required => true, :autofocus => true %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.hidden_field "crop_#{attribute}"%>
          <% end %>

          <%= f.input :avatar,input_html:{onchange:"showimagepreview(this)"},:hint => "用户头像不可为空。" %>
          <div style="width: 242px;height: 242px; border: 1px dashed;">
            <img id="user_avatar_preview" style="width: 100%;">
          </div>

          <%= f.input :password, :autocomplete => "off"%>
          <%= f.input :password_confirmation %>

          <%= f.input :login_mobile %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>
