<div class="row">
  <div class="col-md-2">
    <label><%= f.object.name %></label>
  </div>
  <div class="col-md-10">
    <%= f.label :title %>
    <%= f.input_field :title %>

    <label><%= f.object.class.human_attribute_name(:topic_options) %></label>
    <%= f.fields_for :topic_options do |option_form| %>
      <div class="row">
        <div class="col-md-1">
          <label><%= option_form.object.name %></label>
        </div>
        <div class="col-md-10">
          <%= option_form.input_field :title %>
        </div>
        <div class="col-md-1">
          <%= option_form.input_field :correct %>
        </div>
      </div>
    <% end %>
  </div>
</div>