<div class="qa_box">
  <div class="qa_big_cell">
    <%= link_to @syllabus.title, course_library.syllabus_path(@syllabus) %> /
    <%= link_to @directory.title, course_library.syllabus_directory_path(@syllabus, @directory) %> /
    <%= link_to @course.title, directory_course_path(@directory, @course) %>/
  </div>
  <%= simple_form_for [@course, @homework] do |f| %>
      <div class="qa_big_cell">
        <%= f.input :title %>
        <%= f.input :description %>

        <div class="qa_sep_15"></div>

        <label>文件</label>
        <div class="qa_sep_15"></div>
        <%= f.fields_for :qa_files do |builder| %>
            <%= render 'shared/qa_files/qa_file_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "添加#{f.object.class.human_attribute_name(:qa_files)}", f, :qa_files, "shared/qa_files/" %></br>
        <div class="qa_sep_15"></div>

        <%= f.submit nil, :class => 'btn btn-primary', :data => {:"disable-with" => "请稍等..."} %>
      </div>
  <% end %>
</div>
