<tr>
  <td><%= show_index(customized_group_counter, @customized_groups.limit_value) %></td>
  <td><%= customized_group.name %></td>
  <td><%= customized_group.teacher_name %></td>
  <td><%= number_to_currency(customized_group.price, locale: 'cn') %></td>
  <td><%= number_to_percentage(customized_group.teacher_percentage, precision: 0) %></td>
  <td><%= customized_group.status_text %></td>
  <td class="handle">
    <% if allow? 'live_studio/customized_groups', :preview %>
      <%= link_to t('view.live_studio/interactie_course.new.preview'), live_studio.preview_customized_groups_path(id: customized_group), method: :post, target: '_blank' %>
    <% end %>
    <% if allow? 'live_studio/customized_groups', :update_class_date, @workstation %>
      <%= link_to t('view.live_studio/interactie_course.index.edit_lesson'), update_class_date_customized_group_path(customized_group, workstation_id: @workstation) %>
    <% end %>
  </td>
</tr>