<%= simple_form_for [:station, @workstation, @customized_group] do |f| %>
  <%= f.input :workstation_id, as: :hidden %>
  <div class="editor-item">
    <h3 class="file-title"><%= t('view.live_studio/interactive_course.new.intro_one') %></h3>
    <%= render 'course_fields', f: f %>
  </div>

  <div class="editor-item">
    <h3 class="file-title"><%= t('view.live_studio/customized_group.new.intro_two') %></h3>
    <div class="live-arrangement">
      <div class="online-live">
        <p class="line-title"><%= t('view.live_studio/customized_group.new.scheduled_lesson_title') %></p>
        <%= f.fields_for :scheduled_lessons do |lesson| %>
          <%= render 'scheduled_lesson_fields', f: lesson %>
        <% end %>

        <%= raw link_to_add_fields(image_tag('addclass.png') + "<span>#{t('view.live_studio/course.new.add_lesson')}</span>".html_safe, f, :scheduled_lessons, 'live_studio/station/customized_groups/') %>
      </div>
      <%= f.input :scheduled_lessons, label: false, input_html: {style: 'display: none;'} %>

      <div class="offline-live">
        <p class="line-title"><%= t('view.live_studio/customized_group.new.offline_lesson_title') %></p>
        <%= f.fields_for :offline_lessons do |lesson| %>
          <%= render 'offline_lesson_fields', f: lesson %>
        <% end %>

        <%= raw link_to_add_fields(image_tag('addclass.png') + "<span>#{t('view.live_studio/course.new.add_lesson')}</span>".html_safe, f, :offline_lessons, 'live_studio/station/customized_groups/') %>
      </div>
      <%= f.input :offline_lessons, label: false, input_html: {style: 'display: none;'} %>
    </div>
    <%= f.error :events %>
  </div>

  <div class="editor-item">
    <h3 class="file-title"><%= t('view.live_studio/interactive_course.new.intro_three') %></h3>
    <%= render 'course_fields2', f: f %>

    <div class="present">
      <center>
        <%= link_to t('view.live_studio/interactive_course.new.preview'), 'javascript:void(0);', id: 'course_preview' %>
        <%= link_to t('view.live_studio/interactive_course.new.submit'), 'javascript:void(0);', class: 'submit' %>
      </center>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function(){
      $('.submit').click(function(){
        if($(this).hasClass('submitting')) return false;
        $(this).addClass("submitting");
        $('form').submit();
      });

      $("#course_preview").click(function() {
        var action = $(this).parents("form").attr('action');
        $(this).parents("form").attr('action', "<%= live_studio.preview_customized_groups_path %>");
        $(this).parents("form").attr('target', '_blank');
        $(this).parents("form").submit();
        $(this).parents("form").attr('action', action);
        $(this).parents("form").removeAttr('target');
      });

      var hoverset;
      $(".create-header > .course-hint").hover(function() {
        $(".course-description").show();
        if(hoverset) {
          clearTimeout(hoverset);
        }
      }, function() {
        hoverset = setTimeout(function() {
          $(".course-description").hide();
        }, 200)
      })
    });
    function _get_time(hour, minutes, duration){
      return $.getLessonTime(hour, minutes, duration);
    }
    function remove_lesson(obj){
      $(obj).parents("div.lesson_field").hide();
      var b = $(obj).attr('rel');
      $('#'+b).attr('checked', true);
    }
    function testShow(elem){
      $.jeDate(elem,{
        skinCell:"jedatered",
        festival:false,
        insTrigger:false,
        isToday: false,
        //isinitVal:true,
        format:"YYYY-MM-DD",
        isClear:false,
        minDate: '<%= Date.today.to_s %>'
      });
    }
  </script>
<% end %>
