<div class="filter-right">
  <%= form_tag url, method: :get do -%>
    <div class="space-item">
      <%= label_tag :select_workstation_id,  "#{t('view.live_studio/course.filter.workstation')}:" %>
      <%= select_tag :select_workstation_id, options_for_select(::Workstation.pluck(:name,:id), params[:select_workstation_id]),
                     prompt: t("live_studio.course.menu.all"),
                     class: 'immediately' %>
    </div>
    <div class="space-item">
      <%= label_tag :grade,  "#{t('view.live_studio/course.filter.grade')}:" %>
      <%= select_tag :grade, options_for_select(APP_CONSTANT['grades_in_menu'], params[:grade]),
                     prompt: t("live_studio.course_request.menu.all"),
                     class: 'immediately' %>
    </div>
    <div class="space-item">
      <%= label_tag :subject,  "#{t('view.live_studio/course.filter.subject')}:" %>
      <%= select_tag :subject, options_for_select(APP_CONSTANT['subjects'], params[:subject]), prompt: t("live_studio.course_request.menu.all"),
                     class: 'immediately' %>
    </div>
  <% end %>
</div>