<tr>
  <td><%= show_index(my_course_counter, @courses.limit_value) %></td>
  <td><%= my_course.name %></td>
  <td><%= my_course.teacher.try(:name) %></td>
  <td><%= number_to_currency(my_course.price, locale: 'cn') %></td>
  <td><%= number_to_percentage(my_course.teacher_percentage, precision: 0) %></td>
  <td><%= my_course.status_text %></td>
  <td class="handle">
    <% if allow? 'live_studio/courses', :preview %>
      <%= link_to t('view.live_studio/interactie_course.new.preview'), live_studio.preview_courses_path(id: my_course), method: :post, target: '_blank' %>
    <% end %>
    <% if allow? 'live_studio/courses', :update_class_date, my_course %>
      <%= link_to t('view.live_studio/interactie_course.index.edit_lesson'), update_class_date_course_path(my_course, workstation_id: @workstation) %>
    <% end %>
  </td>
</tr>