
<%= link_to curriculum_path(curriculum) do %>
  <div class="col-md-6 group-info">
    <div class="course-msg">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 subject">
          <p><%= curriculum.teaching_program.subject %></p>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 subject-info">
          <h4><%= curriculum.teaching_program.name %></h4>
          <p>
            <span><%= curriculum.teaching_program.grade %></span>
            <span class="chapter">
              <%= curriculum.courses_count %> <%= Course.model_name.human %> •
              <%= curriculum.lessons_count %> <%= Lesson.model_name.human %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>