<div class="container">
  <%= render partial: 'live_studio/courses/tab' %>
  <%= search_form_for @q, id: 'search-form' do |f| %>
    <%= f.search_field :grade_eq, type: 'hidden' %>
    <%= f.search_field :subject_eq, type: 'hidden' %>
    <ul class="personal-nav">
      <li class="grade-filter">
        <span class="col-md-1"><%= LiveStudio::InteractiveCourse.human_attribute_name(:grade) %>：</span>
        <span class="col-md-11">
          <%= link_to t("view.course_filter.all"),
                      live_studio.video_courses_path(@search_params.deep_merge(q: { grade_eq: nil })),
                      class: "#{'active' if @search_params[:q].blank? || @search_params[:q][:grade_eq].blank? }" %>
          <% APP_CONSTANT['grades_in_sorts'].each do |grade| %>
            <%= link_to grade,
                        live_studio.video_courses_path(@search_params.deep_merge(q: { grade_eq: grade })),
                        class: "#{'active' if @search_params[:q] && @search_params[:q][:grade_eq] == grade }" %>
          <% end %>
        </span>
      </li>
      <li class="subject-filter">
        <span class="col-md-1"><%= LiveStudio::InteractiveCourse.human_attribute_name(:subject) %>：</span>
        <span class="col-md-11">
          <%= link_to t("view.course_filter.all"),
                      live_studio.video_courses_path(@search_params.deep_merge(q: { subject_eq: nil })),
                      class: "#{'active' if @search_params[:q].blank? || @search_params[:q][:subject_eq].blank? }" %>
          <% APP_CONSTANT['subjects'].each do |subject| %>
            <%= link_to subject,
                        live_studio.video_courses_path(@search_params.deep_merge(q: { subject_eq: subject })),
                        class: "#{'active' if @search_params[:q] && @search_params[:q][:subject_eq] == subject }" %>
          <% end %>
        </span>
      </li>

      <li class="filter-condition">
        <span class="nav-hot">
          <%= f.sort_link :published_at,
                          LiveStudio::InteractiveCourse.human_attribute_name(:latest) %>
          <%= f.sort_link :price,
                          LiveStudio::InteractiveCourse.human_attribute_name(:price) %>
          <%= f.sort_link :buy_tickets_count,
                          LiveStudio::Course.human_attribute_name(:users_count) %>
        </span>
        <span>|</span>
        <span class="nav-order">
          <% LiveStudio::VideoCourse.sell_type.options.each do |item| %>
            <% sell_type_id = LiveStudio::VideoCourse.sell_type.find_value(item.last).try(:value) %>
              <%= link_to live_studio.video_courses_path(@search_params.deep_merge(q: { sell_type_eq: sell_type_id })), class: "#{'active' if @search_params[:q] && @search_params[:q][:sell_type_eq] == sell_type_id.to_s }" do %>
              <i></i><%= item.first %>
            <% end %>
          <% end %>
        </span>
      </li>
    </ul>
  <% end %>
</div>