<div class="qa_cell">
  <table class="table table-striped">
    <tr>

      <% if not current_user.teacher? %>
          <th><%= CustomizedCourse.model_name.human %></th>
      <th>
        <%= CustomizedCourse.human_attribute_name(:teachers) %>
      </th>
      <% end %>

      <% if not current_user.teacher? and not current_user.student? %>
        <th>
            <%= CustomizedCourse.human_attribute_name(:is_keep_account) %>
         </th>
      <% end %>
      <% if not current_user.student? %>
      <th>
        <%= CustomizedCourse.human_attribute_name(:student) %>
      </th>
      <% end %>
      <% if current_user.teacher? %>
          <th> <%= CustomizedCourse.human_attribute_name(:desc) %> </th>
      <% end %>
      <% if current_user.admin? %>
          <th>
            <%= CustomizedCourse.human_attribute_name(:teacher_price) %>
          </th>
          <th>
            <%= CustomizedCourse.human_attribute_name(:platform_price) %>
          </th>
      <% end %>
      <th>
        <%= CustomizedTutorial.model_name.human %>
      </th>
      <th >
        <%= Homework.model_name.human %>
      </th>
      <th >
        超过3天未写的家庭作业数量
      </th>
      <th>
        <%= CustomizedCourse.human_attribute_name(:topics) %>

      </th>
    </tr>
    <%= render partial:'shared/customized_courses/customized_course',collection: customized_courses %>
  </table>
  <%= will_paginate customized_courses ,renderer: BootstrapPagination::Rails %>
</div>

