<% if @lesson %>
    <div class="qa_box">
      <%= render partial: 'lessons/lesson_video',locals: {lesson: @lesson} %>
      <%= render partial: 'shared/qa_files/qa_file', collection: @qa_files %>

      <div class="qa_cell">
        <% if @lesson.rejected? %>
            <span class="qa_f12 label label-danger"><%=@lesson.human_state_name%></span>
            <div class="qa_sep_15"></div>
            <div>
                <%= @lesson.current_review_record.reason %>
            </div>
        <% else %>
            <span class="qa_f12 label label-success"><%=@lesson.human_state_name%></span>
        <% end %>
      </div>
      <% if allow? :videos, :reconvert %>
          <%= render partial: 'videos/video_convert',locals: {video:@lesson.video} %>
      <% end %>
      <% if @lesson.reviewing? and allow? "managers/lessons",:update,@lesson   %>
          <div class="qa_cell">
            <%= simple_form_for [:managers,@lesson] do |f|%>
                <%= f.input :state_event ,collection:[[Lesson.human_state_event_name(:approve),"approve"],
                                                      [Lesson.human_state_event_name(:reject), "reject"]],
                            :include_blank => false %>
                <%= f.simple_fields_for :current_review_record do |review_record|%>
                    <% review_record.input :reason,:inline_label=>true%>
                <% end %>
                <%= f.submit "提交审核" ,class: "btn btn-default"%>
            <% end %>
          </div>
      <% end %>
    </div>
<% else %>
    <div style="text-align: center;padding: 10px">
      没有任何内容!
    </div>
<% end %>