<div class="col-md-10 col-md-offset-1">
  <div class="qa_box row">
    <div class="qa_big_cell ">
      <h2 class="text-center"><%= t ".title" %></h2>

      <%= simple_form_for(@teacher, url: teacher_path(@teacher, cate: :register, by: :register) ) do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:name)%><abbr title="required">*</abbr></div>
            <div class="col-md-9">
              <%= f.input :name, label: false, placeholder: t('.name_ph') %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:nick_name)%></div>
            <div class="col-md-9">
              <%= f.input :nick_name, label: false, placeholder: t('.nick_name_ph') %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:gender)%></div>
            <div class="col-md-9">
              <%= f.input :gender, as: :radio_buttons, label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:avatar)%><abbr title="required">*</abbr></div>
            <div class="col-md-9">
              <% %w[x y w h].each do |attribute| %>
                <%= f.hidden_field "crop_#{attribute}"%>
              <% end %>
              <%= f.input :avatar, label: false, input_html:{onchange:"showimagepreview(this)"}, :hint => "用户头像不可为空。" %>
              <div style="width: 242px;height: 242px; border: 1px dashed;">
                <img id="user_avatar_preview" style="width: 100%;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:subject) %><abbr title="required">*</abbr></div>
            <div class="col-md-9">
              <%= f.input :subject, label: false, :collection => APP_CONSTANT["subjects"], include_blank: false %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:category) %><abbr title="required">*</abbr></div>
            <div class="col-md-9">
              <%= f.input :category, label: false, :collection => APP_CONSTANT["categories"], include_blank:false %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:province) %><abbr title="required">*</abbr></div>
            <div class="col-md-9">
              <div class="form-group select optional teacher_province">
                <%= f.input :province_id,collection: Province.all.map{|p| [p.name, p.id]}, include_blank: false, label: false,
                            input_html: {
                              'data-remote': true,
                              'data-url': url_for(controller: 'ajax/data', action: 'option_cities', second: 'data-second', third: 'data-third')
                            } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:city) %><abbr title="required">*</abbr></div>
            <div class="col-md-9">
              <%= f.input :city_id, label: false, collection: Province.first.cities.map{|c| [c.name, c.id]}, include_blank: false,
                          input_html: {
                            class: 'data-second',
                            'data-remote': true,
                            'data-url': url_for(controller: 'ajax/data', action: 'option_schools', third: 'data-third')
                          } %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:school) %><abbr title="required">*</abbr></div>
            <div class="col-md-9">
              <%= f.input :school, label: false, input_html: {value: @teacher.school.try(:name), list: 'search_school', placeholder: '双击可选'}%>
              <%= content_tag :datalist, id: 'search_school', class: 'data-third' do%>
                <% School.all.each do |school| %>
                  <option value="<%= school.name %>">
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:desc) %></div>
            <div class="col-md-9">
              <%= f.input :desc, label: false, as: :text, placeholder: t('.desc_ph') %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right form_lable"><%= Teacher.human_attribute_name(:email) %></div>
            <div class="col-md-9">
              <%= f.input :email, label: false, placeholder: t('.email_ph') %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
              <%= f.input :email_confirmation, label: false, placeholder: t('.email_confirmation_ph') %>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <%= f.submit '完成注册', class: "btn btn-default" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $('.selectpicker').selectpicker({
    style: 'btn-default show-tick',
    size: 4,
    'data-live-search': "true"
  });
</script>

