<% if_show_mobile_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :login_mobile) %>
<div class="row modifiy <%= 'active' if if_show_mobile_div %>">
  <% if @teacher.login_mobile_was.present? && UserService::CaptchaManager.expire?(session["change-login_mobile-#{@teacher.login_mobile_was}"]) %>
    <%= form_tag(verify_ajax_captchas_path, method: :post, remote: true, id: "mobile_captcha_for_change_mobile_form") do |f| %>
      <input type="hidden" name="send_to" value="<%= @teacher.login_mobile %>" id="teacher_login_mobile_for_change_login_mobile">
      <input type="hidden" name="teacher_id" value="<%= @teacher.id %>">
      <input type="hidden" name="cate" value="security_setting">
      <input type="hidden" name="by" value="login_mobile">

      <div class="modifiy-info">
        <div class="row">
          <div class="col-md-3  label-line">
            <label for="" class="control-label"><%= t('students.edit_login_mobile.binding_mobile') %></label>
          </div>
          <div class="col-md-6">
            <span class="contact-info"><%= @teacher.login_mobile %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3  label-line">
            <label for="login_mobile-captcha-input" class="control-label"><%= t('students.edit_login_mobile.mobile_captcha2') %></label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <input maxlength="4" id="login_mobile-captcha-input" class="string optional form-control" type="text" name="captcha" placeholder="<%= t('students.edit_password.placeholders.payment_captcha_confirmation') %>">
                <span class="input-group-btn">
                  <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#teacher_login_mobile_for_change_login_mobile" data-send-url="<%= ajax_captchas_path %>" data-key="send_captcha" value="<%= t ".get_captcha" %>">
                </span>
              </div>
              <span class="help-block has-error"></span>
            </div>
          </div>
        </div>
        <div class="row save-line">
          <div class="col-md-6 col-md-offset-3">
            <center>
              <%= link_to t('common.cancel'), edit_teacher_path(@teacher, cate: :security_setting) %>
              <%= submit_tag t('students.common.next_step') %>
            </center>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= simple_form_for(@teacher, url: teacher_path(@teacher, cate: :security_setting, by: :login_mobile), html: {id: "mobile_captcha_for_change_mobile_form"}) do |f| %>
      <div class="modifiy-info">
        <div class="row">
          <div class="col-md-3  label-line">
            <%= f.label :login_mobile, t('students.edit_login_mobile.new_mobile') %>
          </div>
          <div class="col-md-6">
            <% _input_html = action_name == "edit" ?  { maxlength: 11, value: "" } : { length: 11 } %>
            <%= f.input :login_mobile, label: false, input_html: _input_html %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3  label-line">
            <%= f.label :captcha_confirmation, t('students.edit_login_mobile.mobile_captcha2') %>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <%= f.input_field :captcha_confirmation, maxlength: 4 %>
                <span class="input-group-btn">
                  <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#teacher_login_mobile" data-send-url="<%= ajax_captchas_path %>" data-key="send_captcha" value="<%= t ".get_captcha" %>">
                </span>
              </div>
            </div>
            <%= f.error :captcha_confirmation %>
          </div>
        </div>
        <div class="row save-line">
          <div class="col-md-6 col-md-offset-3">
            <center>
              <%= link_to t('common.cancel'), edit_teacher_path(@teacher, cate: :security_setting) %>
              <%= f.submit t('students.edit_login_mobile.to_bind_mobile') %>
            </center>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>