
<% if_show_password_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :password) %>
<div class="row modifiy <%= 'active' if if_show_password_div %>">
  <%= simple_form_for(@teacher, url: teacher_path(@teacher, cate: :security_setting, by: :password), html: {id: "edit_password_form"}) do |f| %>
    <div class="modifiy-info">
      <div class="row">
        <div class="col-md-3 label-line">
          <%= f.label :current_password, t('students.edit_password.current_password_label') %>
        </div>
        <div class="col-md-6">
          <%= f.input_field :current_password %>
          <%= f.error :current_password %>
        </div>
        <div class="col-md-3 find-line">
          <%= link_to t("passwords.common.find_password"), new_password_path %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 label-line">
          <%= f.label :password, t('students.edit_password.password_label') %>
        </div>
        <div class="col-md-6">
          <%= f.input_field :password %>
          <%= f.error :password %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 label-line">
          <%= f.label :password_confirmation, t('students.edit_password.password_confirmation_label') %>
        </div>
        <div class="col-md-6">
          <%= f.input_field :password_confirmation %>
          <%= f.error :password_confirmation %>
        </div>
      </div>
      <div class="row save-line">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <%= link_to t('common.cancel'), edit_teacher_path(@teacher, cate: :security_setting) %>
            <%= f.submit t('common.save') %>
          </center>
        </div>
      </div>
    </div>
  <% end %>
</div>