<div class="contains">
  <%= render 'info_title' %>

  <div class="user-smg user-edit">
    <%= simple_form_for(@teacher, url: teacher_path(@teacher, cate: :edit_profile, by: :profile), html: {id: :edit_profile_form})  do |f| %>
      <ul>
        <li class="edit-info">
          <div class="head-portrait pre-4">
            <%= image_tag 'head-title.png', class: 'handle_error_avatar jcrop-preview jcrop_preview_s', id: 'teacher_avatar_preview4' %>
            <a href="#" data-toggle="modal" data-target="#edit_avatar">
              <%= image_tag 'camera.png' %>
              <p><%= t('students.edit_profile.edit_avatar_btn') %></p>
            </a>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :name, t('students.edit_profile.name') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :name %>
              <%= f.error :name %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :nick_name, Teacher.human_attribute_name(:nick_name) %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :nick_name %>
              <%= f.error :nick_name %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <label class="required control-label" for="teacher_gender_male"><%= t('students.edit_profile.gender') %></label>
            </div>
            <div class="col-md-10 col-sm-10">
              <label for="teacher_gender_male" class="user-gender">
                <%= f.radio_button :gender, 'male' %>
                <%= t('students.edit_profile.male') %>
              </label>
              <label for="teacher_gender_female" class="user-gender">
                <%= f.radio_button :gender, 'female' %>
                <%= t('students.edit_profile.female') %>
              </label>
              <%= f.error :gender %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :birthday, t('students.edit_profile.birthday') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :birthday, as: :string, readOnly: true, placeholder: t('students.edit_profile.placeholders.birthday'), onClick: 'testShow(this);' %>
              <%= f.error :birthday %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :category, Teacher.human_attribute_name(:category) %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input :category, label: false, :collection => APP_CONSTANT["categories"], include_blank: false %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :province_id, t('students.edit_profile.province_id') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="col-md-6 col-sm-6 col-xs-6 region">
                <%= f.input_field :province_id, as: :select,
                                  collection: Province.pluck(:name, :id),
                                  include_blank: t("students.edit_profile_for_register.select_province"),
                                  'data-remote': true,
                                  'data-url': url_for(controller: 'ajax/data', action: 'option_cities', second: 'data-second', third: 'data-third') %>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 region">
                <%= f.input_field :city_id, as: :select,
                                  collection: City.where(province_id: f.object.province_id).map{|c| [c.name, c.id]},
                                  include_blank: t("students.edit_profile_for_register.select_city"),
                                  class: 'data-second',
                                  'data-remote': true,
                                  'data-url': url_for(controller: 'ajax/data', action: 'option_schools', third: 'data-third') %>
              </div>
              <%= f.error :city_id %>
            </div>
          </div>

        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :school_id, Teacher.human_attribute_name(:school) %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :school_id, as: :select,
                                collection: School.where(city_id: f.object.city_id).map {|s| [s.name, s.id] },
                                include_blank: true,
                                class: 'data-third' %>
              <%= f.error :school_id %>
            </div>
          </div>

        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :subject, Teacher.human_attribute_name(:subject) %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input :subject, label: false, :collection => APP_CONSTANT["subjects"], include_blank: false %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :teaching_years, Teacher.human_attribute_name(:teaching_years) %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input :teaching_years, label: false, as: :select, include_blank: false %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <%= f.label :desc, t('students.edit_profile.desc') %>
            </div>
            <div class="col-md-10 col-sm-10">
              <%= f.input_field :desc, as: :text, rows: 3, placeholder: t('teachers.edit_profile.placeholders.desc'), maxlength: 200 %>
              <%= f.error :desc %>
            </div>
          </div>
        </li>
      </ul>
      <div class="user-send">
        <center>
          <%= link_to t("students.common.cancel"), info_teacher_path(@teacher) %>
          <%= f.submit t('students.common.save') %>
        </center>
      </div>
      <%= render partial: 'students/avatar_uploader', locals: {f: f} %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    function testShow(elem){
      $.jeDate(elem, {
        skinCell: "jedatered",
        festival: false,
        insTrigger: false,
        //isinitVal:true,
        format: "YYYY-MM-DD",
        isClear: false,
        minDate: '1900-01-01'
      });
    }
  </script>
<% end %>