<% if_show_mobile_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :login_mobile) %>
<div id="edit_login_mobile_area" style="padding-top: 30px;<%= 'display:none;' unless if_show_mobile_div %>">
  <!-- 使用mobile_was,来防止未更新的情况 -->
  <% if UserService::CaptchaManager.expire?(session["change-login_mobile-#{@teacher.login_mobile_was}"]) %>
    <%= form_tag(verify_ajax_captchas_path, method: :post, remote: true, id: "mobile_captcha_for_change_mobile_form") do |f| %>
      <input type="hidden" name="send_to" value="<%= @teacher.login_mobile %>" id="teacher_login_mobile">
      <input type="hidden" name="teacher_id" value="<%= @teacher.id %>">
      <input type="hidden" name="cate" value="security_setting">
      <input type="hidden" name="by" value="login_mobile">

      <div class="row" >
        <div class="col-md-2 col-md-offset-3 text-right">
          <%= t ".binding_mobile" %>:
        </div>
        <div class="col-md-3">
          <%= @teacher.login_mobile %>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-2 col-md-offset-3 text-right">
          <%= t ".mobile_captcha" %>:
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group string optional teacher_captcha"><input maxlength="4" id="mobile-captcha-input" class="string optional form-control" size="4" type="text" name="captcha"></div>
            </div>
            <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#teacher_login_mobile" data-send-url="<%= ajax_captchas_url %>" data-key="send_captcha" value="<%= t ".get_captcha" %>">
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#mobile_captcha_for_change_mobile_form"><%= t "teachers.common.next_step" %></button>

        <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#mobile_captcha_for_change_mobile_form" data-jump-href="<%= edit_teacher_path(@teacher, cate: :security_setting) %>"><%= t "teachers.common.cancel" %></button>
      </div>
    <% end %>
  <% else %>
    <%= simple_form_for(@teacher, url: teacher_path(@teacher, cate: :security_setting, by: :login_mobile), html: {id: "mobile_captcha_for_change_mobile_form"}) do |f| %>
      <div class="row" >
        <div class="col-md-2 col-md-offset-3 text-right">
          <%= t ".new_mobile" %>:
        </div>
        <div class="col-md-3">
          <% _input_html = action_name == "edit" ?  { maxlength: 11, value: "" } : { length: 11 } %>
          <%= f.input :login_mobile, label: false, input_html: _input_html %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-3 text-right">
          <%= t ".mobile_captcha" %>:
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= f.input :captcha_confirmation, label: false, input_html: { maxlength: 4 } %>
            </div>
            <input class="btn btn-default" type="button" data-send-captcha-btn data-send-to-input="#teacher_login_mobile" data-send-url="<%= ajax_captchas_url %>" data-key="send_captcha" value="<%= t ".get_captcha" %>">
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="col-md-offset-4 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-submit data-form-el="#mobile_captcha_for_change_mobile_form"><%= t ".to_bind_mobile" %></button>

        <button type="button" class="col-md-offset-1 btn btn-default" style="margin-top: 20px;margin-bottom: 20px" data-form-reset data-form-el="#mobile_captcha_for_change_mobile_form" data-jump-href="<%= edit_teacher_path(@teacher, cate: :security_setting) %>"><%= t "teachers.common.cancel" %></button>
      </div>
    <% end %>
  <% end %>
</div>
