<div class="login-wechat">
  <div class="container">
    <div class="row">
      <div class="detail-title">
        <%= t("students.edit_profile_for_register.welcome") %>
      </div>
      <div class="detail-content">
        <%= simple_form_for(@teacher, url: teacher_path(@teacher, cate: :register, by: :register) ) do |f| %>

          <div class="tecmsg-con">
            <div class="row">
              <div class="form-group">
                <label class="control-label" for="course_invitation_user_mobile">设置姓名：</label>
                <%= f.text_field :name, placeholder: '请输入真实姓名（必填）', class: 'form-control' %>
                <%= f.error :name %>
                <%= content_tag :span, '', class: 'help-block has-error' if @teacher.errors[:name].blank? %>
              </div>

              <div class="form-group">
                <label class="control-label" for="course_invitation_user_grade">授课类型：</label>
                <%= f.text_field :category, placeholder: '选择可授年级范围（必选）', readonly: 'readonly', class: 'form-control'%>
                <span class="glyphicon glyphicon-chevron-down tecmsg-down"></span>
                <ul class="tecmsg-grade">
                  <% APP_CONSTANT["categories"].each do |cat| %>
                    <li><%= cat %></li>
                  <% end %>
                </ul>
                <%= f.error :category %>
                <%= content_tag :span, '', class: 'help-block has-error' if @teacher.errors[:category].blank? %>

              </div>
              <div class="form-group">
                <label class="control-label" for="course_invitation_user_subject">授课科目：</label>
                <%= f.text_field :subject, readonly: "readonly", placeholder: '选择授课科目（必选）', class: 'form-control' %>
                <span class="glyphicon glyphicon-chevron-down tecmsg-drop"></span>
                <ul class="tecmsg-subject">
                  <% APP_CONSTANT["subjects"].each do |sub| %>
                    <li><%= sub %></li>
                  <% end %>
                </ul>
                <%= f.error :subject %>
                <%= content_tag :span, '', class: 'help-block has-error' if @teacher.errors[:subject].blank? %>
              </div>

              <div class="form-group">
                <label class="control-label" for="course_invitation_user_year">执教年龄：</label>
                <%= f.text_field :teaching_years, class: 'form-control', readonly: 'readonly', placeholder: '选择教龄（必选）', value: @teacher.teaching_years.text %>
                <span class="glyphicon glyphicon-chevron-down tecmsg-under"></span>
                <ul class="tecmsg-year">
                  <% Teacher.teaching_years.options.map(&:first).each do |years| %>
                    <li><%= years %></li>
                  <% end %>
                </ul>
                <%= content_tag :span, '', class: 'help-block has-error' if @teacher.errors[:teaching_years].blank? %>
                <%= f.error :teaching_years %>
              </div>

              <div class="form-group">
                <label class="control-label" for="course_invitation_user_mobile">所在学校：</label>
                <%= f.text_field :school_name, class: 'form-control', placeholder: '请填写真实的学校完整名称（必填）', value: "#{@teacher.school.try(:name)}" %>
                <%= content_tag :datalist, id: 'search_school', class: 'data-third' do%>
                  <% School.all.each do |school| %>
                    <option value="<%= school.name %>">
                  <% end %>
                <% end %>
                <%= f.error :school %>
                <%= content_tag :span, '', class: 'help-block has-error' if @teacher.errors[:school].blank? %>
                <span class="help-block has-error"></span>
              </div>
              <div class="form-group">
                <label class="control-label">所在城市：</label>
  		          <span>
                  <%= f.input_field :province_id,collection: Province.all.map{|p| [p.name, p.id]}, include_blank: '选择省',
                                'data-remote': true,
                                'data-url': url_for(controller: 'ajax/data', action: 'option_cities', second: 'data-second', third: 'data-third')
                               %>
                  <%= f.input_field :city_id,collection: (@teacher.province || Province.first).cities.map{|c| [c.name, c.id]}, include_blank: '选择市',
                                class: 'data-second',
                                'data-remote': true,
                                'data-url': url_for(controller: 'ajax/data', action: 'option_schools', third: 'data-third')
                               %>
                </span>
                <span class="tecmsg-city">（已精确到县级市；必选）</span>
                <%= content_tag :span, '', class: 'help-block has-error' if @teacher.errors[:city_id].blank? %>
                <%= f.error :city_id %>
              </div>
              <div class="form-group tecmsg-textarea">
                <label class="control-label" for="course_invitation_user_introduce">自我介绍：</label>
                <%= f.text_area :desc, rows: 5, placeholder: '请详细介绍下自己，方便学生了解您，如：任教经历、教学特色、荣誉和奖项等；最多300字（必填）' %>
                <span class="tecmsg-text">还可输入 <span id="surplus">0</span>/300</span>
                <%= f.error :desc %>
                <%= content_tag :span, '', class: 'help-block has-error' if @teacher.errors[:desc].blank? %>
              </div>
              <div class="tecmsg-img">
                <div class="pre-3">
                  <%= image_tag('avatar_teacher.png', id: 'teacher_avatar_preview2', data: {toggle: 'modal', target: '#edit_avatar'}) %>
                </div>
                <br>
                <span class="up-img"><a href="javascript:void(0);"><%= t("students.edit_profile_for_register.avatar_tips") %></a></span>
                <span class="help-block has-error"></span>
                <%= f.error :avatar %>
              </div>
            </div>
            <div class="tecmsg-send">
              <center>
                <%= hidden_field_tag :more_alter %>
                <%= link_to t("students.edit_profile_for_register.reg_sign_out"), main_app.signout_path(redirect_url: main_app.signin_path), data: { method: :delete } %>
                <input type="submit" name="" id="" value="立即进入">
              </center>
            </div>
          </div>
          <%= render partial: 'avatar_uploader', locals: {f: f} %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function  () {
    $(".tecmsg-drop").click(function  () {
      $(".tecmsg-subject").toggle();
    })
    $(".tecmsg-subject li").click(function  () {
      $("#teacher_subject").val($(this).html());
      $(".tecmsg-subject").hide();
    })
    $(".tecmsg-down").click(function  () {
      $(".tecmsg-grade").toggle();
    })
    $(".tecmsg-grade li").click(function  () {
      $("#teacher_category").val($(this).html());
      $(".tecmsg-grade").hide();
    })
    $(".tecmsg-under").click(function  () {
      $(".tecmsg-year").toggle();
    })
    $(".tecmsg-year li").click(function  () {
      $("#teacher_teaching_years").val($(this).html());
      $(".tecmsg-year").hide();
    })
  });

  $("#teacher_desc").keyup(function(){
    var iv = $(this).val();
    if (iv.length >= 300) {
      $(this).val(iv.substring(0,300));
    }
    $('#surplus').html($(this).val().length);
  });
</script>