<div class="row" style="padding:10px 36px 10px 36px;border-bottom: 1px solid #e2e2e2">
  <div class="col-md-1">
    <%= teacher_counter + 1 %>
  </div>
  <div class="col-md-2">
    <%= link_to teacher.name , teacher_path(teacher) %>
  </div>
  <div class="col-md-2">
    <%= "#{teacher.category}#{teacher.subject}"%>
  </div>
  <div class="col-md-2">
    <%= teacher.school.name %>
  </div>

  <% if allow? :teachers,:destroy %>
    <div class="col-md-2">
        <%= link_to '删除',teacher_path(teacher),method: 'delete','data-confirm' => '你确定删除此老师么?'%>
    </div>
  <% end %>
  <% if allow? :teachers,:pass %>
    <div class="col-md-2">
      <%= render partial: 'teacher_status',locals: {teacher: teacher}%>
    </div>
  <% end %>

</div>