<div class="contains">
  <div class="contains-title">
    <h3><%= t("view.student_bars.my_homework") %></h3>
  </div>

  <div class="contains-discipline">
    <%= render partial: 'teachers/homeworks/tab' %>

    <div class="tab-content">
      <div id="solutions" class="tab-pane fade active in">
        <ul class="issue-list">
          <%= render partial: 'students/customized_tutorial_topics/topic', collection: @topics %>
        </ul>

        <%= render 'shared/blank' if @topics.blank? %>
        <center><div class="pagination-fix"><%= will_paginate @topics, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
      </div>
    </div>
  </div>
</div>