<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to t("teachers.common.personal_center"),info_teacher_path(@teacher) %></li>
  </ol>
<% end %>

 <div class="qa_box row row-width-fix">
  <% if params[:cate] == "security_setting" %>
    <%= render "info_title" %>
    <%= render "security_setting" %>
  <% elsif params[:cate] == "edit_profile" %>
    <%= render "info_title" %>
    <%= render "edit_profile" %>
  <% elsif params[:cate] == "register" %>
    <%= render "edit_profile_for_register" %>
  <% end %>
</div>
