<div class="contains">
  <%= render 'info_title' %>
  <div class="user-smg">
    <ul>
      <li class="edit-info">
        <%= image_tag @owner.avatar_url(:ex_big), class: 'handle_error_avatar' %>
        <% if allow? :teachers, :edit, @teacher %>
          <%= link_to t(".edit_information"), edit_teacher_path(@teacher, cate: :edit_profile, by: :profile) %>
        <% end %>
      </li>

      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:name) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.name.blank? %>"><%= @teacher.name.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:nick_name) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.nick_name.blank? %>"><%= @teacher.nick_name.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>

      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:gender) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.gender_text.blank? %>"><%= @teacher.gender_text.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:birthday) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.birthday.blank? %>"><%= @teacher.birthday.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:category) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.category.blank? %>"><%= @teacher.category.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:city) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.city.try(:name_with_province).blank? %>"><%= @teacher.city.try(:name_with_province).presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:school) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.school.try(:name).blank? %>"><%= @teacher.school.try(:name).presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:subject) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.subject.blank? %>"><%= @teacher.subject.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:teaching_years) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.teaching_years_text.blank? %>"><%= @teacher.teaching_years_text.presence || t('view.common.not_set') %></span>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <span><%= Teacher.human_attribute_name(:desc) %></span>
          </div>
          <div class="col-md-10 col-sm-10">
            <span class="<%= 'not-set' if @teacher.desc.blank? %>">
              <%= @teacher.desc.presence || t('view.common.not_set') %>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>