<div class="login-wechat">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="tea-register">
          <div class="tea-register-title">
            <%= t('.title') %>
          </div>
          <div class="tea-register-left">
            <%= simple_form_for(@teacher, url: teachers_path(@teacher, cate: :register, by: :create) ) do |f| %>
              <%= render partial: 'students/create_form', locals: {f: f, user: @teacher}%>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial: 'students/create_qrcode', locals: {type: @teacher.type} %>
      <%= render partial: 'shared/modal_agreement_teacher' %>
    </div>
  </div>
</div>

