
<%= render partial: 'teachers/profiles/profile_header' %>

<div class="user-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="basic-msg">
          <div class="basic-msg-header">
            <h2><%= t('teachers.profile.basic_title') %></h2>
          </div>
          <ul>
            <li><%= @teacher.teaching_years_text %></li>
            <li><%= "#{@teacher.category}#{@teacher.subject}" %></li>
            <li><%= @teacher.province.try(:name) %>&nbsp;<%= @teacher.try(:city).try(:name) %></li>
            <li><%= @teacher.school.try(:name) %></li>
          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <div class="basic-introduce">
          <div class="introduce-header">
            <h2><%= t('teachers.profile.my_intro') %></h2>
          </div>
          <div class="introduce-info">
            <p><%= @teacher.desc %></p>
          </div>
        </div>

        <%= render partial: 'teachers/profiles/profile_courses' %>
      </div>
    </div>
  </div>
</div>