<div class="container container-details">
  <div class="row">
    <div class="panel panel-default">
      <div class="tec-homepage">
        <div class="homepage-title">
          <div class="homepage-title-left"><span><%= @teacher.name %></span></div>
          <div class="homepage-title-right">
            <span><i class="fa fa-check-square"></i>在线授课</span>
            <span class="checkbox-homepage"><i class="fa fa-check-square"></i>资料已审核</span>
          </div>
        </div>
        <div class="homepage-tec-msg">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td rowspan="4" class="msg-header">
                <%= image_tag @teacher.avatar_url %>
                <%=  %>
              </td>
              <td class="td-year"><i class="fa fa-clock-o icon-color-1"></i><span><%= @teacher.teaching_years_text %></span></td>
              <td class="td-region"><i class="fa fa-university icon-color-1"></i><span><%= @teacher.province.try(:name) %>&nbsp;&nbsp;<%= @teacher.try(:city).try(:name) %></span></td>
            </tr>
            <tr>
              <td class="td-year"><i class="glyphicon glyphicon-calendar icon-color-1"></i><span><%= "#{@teacher.category}#{@teacher.subject}" %></span></td>
              <td class="td-region"><i class="fa fa-map-marker icon-color-1"></i><span><%= @teacher.school.try(:name) %></span></td>
            </tr>
            <tr>
              <td colspan="2" class="td-year"><i class="glyphicon glyphicon-user icon-color-1"></i><span>自我介绍</span></td>
            </tr>
            <tr>
              <td colspan="2" class="td-year">
                <%= @teacher.desc %>
              </td>
            </tr>
            </tbody></table>
        </div>
        <div class="homepage-live">
          <div class="homepage-live-title">
            <p>TA的直播课</p>
          </div>

          <div class="screening-con">
            <ul class="list-live">
              <% @courses.each do |course| %>
                <li>
                  <%= link_to image_tag(course.publicize_url(:list)),live_studio.courses_path(course) %>
                  <dl class="dl-list dl-list-1">
                    <dd><a href=""><%= course.name %></a></dd>
                    <dd>
    		 					<span class="dd-left">
    		 					<i class="glyphicon glyphicon-time icon-color"></i>
    		 					<i class="num-class"><%= course.preset_lesson_count %></i>课时
    		 					</span>
    		 					<span class="dd-right">
    		 						<i class="glyphicon glyphicon-user icon-color"></i>
    		 						<i class="num-buy"><%= course.buy_tickets_count %></i>人已购
    		 					</span>
                    </dd>
                  </dl>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="homepage-elscon">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td></td>
              <td><span>其他课程内容</span></td>
              <td></td>
            </tr>
            <tr>
              <td><span>专属课程授课</span></td>
              <td><span>公共课程发布</span></td>
              <td><span>问答社区答疑</span></td>
            </tr>
            <tr>
              <td class="icon1-color">
                <%= link_to @user_path || send("customized_courses_#{@user.role}_path",@user) do %>
                  <i class="glyphicon glyphicon-user"></i><span>申请购买</span>
                <%end %>
              </td>
              <td class="icon1-color">
                <%= link_to curriculums_path do %>
                  <i class="fa fa-clock-o"></i><span>近期发布</span>
                <% end %>
              </td>
              <td class="icon1-color">
                <%= link_to questions_path do %>
                  <i class="fa fa-file"></i><span>最新回答</span>
                <%end %>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
  </div>
</div>