<div class="row">
  <div class="col-md-3 discipline-pic">
    <%= image_tag(video_course.publicize_url(:list)) -%>
  </div>
  <div class="col-md-6 discipline-info">
    <div class="row info-title">
      <div class="col-md-12">
        <strong><%= video_course.name %></strong>
      </div>
    </div>
    <div class="row info-state">
      <div class="col-md-6">
        <span><%= LiveStudio::VideoCourse.human_attribute_name(:grade) %></span>
        <span><%= video_course.grade %></span>
      </div>
      <div class="col-md-6">
        <span><%= LiveStudio::VideoCourse.human_attribute_name(:teacher_video_lessons_count) %></span>
        <span><%= video_course.video_lessons_count_of(@teacher) %></span>
      </div>
    </div>
    <div class="row info-user">
      <div class="col-md-12">
        <span><%= LiveStudio::VideoCourse.human_attribute_name(:price) %></span>
        <span>1200.00元</span>
        <i>(70%分成)</i>
      </div>
    </div>
  </div>
  <div class="col-md-3 course-state">
    <span class="col-md-12 col-sm-4 col-xs-4">招生中</span>
    <a href="" class="col-md-12 col-sm-4 col-xs-4">预览</a>
    <a href="" class="col-md-12 col-sm-4 col-xs-4">公告</a>
  </div>
</div>