<li>
  <div class="row">
    <div class="col-md-3 discipline-pic">
      <%= image_tag(interactive_course.publicize_url(:list)) -%>
    </div>
    <div class="col-md-6 discipline-info">
      <div class="row info-title">
        <div class="col-md-12">
          <strong><%= interactive_course.name %></strong>
        </div>
      </div>
      <div class="row info-state">
        <div class="col-md-6">
          <span><%= LiveStudio::InteractiveCourse.human_attribute_name(:grade) %></span>
          <span><%= interactive_course.grade %></span>
        </div>
        <div class="col-md-6">
          <span><%= LiveStudio::InteractiveCourse.human_attribute_name(:teacher_video_lessons_count) %></span>
          <span><%= t("view.course_show.lessons_count_of", lessons_count: interactive_course.video_lessons_count_of(@teacher)) %></span>
        </div>
      </div>
      <div class="row info-user">
        <div class="col-md-12">
          <span><%= LiveStudio::InteractiveCourse.human_attribute_name(:price) %></span>
          <span><%= number_to_currency(interactive_course.price, unit: "￥", precision: 2) %></span>
          <i>(<%= number_to_percentage(interactive_course.teacher_percentage, precision: 0) %><%= LiveStudio::InteractiveCourse.human_attribute_name(:percentage) %>)</i>
        </div>
      </div>
    </div>
    <div class="col-md-3 course-state">
      <span class="col-md-12 col-sm-4 col-xs-4"><%= interactive_course.status.text %></span>
      <%= link_to t("common.preview"), live_studio.preview_interactive_courses_path(id: interactive_course.id), data: {method: :post}, target: '_blank' %>
      <%= link_to t("common.announcement"), live_studio.interactive_course_announcements_path(interactive_course) if interactive_course.teaching? %>
    </div>
  </div>
</li>