<div class="panel panel-default">
  <div class="recharge-title"><p><%= t("simple_form.labels.payment/recharge.title") %></p></div>
  <div class="row row-title">
    <div class="col-md-2 col-md-row" id="col-md-nav-1">
      <div class="col-md-title">
        <p><%= t("simple_form.labels.payment/recharge.amount") %></p>
      </div>
      <div class="col-md-apply col-md-apply-2">
        <p class="col-md-money"><%= number_to_currency(@recharge.amount, unit: '￥') %></p>
      </div>
    </div>
    <div class="col-md-10 col-md-row" id="col-md-nav-2">
      <div class="col-md-title">
        <p><%= Payment::Recharge.human_attribute_name(:transaction_info) %></p>
      </div>
      <div class="col-md-apply-1 col-md-apply-2">
        <table border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td><%= Payment::Recharge.human_attribute_name(:transaction_no) %></td>
            <td><%= @recharge.transaction_no %></td>
          </tr>
          <tr>
            <td><%= Payment::Recharge.human_attribute_name(:order_time) %></td>
            <td><%= localize(@recharge.created_at, :format => :long) %></td>
            <td rowspan="2" class="td"><%= Payment::Recharge.human_attribute_name(:tips) %></td>
          </tr>
          <tr>
            <td><%= Payment::Recharge.human_attribute_name(:transaction_type) %></td>
            <td><%= Payment::Recharge.human_attribute_name("transaction_type/recharge") %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= Payment::Recharge.human_attribute_name(:pay_type) %></td>
            <td><%= @recharge.pay_type_text %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ul class="row-list">
    <li>
      <a href="student_recharge.html" class="btn-reelect"></a>
      <%= link_to payment.new_user_recharge_path(@current_resource, amount: @recharge.amount) do %>
        &lt;<%= Payment::Recharge.human_attribute_name(:reset_pay_type) %>
      <% end %>
      <div class="row-list-img">
        <%= link_to "立即支付", "##", id: 'paypay', target: "_blank" %>
      </div>
    </li>
    <li><p><%= t "activerecord.view.pay_view_phone" %></p></li>
  </ul>  
</div>
<%= content_for :javascript do %>
<script>
$(function() {
$("#paypay").click(function() {
  window.open("<%= @recharge.remote_order.payment_url %>");
});

});
</script>
<% end %>