<div class="common-space">
  <div class="container">
    <div class="apply-tea">
      <div class="tutoring-title">
        <h3><%= t("simple_form.labels.payment/recharge.title") %></h3>
      </div>
      <%= simple_form_for(@recharge, url: user_recharges_path(@resource_user, @recharge)) do |f| %>
        <div class="drawings recharge">
          <div class="row">
            <div class="col-md-7 applay-left">
              <p><%= t("simple_form.labels.payment/recharge.amount") %></p>
              <div class="row amount-line">
                <div class="col-md-10 col-md-offset-1 num-msg">
                  <%= f.text_field :amount, class: "num form-control",
                                   placeholder: t("simple_form.placeholders.payment/recharge.amount", min_amount: 100) %>
                  <i>元</i>
                  <em>
                    (<%= t("simple_form.hints.payment/recharge.amount") %>
                    <span><%= number_to_currency(@cash_account.balance, unit: '¥') %></span>)
                  </em>
                  <%= f.error :amount %>
                </div>
              </div>
            </div>
            <div class="col-md-5 applay-right">
              <p><%= Payment::Recharge.human_attribute_name(:pay_type) %></p>
              <div class="row payment">
                <div class="payment-line">
                  <% pay_type_options(:recharge, :web).each do |item| -%>
                    <label for="recharge_pay_type_<%= item.last %>" class="required control-label">
                      <%= f.radio_button(:pay_type, item.last) %>
                      <%= image_tag "pay_type_#{item.last}.png" %>
                      <span><%= item.first %></span>
                    </label>
                  <% end %>
                  <%= f.error :pay_type %>
                </div>
              </div>
            </div>
          </div>
          <div class="apply-prepaid">
            <p><%= t("simple_form.labels.payment/recharge.confirm") %></p>
            <span>
              <%= t("simple_form.labels.payment/recharge.confirm_amount") %>：
              <i id="confirm_amount"><%= number_to_currency(@recharge.amount, unit: '¥') %></i>
            </span>
          </div>
          <div class="apply-btn">
            <%= f.submit t("simple_form.actions.payment/recharge.submit"), class: 'active' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
<script type="text/javascript">
$(function() {
  $("#recharge_amount").blur(function() {
    if(!parseFloat($("#recharge_amount").val())) return false;
    $("#confirm_amount").text("￥" + parseFloat($("#recharge_amount").val()));
  });

  $("#new_recharge").submit(function() {
    var amount = parseFloat($("#recharge_amount").val());
    if(!amount || amount <= 0 || amount != $("#recharge_amount").val()) {
      alert("<%= t("simple_form.errors.payment/recharge.amount") %>");
      $(this).removeClass("submiting");
      return false;
    }

    if($('.recharge_pay_type input:checked').size() == 0){
      alert("<%= t("simple_form.errors.payment/recharge.pay_type") %>");
      $(this).removeClass("submiting");
      return false;
    }
  });


});
</script>
<% end %>