<div class="qa_cell homework ">
  <div class="pull-left no"><%=Homework.model_name.human %>
    <% if homework_counter +1 < 10 %>
        &nbsp;
    <% end %>
    <%= homework_counter + 1%>
  </div>
  <div class="pull-right">
    <% if allow? :homeworks,:edit, homework %>
        <%=link_to edit_homework_path(homework) do %>
            <button type="button" class="btn btn-xs btn-success">编辑</button>
        <% end %>
    <% end %>
  </div>
  <div class="title">
    <%=link_to homework.title ,homework_path(homework)%>
  </div>
  <div class="info">
    <%= homework.teacher.name%> • <%= localize(homework.created_at,format: :long) %> 布置 •
    批改了<%= homework.corrections_count %>次<%= Homework.human_attribute_name(:solution) %> •
    <%= homework.student.name%> •
    写了<%= homework.solutions_count %>次<%= Homework.human_attribute_name(:solution) %> •
  </div>
</div>