<%= render layout: 'course_library/courses/main' do %>
    <div class="qa_sep_15"></div>
    <div class="qa_box" style="padding-left:10px">
      <%= link_to  new_course_course_publication_path(@course) do %>
          <button type="button" class="btn btn-xs btn-success"><%= t('view.course_library/course.publish')%></button>
      <% end %>
    </div>
    <div class="qa_sep_15"></div>

    <table class="table-bordered table">
      <tr>
        <th>#</th>
        <th><%= CustomizedTutorial.model_name.human %></th>
        <th><%= Student.model_name.human %></th>
        <th><%= t('view.course_library/course_publication.is_same')%></th>
        <th><%= CourseLibrary::CoursePublication.human_attribute_name(:publish_lecture_switch)%></th>
        <th><%= t('view.course_library/course_publication.homework_publications_count')%></th>
        <th colspan="3"><%= t('view.course_library/course.operation') %></th>
      </tr>
      <% @course_publications.each_with_index do |pb,index|%>
        <% next if pb.customized_tutorial.nil? -%>
          <tr>
            <td><%= index+1%></td>
            <td><%= link_to pb.customized_tutorial.try(:name) ,customized_tutorial_path(pb.customized_tutorial)%></td>
            <td><%= pb.customized_tutorial.customized_course.student.name %></td>
            <td><%= CustomizedTutorialService::CourseLibrary::SameWithTemplate.new(pb.customized_tutorial).judge? ? "是":"否" %></td>
            <td><%= pb.publish_lecture_switch ? "是" : "否" %></td>
            <td><%= pb.homework_publications.count %></td>
            <td><%= link_to t('view.course_library/course_publication.sync'),
                            sync_course_publication_path(pb),method: :post%></td>
            <td><%= link_to "编辑",edit_course_course_publication_path(@course,pb) %> </td>
            <td><%= link_to t('view.course_library/course_publication.un_publish') ,
                            course_course_publication_path(@course, pb),method: :delete,
                            data:{confirm: t('view.course_library/course_publication.un_publish_warn')}%></td>

          </tr>
      <% end %>
    </table>
<% end %>
