<div class="phone-login">
  <div class="phone-login-title">
    <div class="phone-return">
      <%= link_to params[:redirect_url].presence || 'javascript:void(0);' do %>
        <%= image_tag('wap/phone-return.png') %>
      <% end %>
    </div>
    <div class="phone-headline">
      <h3><%= t('wap.sessions.new.login_title') %></h3>
    </div>
  </div>
  <div class="phone-login-con">
    <div class="tc">
      <span class="help-block has-error"><%= flash.now[:warning]%></span>
      <span class="help-block alert-notice"><%= flash.now[:notice]%></span>
    </div>
    <%= simple_form_for @user, url: wap_sessions_path, method: :post do |f| %>
      <%= hidden_field_tag :redirect_url, params[:redirect_url].presence %>
      <div class="form-group">
        <%= f.label :login_account, t('wap.sessions.labels.login_account') %>
        <div class="input-group">
          <%= f.input_field :login_account, placeholder: t('wap.sessions.placeholders.login_account') %>
        </div>
      </div>
      <div class="login-line"></div>
      <div class="form-group">
        <%= f.label :password %>
        <div class="input-group">
          <%= f.input_field :password, placeholder: t('wap.sessions.placeholders.password') %>
        </div>
      </div>
      <div class="form-group login-checkbox">
        <div class="input-group">
          <%= check_box_tag :remember_me %>
        </div>
        <%= label_tag :remember_me, t('wap.sessions.placeholders.remember_me') %>
      </div>
      <div class="login-submit">
        <%= f.submit t('wap.sessions.new.submit') %>
      </div>
      <div class="login-link">
        <%= link_to t('wap.sessions.new.reg_now'), new_wap_user_path(redirect_url: params[:redirect_url]), class: 'login-link-left' %>
        <%= link_to t('wap.sessions.new.forget_password'), new_password_path, class: 'login-link-right' %>
      </div>
    <% end %>
  </div>
</div>