<div class="lessons-detail lessonsg-process">
  <h3><%= t('view.live_studio/courses.show.study_flow') %></h3>
  <div class="process-study">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <%= image_tag "/imgs/process-1.png" %>
        <div class="study-info">
          <div class="info-step">
            <h4><%= t('view.live_studio/courses.show.buy_tip') %></h4>
            <p><%= t('view.live_studio/courses.show.buy_tip_value') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= image_tag "/imgs/process-2.png" %>
        <div class="study-info">
          <div class="info-step">
            <h4><%= t('view.live_studio/courses.show.time_tip') %></h4>
            <p><%= t('view.live_studio/courses.show.time_tip_value') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <%= image_tag "/imgs/process-3.png" %>
        <div class="study-info">
          <div class="info-step">
            <h4><%= t('view.live_studio/courses.show.online_tip') %></h4>
            <p><%= t('view.live_studio/courses.show.online_tip_value') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= image_tag "/imgs/process-4.png" %>
        <div class="study-info">
          <div class="info-step">
            <h4><%= t('view.live_studio/courses.show.close_tip') %></h4>
            <p><%= t('view.live_studio/courses.show.close_tip_value') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>