<div class="line-item">
  <div class="container">
    <center>
      <h2><strong><%= t('view.choiceness_items.title') %></strong></h2>
    </center>

    <ul class="item-handpick">
      <% @choiceness.each_with_index do |item, index| %>
        <% course = item.target %>
        <% if [0,1].include?(index) %>
          <li class="col-xs-6">
            <%= link_to live_studio.course_path(course), class: 'handpick-pic' do %>
              <%= image_tag course.publicize_url(:app_info), size: '566x258' %>
              <!-- 标签 -->
              <span class="discount">
                <%= image_tag("tag_one#{item.tag_one_value}.png") if item.tag_one.present? %>
                <%= image_tag("tag_two#{item.tag_two_value}.png") if item.tag_two.present? %>
              </span>
              <!-- 标签 END -->
              <div class="layer-handpick">
                <p><strong><%= truncate_u(course.name, length: 22) %></strong></p>
                <p>
                  <span><%= course.grade %><%= course.subject %></span>
                  <span><%= t('view.choiceness_items.lessons_count', count: course.lessons_count) %></span>
                  <span><%= course.teacher.try(:name) %></span>
                </p>
              </div>
            <% end %>
          </li>
        <% else %>
          <li class="col-md-3 col-xs-6">
            <%= link_to live_studio.course_path(course) do %>
              <%= image_tag course.publicize_url(:list), size: '268x159' %>
            <% end %>
            <div class="handpick-info">
              <p>
                <%= link_to live_studio.course_path(course) do %>
                  <strong><%= truncate_u(course.name, length: 15) %></strong>
                <% end %>
              </p>
              <p>
                <span><%= course.grade %><%= course.subject %>/<%= t('view.choiceness_items.lessons_count', count: course.lessons_count) %></span>
                <%= link_to truncate_u(course.teacher.try(:name), length: 8), profile_teacher_path(course.teacher) if course.teacher %>
              </p>
            </div>
          </li>
        <% end %>
      <% end %>

      <%= render partial: 'home/items/default_choiceness' %>
    </ul>

    <p class="iteminfo-more">
      <%= link_to t('view.choiceness_items.more'), live_studio.courses_path %>
    </p>
  </div>
</div>