<div class="line-item">
  <div class="container">
    <div class="col-md-3">
      <div class="nav-aside">
        <ul>
          <% APP_CONSTANT['grades'].each do |grade_type, grades| %>
            <li>
              <h4><%= grade_type %></h4>
              <div class="row">
                <% grades.reverse_each do |grade| %>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= link_to grade, live_studio.courses_path(q: {grade_eq: grade}) %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <a href="javascript:void(0);" class="video-item col-md-12">
          <i></i> <%= t('view.line_items.video_link') %>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category">
        <div class="category-nav">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <%= link_to live_studio.courses_path, class: 'color-orange' do %>
                <p><%= t('view.new_index.line_items.category.course') %></p>
              <% end %>
            </div>
            <div class="col-md-3 col-sm-3">
              <%= link_to live_studio.interactive_courses_path, class: 'color-green' do %>
                <p><%= t('view.new_index.line_items.category.interactive_course') %></p>
              <% end %>
            </div>
            <div class="col-md-3 col-sm-3">
              <%= link_to live_studio.video_courses_path, class: 'color-blue' do %>
                <p><%= t('view.new_index.line_items.category.video_course') %></p>
              <% end %>
            </div>
            <div class="col-md-3 col-sm-3">
              <%= link_to live_studio.customized_groups_path, class: 'color-pink' do %>
                <p><%= t('view.new_index.line_items.category.customized_group') %></p>
              <% end %>
            </div>
            <!-- 专题推荐 -->
            <%= render partial: 'home/items/topic_item', collection: @topic_items %>
          </div>
        </div>

        <div class="replays">
          <div class="replays-title">
            <h4><%= t('view.new_index.line_items.replay_items.title') %></h4>
            <%= link_to main_app.replays_home_index_path do %>
              <%= t('view.new_index.line_items.replay_items.more') %><i class="fa fa-angle-right"></i>
            <% end %>
          </div>
          <div class="replays-con">
            <%= render partial: 'home/items/replay_item', collection: @replay_items %>
          </div>
          <%= render 'shared/blank' if @replay_items.blank? %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="live-today">
        <center>
          <h3><strong><%= t('view.new_index.line_items.recent_lessons.title') %></strong></h3>
        </center>
        <div class="liveing-info">
          <ul>
            <%#= render partial: 'home/items/today_live', collection: @today_lives %>
            <%= render partial: 'home/items/recent_lessons', collection: @recent_lessons %>
          </ul>
          <%= render 'shared/blank' if @today_lives.blank? %>
        </div>
      </div>
    </div>
  </div>
</div>
