<div class="row">
  <div class="col-md-2 col-sm-2 playback-image">
    <%= link_to main_app.replay_home_path(replay_item), target: '_blank' do %>
      <%= image_tag(replay_item.logo_url) %>
    <% end %>
  </div>
  <div class="col-md-8 col-sm-8 playback-info">
    <p class="replays-head">
      <%= link_to replay_item.target.try(:name), main_app.replay_home_path(replay_item), target: '_blank' %>
    </p>
    <p>
      <span><%= replay_item.course.try(:grade) %><%= replay_item.course.try(:subject) %></span>
      <i>|</i>
      <span>
        <em><%= t('common.teacher') %>：</em><em><%= replay_item.target.try(:teacher).try(:name) %></em>
      </span>
      <i>|</i>
      <span>
        <em><%= t('common.time') %>：</em><em><%= Util.duration_in_words replay_item.video.try(:duration).to_i %></em>
      </span>
    </p>
  </div>
  <div class="col-md-2 col-sm-2 playback-number">
    <span>
      <%= image_tag 'view.png' %>
      <i><%= replay_item.replay_times %></i>
    </span>
  </div>
</div>