<div class="line-item">
  <div class="item-classify">
    <div class="container">
      <ul class="item-classify-list">
        <li class="col-md-2 col-sm-3 col-xs-4">
          <a href="">
            <p><%= image_tag 'classify-1.png' %></p>
            <p><%= t('view.service.teacher') %></p>
          </a>
          <div class="classify-details">
            <p><%= t('view.service.teacher_text') %></p>
          </div>
        </li>
        <li class="col-md-2 col-sm-3 col-xs-4">
          <a href="">
            <p><%= image_tag 'classify-2.png' %></p>
            <p><%= t('view.service.learn_model') %></p>
          </a>
          <div class="classify-details">
            <p><%= t('view.service.learn_model_text') %></p>
          </div>
        </li>
        <li class="col-md-2 col-sm-3 col-xs-4">
          <a href="">
            <p><%= image_tag 'classify-3.png' %></p>
            <p><%= t('view.service.courses') %></p>
          </a>
          <div class="classify-details">
            <p><%= t('view.service.courses_text') %></p>
          </div>
        </li>
        <li class="col-md-2 col-sm-3 col-xs-4">
          <a href="">
            <p><%= image_tag 'classify-4.png' %></p>
            <p><%= t('view.service.courses_for') %></p>
          </a>
          <div class="classify-details">
            <p><%= t('view.service.courses_for_text') %></p>
          </div>
        </li>
        <li class="col-md-2 col-sm-3 col-xs-4">
          <a href="">
            <p><%= image_tag 'classify-5.png' %></p>
            <p><%= t('view.service.software') %></p>
          </a>
          <div class="classify-details">
            <p><%= t('view.service.software_text') %></p>
          </div>
        </li>
        <li class="col-md-2 col-sm-3 col-xs-4">
          <a href="">
            <p><%= image_tag 'classify-6.png' %></p>
            <p><%= t('view.service.workstation') %></p>
          </a>
          <div class="classify-details">
            <p><%= t('view.service.workstation_text') %></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>