<div class="line-item">
  <div class="container">
    <center>
      <h2><strong><%= t('view.today_lives.title') %></strong></h2>
    </center>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% @today_lives.in_groups_of(4, false).each_with_index do |group, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <ul class="item-live">
              <% group.each do |lesson| %>
                <li class="col-md-3 col-xs-6">
                  <%= link_to live_studio.course_path(lesson.course), class: 'live-pic' do %>
                    <%= image_tag lesson.course.publicize_url(:list), size: '268x159' %>
                    <div class="layer">
                      <p><%= lesson.live_time %></p>
                      <p><%= truncate_u(lesson.course.name, length: 15) %></p>
                    </div>
                  <% end %>

                  <% if lesson.status_wating? %>
                    <h3 class="staus-notstart"><strong><%= t('view.today_lives.live_padding') %></strong></h3>
                  <% elsif lesson.status_living? %>
                    <h3 class="staus-liveing"><strong><%= t('view.today_lives.living') %></strong></h3>
                  <% else %>
                    <h3><strong><%= t("view.today_lives.live_end") %></strong></h3>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <% if @today_lives.count > 4 %>
      <p class="itemlive-more">
        <a href="javascript:void(0);" class="btn-nexts">&gt;</a>
        <a href="javascript:void(0);" class="btn-previous">&lt;</a>
      </p>
    <% end %>
  </div>
</div>