<tr>
  <td><%= number_to_currency(consumption_record.amount, locale: :cn) %></td>
  <td></td>
  <td><%= consumption_record.target.product.model_name.human %></td>
  <td><%= consumption_record.change_type_text %></td>
  <td><%= localize(consumption_record.created_at,:format => :long) %></td>
  <td><%= link_to t("view.payment/consumption_record.view"), payment.user_order_path(@current_resource, consumption_record.target.transaction_no) %></td>
</tr>
