<% if action_record.is_a? Payment::RechargeActionRecord %>
<% elsif action_record.is_a? Payment::Withdraw %>
<% else %>
<div class="qa_object_item">
  <div style="float:left">
    <%=image_tag action_record.operator.avatar.normal.url %>
  </div>
  <div class="title">
    <% if defined?(read) %>
        <% if read %>
            <span class="label label-default"><%= I18n.t "view.notification.read" %></span>
        <% else %>
            <span class="label label-danger"><%= I18n.t "view.notification.unread" %></span>
        <% end %>
    <% end %>
    <%= link_to action_record.desc ,
                send("#{action_record.actionable.model_name.singular_route_key}_path",action_record.actionable)
    %>
  </div>
  <div class="info">
    <%= localize(action_record.created_at,format: :long) %>
    <%= render_action_record_name(action_record) %>
    <% if action_record.customized_course %>
        • <%= link_to CustomizedCourse.model_name.human ,customized_course_path(action_record.customized_course)%>
    <% end %>
  </div>
</div>
<% end %>