<div class="qa_object_item">
  <div style="float:left">
    <%=image_tag action_record.operator.avatar.normal.url %>
  </div>
  <div class="title">
    <%=
        link_to (I18n.t "action.#{action_record.actionable.model_name.singular_route_key}.#{action_record.name}.desc",user: action_record.operator.view_name),
                        send("#{action_record.actionable.model_name.singular_route_key}_path",action_record.actionable)
    %>
  </div>
  <div class="info">
    <%= localize(action_record.created_at,format: :long) %>
    <%= I18n.t "action.#{action_record.actionable.model_name.singular_route_key}.#{action_record.name}.name" %>
    <% if action_record.customized_course %>
        • <%= link_to CustomizedCourse.model_name.human ,customized_course_path(action_record.customized_course)%>
    <% end %>
  </div>
</div>