<div class="modal fade" id="newMoveModal_<%= type + "#{cur.id}" %>" + dir.id role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">选择目录</h4>
      </div>
      <div class="modal-body">
        <div class="dir_tree_move"></div>
        <% if type == "c" %>
            <%= hidden_field_tag("forbidden_move_dir_ids_json" , '') %>
        <% elsif type == "d" %>
            <%= hidden_field_tag("forbidden_move_dir_ids_json" , get_forbidden_move_dir_ids(cur)) %>
        <% end %>
      </div>
      <div class="modal-footer">
        <div style="text-align: left">
          需要移动的<%= desc %>：
          <label>
            <% if type == "c" %>
                <%= cur.directory.get_full_path.map{|r| "#{r.title}"}.join(" > ") + " > " + cur.title %>
            <% elsif type == "d" %>
                <%= cur.get_full_path.map{|r| "#{r.title}"}.join(" > ") %>
            <% end %>
          </label>
        </div>
        <div style="text-align: left">
          移动到：
          <label id="fullpath">
            <% if type == "c" %>
                <%= cur.directory.get_full_path.map{|r| "#{r.title}"}.join(" > ") %>
            <% elsif type == "d" %>
                <%= cur.parent.get_full_path.map{|r| "#{r.title}"}.join(" > ") %>
            <% end %>
          </label>
  		</div>
		<% if type == "c" %>
			<%= simple_form_for cur, url: move_dir_course_path(cur) do |f| %>
				<%= f.input :directory_id, as: :hidden %>
				<%= f.button :submit, class: "btn btn-default" %>
			<% end %>
		<% elsif type == "d" %>
		    <%= simple_form_for cur do |f| %>
			    <%= f.input :parent_id, as: :hidden %>
			    <%= f.button :submit, class: "btn btn-default" %>
		    <% end %>
		<% end %>
      </div>
    </div>
  </div>
</div>
