<tr>
  <td><%= show_index(item_counter, @items.limit_value) %></td>
  <td class="head-portrait">
    <%= image_tag item.logo_url, class: 'handle_error_avatar' %>
  </td>
  <td><%= item.target.try(:name) %></td>
  <td><%= item.title %></td>
  <td>
    <%= link_to item.target.try(:name), main_app.profile_teacher_path(item.target), target: '_blank' %>
  </td>
  <td><%= item.index %></td>
  <td>
    <% if allow? "recommend/station/teacher_items", :edit, @workstation %>
      <%= link_to t('view.recommend/position.edit'), recommend.edit_station_workstation_teacher_item_path(@workstation, item, position_id: @position) %>
    <% end %>
    <% if allow? "recommend/station/teacher_items", :destroy, @workstation %>
      <%= link_to t('view.recommend/position.destroy'), recommend.station_workstation_teacher_item_path(@workstation, item, position_id: @position), data: { confirm: t('view.recommend/position.confirm'), method: :delete } %>
    <% end %>
  </td>
</tr>
