<div class="row qa_big_cell">
  <div class="col-md-1"><%= waiter_counter + 1 %></div>
  <div class="col-md-3"><%= waiter.name %></div>
  <div class="col-md-3"><%= waiter.email %></div>
  <div class="col-md-3"><%= waiter.login_mobile %></div>
  <div class="col-md-2">
    <%= link_to "编辑", edit_station_workstation_waiter_path(@workstation, waiter) if allow?('station/waiters', 'edit', @workstation) %>
    <%= link_to "删除", station_workstation_waiter_path(@workstation, waiter), method: 'delete', data: { confirm: '确定删除?'} if allow?('station/waiters', 'destroy', @workstation) %>
  </div>
</div>
