<tr>
  <td><%= show_index(waiter_counter, @waiters.limit_value) %></td>
  <td><%= waiter.name %></td>
  <td><%= waiter.login_mobile %></td>
  <td><%= waiter.email %></td>
  <td>
    <%= link_to t('common.editor_toolbar_edit'), edit_station_workstation_waiter_path(@workstation, waiter) if allow?('station/waiters', 'edit', @workstation) %>
    <%= link_to t('common.delete'), station_workstation_waiter_path(@workstation, waiter), data: {method: :delete, confirm: t('common.confirm_delete')} if allow?('station/waiters', 'destroy', @workstation) %>
  </td>
</tr>