<div class="user-header">
  <div class="container">
    <div class="row">
      <div class="user-img">
        <p>
          <%= image_tag @teacher.avatar, class: 'handle_error_avatar' %>
        </p>
        <p>
          <span><%= @teacher.name %></span>
          <%= image_tag "#{@teacher.gender || 'male'}_big.png" %>
        </p>
      </div>
      <div class="user-message">
        <p>
          <span>
            <%= image_tag 'course-active.png' %>
            <i><%= t('teachers.profile.lesson_refund') %></i>
          </span>
          <span>
            <%= image_tag 'course-active.png' %>
            <i><%= t('teachers.profile.intro_complete') %></i>
          </span>
          <span>
            <%= image_tag 'course-active.png' %>
            <i><%= t('teachers.profile.teach_online') %></i>
          </span>
        </p>

        <p class="bdsharebuttonbox">
          <!-- <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> -->
          <a href="javascript:void(0);" class="bds_weixin" title="分享到微信">
            <i class="wechat"></i>
          </a>
        </p>

      </div>
    </div>
  </div>
</div>