
<div class="qa_cell">
  <div class="pull-left" style="padding-right:10px;color: #2b5797">
    <div style="font-size: 30px">
      <% if chapter_index +1 < 10 %>
        &nbsp;
      <% end %>
      <%="#{chapter_index+1}.#{course_index+1}"%>
      <% if course_index +1 <10 %>
      <% end %>
    </div>
  </div>
  <% if allow? "teachers/courses",:new, @curriculum %>
    <div class="pull-right">

      <div>
        <%= link_to edit_teachers_curriculum_course_path(course.curriculum,course),style:"color:green" do%>
            编辑<%= Course.model_name.human%>
        <% end %>
      </div>
      <div class="qa_sep_5"></div>
      <div>
        <%= link_to new_teachers_course_lesson_path(course),style:"color:green" do%>
            增加<%= Lesson.model_name.human %>
        <% end %>
      </div>

    </div>
  <% end %>
  <div class="qa_f14">
    <div style="padding-left: 90px;padding-right: 90px">
      <%=link_to course.name ,course_path(course)%>
      <div class="qa_f12" style="color: gray">
        <span><%= course.chapter %></span> • <span> <%= course.lessons_count%>个专题</span>
      </div>
    </div>
  </div>

</div>