<div class="col-md-9">
  <div class="qa_box">
    <div class="qa_cell box_header">
        <%= link_to group_path (@course.group) do%>
            <%= @course.group.name %>
        <% end %>
        / <%= @course.name %>
    </div>
  </div>
  <%=render 'lesson' %>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_5"></div>
  <%=render 'course_topics' %>
</div>
<div class="col-md-3">
  <%= render 'course_lessons' %>
</div>