<div class="col-md-9">
  <div class="qa_box">
    <div class="qa_cell">
        <%= link_to group_path (@course.group) do%>
            <%= @course.group.name %>
        <% end %>
        / <%= @course.name %>
    </div>
    <div class="qa_cell" style="height: 400px">

    </div>
    <div class="qa_cell qa_f12 rel" >
      <div>
        <%= @lesson.desc if @lesson %>
      </div>
      <div class="pull-right">
        <% if @lesson  %>
            <%= link_to edit_lesson_path(@lesson) do%>
                <span class="label label-success">编辑知识点</span>
            <% end %>
        <% end %>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
  <div style="height: 20px">
  </div>
  <div class="qa_box qa_topics">
    <div class="qa_cell box_header">
      <div class="pull-right">
        <%=link_to new_course_topics_path(@course) do%>
            <span class="label label-success">我要提问</span>
        <% end %>
      </div>
      <div class="pull-left">
        <span class="label label-primary">共有10个讨论</span>
      </div>

      <div style="clear: both"></div>
    </div>
    <%= render @topics %>
  </div>
</div>
<div class="col-md-3">
    <div class="qa_box">
      <div class="qa_cell box_header">
        <strong><%= @course.name %></strong>
      </div>
      <% @course.lessons.each do |lesson| %>
          <div class="qa_cell">
            <%=  lesson.name %>
          </div>
      <% end %>
    </div>
    <%=link_to new_course_lesson_path(@course) do%>
     <button type="button" class="btn btn-primary btn-block">新增加知识点</button>
    <% end %>

</div>


<!--div class="qa_box">
  <div class="qa_cell rel course">
    <div class="pull-left">
    </div>
    <div class="main">
      <div class="name"><%= @course.name%></div>
      <div class="meta">
        讲师: <%= @course.teacher.name %> •
        课程: 共 <%=@course.lessons_count%> 集
      </div>

      <div style="font-size: 12px;margin-top: 10px">
        <h5>课程介绍</h5>
        <div class="text-primary">
          <%=@course.desc%>
        </div>
      </div>
      <div class="abs" style="bottom: 10px;right:10px">
         <%= link_to  edit_course_path(@course) do%>
            <span class="glyphicon glyphicon-edit"></span>
         <% end %>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
</div-->

<div style="height: 20px"></div>
<!--div class="qa_box">
  <div class="qa_cell box_header">
    <div style="text-align: center;color:gray">课程安排</div>
  </div>
  <% @course.lessons.each_with_index do |lesson,i|%>
    <div class="qa_cell rel lesson">
      <div class="abs no">第 <%= i + 1 %> 课 </div>
      <div class="abs comment_num badge">10</div>
      <div class="main">
        <div class="name">
          <%=link_to lesson.name,lesson_path(lesson),
                               data:{:toggle=> "tooltip",
                                     "original-title"=> lesson.desc,
                                     :placement => "right"} %>
        </div>
        <div class="meta" style="">
          <span>时长4分钟</span> • <span> 最后的提问来自 李刚</span> • <span>5分钟前</span>
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
  <% end %>
</div-->

<%= content_for :side_bar do%>
    <div class="qa_box teacher">
      <div class="qa_cell">
        <strong> 老师基本信息</strong>
      </div>
      <div class="qa_cell ">
        <%= image_tag @course.teacher.avatar.normal.url,class:"pull-left"%>
        <div class="pull-left info" >
           <div class="name">
            <%= @course.teacher.name %>
           </div>
           <div class="title">
             特级老师•阳泉市•第十一中学
           </div>
        </div>
        <div class="pull-left" style="margin-left: 10px"> </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div style="margin-top: 10px">
      <%=link_to new_course_lesson_path(@course) do%>
        <button class="btn btn-primary btn-block">添加课程</button>
      <% end %>
    </div>

<% end %>