<div class="col-md-9">
  <div class="qa_box">
    <div class="qa_cell box_header">
        <%= link_to group_path (@course.group) do%>
            <%= @course.group.name %>
        <% end %>
        / <%= @course.name %>
        <div id="course_purchase" class="pull-right">
          <% if current_user.student? %>
              <% if not current_user.courses.include?(@course) %>
                  <%= button_to '购买',students_course_purchase_path(@course) ,class:"btn btn-success btn-xs",
                              remote: true,data: { confirm: "确定要购买此课程么!" }%>
              <% else %>
                <span class="label label-info">已购买</span>
              <% end %>
          <% end %>
        </div>
    </div>
  </div>
  <%=render 'lesson' %>

  <div class="qa_sep_15"></div>
  <div class="qa_sep_5"></div>
  <%=render 'course_topics' %>
</div>
<div class="col-md-3">
  <%= render 'course_lessons' %>
</div>