<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "个人中心",info_student_path(@student) %></li>
  </ol>
<% end %>

<div class="qa_box panel panel-default">
  <div class="qa_big_cell panel-heading">
    <div>
      <%= LiveStudio::Course.model_name.human %>
      <%=link_to courses_path(student_id: @student.id) do %>
      <button type="button" class="btn btn-xs btn-success">
        <%= t("activerecord.view.search") %><%= LiveStudio::Course.model_name.human %>
      </button>
      <% end %>
    </div>
  </div>


  <table class="table">
    <tr>
      <th>#</th>
      <th><%= LiveStudio::Course.human_attribute_name(:name)  %></th>
      <th><%= LiveStudio::Course.human_attribute_name(:teacher)  %></th>
      <th><%= LiveStudio::Course.human_attribute_name(:status)  %></th>
      <th><%= LiveStudio::Ticket.human_attribute_name(:type_name)  %></th>
      <th><%= t("activerecord.view.operate") %></th>
    </tr>
    <%= render partial: 'ticket', collection: @tickets %>
  </table>

  <div class="panel-footer">
    <%= will_paginate @tickets %>
  </div>
</div>
