<%= content_for :breadcrumb do %>
    <ol class="breadcrumb">
      <li><%= link_to "个人中心",info_student_path(@student) %></li>
    </ol>
<% end %>
<% filter = params[:filter] || 'all' %>
<%= content_tag(:div, class: 'qa_box panel panel-default panel-support') do %>
    <%= content_tag(:div, class: 'course-header-div') do%>
        <%= content_tag(:div, '我的辅导', class: 'title') %>
        <%= content_tag(:div, class: 'search-link') do %>
            <%= content_tag(:a, href: courses_path) do %>
                <span class="glyphicon glyphicon-shopping-cart"></span>购买新辅导
            <% end %>
        <% end %>
    <% end %>
    <%= content_tag(:div, class: 'course-taxon-list') do %>
        <% %w(today all waiting teaching closed tasted).each do |t| %>
            <%= content_tag(:a,content_tag(:div, t, class: "course-taxon-div #{filter==t ? 'active' : nil}"),
                            href: "?filter=#{t}") %>
        <% end %>
    <% end %>
    <%= content_tag(:div, class: 'course-list') do %>
        <%= render partial: 'ticket', collection: @tickets %>
    <% end %>
<% end %>


<!--<div class="qa_box panel panel-default">-->
<!--<div class="qa_big_cell panel-heading">-->
<!--<div>-->
<!--<%= LiveStudio::Course.model_name.human %>-->
<!--<%=link_to courses_path(student_id: @student.id) do %>-->
    <!--<button type="button" class="btn btn-xs btn-success">-->
    <!--<%= t("activerecord.view.search") %><%= LiveStudio::Course.model_name.human %>-->
    <!--</button>-->
    <!--<% end %>-->
<!--</div>-->
<!--</div>-->


<!--<table class="table">-->
<!--<tr>-->
<!--<th>#</th>-->
<!--<th><%= LiveStudio::Course.human_attribute_name(:name)  %></th>-->
<!--<th><%= LiveStudio::Course.human_attribute_name(:teacher)  %></th>-->
<!--<th><%= LiveStudio::Course.human_attribute_name(:status)  %></th>-->
<!--<th><%= LiveStudio::Ticket.human_attribute_name(:type_name)  %></th>-->
<!--<th><%= t("activerecord.view.operate") %></th>-->
<!--</tr>-->
<!--<%#= render partial: 'ticket', collection: @tickets %>-->
<!--</table>-->

<!--<div class="panel-footer">-->
<!--<%= will_paginate @tickets %>-->
<!--</div>-->
<!--</div>-->
