<div class="qa_box panel panel-default">
  <div class="qa_big_cell panel-heading">
    <div>
      <%= LiveStudio::Course.model_name.human %>
      <%=link_to courses_path do %>
      <button type="button" class="btn btn-xs btn-success">
        <%= t("activerecord.view.search") %><%= LiveStudio::Course.model_name.human %>
      </button>
      <% end %>
    </div>
  </div>


  <table class="table">
    <tr>
      <th>#</th>
      <th>辅导班名称</th>
      <th>任课教师</th>
      <th>状态</th>
      <th>类型</th>
      <th>操作</th>
    </tr>
    <%= render partial: 'ticket', collection: @tickets %>
  </table>
</div>
