<div class="qa_box panel panel-default panel-support">
  <div class='course-header-div'>
    <%= content_tag(:div, t("activerecord.view.course"), class: 'title') %>
    <%= content_tag(:div, class: 'search-link') do %>
      <%= content_tag(:a, href: courses_path) do %>
        <span class="glyphicon glyphicon-shopping-cart"></span><%= t('activerecord.view.buy_new_course') %>
      <% end %>
    <% end %>
  </div>
  <div class="course-info-list">
    <a href='#content_info' data-toggle="tab">
      <div id="info_div" class="list-ceil <%= params[:index].blank? || params[:index] == 'info' ? ' active' : nil %>">
        <%= t('view.course_show.info') %>
      </div>
    </a>
    <a href='#lesson_list' data-toggle="tab">
      <div id="list_div" class="list-ceil<%= params[:index] == 'list' ? ' active' : nil %>">
        <%= t('view.course_show.lessons') %>
      </div>
    </a>
  </div>
  <div class="info-header">
    <div class="info-name">
      <strong><%= @course.name %></strong>
    </div>
    <%= content_tag :div, class: "info-subtitle #{params[:index] == 'list' ? 'hide' : nil}" do %>
      <div class="info-status">
        <%= t('view.course_show.status') %>
        <%= @course.status_text %>
      </div>
      <div class="info-preview">
        <%= preview_time(@course,{text2: true}) %>
      </div>
    <% end %>
    <%= content_tag :div, class: "info-list-subtitle font-grey #{params[:index] == 'list' ? nil : 'hide'}" do %>
      <div>
        <%= t('view.course_info_show.lesson_plan') % [@course.live_start_time ,@course.live_end_time] %>
      </div>
      <div>
        <%= "#{t('view.course_info_show.schedule')}#{@course.finished_lessons_count}/#{@course.lessons_count}" %>
      </div>
    <% end %>
    <%= content_tag(:div,class: 'course-taste-btn') do%>
      <%= link_to t('view.course_show.study_link'),play_course_path(@course), target: '_blank',
                  class: "btn btn-default #{@course.lessons.blank? || @course.completed? ? 'disabled' : nil}" if @course.bought_by?(current_user) || @course.tasting?(current_user) %>
    <% end if @ticket.authorizable? %>
    <%= content_tag(:div, link_to(t('activerecord.view.buy'), new_course_order_path(@course), id: "buy-course-#{@course.id}",class: 'btn btn-default'),
                    class: 'course-buy-btn') if @ticket.taste? && current_user == @student%>
  </div>
  <div class="tab-content">
    <div id="content_info" class="tab-pane fade<%= params[:index].blank? || params[:index] == 'info' ? ' in active' : nil %>">
      <%= render 'course_info' %>
    </div>
    <div id="lesson_list" class="tab-pane fade<%= params[:index] == 'list' ? ' in active' : nil %>">
      <%= render 'lesson' %>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('.list-ceil').click(function(event){
      $('.list-ceil').removeClass('active');
      $(this).addClass('active');
      if($(this).attr('id') == 'info_div'){
        $('.info-list-subtitle').addClass('hide');
        $('.info-subtitle').removeClass('hide');
      }
      if($(this).attr('id') == 'list_div'){
        $('.info-list-subtitle').removeClass('hide');
        $('.info-subtitle').addClass('hide');
      }
    });
  });
</script>
