<tr>
    <td>
      <%= earning_record.value %>
    </td>
    <td>
      <%= consumption_type(earning_record.fee) %>
    </td>
    <td>
      <%= second_to_minutes(earning_record.fee.video_duration) %>
    </td>
  <td>
    <%= earning_record.price %>元
  </td>
    <td>
      <%= consumption_link(earning_record.fee) %>
    </td>

</tr>