<div class="row qa_big_cell">
  <div class="col-md-2"><%= live_studio_course_item.title %></div>
  <div class="col-md-2"><%= image_tag live_studio_course_item.logo, size: '16x16' %></div>
  <div class="col-md-2"><%= link_to live_studio_course_item.target.name, live_studio.course_path(live_studio_course_item.target) %></div>
  <div class="col-md-2"><%= live_studio_course_item.owner.try(:name) %></div>
  <div class="col-md-2"><%= live_studio_course_item.index %></div>
  <div class="col-md-2">
  </div>
</div>
