<div class="course-header">
  <div class="container">
    <div class="row course-class">
      <div class="col-md-5 col-xs-12 pic">
        <%= image_tag @interactive_course.publicize_url(:info), class: 'handle_error_list' %>
      </div>
      <div class="col-md-7 col-xs-12 course-introduce">
        <div class="course-title">
          <h1><%= truncate_u @interactive_course.name, length: 24 %></h1>
          <span><%= t('view.live_studio/courses.show.purchase_number', count: @interactive_course.buy_user_count ) %></span>
        </div>
        <div class="course-line">
          <span class="active">
            <%= image_tag 'course-active.png' %>
            <i><%= t('view.live_studio/courses.show.refund') %></i>
          </span>
          <span class="active">
            <%= image_tag 'course-active.png' %>
            <i><%= t('view.live_studio/courses.show.coupon_free') %></i>
          </span>
          <span>
            <%= image_tag '/imgs/course-default.png' %>
            <i><%= t('view.live_studio/courses.show.cheap') %></i>
          </span>
        </div>

        <div class="course-sellingprice">
          <% unless @interactive_course.off_shelve? %>
            <span><%= number_to_currency(@interactive_course.current_price, locale: :cn) %></span>
          <% end %>
        </div>

        <div class="course-join">
          <span class="price-right">
            <!-- 已经下架显示状态 -->
            <% if !@interactive_course.for_sell? %>
              <%= render 'btn_status' %>
            <!-- 已经购买显示观看按钮 -->
            <% elsif @interactive_course.bought_by?(current_user) %>
              <%= render 'btn_play' %>
            <!-- 未购买显示购买按钮 -->
            <% else %>
              <%= render 'btn_buy' %>
            <% end %>
          </span>

          <span class="share-box">
            <!-- <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> -->
            <a href="javascript:void(0);" class="bds_weixin" title="分享到微信" >
              <i class="wechat" ></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
