<div class="row">
  <div class="col-md-2">
    <%= f.label :teacher_percentage %>
  </div>
  <div class="col-md-10">
    <%= f.input :teacher_percentage, label: false, wrapper_html: {class: 'divided'} do %>
      <%= f.input_field :teacher_percentage, placeholder: t('view.live_studio/interactie_course.placeholder.teacher_percentage') %>
      <i>%</i>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :price %>
  </div>
  <div class="col-md-10">
    <%= f.input :price, label: false, wrapper_html: {class: 'divided'} do %>
      <%= f.input_field :price, placeholder: t('view.live_studio/interactie_course.placeholder.price') %>
      <i><%= t('view.live_studio/course.hint.price') %></i>
    <% end %>
  </div>
</div>