
<div class="editor-msg">
  <div class="row">
    <div class="col-md-2">
      <%= f.label :name %>
    </div>
    <div class="col-md-10">
      <%= f.input :name, label: false, input_html: {maxlength: 20} %>
      <%= f.error :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :description %>
    </div>
    <div class="col-md-10">
      <%= f.input :token, as: :hidden, input_html: {value: f.object.token} %>
      <%= f.input :description, label: false  %>
      <%= f.error :description %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :grade %>
    </div>
    <div class="col-md-10">
      <%= f.input :grade, collection: APP_CONSTANT['grades_in_menu'], label: false, prompt: t('view.course_form.placeholders.grade') %>
      <%= f.error :grade %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :subject %>
    </div>
    <div class="col-md-10">
      <%= f.input :subject, collection: APP_CONSTANT['subjects'], label: false, prompt: t('view.course_form.placeholders.subject') %>
      <%= f.error :subject %>
    </div>
  </div>

  <%= content_tag(:div, class: 'row') do %>
    <div class="col-md-2">
      <%= f.label :workstation %>
    </div>
    <div class="col-md-10">
      <%= f.association :workstation, collection: Workstation.all.map{|ws| [ws.name, ws.id]}, label: false, prompt: false %>
    </div>
  <% end if @workstation.blank? %>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :price %>
    </div>
    <div class="col-md-10">
      <%= f.input :price, label: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :teacher_percentage %>
    </div>
    <div class="col-md-10">
      <%= f.input :teacher_percentage, label: false %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    // 富文本区域
    $('#interactive_course_description').summernote({
      placeholder: '请输入直播介绍（最多300字）',
      disableDragAndDrop: true,
      height: 200,
      toolbar: [
        // [groupName, [list of button]]
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']]
      ]
    });
  });
</script>