<div class="tab-pane fade in active" id="introduce">
  <div class="course-lessons">
    <div class="lessons-detail">
      <h3><%= t('view.live_studio/courses.show.base_info') %></h3>
      <ul>
        <li>
          <span><i><%= t('view.live_studio/courses.show.subject') %></i><i><%= @interactive_course.subject %></i></span>
          <span><i><%= t('view.live_studio/courses.show.grade') %></i><i><%= @interactive_course.grade %></i></span>
          <span><i><%= t('view.live_studio/courses.show.lesson') %></i><i><%= t('view.live_studio/courses.show.lesson_text', count: @interactive_course.lessons_count) %></i></span>
        </li>

        <li>
          <span>
            <i><%= t('view.live_studio/courses.show.date') %></i>
            <i>
              <%= t('view.live_studio/courses.show.date_text',
                  start_at: @interactive_course.start_at.try(:to_date).try(:to_s),
                  end_at: @interactive_course.end_at.try(:to_date).try(:to_s)) %>
            </i>
          </span>
        </li>

        <li>
          <span>
            <i><%= t('view.live_studio/courses.show.status') %></i>
            <i>
              <%= @interactive_course.status_text %>
              <% if @interactive_course.published? %>
                <% if @interactive_course.distance_days > 0 %>
                  (<%= t('view.course_show.distance_text1') % @interactive_course.distance_days %>)
                <% end %>
              <% else %>
                (<%= t('view.live_studio/courses.show.status_text', one: @interactive_course.closed_lessons_count, two: @interactive_course.lessons_count) %>)
              <% end %>
            </i>
          </span>
        </li>
      </ul>
    </div>

    <div class="lessons-detail">
      <h3><%= t('view.live_studio/courses.show.objective') %></h3>
      <p><%= @interactive_course.objective.presence || t('view.live_studio/courses.show.tag_none') %></p>
    </div>

    <div class="lessons-detail">
      <h3><%= t('view.live_studio/courses.show.suit_crowd') %></h3>
      <p><%= @interactive_course.suit_crowd.presence || t('view.live_studio/courses.show.tag_none') %></p>
    </div>

    <div class="lessons-detail">
      <h3><%= t('view.live_studio/courses.show.desc') %></h3>
      <%= raw(@interactive_course.description) %>
    </div>
  </div>
</div>