<%= simple_form_for @interactive_course, url: url do |f| %>
  <%= f.input :workstation_id, as: :hidden %>

  <div class="editor-item">
    <h3 class="file-title"><%= t('view.live_studio/interactie_course.new.intro_one') %></h3>
    <%= render 'course_fields', f: f %>
  </div>

  <div class="editor-item">
    <h3 class="file-title"><%= t('view.live_studio/interactie_course.new.intro_two') %></h3>
    <ul class="arrange-list">
      <%= f.fields_for :interactive_lessons do |lesson| %>
        <%= render 'interactive_lesson_fields', f: lesson %>
      <% end %>
    </ul>
  </div>

  <div class="editor-item">
    <h3 class="file-title"><%= t('view.live_studio/interactie_course.new.intro_three') %></h3>
    <%= render 'course_fields2', f: f %>

    <div class="present">
      <center>
        <%= link_to t('view.live_studio/interactie_course.new.preview'), 'javascript: void(0);', id: 'interactive_course_preview' %>
        <%= link_to t('view.live_studio/interactie_course.new.submit'), 'javascript: void(0);', class: 'submit' %>
      </center>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function(){
      $('.submit').click(function(){
        $('form').submit();
      });

      $("#interactive_course_preview").click(function() {
        var action = $(this).parents("form").attr('action');
        $(this).parents("form").attr('action', "<%= live_studio.preview_interactive_courses_path %>");
        $(this).parents("form").attr('target', '_blank');
        $(this).parents("form").submit();
        $(this).parents("form").attr('action', action);
        $(this).parents("form").removeAttr('target');
      });

      var hoverset;
      $(".create-header > .course-hint").hover(function() {
        $(".course-description").show();
        if(hoverset) {
          clearTimeout(hoverset);
        }
      }, function() {
        hoverset = setTimeout(function() {
          $(".course-description").hide();
        }, 200)
      });

      $(".select2").select2({width: 'resolve', dropdownAutoWidth: 'true'});
    });
  </script>
<% end %>