<%
   lesson = f.object
   index = f.index.to_i
   object_id = f.object.object_id
%>
<table border="0" cellspacing="0" cellpadding="0" class="lesson-show <%= f.object._destroy ? 'hidden' : '' %>">
  <tbody><tr>
    <td class="class-num">
      <span><%= index < 9 ? "0#{index+1}" : (index+1) %></span>
      <%= f.input :id, as: :hidden %>
    </td>
    <td class="create-td">
      <p class="create-time">
        <span>上课时间：</span>
        <span id="class_date_<%= object_id %>"><%= lesson.class_date %></span>
        <span id="start_time_<%= object_id %>">
          <%= lesson.start_time %>-<%= lesson.end_time %>
        </span>
      </p>
      <p class="create-name">
        <span>课程名称：</span>
        <span id="name_<%= object_id %>"><%= lesson.name %></span>
      </p>
    </td>
    <td>
      <p>
        <a href="javascript:void(0);" data-toggle="modal" data-target="#edit_<%= object_id %>" id="edit_button_<%= object_id %>">编辑</a>
      </p>
      <p>
        <a href="javascript:void(0);" data-toggle="modal" data-target="#delete_<%= object_id %>" class="btn-delete"><%= t("activerecord.view.delete") %></a>
      </p>
      <div class="modal fade" id="edit_<%= object_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="add-popup" style="text-align: left;">
            <div class="popup-title">
              <span>编辑课程</span>

              <span class="close fa fa-times" data-dismiss="modal" data-enforce="true" aria-label="Close"></span>
            </div>
            <div class="popup-date">
              <div class="date-class">
                <span>
                  <label for="">上课日期</label>
                  <%= f.text_field :class_date, as: :string, class: 'class_date', placeholder: '选择上课日期', onclick: 'testShow(this)' %>
                  <br>
                  <i class="has-error class_date-error-<%= object_id %>"></i>
                </span>
                <span class="start-time">
                  <label for="">开始时间</label>
                  <%= f.select :start_time_hour, (0..23).to_a.map{|i| i > 9 ? i : "0#{i}"}.insert(0,['时',nil]),{}, class: 'start_time_hour' %>
                  <%= f.select :start_time_minute, %w(00 05 10 15 20 25 30 35 40 45 50 55).insert(0, ['分', nil]),{}, class: 'start_time_minute' %>
                  <br>
                  <i class="has-error start_time-error-<%= object_id %>"></i>
                </span>
                <span class="start-length">
                  <label for="">上课时长</label>
                  <%= f.select :duration, LiveStudio::InteractiveLesson.duration.options.insert(0, ['时长', nil]),{}, class: 'duration' %>
                  <br>
                  <i class="has-error duration-error-<%= object_id %>"></i>
                </span>
              </div>
              <div class="date-grade">
                <label for="">课程名称</label>
                <%= f.text_field :name, placeholder: '输入课程名称（最多20字）', maxlength: 20, class: 'lesson_name'%>
                <br>
                <i class="has-error name-error-<%= object_id %>"></i>
              </div>
              <div class="date-btn">
                <center>
                  <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close">取消</a>
                  <a href="javascript:void(0);" class="btn-datesave save-<%= object_id %>">保存</a>
                  <%= hidden_field_tag "modal_click_btn_#{object_id}" %>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="delete_<%= object_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="editor-delete">
            <div class="editor-delete-title" style="text-align: left;">
              <span>提示</span>
            </div>
            <div class="editor-delete-con">
              <p>是否确认删除此课程？</p>
            </div>
            <div class="editor-delete-btn">
              <center>
                <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close">取消</a>
                <%= link_to '确认', 'javascript:void(0)', class: 'remove-lesson', onclick: 'remove_lesson(this);',
                            rel: Nokogiri::XML::DocumentFragment.parse(f.input(:_destroy)).at_css('input').attributes['id'].value,
                            'data-dismiss' => 'modal', 'aria-label' => 'Close'
                %>
              </center>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<%= f.input_field :_destroy, as: :boolean, boolean_style: :inline, class: 'hidden'%>
<script type="text/javascript">
  $(function () {
    var o_id = '<%= object_id %>';
    var new_page = <%= f.object.new_record? %>;
    if(new_page && $('#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:name)).at_css('input').attributes['id'].value %>').val().trim() == ''){
      $('#edit_button_'+o_id).click();
    }

    $('#edit_'+o_id).on('hide.bs.modal', function() {
      if($('#modal_click_btn_'+o_id).val() == 'save'){
        if(change_save()){
        }else{
          $('#modal_click_btn_'+o_id).val('cancel');
          return false;
        }
      }else{
        if(new_page){
          $('#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:_destroy)).at_css('input').attributes['id'].value %>').attr('checked', true);
          $(this).parents("table").hide();
        }
      }
    });

    $('.save-'+o_id).click(function(){
      $('#modal_click_btn_'+o_id).val('save');
      $('#edit_'+o_id).modal('hide');
    });

    function change_save(){
      var class_date_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.text_field(:class_date)).at_css('input').attributes['id'].value %>';
      var start_time_hour_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:start_time_hour)).at_css('input').attributes['id'].value %>';
      var start_time_minute_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:start_time_minute)).at_css('input').attributes['id'].value %>';
      var duration_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.input(:duration)).at_css('select').attributes['id'].value %>';
      var name_id = '#<%= Nokogiri::XML::DocumentFragment.parse(f.text_field(:name)).at_css('input').attributes['id'].value %>';
      var hour = $(start_time_hour_id).val();
      var minutes = $(start_time_minute_id).val();
      var duration = $(duration_id).val();
      var start_time = hour + ':' + minutes;
      var end_time = _get_time(hour, minutes, duration);
      var class_date = $(class_date_id).val();
      var name = $(name_id).val();
      var flag = set_errors(o_id, name, class_date, hour, minutes, start_time, duration, end_time);
      if(flag){
        $('#class_date_'+o_id).html(class_date);
        $('#start_time_'+o_id).html(start_time + '-' + end_time);
        $('#name_'+o_id).html(name);
      }
      return flag;
    }

    function set_errors(id, name, class_date, hour, minutes, start_time, duration, end_time){
      var return_flag = true;
      if(name.trim() == ''){
        return_flag = false;
        $('.name-error-'+id).html('请输入课程名称');
      }else{
        $('.name-error-'+id).html('');
      }
      if(class_date.trim() == '' || class_date.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/) == null){
        return_flag = false;
        $('.class_date-error-'+id).html('请选择上课日期');
      }else{
        $('.class_date-error-'+id).html('');
      }
      if(hour.trim() == '' || minutes.trim() == ''){
        return_flag = false;
        $('.start_time-error-'+id).html('请选择开始时间');
      }else{
        $('.start_time-error-'+id).html('');
      }


      var nowTime = new Date();
      var startAt = new Date(class_date + " " + start_time);
      if(startAt < nowTime){
        return_flag = false;
        $('.duration-error-' + id).html('不能早于当前时间');
      } else if(end_time < start_time){
        return_flag = false;
        $('.duration-error-' + id).html('上课时长不能跨天');
      }else if(duration.trim() == '' || duration == null){
        return_flag = false;
        $('.duration-error-' + id).html('请选择上课时长');
      }else{
        $('.duration-error-' + id).html('');
      }
      return return_flag;
    }
  });

</script>