<%
   lesson = f.object
   index = f.index.to_i
   object_id = f.object.object_id
%>
<li>
  <div class="row">
    <div class="col-md-1">
      <span><%= index < 9 ? "0#{index+1}" : (index+1) %></span>
      <%= f.input :id, as: :hidden %>
    </div>
    <div class="col-md-11">
      <div class="col-md-6">
        <label for="">教师：</label>
        <%= f.select :teacher_id, options_for_select(Teacher.pluck(:name, :id), f.object.teacher_id), {include_blank: '选择老师'} %>
        <%= f.error :teacher_id %>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <label for="">上课时间：</label>
        <%= f.text_field :class_date, as: :string, class: 'class_date je-date', placeholder: '选择上课日期', readonly: true %>
        <%= f.select :start_time_hour, (0..23).to_a.map{|i| i > 9 ? i : "0#{i}"}.insert(0,['时',nil]),{}, class: 'start_time_hour select-time' %>
        <%= f.select :start_time_minute, %w(00 05 10 15 20 25 30 35 40 45 50 55).insert(0, ['分', nil]),{}, class: 'start_time_minute select-time' %>
        <%= f.error :class_date %>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-12">
        <span>课程名称：</span>
        <span id="lesson_name_<%= object_id %>"><%= lesson.name %>第<%= index + 1 %>课</span>
      </div>
    </div>

  </div>
</li>