<div class="live-player">
  <div class="live-head">
    <div class="container live-big">
      <div class="row">
        <div class="video-area">
          <div class="area-left area-member">
            <div class="item" id="teacher-board-area">
            </div>
          </div>

          <div class="area-right bypass-live">
            <div class="area-right-live">
              <div class="item live-left-box" id="teacher-camera-area">
                <span class="tip">
                  <i></i>
                  <i></i>
                  <i></i>
                </span>
              </div>
              <div class="item live-right-box" id="student-camera-area">
                <span class="tip">
                  <i></i>
                  <i></i>
                  <i></i>
                </span>
              </div>
            </div>

            <div class="area-right chat-view">
              <%= render 'chat' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="course-con">
  <div class="container">
    <div class="row">
      <%= render partial: 'live_studio/courses/show/course_info' %>

      <%= render partial: 'live_studio/courses/show/teacher_info' %>
    </div>
  </div>
</div>

<%= content_for :javascript do -%>
<script>
$(function() {
  var user = {
    account: "d5e42f9a6e32d463f91b16a14adbde83",
    token: "365383b66fac5b18209be02582d9a198",
    role: "<%= current_user.role %>"
  };
  var appKey = "<%= Chat::IM.app_key %>";
  var channelName = "41827835";

  var bridge;
  var chatUI;
  var chatNim = new ChatQatime({ appKey: appKey, account: user.account, token: user.token, teamID: channelName, done: function () {
    console.log(123);
    chatUI = new ChatQatimeUI(chatNim, {});
    bridge = new NetcallBridge({ user: user, appKey: appKey, channelName: channelName, chatNim: chatNim });
    bridge.connect(function() {
      bridge.init();
    });
  }});
});
</script>
<% end %>
