<div class="panel panel-default">
  <div class="new-curriculum">
    <div class="curriculum-title">
      <% if @workstation %>
        <%= link_to '', live_studio.station_workstation_interactive_courses_path(@workstation), class: 'fa fa-mail-reply' %>
      <% end %>
      <span><%= t('view.live_studio/interactie_course.update_class_date.title') %></span>
    </div>
    <div class="adjust-classes">
      <h3><%= @interactive_course.name %></h3>
      <%= simple_form_for @interactive_course, url: update_lessons_interactive_course_path(@interactive_course) do |f|%>
        <ul class="adjust-list">
          <%= f.fields_for :interactive_lessons, @interactive_course.interactive_lessons.order(class_date: :asc) do |lesson| %>
            <% if lesson.object.unstart? %>
              <%= render 'lesson_li', f: lesson %>
            <% end %>
          <% end %>
        </ul>
        <div class="present adjust-btn">
          <center>
            <%= link_to t('common.cancel'), :back %>
            <%= link_to t('view.live_studio/interactie_course.update_class_date.submit'), 'javascript:void(0);', class: 'submit' %>
          </center>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function _get_time(hour, minutes, duration){
    if(duration == '' || duration == null){
      return false;
    }
    var duration_value = 0;
    var hour = parseInt(hour);
    var minutes = parseInt(minutes);
    switch(duration){
      case 'minutes_30':
        duration_value = 30;
        break;
      case 'minutes_45':
        duration_value = 45;
        break;
      case 'hours_1':
        duration_value = 60;
        break;
      case 'hours_half_90':
        duration_value = 90;
        break;
      case 'hours_2':
        duration_value = 120;
        break;
      case 'hours_half_150':
        duration_value = 150;
        break;
      case 'hours_3':
        duration_value = 180;
        break;
      case 'hours_half_210':
        duration_value = 210;
        break;
      case 'hours_4':
        duration_value = 240;
        break;
    }
    end_hour = hour + parseInt((minutes+duration_value)/60);
    end_minutes = (minutes+duration_value) % 60;
    if(end_hour > 23)
      end_hour = end_hour % 24;
    if(end_hour < 10)
      end_hour = "0" + end_hour;
    if(end_minutes < 10)
      end_minutes = "0" + end_minutes;
    return end_hour + ':' + end_minutes;
  }

  $(function(){
    $('.save_modal_btn').on('click', function(){
      var lesson_id = $(this).data('lesson-id'),
          field_index = $(this).data('field-index');

      $('#modal_click_btn_' + lesson_id).val('save');
      $('#interactive_course_interactive_lessons_attributes_' + field_index + '__update').prop('checked', true);
      $('#adjust_edit_' + lesson_id).modal('hide');
    });

    $('.adjust_edit_modal').on('hide.bs.modal', function(event) {
      var lesson_id = $(this).data('lesson-id'),
          field_index = $(this).data('field-index');
      var modal_click_btn = $('#modal_click_btn_' + lesson_id);

      function change_save(){
        var teacher_input = $('#interactive_course_interactive_lessons_attributes_' + field_index + '_teacher_id option:selected');
        var class_date_input = $('#interactive_course_interactive_lessons_attributes_' + field_index + '_class_date');
        var start_time_hour_input = $('#interactive_course_interactive_lessons_attributes_' + field_index + '_start_time_hour');
        var start_time_minute_input = $('#interactive_course_interactive_lessons_attributes_' + field_index + '_start_time_minute');
        var hour = $(start_time_hour_input).val();
        var minutes = $(start_time_minute_input).val();
        var start_time = hour + ':' + minutes;
        var end_time = _get_time(hour, minutes, 'minutes_45');
        if(end_time == false){
          end_time = '';
        }
        var preview_class_date_text = class_date_input.val() + ' ' + start_time + '-' + end_time;
        var preview_class_date_i = $('.preview_class_date_' + lesson_id),
            preview_teacher_name_i = $('.preview_teacher_name_' + lesson_id);

        preview_class_date_i.html(preview_class_date_text).removeClass('hide');
        preview_class_date_i.siblings('i').removeClass('hide');
        preview_teacher_name_i.html(teacher_input.text()).removeClass('hide');
        preview_teacher_name_i.siblings('i').removeClass('hide');
      }

      if(modal_click_btn.val() == 'save'){
        change_save()
      }else{
        modal_click_btn.val('cancel');
        $('#interactive_course_interactive_lessons_attributes_' + field_index + '__update').prop('checked', false);
      }

    });

    $('.submit').click(function(){
      $('form').submit();
    });
  });
</script>