<div class="customized_course">
  <%= render 'header' %>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_box" style="padding-left: 1px;padding-top: 10px;padding-right: 1px;">

    <ul class="nav nav-tabs">
      <li role="presentation" class=<%= "active" if action_name == "show" %>>
        <%= link_to "#{CustomizedCourse.human_attribute_name(:customized_tutorials)}",customized_course_path(@customized_course) %>
      </li>
      <li role="presentation" class=<%= "active" if action_name == "homeworks" %>>
        <%= link_to CustomizedCourse.human_attribute_name(:homeworks),homeworks_customized_course_path(@customized_course) %>
      </li>
      <li role="presentation" class=<%= "active" if action_name == "topics" %>>
        <%= link_to CustomizedCourse.human_attribute_name(:topics),topics_customized_course_path(@customized_course) %>
      </li>
      <li role="presentation" class=<%= "active" if action_name == "solutions" %>>
        <%= link_to CustomizedCourse.human_attribute_name(:solutions),solutions_customized_course_path(@customized_course) %>
      </li>
    </ul>
  </div>
  <%= yield %>

</div>