<div class="customized_course">
  <%= render 'customized_courses/header' %>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_box" style="padding-left: 1px;padding-top: 10px;padding-right: 1px;">

    <ul class="nav nav-tabs">
      <li role="presentation" class=<%= "active" if action_name == "show" %>>
        <%= link_to "#{CustomizedCourse.human_attribute_name(:customized_tutorials)}",customized_course_path(@customized_course) %>
      </li>
      <li role="presentation" class=<%= "active" if action_name == "homeworks" %>>
        <%= link_to CustomizedCourse.human_attribute_name(:homeworks),homeworks_customized_course_path(@customized_course) %>
      </li>
      <li role="presentation" class=<%= "active" if action_name == "topics" %>>
        <%= link_to CustomizedCourse.human_attribute_name(:topics),topics_customized_course_path(@customized_course) %>
      </li>
      <% if not current_user.student? %>
      <li role="presentation" class=<%= "active" if action_name == "solutions" %>>
        <%= link_to CustomizedCourse.human_attribute_name(:solutions),solutions_customized_course_path(@customized_course) %>
      </li>
      <% end %>
      <li role="presentation" class=<%= "active" if action_name == "show" and controller_name == "message_boards" %>>
        <%= link_to CustomizedCourseMessageBoard.model_name.human,
                    customized_course_message_board_path(@customized_course,@customized_course.customized_course_message_board) %>
      </li>
      <li role="presentation" class=<%= "active" if action_name == "action_records" %>>
        <%= link_to CustomizedCourse.human_attribute_name(:action_records),action_records_customized_course_path(@customized_course) %>
      </li>
    </ul>
  </div>
  <%= yield %>

</div>