<div class="qa_box">
  <div class="qa_cell box_head">
    <%= link_to "#{customized_course_full_name(@topic.topicable)}
                -#{CustomizedCourse.human_attribute_name(:topics)}" ,
                topics_customized_course_path(@topic.topicable) %>
  </div>
  <div class="qa_cell">
    同学，你好<br/>
        在<strong><%=CustomizedCourse.human_attribute_name(:topics)%></strong>中，相关科目上的疑难问题都可以在在这里发起讨论；<br/>
        <strong>不过</strong>，</br>
        如果是和<strong><%= CustomizedTutorial.model_name.human%></strong>相关的问题，
        请到相关<strong><%= CustomizedTutorial.model_name.human%></strong>下直接提问;<br>
        如果是和<strong><%= Homework.model_name.human%></strong>相关的问题，
        请到相关<strong><%= Homework.model_name.human%></strong>>下直接提问;<br>

  </div>
</div>
<%= yield %>