<%= render layout: 'main' do %>
    <div class="qa_box">

        <% content_for :_issue_count do %>
            <span class="label label-primary">共有<%=@customized_course.tutorial_issues_count%>个<%=TutorialIssue.model_name.human%></span>
            <span class="label label-primary">共有<%=@customized_course.course_issues_count%>个<%=CourseIssue.model_name.human%></span>
        <% end %>
        <% content_for :_issue_new do %>
            <% if allow? :course_issues , :new, @customized_course %>
                <%=link_to new_customized_course_course_issue_path(@customized_course) do%>
                    <span class="label label-success">我要提问</span>
                <% end %>
            <% end %>
        <% end %>
        <%= render partial: "shared/replies/index_header" %>


        <div class="qa_objects">
            <%= render partial: 'shared/topics/topicable',collection: @topics ,as: 'topicable'%>
        </div>


        <div class="qa_cell">
          <%= will_paginate @topics ,renderer: BootstrapPagination::Rails %>
        </div>
    </div>
<% end %>