<li id="student_homework-<%= student_homework.id %>">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-8 problem-title">
      <p><%= link_to student_homework.title, 'javascript: void(0);' %></p>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 reply-status">
      <span class="<%= student_homework.status %>"><%= student_homework.status_text(current_user.try(:role)) %></span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 problem-name">
      <% unless student_homework.user == current_user -%>
        <span><%= student_homework.user.try(:name) %></span>
      <% end -%>
      
      <% if student_homework.submitted? %>
        <span class="<% 'submit-time' unless student_homework.user == current_user %>"><%= LiveStudio::Task.human_attribute_name(:published_at) %>：</span>
        <span><%= localize(student_homework.published_at) %></span>
      <% elsif student_homework.resolved? %>
        <span class="<% 'submit-time' unless student_homework.user == current_user %>"><%= LiveStudio::Task.human_attribute_name(:resolved_at) %>：</span>
        <span><%= localize(student_homework.resolved_at) %></span>
      <% else %>
        <span class="<% 'submit-time' unless student_homework.user == current_user %>"><%= LiveStudio::Task.human_attribute_name(:created_at) %>：</span>
        <span><%= localize(student_homework.homework.created_at) %></span>
      <% end %>
    </div>
  </div>
  <div class="ask-info">
    <%= render student_homework.homework.task_items %>
  </div>

  <!-- 未提交 -->
  <% if student_homework.pending? -%>
    <div class="edit-box" id="student_homework-<%= student_homework.id %>-form">
      <p>
        <%= link_to t('actions.live_studio/student_homeworks.edit'),
                    live_studio.edit_student_homework_path(student_homework),
                    remote: true, class: 'btn-correct' -%>
        <%= link_to t('actions.live_studio/student_homeworks.cancel'),
                    "javascript:void(0);", class: "btn-correct active cancel", style: 'display:none;',
                    data: { form: "#student_homework-#{student_homework.id}-form .problems-edit" } -%>
      </p>
      <div class="problems-edit"></div>
    </div>
  <!-- 待批改 -->
  <% elsif student_homework.submitted? %>
    <div class="edit-box">
      <%= render 'student_homework_items', student_homework: student_homework -%>
    </div>
    <% if student_homework.homework.user == current_user %>
      <div class="edit-box">
        <p>
          <%= link_to t('actions.live_studio/corrections.new'),
                      live_studio.new_student_homework_correction_path(student_homework),
                      remote: true, class: 'btn-correct' -%>
          <%= link_to t('actions.live_studio/corrections.cancel'),
                      "javascript:void(0);", class: "btn-correct active cancel", style: 'display:none;',
                      data: { form: "#student_homework-#{student_homework.id} .correction-form" } -%>
        </p>
        <div class="problems-edit correction-form">
        </div>
      </div>
    <% end %>
  <!-- 已批该 -->
  <% elsif student_homework.resolved? %>
    <div class="edit-box">
      <%= render 'student_homework_items', student_homework: student_homework -%>
    </div>

    <div class="edit-box">
      <% if student_homework.homework.user == current_user %>
        <p>
          <%= link_to t('actions.live_studio/corrections.edit'),
                      live_studio.edit_student_homework_correction_path(student_homework, student_homework.correction),
                      remote: true, class: 'btn-correct' if student_homework.correction -%>
          <%= link_to t('actions.live_studio/corrections.cancel'),
                      "javascript:void(0);", class: "btn-correct active cancel", style: 'display:none;',
                      data: { form: "#student_homework-#{student_homework.id} .correction-form" } -%>
        </p>
        <div class="problems-edit correction-form">
        </div>
      <% end %>
      <%= render 'correction_items', correction: student_homework.correction  if student_homework.correction -%>
    </div>
  <% end %>
</li>
