<div class="article">

  <div class="work-station">
    <div class="station-title">
      <%= link_to '全部活动', main_app.action_records_station_workstation_path(@workstation),
                  class: "#{'active' if 'station/workstations' == params[:controller] }" if allow?('station/workstations', 'action_records', @workstation) %>
      <%= link_to "全部动态", social.station_workstation_feeds_path(@workstation),
                  class: "#{'active' if 'social/station/feeds' == params[:controller] }" if allow?('social/station/feeds', 'index', @workstation) %>
    </div>

    <div class="dynamic">
      <ul>
        <%= render partial: 'station/workstations/action_record', collection: @action_records %>
      </ul>

      <%= render 'shared/blank' if @action_records.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @action_records, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>