<div class="article">
  <div class="work-station">
    <%= render 'station/course/tab' %>

    <div class="sold-tab exclusive-tab">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th><%= t('view.station.customized_courses.index.name') %></th>
            <th><%= t('view.station.customized_courses.index.teacher') %></th>
            <th><%= t('view.station.customized_courses.index.is_keep_account') %></th>
            <th><%= t('view.station.customized_courses.index.student') %></th>
            <th><%= t('view.station.customized_courses.index.customized_tutorial') %></th>
            <th><%= t('view.station.customized_courses.index.homework') %></th>
            <th><%= t('view.station.customized_courses.index.timeout_to_solve_homeworks') %></th>
            <th><%= t('view.station.customized_courses.index.topics') %></th>
          </tr>

          <%= render partial: 'customized_course', collection: @customized_courses %>
        </tbody>
      </table>

      <%= render 'shared/blank' if @customized_courses.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @customized_courses, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>