<%= render "shared/error_messages", :target => f.object %>
<%= f.input :token, as: :hidden, input_html: {value: f.object.token} %>
<%= render partial: 'pictures/gallery',locals: {pictures: f.object.pictures,gallery_id: f.object.token} %>
<% if not defined? no_title or no_title == false %>
    <div class="form-group">
        <%= f.input :title ,input_html:{class:'form-control'}  %>
    </div>
<% end %>

<div class="form-group">
  <%= f.input :content,:input_html => { :data => {:provider => "summernote"} }  %>
</div>
<% if not defined? no_file or no_file == false %>
    <%= f.fields_for :qa_files do |builder| %>
        <%= render 'shared/qa_files/qa_file_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "添加文件", f, :qa_files, "shared/qa_files/" %></br>
<% end %>
<div class="form-group">
  <%= f.button :submit, class: "btn btn-default" %>
</div>