<% if not defined?(header_switch) or header_switch %>
<div class="qa_box">
  <div class="qa_cell box_head">
    <%= yield %>
  </div>
</div>
<% end %>
<div class="qa_box">
  <div class="qa_object">
    <div class="header">

      <div class="pull-right">
        <%= image_tag qa_object.try(:author).try(:avatar).try(:normal).try(:url) %>
      </div>
      <div class="title">
        <h4><%= qa_object.title %></h4>
      </div>
      <div class="info">
        <%= [qa_object.author.try(:view_name),"#{localize(qa_object.created_at,:format => :long)} 创建"].join(" • ") %>
        <% if defined?(qa_object.state) %>
            • <%= qa_object.human_state_name %>
        <% end %>
      </div>
    </div>

    <div class="content">
      <div class="body">
        <%= qa_object.content.html_safe %>
      </div>
      <% if defined?(qa_object.pictures) %>
          <%= render partial: 'pictures/gallery',locals:{pictures: qa_object.pictures,show_operation: false,gallery_id: qa_object.token} %>
      <% end %>
      <% if defined?(qa_object.qa_files) and qa_object.qa_files %>
        <%= render partial: 'shared/qa_files/qa_file', collection: qa_object.qa_files%>
      <% end %>
    </div>

    <% if defined?(qa_object.comments) %>
        <div class="footer">
            <%= render partial:'comments/index',locals: {commentable: qa_object} %>
        </div>
    <% end %>

    <div class="operator">
      <% if current_user.student? %>
        <%= render partial: "shared/common_states/info",locals: {object_state: qa_object} %>
      <% else %>
        <%= render partial: "shared/common_states/handle",
                 locals: {object_state: qa_object,
                          use_super_controller: defined?(use_super_controller) ? use_super_controller : false,
                          remote_link: false
                 } %>
    <% end %>
      <div class="pull-right">
        <%= link_to_edit(qa_object,defined?(use_super_controller) ?  use_super_controller : false)%> &nbsp;
        <%= link_to_destroy(qa_object,defined?(use_super_controller) ?  use_super_controller : false) %>
      </div>
    </div>

    <div style="clear:both"></div>


  </div>

</div>

