<div class="qa_box">
  <div class="qa_big_cell">
    <%= link_to teaching_program_full_name(@course.curriculum.teaching_program),curriculum_path(@curriculum) %> /
    <% if @course.new_record? %>
        新建<%= Course.model_name.human %>
    <% else %>
        编辑<%= Course.model_name.human %>
    <% end %>
  </div>
  <div class="qa_big_cell">
    <%= simple_form_for([:teachers,@curriculum,@course]) do |f|%>
        <%= f.input :chapter, collection: @curriculum.teaching_program.content["chapters"], :include_blank => false %>
        <%= f.input :name %>

        <%= f.input :desc %>
        <%= f.association :curriculum, as: :hidden %>
        <%= f.association :teacher, as: :hidden %>
        <%= f.button :submit, class: "btn btn-default" %>
        <%= link_to '返回', curriculum_path(@curriculum),class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<div class="qa_box">
  <div class="qa_big_cell">
    <div>
      <ul>
        <li>
          您正在创建或者编辑一个<strong><%= Course.model_name.human %> </strong>
        </li>
        <li>
          <%="#{@curriculum.teaching_program.grade} • #{@curriculum.teaching_program.subject} •
                #{@curriculum.teaching_program.name}"%> 是一门<strong><%=Curriculum.model_name.human%></strong>,
                <strong><%=Curriculum.model_name.human%></strong>下包含若<strong>章</strong>(例如这里的"<%= @curriculum.teaching_program.content["chapters"][0]%>")，
                每个<strong>章</strong>下都有若干
                <strong><%= Course.model_name.human %> </strong>
        </li>
        <li>
          围绕每个<strong><%= Course.model_name.human %> </strong>都有若干<strong><%=Lesson.model_name.human%></strong>
        </li>
      </ul>
    </div>
  </div>
</div>