<% course = order.product %>
<li>
  <div class="row">
    <div class="col-md-9 order-info">
      <div class="row course-caption">
        <div class="col-md-12">
          <span><strong><%= course.name %></strong></span>
        </div>
      </div>
      <div class="row course-classify">
        <div class="col-md-6 col-sm-6">
          <span><%= t('view.payment/order.index.course_type') %>：</span>
          <span><%= t("view.payment/order.index.#{course.model_name.singular_route_key}") %></span>
        </div>
        <div class="col-md-6 col-sm-6">
          <span><%= t('view.payment/order.index.grade_subject') %>：</span>
          <span><%= course.grade %><%= course.subject %></span>
        </div>
      </div>
      <div class="row course-classify">
        <div class="col-md-6 col-sm-6 classify-name">
          <span><%= t('view.payment/order.index.teacher') %>：</span>
          <span><%= course.teacher_name %><%= '...' if course.is_a?(LiveStudio::InteractiveCourse) %></span>
        </div>
        <div class="col-md-6 col-sm-6">
          <span><%= t('view.payment/order.index.lesson_count') %>：</span>
          <span><%= t('view.payment/order.index.lesson_count_text', count: course.lessons_count) %></span>
        </div>
      </div>

      <div class="row course-amount">
        <div class="col-md-12">
          <span><%= t('view.payment/order.index.amount') %>：</span>
          <span><%= number_to_currency(order.amount, locale: :cn) %></span>
        </div>
      </div>
    </div>

    <div class="col-md-3 order-status">
      <div class="row status-payment">
        <div class="col-md-12">
          <span><%= order.cate_text %></span>
        </div>
      </div>
      <div class="row status-handle">
        <div class="col-md-12">
          <% if Payment::Order::CATE_UNPAID.include?(order.status) %>
            <%= link_to t('view.payment_show.cancel_order'), cancel_order_user_order_path(@user, order.order_no, cate: :index), method: :patch, data: { confirm: t('view.payment_show.cancel_order_confirm') } %>
            <%= link_to t('activerecord.view.pay_now'), transaction_path(order.order_no) %>
          <% end %>

          <% if Payment::Order::CATE_PAID.include?(order.status) %>
            <% if course.is_a?(LiveStudio::VideoCourse) %>
              <span class="reimburse"><%= image_tag 'reminder.png' %><%= t('view.payment/order.index.cannot_refund') %></span>
            <% else %>
              <%= order_operating(order) %>
            <% end %>
          <% end %>

          <% if Payment::Order::CATE_CANCELED.include?(order.status) %>
            <%= link_to t('view.payment_show.new_order'), live_studio.course_path(course) if course.is_a?(LiveStudio::Course) %>
            <%= link_to t('view.payment_show.new_order'), live_studio.interactive_course_path(course) if course.is_a?(LiveStudio::InteractiveCourse) %>
            <%= link_to t('view.payment_show.new_order'), live_studio.video_course_path(course) if course.is_a?(LiveStudio::VideoCourse) %>
          <% end %>

          <%= link_to t('view.course_show.info'), user_order_path(@user, order.order_no) %>
        </div>
      </div>
    </div>
  </div>
</li>