<% course = order.product -%>
<%= content_tag(:div, class: 'course-box-div') do %>
  <%= content_tag(:div, class: 'course-describe-div') do%>
    <%= content_tag(:div,"#{Payment::Order.human_attribute_name(:order_no)}#{order.order_no}",class: 'describe-ceil') %>
    <%= content_tag(:div,"#{Payment::Order.human_attribute_name(:created_at)} #{l order.created_at, format: :long}",class: 'describe-ceil') %>
    <%= content_tag(:div, "#{order.cate_text}",class: 'describe-ceil') %>
  <% end %>
  <%= content_tag(:div, class: 'course-info-div') do %>
    <%= render course.model_name.singular_route_key, course: course %>

    <%= content_tag(:div, class: 'order-operator-div') do%>
      <%= content_tag(:div, class: 'course-operator-btn') do %>
          <p>
            <%= t('view.payment_show.order_actual_price2') %>
          </p>
          <p>
            <span class="alert_red_span"><%= format '￥%0.2f', order.amount %></span>
          </p>
      <% end %>
    <% end %>

    <%= content_tag(:div, class: 'course-operator-div') do%>
      <%= content_tag(:div, class: 'course-operator-btn') do %>
        <%= link_to t('view.payment_show.cancel_order'), cancel_order_user_order_path(@user, order.order_no, cate: :index), method: :patch, data: { confirm: t('view.payment_show.cancel_order_confirm') }, class: 'btn btn-default operator-btn' %>
        <%= link_to t('activerecord.view.pay_now'), pay_user_order_path(@user, order.order_no), class: 'btn btn-default operator-btn' %>
        <%= link_to t('view.course_show.info'), user_order_path(@user,order.order_no), class: 'btn btn-default operator-btn' %>
      <% end %>
    <% end if Payment::Order::CATE_UNPAID.include?(order.status) %>

    <%= content_tag(:div, class: 'course-operator-div') do%>
      <%= content_tag(:div, class: 'course-operator-btn') do %>
        <%= order_operating(order, class: 'btn btn-default operator-btn') %>
        <%= link_to t('view.course_show.info'), user_order_path(@user,order.order_no), class: 'btn btn-default operator-btn' %>
      <% end %>
    <% end if Payment::Order::CATE_PAID.include?(order.status) %>

    <%= content_tag(:div, class: 'course-operator-div') do%>
      <%= content_tag(:div, class: 'course-operator-btn') do %>
        <%= order_operating(order, class: 'btn btn-default operator-btn') %>
        <%= link_to t('view.payment_show.new_order'), live_studio.course_path(course), class: 'btn btn-default operator-btn' if course.is_a?(LiveStudio::Course) %>
        <%= link_to t('view.payment_show.new_order'), live_studio.interactive_course_path(course), class: 'btn btn-default operator-btn' if course.is_a?(LiveStudio::InteractiveCourse) %>
        <%= link_to t('view.course_show.info'), user_order_path(@user, order.order_no), class: 'btn btn-default operator-btn' %>
      <% end %>
    <% end if Payment::Order::CATE_CANCELED.include?(order.status) %>
  <% end %>
<% end if course %>
