<div class="panel panel-default">
  <div class="panel-heading">
    <%= Payment::Order.model_name.human %>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>#</th>
        <% %w(product total_money status order_no created_at).each do |attr| -%>
            <th><%= Payment::Order.human_attribute_name(attr) %></th>
        <% end %>
        <th><%= t("activerecord.view.operate") %></th>
      </tr>

      <%= render @orders %>
    </table>
    <div class="panel-footer">
      <%= will_paginate @orders %>
    </div>
  </div>
</div>
