<div class="contains">
  <div class="contains-title">
    <h3><%= t("view.student_bars.my_orders") %></h3>
  </div>
  <div class="contains-discipline">
    <div class="discipline-nav">
      <%= link_to t('activerecord.status.order.unpaid'), payment.user_orders_path(@student, cate: 'unpaid'), class: "#{'active' if params[:cate] == 'unpaid' }" %>
      <%= link_to t('activerecord.status.order.paid'), payment.user_orders_path(@student, cate: 'paid'), class: "#{'active' if params[:cate] == 'paid' }" %>
      <%= link_to t('activerecord.status.order.canceled'), payment.user_orders_path(@student, cate: 'canceled'), class: "#{'active' if params[:cate] == 'canceled' }" %>
    </div>
    <div class="tab-content">
      <div class="discipline-con payment-con">
        <ul>
          <%= render partial: "order", collection: @orders %>
        </ul>

        <%= render 'shared/blank' if @orders.blank? %>
        <center><div class="pagination-fix"><%= will_paginate @orders, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
      </div>
    </div>
  </div>
</div>