<div class="panel panel-default">
  <div class="panel-body">
    <%= hidden_field_tag :order_no, params[:id] %>

    <div class="payment-header">
      <%= link_to @product.class.model_name.human, live_studio.courses_path(student_id: @student.try(:id)) %> &gt;
      <strong><%= @product.name %></strong>
    </div>
    <div class="text-center">
      <h4>
        <%= t('view.payment_show.order_pay') %>
      </h4>
    </div>
    <table class="table table-white table-condensed payment-table">
      <thead>
      <tr>
        <td>
          <%= t('view.payment_show.pay_total') %>
        </td>
        <td colspan="2">
          <%= t('view.payment_show.order_info') %>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="price" rowspan="3"><%= format '￥%0.2f',@order.total_money %></td>
        <td colspan="2">
          <%= t('view.payment_show.order_no') % @order.order_no %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.payment_show.order_created_at') % @order.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('view.payment_show.order_pay_type') % t("view.payment_show.#{::Payment::Order::PAY_TYPE.key(@order.pay_type)}_pay") %>
        </td>
        <td class="tips">
          <%= t('view.payment_show.order_tips') %>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="payment-body">
      <div class="qrcode-div">
        <div>
          <%= image_tag(@order.qr_code.try(:code_url), id: 'wechat_qrcode') %>
        </div>
        <div>
          <%= t('view.payment_show.weixin_tips_text1') %>
        </div>
        <div>
          <%= t('view.payment_show.weixin_tips_text2') %>
        </div>
      </div>
      <div class="tips-div">
        <div>
          <%= image_tag('/imgs/pay_tips.png', id: 'pay_tips_img') %>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center"><%= t "activerecord.view.pay_view_phone" %></p>
</div>



<script>
  function showUnreadNews() {
    $.ajax({
      type: "GET",
      url: "result?order_no="+$('#order_no').val(),
      success: function(msg) {
        if( 'paid,shipped,completed'.indexOf(msg)!=-1 ){
          location.href="<%= live_studio.student_courses_path(@order.user) %>";
        }else{
          console.log('未支付成功');
        }
      }
    });
  }
  setInterval('showUnreadNews()',2000);
</script>
