<div class="common-space">
  <div class="container">
    <div class="apply-tea">
      <div class="tutoring-title">
        <h3><%= t('view.payment/order.refund.title') %></h3>
      </div>
      <%= form_tag refund_create_user_order_path(@user, @order.transaction_no) do %>
        <% course = @order.product %>
        <div class="refund-apply">
          <div class="row">
            <div class="col-md-7 apply-left">
              <div class="subtitle">
                <span><%= t('view.payment/order.refund.title2') %></span>
              </div>
              <div class="refund-info">
                <div class="row">
                  <div class="col-md-7 col-sm-7 specify-title">
                    <span><%= t('view.payment/order.refund.name') %>：</span>
                    <span><%= course.name %></span>
                  </div>
                  <div class="col-md-5 col-sm-5">
                    <span><%= t('view.payment/order.show.amount') %>：</span>
                    <span><%= number_to_currency(@order.amount, locals: :cn) %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7 col-sm-7">
                    <span><%= t('view.payment/order.show.order_no') %>：</span>
                    <span><%= @order.transaction_no %></span>
                  </div>
                  <div class="col-md-5 col-sm-5">
                    <span><%= t('view.payment/order.refund.consumed_amount') %>：</span>
                    <span><%= number_to_currency(@consumed_amount, locals: :cn) %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7 col-sm-7">
                    <span><%= t('view.payment/order.refund.refund_lesson_count') %>：</span>
                    <span><%= course.lessons.unstart.count %></span>
                  </div>
                  <div class="col-md-5 col-sm-5">
                    <span><%= t('view.payment/order.refund.refund_pay_type') %>：</span>
                    <span><%= Payment::Refund.pay_type_text @order.pay_type %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 specify-amount">
                    <span><%= t('view.payment/order.refund.refund_amount') %>：</span>
                    <span><%= number_to_currency(@order.amount - @consumed_amount, locals: :cn) %></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 apply-right">
              <div class="subtitle">
                <span><%= t('view.payment/order.refund.title3') %></span>
              </div>
              <div class="refund-input">
                <div class="form-group">
                  <textarea class="form-control" name="reason" id="reason" rows="" cols="" placeholder="<%= t('view.payment/order.refund.reason_placeholder') %>"><%= params[:reason] %></textarea>
                  <% @refund.errors.messages.each do |_,msgs| %>
                    <span class="help-block has-error"><%= msgs.join(';') %></span>
                  <% end if @refund && @refund.errors.present? %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="refund-footer">
          <p><%= t('view.payment/order.refund.notice') %></p>
          <%= submit_tag t('common.submit') %>
        </div>
      <% end %>
    </div>
  </div>
</div>