<div class="panel panel-default">
  <div class="panel-body">
    <%= hidden_field_tag :order_no, params[:id] %>

    <div class="payment-header">
      <%= link_to LiveStudio::Course.model_name.human, live_studio.courses_path(student_id: @student.try(:id)) %> &gt;
      <strong><%= @course.name %></strong>
    </div>

    <table class="table table-white table-condensed payment-table">
      <thead>
      <tr>
        <td colspan="4">
          <%= t('view.payment_show.product_info') %>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="price" rowspan="4">
          <%= content_tag(:div, image_tag(@course.publicize_url(:list), size: "100x100"), class: 'publicize') %>
        </td>
        <td colspan="2">
          <%= t('view.payment_show.order_product_name') %>：
          <%= @course.name %>
        </td>
        <td class="price" rowspan="4">
          <%= link_to t('view.course_search_show.info'), live_studio.course_path(@course),
                    class: 'btn btn-default operator-btn support same-btn' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= LiveStudio::Course.human_attribute_name(:subject) %>：
          <%= @course.subject %>
        </td>
        <td>
          <%= LiveStudio::Course.human_attribute_name(:grade) %>：
          <%= @course.grade %>
        </td>
      </tr>
      <tr>
        <td>
          <%= LiveStudio::Course.human_attribute_name(:teacher) %>：
          <%= @course.teacher.name %>
        </td>
        <td>
          <%= LiveStudio::Course.human_attribute_name(:lessons_count) %>：
          <%= @course.lessons_count %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.payment_show.order_product_status') %>：
          <%= @course.status_text %>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="table table-white table-condensed payment-table">
      <thead>
      <tr>
        <td colspan="5">
          <%= t('view.payment_show.order_info') %>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="price" rowspan="3">
          <p>
            <%= t('view.payment_show.order_actual_price') %>
          </p>
          <p>
            <%= number_to_currency(@order.amount, locals: :cn) %>
          </p>
        </td>
        <td colspan="2">
          <%= t('view.payment_show.order_no') % @order.order_no %>
        </td>

        <% case @order.status.to_sym %>
        <% when :paid %>
          <td class="price" rowspan="3" colspan="2">
            <%= @order.cate_text %>
          </td>
        <% when :unpaid %>
          <td class="price" rowspan="3">
            <%= @order.cate_text %>
          </td>
          <td class="price" rowspan="3">
            <p>
              <%= link_to t('view.payment_show.cancel_order'), cancel_order_user_order_path(@user, @order.order_no, cate: :show), method: :patch, data: { confirm: t('view.payment_show.cancel_order_confirm') }, class: 'btn btn-default operator-btn' %>
            </p>
            <p>
              <%= link_to t('activerecord.view.pay_now'), pay_user_order_path(@user, @order.order_no), class: 'btn btn-default operator-btn' %>
            </p>
          </td>
        <% when :canceled %>
          <td class="price" rowspan="3">
            <%= @order.status_text %>
          </td>
          <td class="price" rowspan="3">
            <%= link_to t('view.payment_show.new_order'), live_studio.student_course_path(@user, @course), class: 'btn btn-default operator-btn' %>
          </td>
        <% else %>
          <td class="price" rowspan="3" colspan="2">
            <%= @order.status_text %>
          </td>
        <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.payment_show.order_created_at') % @order.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('view.payment_show.order_pay_type') % @order.pay_type_text %>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <%= order_operating(@order)  %>
    </div>
  </div>
</div>
