<div class="common-space">
  <div class="container">
    <div class="trading">
      <%= hidden_field_tag :order_no, params[:id] %>
      <div class="row trading-info">
        <div class="col-md-5 deal-left">
          <%= link_to live_studio.send("#{@course.model_name.singular_route_key}_path", @course) do %>
            <%= image_tag @course.publicize_url(:info), class: 'handle_error_list' %>
          <% end %>
        </div>

        <div class="col-md-7 deal-right">
          <h3><%= @order.cate_text %></h3>
          <div class="deal-msg">
            <div class="row teaching-title">
              <div class="col-md-12">
                <h4><%= @course.name %></h4>
              </div>
            </div>
            <div class="row teaching-item">
              <div class="col-md-6 col-sm-6">
                <span><%= t('view.payment/order.index.course_type') %>：</span>
                <span><%= t("view.payment/order.index.#{@course.model_name.singular_route_key}") %></span>
              </div>
              <div class="col-md-6 col-sm-6">
                <span><%= t('view.payment/order.index.grade_subject') %>：</span>
                <span><%= @course.grade %><%= @course.subject %></span>
              </div>
            </div>
            <div class="row teaching-item">
              <div class="col-md-6 col-sm-6">
                <span><%= t('view.payment/order.index.teacher') %>：</span>
                <span><%= @course.teacher_name %><%= '...' if @course.is_a?(LiveStudio::InteractiveCourse) %></span>
              </div>
              <div class="col-md-6 col-sm-6">
                <span><%= t('view.payment/order.index.lesson_count') %>：</span>
                <span><%= t('view.payment/order.index.lesson_count_text', count: @course.lessons_count) %></span>
              </div>
            </div>
            <div class="row teaching-more">
              <div class="col-md-12">
                <%= link_to t('view.payment/order.show.more_info'), live_studio.send("#{@course.model_name.singular_route_key}_path", @course) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row trading-msg">
        <div class="col-md-9 order-left">
          <div class="row teaching-item">
            <div class="col-md-7 col-sm-6">
              <span><%= t('view.payment/order.show.order_no') %>：</span>
              <span><%= @order.order_no %></span>
            </div>
            <div class="col-md-5 col-sm-6 item-time">
              <span><%= t('view.payment/order.show.created_at') %>：</span>
              <span><%= l(@order.created_at) if @order.created_at %></span>
            </div>
          </div>
          <div class="row teaching-item">
            <div class="col-md-7 col-sm-6">
              <span><%= t('view.payment/order.show.pay_type') %>：</span>
              <span><%= @order.pay_type_text %></span>
            </div>
            <div class="col-md-5 col-sm-6 item-time">
              <span><%= t('view.payment/order.show.pay_at') %>：</span>
              <span><%= @order.pay_at.present? ? l(@order.pay_at) : t('common.none') %></span>
            </div>
          </div>
          <div class="row teaching-amount">
            <div class="col-md-12">
              <span><%= t('view.payment/order.show.amount') %>：</span>
              <span><%= number_to_currency(@order.amount, locals: :cn) %></span>
            </div>
          </div>
        </div>
        <div class="col-md-3 order-right">
          <% if Payment::Order::CATE_UNPAID.include?(@order.status) %>
            <div class="item-wait">
              <%= link_to t('view.payment_show.cancel_order'), cancel_order_user_order_path(@user, @order.order_no, cate: :index), method: :patch, data: { confirm: t('view.payment_show.cancel_order_confirm') } %>
              <%= link_to t('activerecord.view.pay_now'), transaction_path(@order.order_no) %>
            </div>
          <% end %>

          <% if Payment::Order::CATE_PAID.include?(@order.status) %>
            <% if @course.is_a?(LiveStudio::VideoCourse) %>
              <div class="item-notsupport"><span><%= image_tag 'reminder.png' %><em><%= t('view.payment/order.index.cannot_refund') %></em></span></div>
            <% else %>
              <div class="item-complete"><%= order_operating(@order) %></div>
            <% end %>
          <% end %>

          <% if Payment::Order::CATE_CANCELED.include?(@order.status) %>
            <div class="item-complete">
              <%= link_to t('view.payment_show.new_order'), live_studio.send("#{@course.model_name.singular_route_key}_path", @course) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>