<div class="panel panel-default">
  <div class="panel-heading">支付</div>
  <div class="panel-body">
    <%= hidden_field_tag :order_no, params[:id] %>

    <div class="qa_big_cell">
      <div>订单号：<%= @order.order_no %></div>
      <div>产品名称：<%= @order.product.name %></div>
      <div>支付金额：<%= @order.total_money %> 元</div>
    </div>
    <div class="qa_big_cell text-center">
      <%= image_tag(@order.qrcode_url) %>
      <div>微信二维码 扫一扫支付</div>
    </div>
  </div>
</div>



<script>
  function showUnreadNews()
  {
    $(document).ready(function() {
      $.ajax({
        type: "GET",
        url: "result?order_no="+$('#order_no').val(),
        success: function(msg) {
          if( 'paid,shipped,completed'.indexOf(msg)!=-1 ){
            location.href="/live_studio/student/courses";
          }else{
            console.log('未支付成功');
          }
        }
      });
    });
  }
  setInterval('showUnreadNews()',2000);
</script>
