<% @current_resource ||= @current_user %>
<div class="col-md-3 col-left">
  <div class="panel panel-default">
    <div class="student-help">
      <div class="nav-side">
        <%= image_tag 'icon.png' %>
        <span><%= t("menu.help") %></span>
      </div>
      <ul class="process-list">
        <%= content_tag :li do -%>
          <%= link_to courses_qa_faqs_path, class: "#{'active' if current_page?(action: :courses)}" do %>
            <%= t('view.qa_bars.courses') %>
          <% end %>
        <% end %>
        <%= content_tag :li do -%>
          <%= link_to teacher_qa_faqs_path, class: "#{'active' if current_page?(action: :teacher)}" do %>
            <%= t('view.qa_bars.teacher') %>
          <% end %>
        <% end if current_user && !current_user.student? %>
        <%= content_tag :li do -%>
          <%= link_to student_qa_faqs_path, class: "#{'active' if current_page?(action: :student)}" do %>
            <%= t('view.qa_bars.student') %>
          <% end %>
        <% end if current_user && !current_user.teacher? %>
        <%= content_tag :li do%>
          <%= link_to qa_faqs_path, class: "#{'active' if current_page?('/qa_faqs') || params[:action] == 'show' }" do %>
            <%= t('view.qa_bars.faqs') %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
