<% @student ||= @current_resource -%>
<div style="border: 1px solid; padding: 6px">
  <center>
    <%= image_tag @student.avatar_url(:big) %><br/>
    <%= @student.name %>
  </center>

  <ul class="nav nav-pills nav-stacked" style="color: white">
    <li>
      <%= link_to info_student_path(@student) do %>
        <span class="fa fa-info-circle"></span> <span class="qa_f18">用户设置</span>
        &nbsp;&nbsp;<span class="glyphicon <%= student_sidebar_nav_is?(:setting) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to payment.user_orders_path(@student,user_class: @student.type) do %>
      <span class="glyphicon glyphicon-list"></span> <span class="qa_f18">我的订单</span>
      &nbsp;&nbsp;<span class="glyphicon <%= student_sidebar_nav_is?(:orders) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.student_courses_path(@student) do %>
      <span class="glyphicon glyphicon-list-alt"></span> <span class="qa_f18">我的辅导</span>
      &nbsp;&nbsp;<span class="glyphicon <%= student_sidebar_nav_is?(:courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to homeworks_student_path(@student) do %>
      <span class="fa fa-book"></span> <span class="qa_f18">我的作业</span>
      &nbsp;&nbsp;<span class="glyphicon <%= student_sidebar_nav_is?(:homeworks) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to teachers_student_path(@student) do %>
      <span class="fa fa-user-secret"></span> <span class="qa_f18">我的老师</span>
      &nbsp;&nbsp;<span class="glyphicon <%= student_sidebar_nav_is?(:teachers) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to notifications_student_path(@student) do %>
      <span class="fa fa-bell"></span>
      <span class="qa_f18">我的消息
        <% if @student.unread_notifications_count >0 %>
        <span class="badge"><%= @student.unread_notifications_count%></span>
        <% end %>
      </span>
      &nbsp;&nbsp;<span class="glyphicon <%= student_sidebar_nav_is?(:notifications) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
  </ul>
</div>

