<% @student ||= @current_resource -%>
<ul class="menu" style="color: white">
  <li>
    <%= link_to curriculums_path do %>
    <span class="fa fa-home"></span> <span class="qa_f18"><%=Curriculum.model_name.human%></span>
    <% end %>
  </li>
  <li>
    <%= link_to customized_courses_student_path(@student) do %>
    <span class="fa fa-graduation-cap"></span> <span class="qa_f18"><%=CustomizedCourse.model_name.human %></span>
    <% end %>
  </li>
  <li>
    <%= link_to homeworks_student_path(@student) do %>
    <span class="fa fa-tasks"></span> <span class="qa_f18">我的作业</span>
    <% end %>
  </li>
  <li>
    <%= link_to notifications_student_path(@student) do %>
    <span class="fa fa-bell"></span>
    <span class="qa_f18">我的消息
      <% if @student.unread_notifications_count >0 %>
      <span class="badge"><%= @student.unread_notifications_count%></span>
      <% end %>
    </span>
    <% end %>
  </li>
  <li>
    <%= link_to questions_path do %>
    <span class="fa fa-users"></span> <span class="qa_f18"><%= VipClass.model_name.human %></span>
    <% end %>
  </li>


  <li>
    <%= link_to teachers_student_path(@student) do %>
    <span class="fa fa-user-secret"></span> <span class="qa_f18">我的老师</span>
    <% end %>
  </li>
  <li>
    <%= link_to live_studio.student_courses_path(@student) do %>
    <span class="glyphicon glyphicon-list-alt"></span> <span class="qa_f18">我的辅导班</span>
    <% end %>
  </li>
  <li>
    <%= link_to payment.user_orders_path(@student,user_class: @student.type) do %>
    <span class="glyphicon glyphicon-list"></span> <span class="qa_f18">我的订单</span>
    <% end %>
  </li>
  <li>
    <%= link_to info_student_path(@student) do %>
    <span class="fa fa-info-circle"></span> <span class="qa_f18">个人信息</span>
    <% end %>
  </li>
  <li>
    <%= link_to signout_path, method: :delete do %>
    <span class="glyphicon glyphicon-log-out"></span>
    <span class="qa_f18">退出系统</span>
    <% end %>
  </li>
</ul>
