<% @student ||= @current_resource -%>
<% @student ||= current_user -%>
<div style="border: 1px solid; padding: 6px">
  <center>
    <%= image_tag @student.avatar_url(:big) %><br/>
    <%= @student.name %>
  </center>

  <ul class="menu" style="color: white">
    <li>
      <%= link_to info_student_path(@student) do %>
        <span class="fa fa-info-circle"></span>
        <span class="qa_f18"><%= t("view.common_bars.user_setting") %></span>
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:setting) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to payment.cash_user_path(@student) do %>
        <span class="fa fa-usd"></span>
        <span class="qa_f18"><%= t("view.student_bars.my_wallet") %></span>
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:cash) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to payment.user_orders_path(@student,user_class: @student.type) do %>
      <span class="fa fa-bars"></span>
      <span class="qa_f18"><%= t("view.student_bars.my_orders") %></span>
      <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:orders) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to user_notifications_path(@student) do %>
        <span class="fa fa-bell"></span>
        <span class="qa_f18"><%= t("view.student_bars.my_notice") %>
          <% if @student.unread_notifications_count >0 %>
          <span class="badge"><%= @student.unread_notifications_count%></span>
          <% end %>
        </span>
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:notifications) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.tastes_student_path(@student) do %>
        <span class="fa fa-users"></span>
        <span class="qa_f18"><%= t("view.student_bars.tastes") %></span>
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:tastes) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.student_courses_path(@student) do %>
      <span class="fa fa-users"></span>
      <span class="qa_f18"><%= t("view.student_bars.my_course") %></span>
      <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.student_interactive_courses_path(@student) do %>
      <span class="fa fa-users"></span>
      <span class="qa_f18"><%= t("view.student_bars.my_interactive_course") %></span>
      <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:interactive_courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.student_video_courses_path(@student) do %>
      <span class="fa fa-users"></span>
      <span class="qa_f18"><%= t("view.student_bars.my_video_course") %></span>
      <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:video_courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.schedules_student_path(@student) do %>
        <span class="fa fa-calendar"></span>
        <span class="qa_f18"><%= t("view.student_bars.schedules") %></span>
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:schedules) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to homeworks_student_path(@student) do %>
        <span class="fa fa-book"></span>
        <span class="qa_f18"><%= t("view.student_bars.my_homework") %></span>
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:homeworks) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to teachers_student_path(@student) do %>
        <span class="fa fa-user-secret"></span>
        <span class="qa_f18"><%= t("view.student_bars.my_teachers") %></span>&nbsp;&nbsp;
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:teachers) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to customized_courses_student_path(@student) do %>
        <span class="fa fa-briefcase"></span>
        <span class="qa_f18"><%= t("view.common_bars.customized_courses") %></span>&nbsp;&nbsp;
        <span class="glyphicon arraw-span <%= student_sidebar_nav_is?(:customized_courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
  </ul>
</div>

