<% @teacher ||= @current_resource -%>
<% @teacher ||= current_user -%>
<div style="border: 1px solid; padding: 6px">
  <center>
    <%= image_tag @teacher.avatar_url(:big) %><br/>
    <%= @teacher.name %>
  </center>

  <ul class="menu" style="color: white">
    <li>
      <%= link_to info_teacher_path(@teacher) do %>
        <span class="fa fa-info-circle"></span>
        <span class="qa_f18"><%= t("view.common_bars.user_setting") %></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:setting) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to payment.cash_user_path(@teacher) do %>
        <span class="fa fa-usd"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.property_management" %></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:cash) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to user_notifications_path(@teacher) do %>
        <span class="fa fa-bell"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.notification" %></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:notification) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
<!--     <li>
      <%#= link_to "##" do %>
        <span class="fa fa-calendar"></span>
        <span class="qa_f18"><%#= t "view.teacher_bars.curriculum_schedule" %></span>
        <span class="glyphicon arraw-span glyphicon-chevron-right"></span>
      <%# end %>
    </li> -->
    <li>
      <%= link_to live_studio.teacher_courses_path(@teacher) do %>
        <span class="fa fa-users"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.my_courses" %></span></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:my_courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.teacher_interactive_courses_path(@teacher) do %>
      <span class="fa fa-users"></span>
      <span class="qa_f18"><%= t("view.student_bars.my_interactive_course") %></span>
      <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.teacher_video_courses_path(@teacher) do %>
      <span class="fa fa-users"></span>
      <span class="qa_f18"><%= t("view.teacher_bars.my_video_courses") %></span>
      <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.schedules_teacher_path(@teacher) do %>
        <span class="fa fa-calendar"></span>
        <span class="qa_f18"><%= t("view.student_bars.schedules") %></span></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:schedule) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to curriculums_teacher_path(@teacher) do %>
        <span class="fa fa-file-text-o"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.curriculums" %></span></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:curriculums) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to lessons_state_teacher_path(@teacher) do %>
        <span class="fa fa-bar-chart"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.lessons_state" %></span></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:lessons_state) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to homeworks_teacher_path(@teacher) do %>
        <span class="fa fa-book"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.homeworks" %></span></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:homeworks) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to students_teacher_path(@teacher) do %>
        <span class="fa fa-user-plus"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.teacher_students" %></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:teacher_students) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <!-- <li>
      <%#= link_to "##" do %>
        <span class="fa fa-film"></span>
        <span class="qa_f18"><%#= t "view.teacher_bars.video_manage" %></span>
        <span class="glyphicon arraw-span glyphicon-chevron-right"></span>
      <%# end %>
    </li> -->

    <li>
      <%= link_to course_library.teacher_syllabuses_path(@teacher) do %>
        <span class="fa fa-sitemap"></span>
        <span class="qa_f18"><%= t "view.teacher_bars.teacher_syllabuses" %></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:teacher_syllabuses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
    <li>
      <%= link_to customized_courses_teacher_path(@teacher) do %>
        <span class="fa fa-briefcase"></span>
        <span class="qa_f18"><%= t "view.common_bars.customized_courses" %></span>
        <span class="glyphicon arraw-span <%= teacher_sidebar_nav_is?(:customized_courses) ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' %>"></span>
      <% end %>
    </li>
  </ul>
</div>
