<ul class="menu" style="color: white">
  <%= content_tag :li do %>
    <%= link_to main_app.station_workstation_path(@workstation) do %>
      <span class="glyphicon glyphicon-user"></span> <span class="qa_f18"> <%= t("view.common_bars.workstation_info") %></span>
    <% end %>
  <% end if allow?('station/workstations', 'show', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to recommend.position_banner_items_path(Recommend::BannerItem.default.presence || 0) do %>
      <span class="glyphicon glyphicon-list-alt"></span> <span class="qa_f18"><%= Recommend::Position.model_name.human %></span>
    <% end %>
  <% end if allow?('recommend/positions', 'index') %>
  <%= content_tag :li do %>
    <%= link_to main_app.schools_path do %>
      <span class="glyphicon glyphicon-home"></span> <span class="qa_f18"> <%= School.model_name.human%></span>
    <% end %>
  <% end if allow?('schools', 'index') %>
  <%= content_tag :li do %>
    <%= link_to main_app.station_workstation_teachers_path(@workstation) do %>
      <span class="glyphicon glyphicon-user"></span> <span class="qa_f18"> 教师</span>
    <% end %>
  <% end if allow?('station/teachers', 'index', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to main_app.station_workstation_students_path(@workstation) do %>
      <span class="glyphicon glyphicon-tags"></span> <span class="qa_f18"> <%= Student.model_name.human %></span>
    <% end %>
  <% end if allow?('station/students', 'index', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to main_app.sellers_station_workstation_path(@workstation) do %>
      <span class="glyphicon glyphicon-phone"></span> <span class="qa_f18"> <%= Seller.model_name.human%></span>
    <% end %>
  <% end if allow?('station/workstations', 'sellers', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to main_app.waiters_station_workstation_path(@workstation) do %>
      <span class="glyphicon glyphicon-headphones"></span> <span class="qa_f18"> <%= Waiter.model_name.human%></span>
    <% end %>
  <% end if allow?('station/workstations', 'waiters', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to main_app.state_station_workstation_lessons_path(@workstation) do %>
      <span class="fa fa-line-chart"></span> <span class="qa_f18"> 状态 </span>
    <% end %>
  <% end if allow?('station/lessons', 'state', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to live_studio.station_workstation_courses_path(@workstation) do %>
      <span class="glyphicon glyphicon-film"></span> <span class="qa_f18"> <%= t("view.common_bars.live_studio/course") %></span>
    <% end %>
  <% end if allow?('live_studio/station/courses', 'index', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to live_studio.station_workstation_interactive_courses_path(@workstation) do %>
      <span class="glyphicon glyphicon-film"></span> <span class="qa_f18"> <%= t("view.common_bars.live_studio/interactive_course") %></span>
    <% end %>
  <% end if allow?('live_studio/station/interactive_courses', 'index', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to live_studio.station_workstation_video_courses_path(@workstation) do %>
      <span class="glyphicon glyphicon-film"></span> <span class="qa_f18"> <%= t("view.common_bars.live_studio/video_course") %></span>
    <% end %>
  <% end if allow?('live_studio/station/interactive_courses', 'index', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to main_app.customized_courses_station_workstation_path(@workstation) do %>
      <span class="glyphicon glyphicon-book"></span> <span class="qa_f18"> <%= CustomizedCourse.model_name.human%></span>
    <% end %>
  <% end if allow?('station/workstations', 'customized_courses', @workstation) %>
  <%= content_tag :li do %>
    <%= link_to main_app.action_records_station_workstation_path(@workstation) do %>
      <span class="fa fa-cogs"></span> <span class="qa_f18"> <%= ActionRecord.model_name.human%></span>
    <% end %>
  <% end if allow?('station/workstations', 'action_records', @workstation) %>
  <li>
    <%= link_to main_app.curriculums_path, target: '_blank' do %>
      <span class="fa fa-folder-open-o"></span> <span class="qa_f18"> <%= Curriculum.model_name.human%></span>
    <% end %>
  </li>
  <li>
    <%= link_to main_app.questions_path, target: '_blank' do %>
      <span class="fa fa-university"></span> <span class="qa_f18"> 问答社区</span>
    <% end %>
  </li>
  <li>
    <%= link_to main_app.signout_path, method: :delete do %>
      <span class="glyphicon glyphicon-log-out"></span> <span class="qa_f18">退出系统</span>
    <% end %>
  </li>
</ul>
