<form id="search-form">
  <%= hidden_field_tag :status, params[:status] %>
  <%= hidden_field_tag :subject, params[:subject] %>
  <div class="btn-group">
    <div class="dropdown">
      <%= t('view.invitation.status')%>:
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <% if LiveStudio::CourseInvitation.statuses[params[:status]].present? %>
          <%= I18n.t("invitations.status.#{params[:status]}") %>
        <% else %>
          <%= t('activerecord.view.filter.all') %>
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" class="search-link-submit" rel="status" data=""><%= t('activerecord.view.filter.all') %></a></li>
        <% LiveStudio::CourseInvitation.statuses.keys.each do |status| %>
          <li><a href="javascript:void(0);" class="search-link-submit" rel="status" data="<%= status %>"><%= I18n.t("invitations.status.#{status}") %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="btn-group">
    <div class="dropdown">
      <%= t('view.invitation.subject')%>:
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <% if params[:subject].present? && params[:subject] != 'all'%>
          <%= params[:subject] %>
        <% else %>
          <%= t('activerecord.view.filter.all') %>
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" class="search-link-submit" rel="subject" data=""><%= t('activerecord.view.filter.all') %></a></li>
        <% APP_CONSTANT['subjects'].each do |subject| %>
          <li><a href="javascript:void(0);" class="search-link-submit" rel="subject" data="<%= subject %>"><%= subject %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to t('view.invitation.clear_filter'), 'javascript:void(0);', class:'btn btn-default clear-range'%>
</form>

<%= content_for :javascript do %>
  <script>
    $(document).ready(function(){
      $('.clear-range').click(function(){
        $('#status').val('');
        $('#subject').val('');
        $('#search-form').submit();
      });

      $(".search-link-submit").click(function(){
        var tag = $(this).attr('rel');
        var value = $(this).attr('data');
        $("#"+tag).val(value);
        $("#search-form").submit();
      });
    })
  </script>
<% end %>
