<div class="assess-norm">
  <div class="new-assess">
    <%= simple_form_for([:station, @workstation, @sale_task], html: {class: 'form-inline'}) do |f|  %>
    <div class="form-group">
      <%= f.label :started_at %>
      <%= f.text_field :started_at, value: @sale_task.started_at.try(:to_date), class: 'je-date form-control closed-at-attr', readonly: true %>
      <%= f.label :started_at, class: "glyphicon glyphicon-calendar label-date" do %>
      <% end %>
      <%= f.error :started_at %>
    </div>
    <div class="form-group">
      <%= f.label :period %>
      <%= f.text_field :period, class: 'form-control closed-at-attr' %>
      <span class="unit"><%= t('datetime.prompts.month') %></span>
      <!-- <span class="assess-cycle-hint"> -->
	      <!-- <i><%#= Payment::SaleTask.human_attribute_name(:closed_at) %>: </i> -->
	      <!-- <i id=""></i> -->
      <!-- </span> -->
      <%= f.error :period %>
    </div>
    <div class="form-group assess-cycle">
      <%= f.label :target_balance %>
      <%= f.text_field :target_balance, class: 'form-control' %>
      <span class="unit"><%= t('currency.cn') %></span>
      <span class="assess-cycle-hint">
	      <i><%= Payment::SaleTask.human_attribute_name(:expect_profit) %>: </i>
    	  <i><span id="expect-profit-result"><%= @workstation.platform_percentage / 100.0 * @sale_task.target_balance.to_f %></span> <%= t('currency.cn') %></i>
      </span>
      <%= f.error :target_balance %>
    </div>
    <div class="form-group">
      <%= f.label :charge_percentage %>
      <%= number_to_percentage(@workstation.platform_percentage, precision: 0) %>
    </div>

    <div class="workstation-submit">
      <center>
	      <%= link_to t('common.cancel'), payment.station_workstation_sale_tasks_path(@workstation), class: "btn btn-default" %>
      	<%= f.submit %>
      </center>
    </div>
    <% end %>
  </div>
</div>
<%= content_for :javascript do %>
<script>
$(function() {
  $("#sale_task_target_balance").bind('input propertychange change', function() {
    if(!/^\d+$/.test($("#sale_task_target_balance").val())) return;
    $("#expect-profit-result").text(parseInt($("#sale_task_target_balance").val() * <%= @workstation.platform_percentage / 100.0 %>));
  });
});
</script>
<% end %>
