<div class="panel panel-default">
  <div class="admin new-workstation">
    <%= render 'station/workstations/tab_node' %>

    <%= link_to t('view.actions.payment/sale_task.create'), payment.new_station_workstation_sale_task_path(@workstation), class: 'edit-site' if allow?('payment/station/sale_tasks', 'new', @workstation) -%>

    <div class="assess-norm assess-manager">

      <h4><%= Payment::SaleTask.human_attribute_name(:task_rule) %></h4>
      <% @waiting_tasks.each_with_index do |task, index| -%>
      <div class="assess-norm-con">
	<h5>考核 <%= format('%02d', index + 1) %></h5>
	<ul>
	  <li>
	    <span><%= Payment::SaleTask.human_attribute_name(:status) %>:</span>
	    <span class="assess-status"><%= task.aasm.human_state %></span>
	  </li>
	  <li>
	    <span><%= Payment::SaleTask.human_attribute_name(:started_at) %>:</span>
	    <span><%= localize(task.started_at.to_date) %></span>
	  </li>
	  <li>
	    <span><%= Payment::SaleTask.human_attribute_name(:period) %>:</span>
	    <span><%= task.period %>月</span>
	    <i><%= Payment::SaleTask.human_attribute_name(:ended_at) %> <%= localize(task.ended_at.to_date) %></i>
	  </li>
	  <li>
	    <span><%= Payment::SaleTask.human_attribute_name(:target_balance) %>:</span>
	    <span><%= number_to_currency(task.target_balance, locale: 'cn') %></span>
	  </li>
	  <li>
	    <span><%= Payment::SaleTask.human_attribute_name(:charge_percentage) %>:</span>
	    <span><%= number_to_percentage(task.charge_percentage, precision: 0) %></span>
	  </li>
	</ul>
      </div>
      <% end -%>
    </div>

    <div class="assess-record">
      <div class="assess-record-title">
	<h4><%= Payment::SaleTask.human_attribute_name(:task_history) %></h4>
      </div>
      <div class="admin-record-con">
	<table border="1" cellspacing="1" cellpadding="1">
	  <tbody>
	    <tr>
	      <td><%= Payment::SaleTask.human_attribute_name(:task_index) %></td>
	      <td><%= Payment::SaleTask.human_attribute_name(:result) %></td>
	      <td><%= Payment::SaleTask.human_attribute_name(:charge_balance) %></td>
	      <td><%= Payment::SaleTask.human_attribute_name(:available_balance) %></td>
	      <td><%= Payment::SaleTask.human_attribute_name(:closed_at) %></td>
	      <td><%= Payment::SaleTask.human_attribute_name(:operate) %></td>
	    </tr>
	    <% @closed_tasks.each_with_index do |task, index| %>
	    <tr>
	      <td><%= format('%02d', index + 1) %></td>
	      <td class="assess-state">
		<span class="assess-state-pass"><%= task.status %></span>
	      </td>
	      <td><%= number_to_currency(task.charge_balance, locale: 'cn') %></td>
	      <td><%= number_to_currency(task.available_balance, locale: 'cn') %></td>
	      <td><%= localize(task.ended_at, format: :long) %></td>
	      <td>
		<%= link_to '##', class: 'view-msg' do %>
		  <span>查看明细</span>
		  <i class="fa fa-angle-down"></i>
		<% end %>
	      </td>
	    </tr>
	    <tr class="admin-record-msg">
	      <td colspan="7">
		<table border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
		      <td>
			<span>考试期开始日：</span>
			<span>2016-12-05</span>
		      </td>
		      <td>
			<span>考核期结束日：</span>
			<span>2017-02-11</span>
		      </td>
		      <td>
			<span>考核周期：</span>
			<span>3月</span>
		      </td>
		    </tr>
		    <tr>
		      <td>
			<span>销售目标额：</span>
			<span>￥20000.0</span>
		      </td>
		      <td colspan="2">
			<span>销售额：</span>
			<span>￥30000.00</span>
		      </td>
		    </tr>
		    <tr>
		      <td>
			<span>销售差额：</span>
			<span>￥10000.00</span>
		      </td>
		      <td colspan="2">
			<span>考核扣款系数：</span>
			<span>X%</span>
		      </td>
		    </tr>
		    <tr>
		      <td colspan="3">
			<span>考核扣款金额：</span>
			<span>￥33.00</span>
			<i>(考核扣款金额=销售差额*考核扣款系数)</i>
		      </td>
		    </tr>
		</tbody></table>
	      </td>
	    </tr>
	    <% end -%>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
