<div class="course-header">
  <div class="container">
    <div class="row course-class">
      <div class="col-md-5 col-xs-12 pic">
        <%= image_tag @course.publicize_url(:info), class: 'handle_error_list' %>
      </div>
      <div class="col-md-7 col-xs-12 course-introduce">
        <div class="course-title">
          <h1><%= truncate_u @course.name, length: 24 %></h1>
          <span><%= t('view.live_studio/courses.show.purchase_number2', count: @course.buy_user_count ) %></span>
        </div>
        <div class="course-line">
          <span class="<%= 'active' if @course.taste_count.to_i > 0 %>">
            <%= image_tag "/imgs/course-#{@course.taste_count.to_i > 0 ? 'active' : 'default'}.png" %>
            <i><%= t('view.live_studio/courses.show.free_taste') %></i>
          </span>
          <span class="active">
            <%= image_tag '/imgs/course-active.png' %>
            <i><%= t('view.live_studio/courses.show.coupon_free') %></i>
          </span>
          <span>
            <%= image_tag '/imgs/course-default.png' %>
            <i><%= t('view.live_studio/courses.show.cheap') %></i>
          </span>
        </div>

        <div class="course-price">
          <span class="price-left"><%= number_to_currency(@course.current_price, locale: :cn) %></span>
          <span class="price-right">
            <%= link_to t('view.course_info_show.join_taste'), "javascript:void(0);", class: 'btn-startclass' if @course.taste_count.to_i > 0 %>
            <%= link_to t('activerecord.view.enroll_now2'), "javascript:void(0);", class: 'btn-addclass' %>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>