<div class="study-instructions">
  <div class="instructions-line">
    <h3><%= t('view.live_studio/video_courses.show.study.buy') %></h3>
    <ul>
      <li><%= t('view.live_studio/video_courses.show.study.buy1') %></li>
      <li><%= t('view.live_studio/video_courses.show.study.buy2') %></li>
      <li><%= t('view.live_studio/video_courses.show.study.buy3') %></li>
      <li><%= t('view.live_studio/video_courses.show.study.buy4') %></li>
    </ul>
  </div>

  <div class="instructions-line">
    <h3><%= t('view.live_studio/video_courses.show.study.play') %></h3>
    <ul>
      <li><%= t('view.live_studio/video_courses.show.study.play1') %></li>
      <li><%= t('view.live_studio/video_courses.show.study.play2') %></li>
      <li><%= t('view.live_studio/video_courses.show.study.play3') %></li>
      <li><%= t('view.live_studio/video_courses.show.study.play4') %></li>
    </ul>
  </div>
</div>