<tr>
  <td><%= show_index(item_counter, @items.limit_value) %></td>
  <td class="choiceness"><%= image_tag item.logo_url %></td>
  <td><%= item.title %></td>
  <td class="recommended-tags">
    <span>
      <i><%= t('view.recommend/choiceness_item.index.tag_name1') %>:</i>
      <i><%= item.tag_one_text.presence || t('view.recommend/position.none') %></i>
    </span><br/>
    <span>
      <i><%= t('view.recommend/choiceness_item.index.tag_name2') %>:</i>
      <i><%= item.tag_two_text || t('view.recommend/position.none') %></i>
    </span>
  </td>
  <td><%= link_to item.target.name, live_studio.send("#{item.target.model_name.singular_route_key}_path", item.target_id), target: '_blank' %></td>
  <td><%= item.index %></td>
  <td>
    <% if allow? "recommend/station/choiceness_items", :edit, @workstation %>
      <%= link_to t('view.recommend/position.edit'), recommend.edit_station_workstation_choiceness_item_path(@workstation, item, position_id: @position) %>
    <% end %>
    <% if allow? "recommend/station/choiceness_items", :destroy, @workstation %>
      <%= link_to t('view.recommend/position.destroy'), recommend.station_workstation_choiceness_item_path(@workstation, item, position_id: @position), data: { confirm: t('view.recommend/position.confirm'), method: :delete } %>
    <% end %>
  </td>
</tr>