<tr>
  <td>
    <%= link_to live_studio.preview_courses_path(id: course_request.course), method: :post, target: '_blank' do %>
      <span><%= course_request.course.try(:name) %></span>
    <% end %>
  </td>
  <td>
    <%= link_to profile_teacher_path(course_request.user) do %>
      <span><%= course_request.user.name %></span>
    <% end %>
  </td>
  <td><span><%= course_request.course.try(:subject) %></span></td>
  <td><span><%= course_request.course.try(:grade) %></span></td>
  <td><span><%= course_request.course.try(:lessons_count) %></span></td>
  <td><span><%= course_request.course.try(:price) %></span></td>
  <td><span><%= course_request.course.try(:teacher_percentage) %></span></td>
  <td><span><%= localize(course_request.created_at, format: :long) %></span></td>
  <td>
    <%= render "action", course_request: course_request %>
  </td>
</tr>
