<li>
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-8 problem-title">
      <p><%= link_to question.title, "javascript:void(0);" %></p>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 reply-status">
      <span class="<%= question.status %>"><%= question.status_text %></span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 problem-name">
      <span><%= question.user_name %></span>
      <% if question.resolved? %>
        <span class="submit-time"><%= LiveStudio::Question.human_attribute_name(:resolved_at) %>：</span>
        <span><%= localize(question.resolved_at) %></span>
      <% else %>
        <span class="submit-time"><%= LiveStudio::Question.human_attribute_name(:created_at) %>：</span>
        <span><%= localize(question.created_at) %></span>
      <% end %>
    </div>
  </div>
  <div class="ask-info">
    <div>
      <p><%= raw question.raw_body %></p>
      <p class="image-box">
        <% question.attachments.select(&:image?).each do |attach| %>
          <span>
            <%= link_to image_tag(attach.file_url), attach.file_url, class: 'fancybox-effects-a' %>
          </span>
        <% end %>
      </p>

      <% question.attachments.select(&:audio?).each do |attach| %>
        <p>
          <span class="weixinAudio">
            <audio src="<%= attach.file_url %>" class="media"></audio>
            <span class="db audio_area">
              <span class="audio_wrp db">
                <span class="audio_play_area">
                  <i class="icon_audio_default"></i>
                  <i class="icon_audio_playing"></i>
                </span>
              </span>
              <span class="audio_length tips_global"></span>
            </span>
          </span>
        </p>
      <% end %>
    </div>

  </div>

  <div class="edit-box" id="question-<%= question.id %>-answer">
    <% if question.answer %>
      <%= render question.answer %>
    <% elsif question.teacher_id == current_user.id %>
      <p>
        <%= link_to t('actions.live_studio/answers.new'),
                    live_studio.new_question_answer_path(question),
                    remote: true, class: 'btn-correct' -%>
        <%= link_to t('actions.live_studio/answers.cancel'),
                    "javascript:void(0);", class: "btn-correct active cancel", style: 'display:none;',
                    data: { form: "#question-#{question.id}-answer form" } -%>
      </p>

      <div class="problems-edit" id="question-<%= question.id %>-answer-form"></div>
    <% end %>
  </div>
</li>
