<div class="qa_box">
  <div class="qa_big_cell">
    <%= simple_form_for @qa_faq do |f| %>
      <%= f.input :show_type, collection: QaFaq.show_type.options, include_blank: false %>
      <%= f.input :position %>
      <%= f.input :qa_faq_type, collection: QaFaq.qa_faq_type.options, include_blank: false %>
      <%= render partial: "shared/qa_objects/form",locals: {f: f} %>
    <% end %>
  </div>
</div>