<h4>第一/二步：搜索和购买辅导班</h4>
<div class="help-block support">
  1、登录后点击首页顶部 '辅导班' 进入辅导班列表
  <%= image_tag('/imgs/student_01.png') %>
</div>
<div class="help-block support">
  2、点击筛选栏可以根据需求对辅导班进行筛选和过滤显示；通过点击右侧按钮可以进行查看信息、加入试听、购买支付。
  <%= image_tag('/imgs/student_02.png') %>
</div>
<div class="help-block support">
  3、购买和支付
  <%= image_tag('/imgs/student_03.png') %>
  <%= image_tag('/imgs/student_04.png') %>
</div>
<h4>第三/四/五步：辅导班开课/观看直播/辅导班结束/试听</h4>
<div class="help-block support">
  1、点击 '我的辅导' 进入我的辅导班列表，点击不同选项卡查看相应类别的辅导班
  <%= image_tag('/imgs/student_05.png') %>
</div>
<div class="help-block support">
  2、点击辅导班列表右侧按钮可以查看相关信息和进行操作，点击立即学习即可进入直播间观看直播，并查看相关内容，课程当天学生可在直播间内进行交流和讨论，课程结束后会切换至下一节课。
  <%= image_tag('/imgs/student_06.png') %>
</div>
<div class="help-block support">
  3、辅导班全部课程结束后，会自动进入已结束列表。加入试听的辅导班可以在试听列表进行购买操作。（试听课程仅限连续的2课时）
  <%= image_tag('/imgs/student_07.png') %>
</div>