<h4>第一步：设置辅导班</h4>
<div class="help-block support">
  1、登录后点击首页右上角用户头像进入“个人中心”，选择我的辅导班，并选择 '未开始' 选项卡。
  <%= image_tag('/imgs/teacher_01.png') %>
</div>
<div class="help-block support">
  2、点击 '详细信息' 按钮进入辅导班详情页；点击右上角 '编辑信息' 进入编辑状态，编辑完成后进行保存；修改课程与修改信息相同。（请完整填写，*为必填内容）
  <%= image_tag('/imgs/teacher_02.png') %>
</div>
<div class="help-block support">
  3、请按照内容格式填写信息内容（*为必填项；开课时间即首课开始时间、结课时间即末课结束时间），完毕后保存即可。
  <%= image_tag('/imgs/teacher_03.png') %>
</div>
<h4>第二步：辅导班招生</h4>
<div class="help-block support">
  1、辅导班信息设置完成后可以在辅导班详情页右上角或 '我的辅导班-未开始' 选择相应的辅导班，点击 '开始招生' ；招生发布后禁止修改辅导班信息。
  <%= image_tag('/imgs/teacher_04.png') %>
  <%= image_tag('/imgs/teacher_05.png') %>
</div>
<div class="help-block support">
  2、辅导班招生后可在 '我的辅导-招生中' 选项卡进行查看相关信息。
  <%= image_tag('/imgs/teacher_06.png') %>
</div>
<h4>第三步：辅导班开课</h4>
<div class="help-block support">
  1、到达开课日期后辅导班会自动进入开课阶段，可进入 '我的辅导-开课中' 选项卡进行查看相关信息；在 '我的辅导-今日辅导' 选项卡查看今天的课程。
  <%= image_tag('/imgs/teacher_07.png') %>
  <%= image_tag('/imgs/teacher_08.png') %>
</div>
<h4>第四步：进行直播</h4>
<div class="help-block support">
  1、可在 '辅导班使用帮助' 页点击 '直播器下载' 选项卡进行下载，或在首页 '下载' 中进行下载；下载安装后即可使用。
  <%= image_tag('/imgs/teacher_09.png') %>
</div>
<div class="help-block support">
  2、直播过程中无需再网页进行操作，用户可在直播器重直接进行课程操作（开始、结束、切换等）。
</div>
<h4>第五部：辅导班结束</h4>
<div class="help-block support">
  1、到达结课日期后系统会于凌晨0点对辅导班进行自动结课处理，老师无需手动操作；可于 '我的辅导班-已结课' 中进行查看。
  <%= image_tag('/imgs/teacher_10.png') %>
</div>