<div class="homework-nav">
  <div class="row">
    <div class="col-md-1-5">
      <div class="nav-info">
        <%= link_to t('teachers.homeworks.tab.solutions'), solutions_teacher_path(@teacher), class: "#{'active' if action_name == 'solutions'}" %>
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="nav-info">
        <%= link_to t('teachers.homeworks.tab.customized_tutorial_topics'), customized_tutorial_topics_teacher_path(@teacher), class: "#{'active' if action_name == 'customized_tutorial_topics'}" %>
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="nav-info">
        <%= link_to t('teachers.homeworks.tab.homeworks'), homeworks_teacher_path(@teacher), class: "#{'active' if action_name == 'homeworks'}" %>
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="nav-info">
        <%= link_to t('teachers.homeworks.tab.questions'), questions_teacher_path(@teacher), class: "#{'active' if action_name == 'questions'}" %>
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="nav-info">
        <%= link_to t('teachers.homeworks.tab.topics'), topics_teacher_path(@teacher), class: "#{'active' if action_name == 'topics'}" %>
      </div>
    </div>
  </div>
</div>