<div class="panel-row">
  <p><%= t("students.common.my_wallet") %></p>
</div>

<div class="panel-row std-row">
  <div class="std-row-1">
    <%= Payment::CashAccount.human_attribute_name(:balance) %>
    <span><strong><%= number_to_currency(@cash_account.balance, unit: '') %></strong></span>
    <%= t('currency.cn') %>
    <%= link_to Payment::CashAccount.human_attribute_name(:withdraw), payment.new_user_withdraw_path(@current_resource) unless @cash_account.balance < 100%>
  </div>
  <div class="std-row-3"><%= @cash_account.try(:status) %></div>
  <div class="std-row-2">
    <em>
      <%= Payment::CashAccount.human_attribute_name(:total_expenditure) %>
      <span>
        <%= number_to_currency(@cash_account.total_expenditure, unit: '') %>
      </span>
      <%= t('currency.cn') %>
    </em>
    <!--<button type="button" class="btn btn-default btn-add">充值</button>-->
    <%= link_to payment.new_user_recharge_path(@current_resource), class: 'btn-add' do %>
      <%= Payment::CashAccount.human_attribute_name(:recharge) %>
    <% end %>
  </div>
</div>

<div class="panel-row row-th">
  <div class="col-md-5">
    <%= link_to payment.cash_user_path(@current_resource), class: "record#{' active-1' unless %w(x y z).include?(params[:fee])}"  do%>
      <%= Payment::Recharge.model_name.human %>
    <% end %>
    <span class="record-line"><strong>|</strong></span>
    <%= link_to payment.cash_user_path(@current_resource, fee: 'x'), class: "record#{' active-1' if params[:fee] == 'x'}"  do%>
      <%= Payment::Withdraw.model_name.human %>
    <% end %>
    <span class="record-line"><strong>|</strong></span>
    <%= link_to payment.cash_user_path(@current_resource, fee: 'y'), class: "record#{' active-1' if params[:fee] == 'y'}"  do%>
      <%= Payment::ConsumptionRecord.model_name.human %>
    <% end %>
    <span class="record-line"><strong>|</strong></span>
    <%= link_to payment.cash_user_path(@current_resource, fee: 'z'), class: "record#{' active-1' if params[:fee] == 'z'}"  do%>
      <%= Payment::RefundRecord.model_name.human %>
    <% end %>
  </div>
  <div class="col-md-7">
    <%= form_tag '', method: 'GET' do |f| %>
      <%= hidden_field_tag :fee, params[:fee] %>
      <div class="search-record">
        <div class="date">
          <!-- <input type="text" placeholder="Date picker" id="singleDateRange"> -->
          <%= text_field_tag :start_date, params[:start_date], class: 'datepicker-1', placeholder: t("view.common.start_date"), id: "start_date" %>
          <label for="start_date" class="glyphicon glyphicon-calendar glyphicon-1"></label>
          <span class="txt"><%= t("view.common.to") %></span>
          <%= text_field_tag :end_date, params[:end_date], class: 'datepicker-1', placeholder: t("view.common.end_date"), id: "end_date" %>
          <label for="end_date" class="glyphicon glyphicon-calendar glyphicon-2"></label>
        </div>
        <%= submit_tag t("view.common.query"), class: "btn-search" %>
      </div>
    <% end %>
  </div>
</div>

<div class="con show">
  <% if !%w(x y z).include?(params[:fee]) -%>
    <table class="table table-fix">
      <tbody>
        <tr id="tr-row1">
          <td><%= Payment::Recharge.human_attribute_name(:amount) %></td>
          <td><%= Payment::Recharge.human_attribute_name(:transaction_no) %></td>
          <td><%= Payment::Recharge.human_attribute_name(:pay_type) %></td>
          <td><%= Payment::Recharge.human_attribute_name(:created_at) %></td>
          <td><%= Payment::Recharge.human_attribute_name(:status) %></td>
        </tr>
      </tbody>
      <%= render @recharges %>
    </table>
    <div class="pagination-fix"><%= will_paginate @recharges %></div>
    <% elsif params[:fee] == 'y' %>
    <table class="table table-fix">
      <tbody>
        <tr id="tr-row1">
          <td><%= Payment::ConsumptionRecord.human_attribute_name(:amount) %></td>
          <td><%= Payment::ConsumptionRecord.human_attribute_name(:detail) %></td>
          <td><%= Payment::ConsumptionRecord.human_attribute_name(:target_type) %></td>
          <td><%= Payment::ConsumptionRecord.human_attribute_name(:change_type) %></td>
          <td><%= Payment::ConsumptionRecord.human_attribute_name(:created_at) %></td>
          <td><%= Payment::ConsumptionRecord.human_attribute_name(:operate) %></td>
        </tr>
      </tbody>
      <%= render @consumption_records %>
    </table>
    <div class="pagination-fix"><%= will_paginate @consumption_records %></div>
  <% elsif params[:fee] == 'x' %>
    <table class="table table-fix">
      <tbody>
      <tr id="tr-row1">
        <td><%= Payment::Withdraw.human_attribute_name(:amount) %></td>
        <td><%= Payment::Withdraw.human_attribute_name(:transaction_no) %></td>
        <td><%= Payment::Withdraw.human_attribute_name(:pay_type) %></td>
        <td><%= Payment::Withdraw.human_attribute_name(:created_at) %></td>
        <td><%= Payment::Withdraw.human_attribute_name(:status) %></td>
      </tr>
      </tbody>
      <%= render @withdraws %>
    </table>
    <div class="pagination-fix"><%= will_paginate @withdraws %></div>
  <% elsif params[:fee] == 'z' %>
    <table class="table table-fix">
      <tbody>
      <tr id="tr-row1">
        <td><%= Payment::Refund.human_attribute_name(:amount) %></td>
        <td><%= Payment::Refund.human_attribute_name(:transaction_no) %></td>
        <td><%= Payment::Refund.human_attribute_name(:pay_type) %></td>
        <td><%= Payment::Refund.human_attribute_name(:created_at) %></td>
        <td><%= Payment::Refund.human_attribute_name(:status) %></td>
      </tr>
      </tbody>
      <%= render @refunds %>
    </table>
    <div class="pagination-fix"><%= will_paginate @refunds %></div>
<% end %>
</div>

