<div class="row account-item">
  <div class="col-md-12 label-title">
    <span><%= Payment::CashAccount.human_attribute_name(:balance) %></span>
  </div>
  <div class="col-md-12">
    <span class="money-sum"><%= number_to_currency(@cash_account.available_balance, unit: '') %></span>
    <i><%= t('currency.cn') %></i>
  </div>
</div>

<div class="row account-item">
  <div class="col-md-6 col-sm-6">
    <i><%= Payment::CashAccount.human_attribute_name(:total_income) %></i>
    <span class="money-total"><%= number_to_currency(@cash_account.total_income, unit: '') %></span>
    <i><%= t('currency.cn') %></i>
  </div>
  <div class="col-md-6 col-sm-6">
    <%= link_to Payment::CashAccount.human_attribute_name(:withdraw), payment.new_user_withdraw_path(@current_resource),
          class: "btn-add" unless @cash_account.balance < 100 %>
  </div>
</div>

<div class="account-nav">
  <div class="row">
    <div class="col-md-7 nav-left">
      <%= link_to Payment::EarningRecord.model_name.human,
                 payment.earning_records_user_path(@current_resource),
                 class: "#{'active' if params[:action] == 'earning_records'}" %>
      <%= link_to Payment::Withdraw.model_name.human,
                 payment.withdraws_user_path(@current_resource),
                 class: "#{'active' if params[:action] == 'withdraws'}" %>
    </div>
    <div class="col-md-5 nav-right">
      <%= form_tag '', method: 'GET' do |f| %>
        <%= submit_tag t("view.common.query") %>
        <span class="nav-datetime">
          <%= text_field_tag :end_date, params[:end_date], placeholder: t("view.common.end_date"), id: "end_date", readonly: true %>
          <label for="end_date" class="glyphicon glyphicon-calendar"></label>
        </span>
        <span class="nav-date-to">-</span>
        <span class="nav-datetime">
          <%= text_field_tag :start_date, params[:start_date], placeholder: t("view.common.start_date"), id: "start_date", readonly: true %>
          <label for="start_date" class="glyphicon glyphicon-calendar"></label>
        </span>
      <% end %>
    </div>
  </div>
</div>


<%= content_for :javascript do %>
<script type="text/javascript">
$(function() {
  var start = {
    skinCell: "jedatered",
    format: 'YYYY-MM-DD',
    isinitVal: false,
    festival: false,
    ishmsVal: false,
    maxDate: '2099-06-30', //最大日期
    choosefun: function(elem, datas) {
      end.minDate = datas; //开始日选好后，重置结束日的最小日期
    }
  };
  var end = {
    skinCell: "jedatered",
    format: 'YYYY-MM-DD',
    festival: false,
    maxDate: '2099-06-16', //最大日期
    choosefun: function(elem, datas) {
      start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
    }
  };
  $('#start_date').jeDate(start);
  $('#end_date').jeDate(end);
});
</script>
<% end %>




