<div class="panel panel-default">
  <div class="panel-heading">
    <%= Payment::CashAccount.human_attribute_name(:balance) %>:
    <%= number_to_currency(@current_resource.cash_account!.balance, locale: :cn) %>

    <% if @current_resource.student? %>
      <%= link_to new_user_recharge_path(@current_resource) do %>
        <span><%= Deposit.model_name.human %></span>
      <% end %>

    <% elsif @current_resource.teacher? %>
      <% if allow? :withdraws, :new, @current_resource.account%>
        <%= link_to new_account_withdraw_path(@current_resource.account) do %>
          <span><%= Withdraw.model_name.human %></span>
        <% end %>
      <% end %>

      <% if allow? :teachers, :keep_account, @current_resource%>
        <%= link_to keep_account_teacher_path(@current_resource) do %>
          <span><%= Account.human_attribute_name(:keep_account)%></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @current_resource.teacher? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= Account.human_attribute_name(:total_income) %>:
    <%= format("%.2f",@teacher.account.total_income) %>元
  </div>
</div>
<% end %>

<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <%#= Payment::ChangeRecord.model_name.human %>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>#</th>
        <%# %w(different after summary created_at).each do |attr| -%>
          <th><%#= Payment::ChangeRecord.human_attribute_name(attr) %></th>
        <%# end %>
      </tr>

      <%#= render @change_records %>
    </table>

    <div class="panel-footer">
      <%#= will_paginate @change_records %>
    </div>
  </div>
</div> -->

<% if @current_resource.student? %>
  <%= render layout: "/students/account_operation_record_layout" do %>

    <% if params[:fee] == 'y' %>
      <div class="qa_big_cell">
	<h2><%= Payment::ConsumptionRecord.model_name.human %></h2>
      </div>

      <div class="qa_cell">
	<table class="table table-bordered">
	  <tr>
	    <th><%= Payment::ConsumptionRecord.human_attribute_name(:amount) %></th>
	    <th><%= Payment::ConsumptionRecord.human_attribute_name(:target_type) %></th>
	    <th><%= Payment::ConsumptionRecord.human_attribute_name(:change_type) %></th>
	    <th><%= Payment::ConsumptionRecord.human_attribute_name(:created_at) %></th>
	    <th><%= Payment::ConsumptionRecord.human_attribute_name(:link) %></th>
	  </tr>
	  <%= render @consumption_records %>
	</table>
	<%= will_paginate @consumption_records %>
      </div>
    <% else %>
      <div class="qa_big_cell">
	<h2><%= Payment::Recharge.model_name.human %></h2>
      </div>

      <div class="qa_cell">
	<table class="table table-bordered">
	  <tr>
	    <th><%= Payment::Recharge.human_attribute_name(:amount)%></th>
	    <th width="30%"><%= Payment::Recharge.human_attribute_name(:transaction_no)%></th>
	    <th><%= Payment::Recharge.human_attribute_name(:pay_type)%></th>
	    <th><%= Payment::Recharge.human_attribute_name(:created_at)%></th>
	    <th><%= Payment::Recharge.human_attribute_name(:status)%></th>
	  </tr>
	  <%= render @recharges %>
	</table>
	<%= will_paginate @recharges %>
      </div>

    <% end %>
  <% end %>
<% elsif  @current_resource.teacher? %>
  <%= render layout: "/teachers/account_operation_record_layout" do %>

    <% if params[:fee] == 'y' %>
        <%= render partial: '/shared/earning_records/index',locals:{earning_records: @earning_records} %>
    <% else %>
        <%= render partial: '/withdraws/index',locals: {withdraws:@withdraws} %>
    <% end %>
  <% end %>
<% end %>
