<div class="qa_box">
    <div class="qa_big_cell">
        <h2><%=link_to TeachingProgram.model_name.human, admins_teaching_programs_path %></h2>
    </div>
    <div class="row qa_cell">
      <div class="col-md-2 col-md-offset-1"><%=TeachingProgram.human_attribute_name(:name) %></div>
      <div><%= @teaching_program.name %></div>
    </div>
    <div class="row qa_cell">
      <div class="col-md-2 col-md-offset-1"><%=TeachingProgram.human_attribute_name(:subject) %></div>
      <div><%= @teaching_program.subject %></div>
    </div>
    <div class="row qa_cell">
        <div class="col-md-2 col-md-offset-1"><%=TeachingProgram.human_attribute_name(:category) %></div>
        <div><%= @teaching_program.category %></div>
    </div>
    <div class="row qa_cell">
        <div class="col-md-2 col-md-offset-1"><%=TeachingProgram.human_attribute_name(:grade) %></div>
        <div><%= @teaching_program.category %></div>
    </div>
    <div class="row qa_cell">
        <div class="col-md-2 col-md-offset-1"><%=TeachingProgram.human_attribute_name(:content) %></div>
        <div><%= @teaching_program.content %></div>
    </div>
    <div class="row qa_cell">
       <div class="col-md-offset-1">
            <%=link_to edit_admins_teaching_program_path(@teaching_program) do %>
                <button type="button" class="btn btn-xs btn-success">
                    编辑<%=TeachingProgram.model_name.human%>
                </button>
            <% end %>
       </div>
    </div>
</div>