<div class="qa_box">
<div class="qa_big_cell">
  <%= link_to @directory.title ,course_library.directory_path(@directory) %> /
  <%= get_edit_or_create_model_string(@course) %>
</div>
<div class="qa_big_cell">
  <%= simple_form_for [@directory, @course] do |f| %>
      <%=f.input :title   %>
      <%=f.input :description %>
      <%= f.button :submit,class: "btn btn-default" %>

  <% end %>

</div>
</div>