<%=render 'header'%>
<div class="qa_box">
  <div class="qa_big_cell">
    <% if @available_customized_courses.length !=0 %>
        <%= simple_form_for @course ,url: publish_course_path(@course),method: :post  do |f| %>
            <%= f.input :available_customized_course_ids ,
                        as: :check_boxes ,
                        collection: @available_customized_courses,
                        label_method: lambda {|cc| "#{cc.name}(学生： #{cc.student.name})"}
            %>
            <%= f.button :submit, "发布课程",class: "btn btn-default"%>
        <% end %>
    <% else %>

        <%= link_to t("view.course_library/course.no_customized_course_available") ,
                    customized_tutorials_course_path(@course) %>
    <% end %>
  </div>
  <div class="qa_big_cell">
    <%= simple_form_for [@course,@course_publication] do |f| %>
        <%= f.input :customized_course,collection: @available_customized_courses %>
        <%= f.association :homeworks ,as: :check_boxes%>
    <% end %>
  </div>
</div>