<div class="qa_box">
  <div class="qa_cell box_header">
    <%= link_to @syllabus.title, syllabus_path(@syllabus) %>/
    <%= link_to @directory.title, syllabus_directory_path(@syllabus, @directory) %>/
    <div class="qa_object header">
      <h1><%= @course.title %></h1>
    </div>
    <div class="qa_object footer">
      <%= link_to edit_syllabus_directory_course_path(@syllabus, @directory, @course) do %>
          <i class="fa fa-pencil-square-o"></i>编辑
      <% end %>
    </div>
  </div>
  <div class="qa_big_cell">
    <h4>概述</h4>
    <div class="qa_object content">
      <%= @course.description %>
    </div>
  </div>
  <div class="qa_big_cell">
    <h4>课程视频</h4>
    <% if ! @course.current_video.nil? %>
    <%= video_js_player @course.current_video %>
    <% end %>
  </div>

  <div class="qa_big_cell">
    <h4>课程文件</h4>
    <%= render partial: 'shared/qa_files/qa_file', collection: @course.qa_files%>
  </div>
  <div class="qa_big_cell">
    <h4>练习与测验</h4>
  </div>
  <div style="clear: both"></div>
</div>

<div class="qa_sep_15"></div>

