<div class="qa_box">
  <div class="qa_cell box_header">
    <%=link_to @directory.title , syllabus_directory_path(@syllabus, @directory)%>/<%= @course.title %>
  </div>
  <div class="qa_box">
    <div class="qa_cell">
      <%= video_player_with_uploader @course %>
    </div>

    <div class="qa_cell">
      <%= @course.description %>
    </div>
    <div class="qa_cell pull-right">
      <%= link_to '编辑', edit_syllabus_directory_course_path(@syllabus, @directory, @course)%> &nbsp;
    </div>
    <div style="clear: both"></div>
  </div>
</div>

<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>
