<li>
  <div class="row">
    <div class="col-md-3 discipline-pic">
      <%= link_to image_tag(customized_group.publicize_url(:list), class: 'handle_error_list'), live_studio.customized_group_path(customized_group), target: '_blank' %>
    </div>
    <div class="col-md-7 discipline-info">
      <div class="row info-title">
        <div class="col-md-12">
          <%= link_to live_studio.customized_group_path(customized_group), target: '_blank' do %>
            <strong><%= customized_group.name %></strong>
          <% end -%>
        </div>
      </div>
      <div class="row info-state">
        <div class="col-md-4">
          <span><%= LiveStudio::Course.human_attribute_name(:grade) %></span>
          <span><%= customized_group.grade %></span>
        </div>
        <div class="col-md-4">
          <span><%= LiveStudio::Course.human_attribute_name(:subject) %></span>
          <span><%= customized_group.subject %></span>
        </div>
        <div class="col-md-4">
          <span><%= LiveStudio::Course.human_attribute_name(:progress) %></span>
          <span><%= customized_group.closed_events_count %>/<%= customized_group.events_count %></span>
        </div>
      </div>
      <div class="row info-user">
        <div class="col-md-12">
          <span><%= LiveStudio::Course.human_attribute_name(:teacher_name) %></span>
          <span><%= customized_group.teacher.try(:name) %></span>
        </div>
      </div>
    </div>
  </div>
</li>
