<% if earning_record.target && earning_record.target.is_a?(LiveStudio::Lesson) %>
  <tr>
    <td><%= earning_record_counter + 1 %></td>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 1) %></td>
    <td><%= localize(earning_record.created_at, format: :long) %></td>
    <td><%= link_to earning_record.target.name, live_studio.course_path(earning_record.target.course_id) %></td>
    <td><%= earning_record.billing.from_user.try(&:name) %>(<%= earning_record.billing.from_user.try(&:login_mobile) %>)</td>
    <td><%= LiveStudio::Course.model_name.human %></td>
    <td><span class="view-msg">查看明细 <i class="fa fa-caret-down"></i></span></td>
  </tr>
<% else -%>
  <tr>
    <td><%= earning_record_counter + 1 %></td>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 1) %></td>
    <td><%= localize(earning_record.created_at, format: :long) %></td>
    <td>
      <%= feeble_link(earning_record.target, text: earning_record.target.title) if earning_record.target.is_a?(CustomizedTutorial)  %>
      <%= feeble_link(earning_record.target, text: earning_record.target.try(:customized_tutorial).try(:title)) unless earning_record.target.is_a?(CustomizedTutorial)  %>
    </td>
    <td><%= earning_record.billing.from_user.try(&:name) %>(<%= earning_record.billing.from_user.try(&:login_mobile) %>)</td>
    <td><%= earning_record.target.model_name.human %></td>
    <td><span class="view-msg">查看明细 <i class="fa fa-caret-down"></i></span></td>
  </tr>
<% end -%>