<% if earning_record.target && earning_record.target.is_a?(LiveStudio::Lesson) %>
  <tr id="item-<%= earning_record.id %>">
    <td><%= earning_record_counter + 1 %></td>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 2) %></td>
    <td><%= localize(earning_record.created_at, format: :long) %></td>
    <td><%= link_to earning_record.target.name, live_studio.course_path(earning_record.target.course_id) %></td>
    <td><%= earning_record.target.teacher.try(&:name) %>(<%= earning_record.target.teacher.try(&:login_mobile) %>)</td>
    <td><%= LiveStudio::Course.model_name.human %></td>
    <td>
      <a href="javascript:void(0);" class="view-msg">
        <span><%= Payment::EarningRecord.human_attribute_name(:operate_detail) %></span>
        <i class="fa fa-caret-down"></i>
      </a>
    </td>
  </tr>

  <% if earning_record.business && earning_record.business.billing.is_a?(Payment::LiveCourseTicketBilling) %>
  <tr class="earnings-detail">
    <td colspan="7">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_price) %>：</span>
              <span><%= number_to_currency earning_record.business.billing.ticket.lesson_price, locale: :cn, unit: "￥", precision: 2  %></span>
            </td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_duration) %>：</span>
              <span><%= second_to_minutes(earning_record.target.real_time) %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_price) %>：</span>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_price_value,
              amount: number_to_currency(earning_record.target.base_price, locale: :cn, unit: "￥", precision: 2)) %></span>
            </td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_fee) %>：</span>
              <span><%= number_to_currency earning_record.business.billing.base_fee, locale: :cn, unit: "￥", precision: 2 %></span></td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_teacher_percent) %>：</span>
              <span><%= number_to_percentage earning_record.target.teacher_percentage, precision: 0 %></span>
            </td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_teacher_amount) %>：</span>
              <span><%= number_to_currency earning_record.business.billing.teacher_money, locale: :cn, unit: "￥", precision: 2 %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_platform_percent) %>：</span>
              <span><%= number_to_percentage earning_record.business.billing.platform_percentage, precision: 0 %></span></td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_platform_amount) %>：</span>
              <span><%= number_to_currency earning_record.business.billing.platform_money, locale: :cn, unit: "￥", precision: 2 %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_publish_percent) %>：</span>
              <span><%= number_to_percentage earning_record.target.publish_percentage, precision: 0 %></span></td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_publish_money) %>：</span>
              <span><%= number_to_currency earning_record.target.publish_percentage, locale: :cn, unit: "￥", precision: 2 %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_sell_percent) %>：</span>
              <span><%= number_to_percentage earning_record.business.billing.sell_percentage, precision: 0 %></span></td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_sell_amount) %>：</span>
              <span><%= number_to_currency earning_record.business.billing.sell_percentage, locale: :cn, unit: "￥", precision: 2 %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <% end %>
<% elsif earning_record.target -%>
  <tr  id="item-<%= earning_record.id %>">
    <td><%= earning_record_counter + 1 %></td>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 2) %></td>
    <td><%= localize(earning_record.created_at, format: :long) %></td>
    <td>
      <%= feeble_link(earning_record.target, text: earning_record.target.title) if earning_record.target.is_a?(CustomizedTutorial)  %>
      <%= feeble_link(earning_record.target, text: earning_record.target.try(:customized_tutorial).try(:title)) unless earning_record.target.is_a?(CustomizedTutorial)  %>
    </td>
    <td><%= earning_record.business.from_user.try(&:name) %>(<%= earning_record.business.from_user.try(&:login_mobile) %>)</td>
    <td><%= earning_record.target.model_name.human %></td>
    <td>
      <a href="javascript:void(0);" class="view-msg">
        <span><%= Payment::EarningRecord.human_attribute_name(:operate_detail) %></span>
        <i class="fa fa-caret-down"></i>
      </a>
    </td>
  </tr>

  <tr class="earnings-detail">
    <td colspan="7">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_price) %>：</span>
              <span><%= CustomizedCourse.human_attribute_name(:billing_price_value, amount: number_to_currency(earning_record.target.teacher_price + earning_record.target.platform_price, unit: "￥", precision: 2)) %></span>
            </td>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_duration) %>：</span>
              <span><%= second_to_minutes earning_record.target.video.duration %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_teacher_price) %>：</span>
              <span><%= CustomizedCourse.human_attribute_name(:billing_teacher_price_value, amount: number_to_currency(earning_record.target.teacher_price, unit: "￥", precision: 2)) %></span>
            </td>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_teacher_amount) %>：</span>
              <span><%= number_to_currency(earning_record.target.teacher_price * earning_record.target.video.duration / 3600.0, unit: "￥", precision: 2) %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_workstation_price) %>：</span>
              <span><%= CustomizedCourse.human_attribute_name(:billing_workstation_price_value, amount: number_to_currency(earning_record.target.platform_price, unit: "￥", precision: 2)) %></span>
            </td>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_workstation_amount) %>：</span>
              <span><%= number_to_currency(earning_record.amount, unit: "￥", precision: 2) %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
<% end -%>