<% if earning_record.target && earning_record.target.is_a?(LiveStudio::Lesson) %>
  <tr id="item-<%= earning_record.id %>">
    <td><%= earning_record_counter + 1 %></td>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 1) %></td>
    <td><%= localize(earning_record.created_at, format: :long) %></td>
    <td><%= link_to earning_record.target.name, live_studio.course_path(earning_record.target.course_id) %></td>
    <td><%= earning_record.billing.from_user.try(&:name) %>(<%= earning_record.billing.from_user.try(&:login_mobile) %>)</td>
    <td><%= LiveStudio::Course.model_name.human %></td>
    <td>
      <a href="javascript:void(0);" class="view-msg">
        <%= Payment::EarningRecord.human_attribute_name(:operate_detail) %>
        <i class="fa fa-caret-down"></i>
      </a>
    </td>
  </tr>

  <tr class="earnings-detail">
    <td colspan="7">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <% system_fee_item = earning_record.billing.billing_items.find {|item| item.is_a? Payment::SystemFeeItem } %>
          <% teacher_item = earning_record.billing.billing_items.find {|item| item.is_a? Payment::TeacherMoneyItem } %>
          <% percent_item = earning_record.billing.billing_items.find {|item| item.is_a? Payment::PercentItem } %>
          <% system_item = earning_record.billing.billing_items.find {|item| item.is_a? Payment::SystemPercentItem } %>
          <% workstation_item = earning_record.billing.billing_items.find {|item| item.is_a? Payment::WorkstationPercentItem } %>
          <% if system_fee_item -%>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_price) %>：</span>
              <span><%= number_to_currency earning_record.target.course.lesson_price, locale: :cn, unit: "￥", precision: 1  %></span>
            </td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_duration) %>：</span>
              <span><%= second_to_minutes(earning_record.target.real_time) %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_price) %>：</span>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_price_value, amount: number_to_currency(system_fee_item.price, locale: :cn, unit: "￥", precision: 1)) %></span>
            </td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_fee) %>：</span>
              <span><%= number_to_currency system_fee_item.amount, locale: :cn, unit: "￥", precision: 1 %></span></td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_teacher_percent) %>：</span>
              <span><%= number_to_percentage teacher_item.percent, precision: 0 %></span>
            </td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_teacher_amount) %>：</span>
              <span><%= number_to_currency teacher_item.amount, locale: :cn, unit: "￥", precision: 1 %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_percent) %>：</span>
              <span><%= number_to_percentage percent_item.percent, precision: 0 %> x <%= number_to_percentage system_item.percent, precision: 0 %></span></td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_system_amount) %>：</span>
              <span><%= number_to_currency system_item.amount, locale: :cn, unit: "￥", precision: 1 %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_workstation_percent) %>：</span>
              <span><%= number_to_percentage percent_item.percent, precision: 0 %> x <%= number_to_percentage workstation_item.percent, precision: 0 %></span></td>
            <td>
              <span><%= LiveStudio::Course.human_attribute_name(:billing_workstation_amount) %>：</span>
              <span><%= number_to_currency workstation_item.amount, locale: :cn, unit: "￥", precision: 1 %></span>
            </td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </td>
  </tr>
<% else -%>
  <tr  id="item-<%= earning_record.id %>">
    <td><%= earning_record_counter + 1 %></td>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 1) %></td>
    <td><%= localize(earning_record.created_at, format: :long) %></td>
    <td>
      <%= feeble_link(earning_record.target, text: earning_record.target.title) if earning_record.target.is_a?(CustomizedTutorial)  %>
      <%= feeble_link(earning_record.target, text: earning_record.target.try(:customized_tutorial).try(:title)) unless earning_record.target.is_a?(CustomizedTutorial)  %>
    </td>
    <td><%= earning_record.billing.from_user.try(&:name) %>(<%= earning_record.billing.from_user.try(&:login_mobile) %>)</td>
    <td><%= earning_record.target.model_name.human %></td>
    <td>
      <a href="javascript:void(0);" class="view-msg">
        <%= Payment::EarningRecord.human_attribute_name(:operate_detail) %>
        <i class="fa fa-caret-down"></i>
      </a>
    </td>
  </tr>

  <tr class="earnings-detail">
    <td colspan="7">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_price) %>：</span>
              <span><%= CustomizedCourse.human_attribute_name(:billing_price_value, amount: number_to_currency(earning_record.target.teacher_price + earning_record.target.platform_price, unit: "￥", precision: 1)) %></span>
            </td>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_duration) %>：</span>
              <span><%= second_to_minutes earning_record.target.video.duration %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_teacher_price) %>：</span>
              <span><%= CustomizedCourse.human_attribute_name(:billing_teacher_price_value, amount: number_to_currency(earning_record.target.teacher_price, unit: "￥", precision: 1)) %></span>
            </td>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_teacher_amount) %>：</span>
              <span><%= number_to_currency(earning_record.target.teacher_price * earning_record.target.video.duration / 3600.0, unit: "￥", precision: 1) %></span>
            </td>
          </tr>
          <tr>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_workstation_price) %>：</span>
              <span><%= CustomizedCourse.human_attribute_name(:billing_workstation_price_value, amount: number_to_currency(earning_record.target.platform_price, unit: "￥", precision: 1)) %></span>
            </td>
            <td>
              <span><%= CustomizedCourse.human_attribute_name(:billing_workstation_amount) %>：</span>
              <span><%= number_to_currency(earning_record.amount, unit: "￥", precision: 1) %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
<% end -%>