<div class="panel panel-default recordmsg">

  <div class="panel-row">
    <p><%= t("teachers.common.my_wallet") %></p>
  </div>

  <div class="panel-row std-row">
    <div class="std-row-1">
      <%= Payment::CashAccount.human_attribute_name(:balance) %>
      <span><strong><%= number_to_currency(@cash_account.available_balance, unit: '') %></strong></span>
      <%= t('currency.cn') %>
    </div>
    <div class="std-row-3"><%= @cash_account.try(:status) %></div>

    <div class="std-row-2">
      <em>
	<%= Payment::CashAccount.human_attribute_name(:total_income) %>
	<span>
          <%= number_to_currency(@cash_account.total_income, unit: '') %>
	</span>
	<%= t('currency.cn') %>
      </em>
    </div>
  </div>

  <div class="panel-row row-th">
    <%= render 'filter' %>
  </div>

  <div class="con show">
    <table class="table table-fix">
      <tbody>
	<tr id="tr-row1">
          <td><%= Payment::EarningRecord.human_attribute_name(:amount) %></td>
          <td><%= Payment::EarningRecord.human_attribute_name(:detail) %></td>
          <td><%= Payment::EarningRecord.human_attribute_name(:target_type) %></td>
          <td><%= Payment::EarningRecord.human_attribute_name(:created_at) %></td>
          <td><%= Payment::EarningRecord.human_attribute_name(:operate) %></td>
	</tr>
      </tbody>
      <%= render @earning_records %>
    </table>
    <div class="pagination-fix"><%= will_paginate @earning_records %></div>
  </div>

</div>
