<% if earning_record.target && earning_record.target.is_a?(LiveStudio::Lesson) %>
  <tr>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 2) %></td>
    <td></td>
    <td><%= earning_record.target.course.model_name.human %></td>
    <td><%= localize(earning_record.created_at,:format => :long) %></td>
    <td><%= link_to t("view.payment/earning_record.view"), live_studio.course_path(earning_record.target.course_id) %></td>
  </tr>
<% elsif earning_record.target && earning_record.target.is_a?(LiveStudio::VideoCourse) %>
  <tr>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 2) %></td>
    <td></td>
    <td><%= earning_record.target.model_name.human %></td>
    <td><%= localize(earning_record.created_at, :format => :long) %></td>
    <td><%= link_to t("view.payment/earning_record.view"), live_studio.video_course_path(earning_record.target) %></td>
  </tr>
<% elsif earning_record.target && earning_record.target.is_a?(LiveStudio::InteractiveLesson) %>
  <tr>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 2) %></td>
    <td></td>
    <td><%= earning_record.target.model_name.human %></td>
    <td><%= localize(earning_record.created_at, :format => :long) %></td>
    <td><%= link_to t("view.payment/earning_record.view"), live_studio.video_interactive_course_path(earning_record.interactive_course_id) %></td>
  </tr>
<% elsif earning_record.target %>
  <tr>
    <td><%= number_to_currency(earning_record.amount, locale: :cn, unit: "￥", precision: 2) %></td>
    <td>
      <%= number_to_currency(earning_record.target.teacher_price, unit: "￥", precision: 2)%>
      *
      <%= second_to_minutes earning_record.target.video.duration %></td>
    <td><%= earning_record.target.model_name.human %></td>
    <td><%= localize(earning_record.created_at,:format => :long) %></td>
    <td><%= feeble_link(earning_record.target, text: t("view.payment/earning_record.view")) %></td>
  </tr>
<% end %>