<tr>
  <td><%= number_to_currency(earning_record.amount, locale: :cn) %></td>
  <td>
    <%= number_to_currency(earning_record.target.teacher_price, unit: "￥", precision: 1)%>
    *
    <%= second_to_minutes earning_record.target.video.duration %></td>
  <td><%= earning_record.target.model_name.human %></td>
  <td><%= localize(earning_record.created_at,:format => :long) %></td>
  <td><%= link_to t("view.payment/earning_record.view"), "" %></td>
</tr>
