<div class="qa_object_item <%= "animated pulse" if params[:correction_aminate] and params[:correction_aminate] == correction.id.to_s%>" id="<%="correction_#{correction.id}"%>">
  <div class="pull-left">
    <%=image_tag correction.teacher.avatar.normal.url %>
  </div>
  <div class="info">
    <%= [correction.teacher.view_name,"#{localize(correction.created_at,:format => :long)} 批改"].join(" • ")%>
    <%= video_duration_format(correction) %>
    <%= videoable_object_stauts(correction,true) %>

  </div>
  <div class="content">
    <%if correction.video and correction.video.name  and correction.video.name.url %>
        <%= video_js_player(correction.video) %>
    <% end %>

    <%= correction.content.try(:html_safe) %>
    <% if defined?(correction.pictures) %>
        <%= render partial: 'pictures/gallery',locals:{pictures: correction.pictures,show_operation: false,gallery_id: correction.token} %>
    <% end %>
  </div>


  <div class="footer">
    <%= render partial:'comments/index',locals: {commentable: correction} %>
  </div>

  <div class="operation pull-right">
    <%= link_to_edit(correction, true)%>
    <%= link_to_destroy(correction,true) %>
  </div>
  <div style="clear:both"></div>

</div>
