<div class="filter-right">
  <%= form_for @query, url: url, html: { method: :get } do |f| -%>
    <div class="space-item">
      <%= f.label :workstation_id_eq, "#{t('view.live_studio/course.filter.workstation')}:" %>
      <%= f.select :workstation_id_eq, ::Workstation.pluck(:name, :id),
                   { include_blank: t("live_studio.course.menu.all") },
                   { class: 'immediately' } %>
    </div>
    <div class="space-item">
      <%= f.label :grade_eq,  "#{t('view.live_studio/course.filter.grade')}:" %>
      <%= f.select :grade_eq, APP_CONSTANT['grades_in_menu'],
                   { include_blank: t("live_studio.course.menu.all") },
                   { class: 'immediately' } %>
    </div>
    <div class="space-item">
      <%= f.label :subject_eq,  "#{t('view.live_studio/course.filter.subject')}:" %>
      <%= f.select :subject_eq, APP_CONSTANT['subjects'],
                   { include_blank: t("live_studio.course.menu.all") },
                   { class: 'immediately' } %>
    </div>
  <% end %>
</div>