<div class="article">
  <div class="work-station">
    <%= render 'live_studio/station/tab' %>
    <%= render 'live_studio/station/video_courses/tab' %>

    <div class="filter">
      <div class="filter-left">
        <%= link_to t('view.live_studio/video_course.video_course_audits.nav.no_audit'), audits_station_workstation_video_courses_path(@workstation, cate: 'no_audit'), class: "#{'active' if params[:cate] == 'no_audit'}" %>
        <%= link_to t('view.live_studio/video_course.video_course_audits.nav.audited'), audits_station_workstation_video_courses_path(@workstation, cate: 'audited'), class: "#{'active' if params[:cate] == 'audited'}" %>
      </div>

      <%= render partial: 'audits_filter', locals: { url: audits_station_workstation_video_courses_path(@workstation, cate: params[:cate]) } %>
    </div>

    <div class="sold-tab">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th><%= t('common.index_no') %></th>
            <th><%= t('view.live_studio/video_course.index.name') %></th>
            <th><%= t('view.live_studio/video_course.index.teacher') %></th>
            <th><%= t('view.live_studio/video_course.index.grade') %></th>
            <th><%= t('view.live_studio/video_course.index.subject') %></th>
            <th><%= t('view.live_studio/video_course.audits.lesson_count') %></th>
            <th><%= t('view.live_studio/video_course.audits.total_duration') %></th>
            <th><%= t('view.live_studio/video_course.audits.created_at') %></th>
            <th><%= t('common.operate') %></th>
            <% if params[:cate] == 'audited' %>
              <th><%= t('view.live_studio/video_course.audits.audit_result') %></th>
            <% else %>
              <th><%= t('view.live_studio/video_course.audits.audit') %></th>
            <% end %>
          </tr>

          <%= render partial: 'audits_course', collection: @video_courses %>
        </tbody>
      </table>

      <%= render 'shared/blank' if @video_courses.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @video_courses, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>