<div class="article">
  <div class="work-station">
    <%= render 'live_studio/station/tab' %>

    <div class="create-header">
      <% if @workstation %>
        <%= link_to :back, class: 'back' do %>
          <i class="fa fa-angle-left"></i>
          <%= t('common.back') %>
        <% end %>
      <% end %>

      <h3><%= t('view.live_studio/course.new.title') %></h3>
      <a href="javascript:void(0);" class="course-hint">
        <%= image_tag 'hint.png' %> <%= t('view.live_studio/course.new.label') %>
        <div class="course-description">
          <%= image_tag @video_course.publicize_url(:info) %>
          <h5><%= t('view.live_studio/video_course.workstation.label') %></h5>
          <p><%= t('view.live_studio/video_course.workstation.label1') %></p>
          <p><%= t('view.live_studio/video_course.workstation.label2') %></p>
          <p><%= t('view.live_studio/video_course.workstation.label3') %></p>
        </div>
      </a>
    </div>

    <div class="new-curriculum">
      <div class="editor-con">
        <div class="editor-msg">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>