<div class="article">
  <div class="work-station">
    <%= render 'live_studio/station/tab' %>
    <%= render 'live_studio/station/video_courses/tab' %>

    <div class="filter">
      <div class="filter-left">
        <%= link_to t("view.video_course_filter.workstation.cate/waiting_create"),
                    live_studio.list_station_workstation_video_courses_path(@workstation, cate: 'confirmed'),
                    class: "#{'active' if params[:cate] == 'confirmed' }" %>
        <%= link_to t("view.video_course_filter.workstation.cate/has_created"),
                    live_studio.list_station_workstation_video_courses_path(@workstation, cate: 'completed'),
                    class: "#{'active' if params[:cate] == 'completed' }" %>
        <%= link_to t("view.video_course_filter.workstation.cate/published"),
                    live_studio.list_station_workstation_video_courses_path(@workstation, cate: 'published'),
                    class: "#{'active' if params[:cate] == 'published' }" %>
      </div>
      <%= render partial: 'audits_filter', locals: { url: live_studio.list_station_workstation_video_courses_path(@workstation, cate: params[:cate]) } %>
    </div>

    <div class="sold-tab">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th><%= t('common.index_no') %></th>
            <th><%= t('view.live_studio/video_course.index.name') %></th>
            <th><%= t('view.live_studio/video_course.index.teacher') %></th>
            <th><%= t('view.live_studio/video_course.index.grade') %></th>
            <th><%= t('view.live_studio/video_course.index.subject') %></th>
            <% if params[:cate] == 'confirmed' %>
              <th><%= t('view.live_studio/video_course.audits.lesson_count') %></th>
              <th><%= t('view.live_studio/video_course.audits.total_duration') %></th>
            <% else %>
              <th><%= t('view.live_studio/video_course.list.price') %></th>
              <th><%= t('view.live_studio/video_course.list.teacher_percentage') %></th>
            <% end %>
            <th>
              <%= t('view.live_studio/video_course.list.confirmed_at') if params[:cate] == 'confirmed' %>
              <%= t('view.live_studio/video_course.list.completed_at') if params[:cate] == 'completed' %>
              <%= t('view.live_studio/video_course.list.published_at') if params[:cate] == 'published' %>
            </th>
            <th><%= t('common.operate') %></th>
          </tr>

          <%= render partial: 'list_course', collection: @video_courses %>
        </tbody>
      </table>

      <%= render 'shared/blank' if @video_courses.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @video_courses, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>