<div class="panel panel-default">
  <div class="addinvite">
    <div class="addinvite-title">
      <div class="addinvite-title-left">
        <%= link_to t("live_studio.menu.teacher.my_courses"), live_studio.teacher_courses_path(@teacher) %>
        <span>&gt;</span>
        <span><%= t("live_studio.menu.teacher.new_course") %></span>
      </div>
      <div class="addinvite-title-right">
        <%= link_to live_studio.new_course_path do %>
          <span><%= t("live_studio.menu.teacher.create_course") %></span>
          <!-- 暂时屏蔽教师自主创建功能 -->
        <% end if false %>
      </div>
    </div>
    <div class="addinvite-con">
      <div class="addinvite-con-title">
        <%= t("live_studio.menu.teacher.current_course_invitations") %>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td><span><%= LiveStudio::CourseInvitation.human_attribute_name(:target_name) %></span></td>
            <td><span><%= LiveStudio::CourseInvitation.human_attribute_name(:target_city) %></span></td>
            <td><span><%= LiveStudio::CourseInvitation.human_attribute_name(:teacher_percent) %></span></td>
            <td><span><%= LiveStudio::CourseInvitation.human_attribute_name(:created_at) %></span></td>
            <td><span><%= LiveStudio::CourseInvitation.human_attribute_name(:expired_at) %></span></td>
            <td><span><%= t("common.operate") %></span></td>
          </tr>
          <%= render partial: 'course_invitation', collection: @course_invitations %>
        </tbody>
      </table>
    </div>
  </div>
</div>