<div class="qa_box">
  <div class="qa_cell box_header">
    <%=link_to customized_course_full_name(@customized_tutorial.customized_course) ,
               customized_course_path(@customized_tutorial.customized_course)%>/<%= @customized_tutorial.title_with_template_directory_path_str %>
  </div>
  <div class="qa_box">
    <div class="qa_cell" style="height: 410px">
        <%if @customized_tutorial.video and @customized_tutorial.video.name and @customized_tutorial.video.name.url%>
            <%= video_js_player(@customized_tutorial.video) %>

        <% else %>
            视频未上传
        <% end %>

    </div>

    <div class="qa_cell">
      <%= @customized_tutorial.content %>
    </div>
    <div class="qa_cell">
        <% if defined?(@customized_tutorial.qa_files) and @customized_tutorial.qa_files %>
            <%= render partial: 'shared/qa_files/qa_file', collection: @customized_tutorial.qa_files%>
        <% end %>
    </div>
    <div class="pull-left" style="font-size:12px;  padding: 10px;">
      <%= videoable_object_stauts(@customized_tutorial) %>
      <%= video_duration_format(@customized_tutorial) %>
      <%= template_url(@customized_tutorial) %>
    </div>
    <div class="qa_cell pull-right">
      <%= link_to_edit(@customized_tutorial)%> &nbsp;
      <%= link_to_destroy(@customized_tutorial) %>
    </div>
    <div style="clear: both"></div>
  </div>
</div>


<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>
<% if @customized_tutorial %>
    <%= content_for :brief_header do %>
        <%= render partial:'customized_tutorials/header/exercise',locals: {customized_tutorial: @customized_tutorial} %>
    <% end %>
    <%= render partial: "shared/qa_objects/index_brief_info",locals: {objects:  @customized_tutorial.exercises,use_super_controller: false} %>
<% end %>

<div class="qa_sep_15"></div>

<% if @customized_tutorial %>
    <%= render partial: "tutorial_issues/index",
               locals: {customized_tutorial: @customized_tutorial,
                        tutorial_issues: @tutorial_issues} %>
<% end %>