<div class="row">
  <div class="col-md-2">
    <%= f.label :grade, required: true %>
  </div>
  <div class="col-md-10">
    <%= f.input :grade, collection: APP_CONSTANT['grades_in_menu'], label: false, prompt: :translate %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :subject, required: true %>
  </div>
  <div class="col-md-10">
    <%= f.input :subject, collection: APP_CONSTANT['subjects'], label: false, prompt: :translate %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :name, required: true %>
  </div>
  <div class="col-md-10">
    <%= f.input :name, label: false, input_html: {maxlength: 20} %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :objective, required: true %>
  </div>
  <div class="col-md-10">
    <%= f.input :objective, label: false, input_html: {maxlength: 300} %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :suit_crowd, required: true %>
  </div>
  <div class="col-md-10">
    <%= f.input :suit_crowd, label: false, input_html: {maxlength: 300} %>
  </div>
</div>

<%= content_tag(:div, class: 'row') do %>
  <div class="col-md-2">
    <%= f.label :workstation, required: true %>
  </div>
  <div class="col-md-10">
    <%= f.association :workstation, collection: Workstation.all.map{|ws| [ws.name, ws.id]}, label: false, prompt: false %>
  </div>
<% end if @workstation.blank? %>

<div class="row">
  <div class="col-md-2">
    <%= f.label :description, required: true %>
  </div>
  <div class="col-md-10">
    <%= f.input :description, label: false  %>
  </div>
</div>

<%= f.input :token, as: :hidden, value: f.object.token %>

<script type="text/javascript">
  $(function(){
    // 富文本编辑
    $("#customized_group_description").summernote({
      placeholder: "<%= t('simple_form.placeholders.course.description') %>",
      lang: 'zh-CN',
      height: 400,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline', 'clear']],
        ['fontname', ['fontname']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['insert', ['link', 'picture']]
      ],
      callbacks: {
        onImageUpload: function(files, editor, welEditable) {
          var file = files[0];
          data = new FormData();
          data.append("picture[token]", $("#customized_group_token").val());
          data.append("picture[name]" , file, file.name);
          $.ajax({
            url: '/pictures',
            data: data,
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(data) {
              var imgNode = document.createElement("img");
              imgNode.src = data.url;
              imgNode.style.width = "50%";
              $("#customized_group_description").summernote('insertNode', imgNode);
            }
          });
        }
      }
    });
  });
</script>
