<div class="course-header">
  <div class="container">
    <div class="row course-class">
      <div class="col-md-5 col-xs-12 pic">
        <%= image_tag @customized_group.publicize_url(:info), class: 'handle_error_list' %>
      </div>
      <div class="col-md-7 col-xs-12 course-introduce">
        <div class="course-title">
          <h1><%= truncate_u @customized_group.name, length: 24 %></h1>
          <span><%= t('view.live_studio/courses.show.purchase_number', count: @customized_group.buy_user_count ) %></span>
        </div>
        <div class="course-line">
          <span class="active">
            <%= image_tag 'course-active.png' %>
            <i><%= t('view.live_studio/courses.show.refund') %></i>
          </span>
          <span class="active">
            <%= image_tag 'course-active.png' %>
            <i><%= t('view.live_studio/courses.show.coupon_free') %></i>
          </span>
          <span>
            <%= image_tag '/imgs/course-default.png' %>
            <i><%= t('view.live_studio/courses.show.cheap') %></i>
          </span>
        </div>

        <div class="course-price">
          <% if @customized_group.off_shelve? %>
            <%= link_to t('view.course_info_show.shelves'), 'javascript:void(0);', class: 'btn-shelves' %>
          <% else %>
            <% if @customized_group.sell_type.free? %>
              <span class="price-left"><%= t('common.free_of_charge') %></span>
            <% else %>
              <span class="price-left"><%= number_to_currency(@customized_group.current_price, locale: :cn) %></span>
            <% end %>
            <span class="price-right">
              <%= render partial: "buy_or_taste" if (current_user.blank? || current_user.student?) && @customized_group.for_sell? %>
            </span>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
