<%= render partial: 'group_header' %>

<div class="course-con">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="course-item">
          <div class="nav-item">
            <div class="aside-left">
              <a href="#introduce" data-toggle="tab" class="active"><%= t('view.live_studio/courses.show.introduce') %></a>
              <a href="#arrange" data-toggle="tab"><%= t('view.live_studio/courses.show.arrange') %></a>
              <!--<a href="#homework" class="" ><%#= t('view.live_studio/customized_groups.show.homework') %><i>(9)</i></a>-->

              <%= link_to live_studio.customized_group_homeworks_path(@customized_group, anchor: 'homework'), class: 'homework-link', remote: true, data: { toggle: 'tab' } do %>
                <%= LiveStudio::Homework.model_name.human %> <i>(<%= @customized_group.homeworks.count %>)</i>
              <% end %>


              <%= link_to live_studio.customized_group_questions_path(@customized_group, anchor: 'ask'), class: 'question-link', remote: true, data: { toggle: 'tab' } do %>
                <%= LiveStudio::Question.model_name.human %> <i>(<%= @customized_group.questions.count %>)</i>
              <% end %>
              <!--<a href="#ask" data-toggle="tab"><%#= t('view.live_studio/customized_groups.show.ask') %><i>(1)</i></a>-->
              <a href="#courseware" data-toggle="tab"><%= t('view.live_studio/customized_groups.show.files') %><i>(<%= @quotes.count %>)</i></a>
              <a href="#study" data-toggle="tab"><%= t('view.live_studio/courses.show.study') %></a>
            </div>
            <div class="aside-right">
              <%= link_to 'javascript:void(0);', class: 'btn-release', data: {toggle: 'modal', target: '#announcement-form'} do %>
                <%= image_tag 'release.png' %><%= t('view.live_studio/customized_groups.show.announcement_link') %>
              <% end if allow?('live_studio/announcements', :create, @customized_group) && %w[published teaching].include?(@customized_group.status) %>
            </div>
          </div>

          <div class="tab-content asyn_append_fields">
            <!--课程介绍-->
            <%= render 'live_studio/customized_groups/show/introduce' %>
            <!--上课安排-->
            <%= render 'live_studio/customized_groups/show/lessons' %>
            <!--作业-->
            <div class="tab-pane fade asyn_append_files" id="homework"></div>
            <!--提问-->
            <div class="tab-pane fade asyn_append_files" id="ask"></div>
            <!--课件-->
            <% if current_user && current_user.teacher? && @customized_group.teacher == current_user %>
              <%= render 'live_studio/customized_groups/show/courseware_teacher' %>
            <% else %>
              <%= render 'live_studio/customized_groups/show/courseware' %>
            <% end %>
            <!--学习须知-->
            <%= render 'live_studio/customized_groups/show/study' %>
          </div>
        </div>
      </div>

      <%= render partial: 'teacher_info' %>
    </div>
  </div>
</div>

<% content_for :mask do %>
  <%= render 'live_studio/announcements/modal_form', resource: @customized_group %>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function(){
      $(".aside-left > a").click(function() {
        $(this).addClass("active").siblings().removeClass("active");
      });

      // 取消
      $(document).on("click", 'a.cancel', function(e) {
        // 取消按钮隐藏, 创建按钮显示
        $(e.target).hide().siblings().show();
        // 移除表单
        $($(e.target).data('form')).empty();
        // 显示详情
        $($(e.target).data('detail')).show();
      });

      $(document).on("click", ".left a", function  (e) {
        $(e.target).addClass("active").siblings().removeClass("active");
      });

      $(document).on("click", ".ask-list > li > .row >.problem-title", function() {
        $(this).parents("li").toggleClass("active").siblings().removeClass('active');
      });

      $(".homework-link").click(function() {
        $("#homework").html("<%= j render('live_studio/shared/loading') %>");
      });

      $(".question-link").click(function() {
        $("#ask").html("<%= j render('live_studio/shared/loading') %>");
      });
    });
  </script>
<% end %>
