<div class="article">
  <div class="work-station">
    <%= render 'live_studio/station/tab' %>

    <div class="create-header">
      <h3><%= t('view.station.lessons.index_title') %></h3>
      <%= link_to main_app.curriculums_path, class: 'course-hint', target: '_blank' do %>
        <%= t('view.station.lessons.more') %>
        <i class="fa fa-angle-right"></i>
      <% end %>
    </div>

    <div class="state-line">
      <%= link_to t('view.station.lessons.state.reviewing'), state_station_workstation_lessons_path(@workstation, state: 'reviewing'), class: "#{'active' if params[:state] == 'reviewing'}" %>
      <%= link_to t('view.station.lessons.state.published'), state_station_workstation_lessons_path(@workstation, state: 'published'), class: "#{'active' if params[:state] == 'published'}" %>
      <%= link_to t('view.station.lessons.state.rejected'), state_station_workstation_lessons_path(@workstation, state: 'rejected'), class: "#{'active' if params[:state] == 'rejected'}" %>
    </div>

    <div class="lesson-item">
      <ul>
        <%= render partial: 'station/lessons/lesson', collection: @lessons %>
      </ul>

      <%= render 'shared/blank' if @lessons.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @lessons, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>