<div class="qa_box">
  <div class="qa_cell box_head">
    <%= link_to "#{@solution.solutionable.model_name.human} / #{@solution.solutionable.title}" ,
                    send("#{@solution.solutionable.model_name.singular_route_key}_path",@solution.solutionable)%>
  </div>
</div>

<div class="qa_box">
  <div class="qa_cell">
    <div class="progress" id="picture-progress">
      <div class="progress-bar" id="picture-progress-bar" role="progressbar" >
      </div>
    </div>
    <%=simple_form_for([@solutionable,@solution]) do |f| %>
        <%= render "shared/error_messages", :target => @solution %>
        <%= f.input :token, as: :hidden, input_html: {value: f.object.token} %>
        <div class="form-group">
          <%= f.input :title ,input_html:{class:'form-control'}  %>
        </div>

        <div class="form-group">
          <%= f.input :content,:input_html => { :data => {:provider => "summernote"} }  %>

        </div>
        <div class="form-group">
          <%= f.button :submit, class: "btn btn-default" %>
        </div>
    <% end %>
  </div>

</div>