<div class="qa_box">
  <div class="qa_cell box_head">
    <%= render partial: "shared/#{@solutionable.model_name.route_key}/nav",locals: {@solutionable.model_name.singular_route_key.to_sym => @solutionable} %>/
    <%= get_edit_or_create_model_string(@solution,"提交")%>
  </div>
</div>

<div class="qa_box">
  <div class="qa_cell">
    <div class="progress" id="picture-progress">
      <div class="progress-bar" id="picture-progress-bar" role="progressbar" >
      </div>
    </div>
    <%=simple_form_for([@solutionable,@solution]) do |f| %>
        <%= render "shared/error_messages", :target => @solution %>
        <%= f.input :token, as: :hidden, input_html: {value: f.object.token} %>
        <div class="form-group">
          <%= f.input :title ,input_html:{class:'form-control'}  %>
        </div>

        <div class="form-group">
          <%= f.input :content,:input_html => { :data => {:provider => "summernote"} }  %>
        </div>

        <%= f.fields_for :qa_files do |builder| %>
            <%= render 'shared/qa_files/qa_file_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "添加文件", f, :qa_files, "shared/qa_files/" %>
        </br>
        <div class="form-group">
          <%= f.button :submit, class: "btn btn-default" %>
        </div>
    <% end %>
  </div>

</div>