<div class="qa_object_item">
  <div class="pull-left">
    <%=image_tag solution.student.avatar.normal.url %>
  </div>
  <div class="title">
    <%= link_to solution.title , solution_path(solution) %>
  </div>

  <div class="info">
    <%= [solution.student.name,
         "#{localize(solution.created_at,:format => :long)} 提交",
         "#{solution.corrections_count}次批改"
        ].join(" • ") %> •
        <% if solution.last_handle_created_at %>
        最近一次批改于 <%= "#{localize(solution.last_handle_created_at,:format => :long)} " %> •
        <% end %>
        <%= solution_correction_state(solution) %>
        • <%= link_to solution.solutionable_type.constantize.model_name.human ,
                      send("#{solution.solutionable.model_name.singular_route_key}_path",solution.solutionable)%>
  </div>

  <div style="clear:both"></div>

</div>