<%= render layout: 'shared/qa_objects/show',locals:{qa_object: @solution,use_super_controller: true } do %>
    <%= render partial: "shared/#{@solution.examination.model_name.route_key}/nav",locals: {@solution.examination.model_name.singular_route_key.to_sym => @solution.examination} %>
<% end %>

<div class="qa_sep_15"></div>
<%= render partial: "corrections/index",locals: {solution: @solution} %>
<div class="qa_sep_15"></div>


<%if allow? :corrections,:create , @solution%>

<div class="qa_box">
  <% if not @solution.completed? %>
    <div class="box_header qa_cell">
        <strong><%= @correction.model_name.human%></strong>
    </div>
      <%= render 'corrections/form' %>
  <% else %>
      <div style="text-align: center;padding: 20px">

          <%= t("view.solution.cant_handle_html",
                 solution_name: @solution.model_name.human,
                 solution_state: @solution.human_state_name,
                 solution_event: Solution.human_state_event_name(:handle),
                 link: link_to(@solution.examination.model_name.human,
                               send("#{@solution.examination.model_name.singular_route_key}_path",@solution.examination))
          )
          %>
      </div>
  <% end %>
</div>

<% end %>

