<%= render layout: 'shared/qa_objects/show',locals:{qa_object: @solution } do %>
    <%= render partial: "shared/#{@solution.examination.model_name.route_key}/nav",locals: {@solution.examination.model_name.singular_route_key.to_sym => @solution.examination} %>
<% end %>

<div class="qa_sep_15"></div>
<%= render partial: "corrections/index",locals: {solution: @solution} %>
<div class="qa_sep_15"></div>
<%if allow? :corrections,:create , @solution%>

<div class="qa_box">
  <div class="box_header qa_cell">
    <strong><%= Correction.model_name.human%></strong>
  </div>
      <%= render 'corrections/form' %>
</div>

<% end %>

