<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="recorded-nav">
  <%= link_to "javascript: void(0);", class: "active step_one_link", id: 'step_one_tab' do -%>
    <span><%= t('live_studio.menu.teacher.video_course.step_one') %></span>
  <% end %>
  <%= link_to "javascript: void(0);", class: "step_two_link", id: 'step_two_tab' do -%>
    <span><%= t('live_studio.menu.teacher.video_course.step_two') %></span>
  <% end %>
</div>

<div class="recorded-con">
  <%= simple_form_for([@teacher, @video_course], html: { id: 'video_course_form' }) do |f| %>
    <%= render 'course_fields', f: f %>
    <div class="recorded-info" id="step_two" style="display: none;">
      <%= raw link_to_append_fields(image_tag('create.png') + "<span>#{t('view.live_studio/course.new.add_lesson')}</span>".html_safe, f, :video_lessons, 'live_studio/video_courses/', class: 'addclass', "append-to" => "#outer_wrap") %>

      <div class="recorded-class">
        <div class="no-addcourse">
          <span id="none-tips"><%= f.error :video_lessons %></span>
        </div>

        <div class="addcourse-msg">
          <ul id="outer_wrap">
            <%= f.fields_for :video_lessons do |lesson| %>
              <%= render 'live_studio/video_courses/video_lesson_fields', f: lesson %>
            <% end %>
          </ul>
        </div>
      </div>
      <%= f.submit t("live_studio.actions.teacher.video_course.submit"), class: "btn-audit active", data: { disable_with: t('common.submitting') } %>
    </div>
  <% end %>
</div>
<%= content_for :mask do -%>
  <div class="modal fade" id="file-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-file">
        <div class="modal-content">
          <div class="popup-title">
            <span>
              <i>导入我的文件中视频</i>
            </span>
            <span class="close fa fa-times" data-dismiss="modal" aria-label="Close"></span>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end -%>

<%= content_for :javascript do %>
<script>
$(function() {
  // 第二部
  $(".step_two_link").click(function() {
    $("#step_one").hide().next().show();
    $("#step_one_tab").removeClass('active');
    $("#step_two_tab").addClass('active');
    reSort();
  });
  // 第一步
  $(".step_one_link").click(function() {
    $("#step_two").hide().prev().show();
    $("#step_two_tab").removeClass('active');
    $("#step_one_tab").addClass('active');
  });

  // 格式化视频时长
  function formatDuration(duration) {
    duration = parseInt(duration);
    var second = parseInt(duration % 60);
    if(second < 10) second = "0" + second;
    duration = duration / 60;
    var minute = parseInt(duration % 60);
    if(minute < 10) minute = "0" + minute;
    duration = duration / 60;
    var hour = parseInt(duration % 60);
    if(hour < 10) hour = "0" + hour;
    return hour + ":" + minute + ":" + second;
  }

  // 视频上传
  $('#outer_wrap').on('change', '.video_file', function(e) {
    var currentNode = $(e.target).closest("li");
    var fileInfo = currentNode.find('.file-info');
    var progressInfo = currentNode.find('.progress-info');
    var progress = currentNode.find('.progress');
    var progressBar = currentNode.find('.progress '); // 进度条
    var uploadTips = currentNode.find('.progress .upload-tips'); // 上传提示
    var file = e.target.files[0];
    if(!file) return false;
    if(!file.name.match(/.mp4$/i)) {
      alert("<%= t('view.video_course_form.video_format_tips') %>");
      return false;
    }
    var videoForm = '<form id="video_form" action="<%= resource.files_path %>" enctype="multipart/form-data" method="post"></form>';
    var data = new FormData();
    data.append("file[file]" , file, file.name);
    currentNode.find(".video_id").val('');
    currentNode.find(".video_duration").val('');
    $(videoForm).ajaxSubmit({
      dataType: 'json',
      formData: data,
      cache: false,
      contentType: false,
      processData: false,
      type: 'POST',
      beforeSubmit: function(){
        // 清楚文件错误消息
        currentNode.find('.video_id').next('.has-error').text('');
        // 隐藏文件信息
        fileInfo.hide();
        // 显示上传进度
        progressInfo.find('.progress-bar').css({width: '0%'});
        progressInfo.find('.progress-text').text('0%').show();
        progressInfo.show();
      },
      uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        progressInfo.find('.progress-bar').css({width: percentVal});
        progressInfo.find('.progress-text').text(percentVal);
        if(percentVal == '100%') {
          progressInfo.find('.progress-text').text('<%= t('view.video_course_form.processing') %>');
        }
      },
      success: function(data) {
        if(data.id) {
          currentNode.find(".video_id").val(data.id); // 设置视频ID
          // 隐藏进度文字
          progressInfo.find('.progress-text').hide();
          // 显示文件信息
          fileInfo.show().find('.file-duration').text(formatDuration(data.video_duration));
          // 设置视频实际时长
          currentNode.find(".video_duration").val(data.video_duration);
        }
      }
    });
  });

  // 表单客户端验证
  $("#video_course_form").submit(function() {
    var result = true;
    $('#outer_wrap li:visible').each(function(i, node) {
      var file_id = $(node).find(".video_id").val();
      var real_time = $(node).find(".video_duration").val();
      if(file_id === '' || real_time === '') {
        result = false;
      }
    });
    if(!result) {
      alert('请等待上传结束');
      return false;
    }
  });


  // 保存按钮
  $('#outer_wrap').on('click', '.save-btn', function(e) {
    var currentNode = $(e.target).closest("li");
    currentNode.addClass('saving');
    currentNode.find('.edit-modal').modal('hide');
  });

  function checkLesson(currentNode) {
    currentNode.find(".has-error").text('');
    if(currentNode.find('.lesson_name_edit').val().trim() == '') {
      currentNode.find('.lesson_name_edit').next('.has-error').text("<%= t('view.tips.video_lesson.name_blank') %>");
      return false;
    }
    return true;
  }

  // 保存变动
  function saveChange(currentNode) {
    if(!checkLesson(currentNode)) return false;
    // 复制视频时长
    // currentNode.find(".video_duration_view").text(currentNode.find(".video_duration_edit").text());
    // 复制课时名称
    currentNode.find(".lesson_name_view").text(currentNode.find(".lesson_name_edit").val());
    // 复制视频截图
    // currentNode.find(".video_capture_view").attr('src', currentNode.find(".video_capture_edit").attr('src'));
    currentNode.addClass('saved');
    return true;
  }

  // 排序编号
  function reSort() {
    $('#outer_wrap li:visible').each(function(index) {
      var num = index + 1;
      var sort = num >= 10 ? num : '0' + num;
      $(this).find(".lesson_sort_view").text(sort);
      $(this).find(".lesson_sort_edit").val(num);
    });
    if($('#outer_wrap li:visible').length > 0) {
      $("#none-tips").text("");
    } else if($("#none-tips").text() == ''){
      $("#none-tips").text("<%= t('view.video_course_form.none_lessons_tips') %>");
    }
  }

  // 模态框显示
  $('#outer_wrap').on('show.bs.modal', function(e) {
    // 备份旧的数据
    $(e.target).attr('fields-backup', $(e.target).html());
    $("#none-tips").html("");
  });

  // 模态框关闭
  $('#outer_wrap').on('hide.bs.modal', function(e) {
    var currentNode = $(e.target).closest("li");
    if(currentNode.hasClass('saving')) { // 保存修改
      currentNode.removeClass('saving');
      if(!saveChange(currentNode)) return false;
    } else if(currentNode.attr('record-id') == "" && !currentNode.hasClass('saved')) { // 新插入的节点直接删除
      currentNode.addClass('removed');
    } else { // 旧的节点数据恢复
      $(e.target).html($(e.target).attr('fields-backup'));
    }
    reSort();
  });

  $('#outer_wrap').on('hidden.bs.modal', function(e) {
    var currentNode = $(e.target).closest("li");
    if(currentNode.hasClass('removed')) currentNode.remove();
  });

  // 删除按钮
  $('#outer_wrap').on('click', ".destroy-btn", function(e) {
    var currentNode = $(e.target).closest("li");
    if(currentNode.attr('record-id') == "") {
      currentNode.remove();
    } else {
      currentNode.hide().find('.destroy').attr('checked', true);
    }
    reSort();
  });

  // 拖动
  $("#outer_wrap").sortable({
    update: function() {
      reSort();
    }
  });
  $("#outer_wrap").disableSelection();

  $("#file-list").on("show.bs.modal", function (e) {
    $("#file-list .modal-body").html("<div>加载中</div>");
    $.getScript('<%= resource.teacher_files_path(current_user, cate: "video") %>');
  });

  $("#outer_wrap .import-file-link").click(function() {
    $(this).closest("li").addClass('active').siblings().removeClass('active');
  });
});
</script>
<% end %>




