<div class="qa_box">
  <div class="qa_cell box_head">
    <%= render partial: 'course_issues/nav',locals: {customized_course: @course_issue.customized_course} %>
  </div>
</div>

<%= render partial: 'shared/qa_objects/show',locals:{qa_object: @course_issue,header_switch: false }  %>
<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>


<%= content_for :detail_header do %>
    <div class="pull-left">
        <span class="label label-primary">
            <%= I18n.t("view.course_issue.detail_header",
                       count: @course_issue.replies_count) %>
        </span>
    </div>
    <div style="clear: both"></div>
<% end %>

<%= render partial: 'shared/qa_objects/index_detail_info',
           locals:{objects: @course_issue_replies,use_super_controller: false} %>




<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>


<div class="qa_box">
  <%= render partial: 'shared/replies/form',locals:{topic: @course_issue,reply: @course_issue_reply} %>
</div>