<div class="container container-footer">
 	<div class="row">
    <footer class="recommended-link">
      <div class="link-content">
        <div class="row">
          <div class="col-md-6 link-left">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><p><%= t "welcome.courses.about_us" %></p></td>
                <td><%= image_tag 'courses_gzh.png', width: "100%" %></td>
                <td><p><%= t "welcome.courses.qr_desc1" %><%= t "welcome.courses.qr_desc2" %><%= t "welcome.courses.qr_desc3" %></p></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="col-md-6 link-right">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><%= t "welcome.courses.waiter_phone" %></td>
                <td class="link-phonenum"><%= t "welcome.courses.waiter_phone_number" %></td>
                <td class="link-td"><%= t "welcome.courses.work_time" %><br /><%= t "welcome.courses.work_time_every_day" %></td>
              </tr>
              <tr>
                <td><%= t "welcome.courses.waiter_qq_lable" %></td>
                <td colspan="2"><%= t "welcome.courses.waiter_qq_han" %>   / <%= t "welcome.courses.waiter_qq_guan" %></td>
              </tr>
              <tr>
                <td><%= t "welcome.courses.address_lable" %></td>
                <td colspan="2"><%= t "welcome.courses.address" %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="link-city">
        <p>
       		<span class="city-cooperation"><%= t "welcome.courses.join_us_city" %></span>
       		<a href="" class="city-name"><%= t "welcome.courses.zhuji" %></a>
       		<a href=""><%= t "welcome.courses.yangquan" %></a>
       		<a href="" class="city-feedback"><%= t "welcome.courses.callback" %></a>
       	</p>
      </div>
       <div class="copyright" style="text-align: center; padding-top: 20px;">
         <div><%= t "welcome.courses.copyright" %></div>
         <div><%= t "welcome.courses.record_number" %></div>
       </div>
      </div>
    <footer>
  </div>
</div>
