<tr>
  <td><%= course_counter + 1 %></td>
  <td><%= course.name %></td>
  <td><%= course.teacher_name %></td>
  <td><%= course.short_description %></td>
  <td><%= course.price %></td>
  <td>
    <% if course.sell_to?(current_user) -%>
      <%= link_to t("activerecord.view.buy_now"), new_course_order_path(course), id: "buy-course-#{course.id}" %>
    <% elsif course.own_by?(current_user) -%>
      已购买
    <% end -%>
  </td>
</tr>
