<% teacher = @course.teacher %>
<div class="col-md-9 col-md-left">
  <div class="panel panel-default">
    <div class="recommended-tutoring">
       <div class="tutoring-title">
         <div class="tutoring-title-left">
           <%= image_tag 'icon.png'%>
           <span class="title-size"><%= t('view.course_info_show.course_label')%></span>
         </div>
       </div>
       <div class="tec-data">
         <div class="data-con">
           <table border="0" cellspacing="0" cellpadding="0">
           <tr>
              <td rowspan="6">
                <%= image_tag @course.publicize_url(:info) %>
              </td>
              <td colspan="3">
                <div class="subject-title">
                <span><%= @course.name%></span><span><%= t('view.course_show.online')%></span>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="3"><span class="headline-color"><%= t('view.course_show.teacher')%></span><span class="title-color interval"><%= teacher.name%></span></td>
            </tr>
            <tr>
              <td><span class="headline-color"><%= t('view.course_info_show.subject')%></span><span class="title-color interval"><%= teacher.subject%></span></td>
              <td><span class="headline-color"><%= t('view.course_info_show.category')%></span> <span class="title-color interval"><%= teacher.category%></span></td>
              <td><span class="headline-color"><%= t("view.course_show.lesson_time") %></span> <span class="title-color interval">共<%= @course.preset_lesson_count%>课</span></td>
            </tr>
            <tr>
              <td colspan="3"><span class="headline-color"><%= t("activerecord.view.date") %></span><span class="title-color interval"><%= @course.live_start_date%>-<%= @course.live_end_date%></span></td>
            </tr>
            <tr>
              <td colspan="3"><span class="headline-color"><%= t("activerecord.view.status") %></span>
                <span class="<%= @course.completed? ? 'separator' : 'title-color' %> interval">
                  <%= @course.status_text%>
                  (<%= @course.preview? ? (t('view.course_show.distance_text1') % @course.distance_days) : "#{@course.completed_lesson_count}/#{@course.preset_lesson_count}" %>)
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="price-details">
                  <div class="unit-price">
                    <span class="title-color price-num">￥<%= '%0.2f' % @course.price %></span>
                    <span class="sign-up"><%= t('view.course_search_show.purchase_number') %><%= @course.buy_tickets_count%></span>
                  </div>
                  <% if current_user.blank? || !current_user.teacher? %>
                    <div>
                      <% if current_user.blank? || (!@course.tasting?(current_user) && !@course.bought_by?(current_user)) %>
                         <div class="listen-class">
                           <%= content_tag(:div,class: 'btn-audition') do %>
                             <%= link_to(t('view.course_info_show.join_taste'),
                                         live_studio.taste_course_path(@course, student_id: @student.try(:id)),
                                         id: "taste-course-#{@course.id}", method: :post, remote: true) %>
                           <% end %>
                           <%= content_tag(:div, link_to(t('activerecord.view.enroll_now'), new_course_order_path(@course)), class: 'btn-sign')%>
                         </div>
                      <% end %>
                      <% if current_user.present? && @course.tasting?(current_user) && !@course.bought_by?(current_user) %>
                         <div class="listen-class">
                           <%= content_tag(:div,class: 'btn-listen') do%>
                             <% if  LiveStudio::Course.statuses[@course.status] < LiveStudio::Course.statuses['teaching'] %>
                                <%= link_to(t('view.course_info_show.start_taste'),
                                         "javascript:void(0)", onclick:"alert('辅导班开课后才可试听')") %>
                             <% else %>
                               <%= link_to(t('view.course_info_show.start_taste'),
                                           live_studio.taste_course_path(@course, student_id: @student.try(:id)),
                                           id: "taste-course-#{@course.id}", method: :post, remote: true) %>
                             <% end %>
                           <% end%>
                           <%= content_tag(:div, link_to(t('activerecord.view.enroll_now'), new_course_order_path(@course)), class: 'btn-signnow')%>
                         </div>
                      <% end %>
                      <% if current_user.present? && @course.bought_by?(current_user) %>
                        <div class="listen-class btn-start">
                          <%if  LiveStudio::Course.statuses[@course.status] < LiveStudio::Course.statuses['teaching'] %>
                            <%= link_to(t('view.course_info_show.start_learning'),
                                        "javascript:void(0)", onclick:"alert('辅导班开课后才可学习')")%>
                          <% else %>
                            <%= link_to(t('view.course_info_show.start_learning'), play_course_path(@course)) %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </td>
            </tr>
          </table>
          <div class="data-introduction">
            <div class="introduction-title">
              <p><%= t('view.play.course_description')%></p>
            </div>
            <div class="introduction-con">
              <p><%= @course.description%></p>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    $(document).ready(function(){
      $("#taste-course-<%= @course.id %>").bind('ajax:success', function() {
        if("<%= current_user.present? %>"){
          window.location.reload();
        }else{
          window.location.href="/signin"
        }
      });
    })
  </script>
<% end %>
