<tr>
  <td><%= course_counter + 1 %></td>
  <td><%= course.name %></td>
  <td><%= course.teacher_name %></td>
  <td><%= course.short_description %></td>
  <td><%= course.current_price %></td>
  <td>
    <% if course.bought_by?(current_user) %>
      已购买
    <% elsif course.can_taste?(current_user) %>
      <%= link_to t("activerecord.view.taste"), taste_course_path(course, student_id: params[:student_id]), id: "taste-course-#{course.id}", method: :post, remote: true %>
    <% elsif course.tasting?(current_user) %>
      <%= link_to t("live_studio/ticket.type_name.tasted"), student_course_path(params[:student_id],course) %>
    <% end %>
    <% if course.sell_to?(@student) && !course.bought_by?(@student) && current_user == @student -%>
      <%= link_to t("activerecord.view.buy_now"), new_course_order_path(course), id: "buy-course-#{course.id}" %>
    <% end -%>
  </td>
</tr>
