<div class="row">
  <div class="col-md-3 text-right"><%= Teacher.human_attribute_name(:avatar)%><span class="text-danger">*</span></div>
  <div class="col-md-8">
    <%= f.input :publicize, as: :file,  label: false, input_html:{onchange:"showimagepreview(this)"}%>
    <div style="width: 242px;height: 242px; border: 1px dashed;">
      <img id="user_avatar_preview" style="width: 100%;">
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md-3 text-right">
    名称<span class="text-danger">*</span>:
  </div>
  <div class="col-md-8">
    <%= f.input :name, label: false, input_html: {value: @course.name}%>
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-right">
    辅导介绍<span class="text-danger">*</span>:
  </div>
  <div class="col-md-8">
    <%= f.input :name, as: :text, label: false, input_html: {value: @course.name}%>
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-right">
    年级类型<span class="text-danger">*</span>:
  </div>
  <div class="col-md-8">
    <%= f.input :grade, label: false, type: :select, collection: APP_CONSTANT['grades_in_menu'] %>
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-right">
    价格(元)<span class="text-danger">*</span>:
  </div>
  <div class="col-md-8">
    <%= f.input :price, label: false %>
  </div>
</div>
