
<div class="row">
  <div class="col-md-2">
    <%= f.label :name %>
  </div>
  <div class="col-md-10">
    <%= f.input :name, label: false, input_html: {maxlength: 20} %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :grade %>
  </div>
  <div class="col-md-10">
    <%= f.input :grade, collection: APP_CONSTANT['grades_in_menu'], label: false, prompt: t('view.course_form.placeholders.grade') %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :subject %>
  </div>
  <div class="col-md-10">
    <%= f.input :subject, collection: APP_CONSTANT['subjects'], label: false, prompt: t('view.course_form.placeholders.subject') %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :objective %>
  </div>
  <div class="col-md-10">
    <%= f.input :objective, label: false, input_html: {maxlength: 50, placeholder: t('view.course_form.placeholders.objective') } %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.label :suit_crowd %>
  </div>
  <div class="col-md-10">
    <%= f.input :suit_crowd, label: false, input_html: {maxlength: 30, placeholder: t('view.course_form.placeholders.suit_crowd') } %>
  </div>
</div>

<%= content_tag(:div, class: 'row') do %>
  <div class="col-md-2">
    <%= f.label :workstation %>
  </div>
  <div class="col-md-10">
    <%= f.association :workstation, collection: Workstation.all.map{|ws| [ws.name, ws.id]}, label: false, prompt: false %>
  </div>
<% end if @workstation.blank? %>

<div class="row">
  <div class="col-md-2">
    <%= f.label :description %>
  </div>
  <div class="col-md-10">
    <%= f.input :description, label: false  %>
  </div>
</div>

<%= f.input :token, as: :hidden, value: f.object.token %>
<div class="row">
  <div class="col-md-2">
    <%= f.label :tag_list %>
  </div>
  <div class="col-md-10 col-md-label">
    <div class="form-group string optional course_tag_list">
      <%= f.input_field :tag_list, value: @course.tag_list.join('; '), label: false, readonly: true %>
      <%= f.label :tag_list, class: 'fa fa-angle-down pull-down' do %>
      <% end %>
    </div>
    <div class="label-msg">
      <% tags_with_group.each do |group| -%>
        <div class="label-classify group-<%= group.id %>">
          <span><%= group.name %></span>
          <div class="label-classify-con">
            <% group.tags.each do |tag| %>
              <%= link_to tag.name, "javascript: void(0);", class: "#{@course.tag_list.include?(tag.name) ? 'active' : ''}" -%>
            <% end -%>
          </div>
        </div>
      <% end -%>
      <a href="javascript:void(0);" class="btn-label">确定</a>
    </div>
    <%= f.error :tag_list %>
  </div>
</div>

<script type="text/javascript">
  $(function  () {
    var flag = true;
    $(".pull-down,.pull-down-input").click(function  () {
      if (flag) {
        $(".grade-check").slideDown(200);
      }else{
        $(".grade-check").slideUp(200);
      }
      flag = !flag;
    });

    $("input[name='radio']").click(function  () {
      if($("input[name='radio']").is(":checked")){
        $("input[name='course[grade]']").val($(this).val());
        $("input[name='radio']").parents(".grade-check").slideUp(200);
      }
      flag = true;
    });
  });

  // 标签选择
  $(".col-md-label input").click(function() {
    $(".label-msg").toggle();
  });
  $(".label-msg").on('click', '.label-classify-con a', function (event) {
    $(event.target).toggleClass("active").siblings().removeClass("active");
  });
  $(".btn-label").click(function () {
    $(".col-md-label input").val($(".label-classify-con a.active").map(function(item) { return this.text }).get().join('; '));
    $(".label-msg").hide();
  });

  // 富文本编辑

  $("#course_description").summernote({
    lang: 'zh-CN',
    height: 400,
    callbacks: {
      onImageUpload: function(files, editor, welEditable) {
        var file = files[0];
        data = new FormData()
        data.append("picture[token]", $("#course_token").val());
        data.append("picture[name]" , file, file.name);
        $.ajax({
          url: '/pictures',
          data: data,
          dataType: 'json',
          cache: false,
          contentType: false,
          processData: false,
          type: 'POST',
          success: function(data) {
            var imgNode = document.createElement("img");
            imgNode.src = data.url;
            imgNode.style.width = "50%";
            $("#course_description").summernote('insertNode', imgNode);
          }
        });
      }
    }
  });
</script>
