<form id="search-form">

  <%= hidden_field_tag :sort_by, params[:sort_by] %>
  <%= hidden_field_tag :subject, params[:subject] %>
  <%= hidden_field_tag :grade, params[:grade] %>
  <%= hidden_field_tag :status, params[:status] %>
  <%= hidden_field_tag :student_id, params[:student_id] %>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <%= t('view.course_search_show.subject') %><%= search_value_show_word('subject') %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0);" class="search-link-submit" rel="subject" data="all"><%= t('activerecord.view.filter.all') %></a></li>
      <% APP_CONSTANT['subjects'].each do |sub| %>
        <li><a href="javascript:void(0);" class="search-link-submit" rel="subject" data="<%= sub %>"><%= sub %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <%= t('view.course_search_show.grade') %><%= search_value_show_word('grade') %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0);" class="search-link-submit" rel="grade" data="all"><%= t('activerecord.view.filter.all') %></a></li>
      <% APP_CONSTANT['grades_in_menu'].each do |grade| %>
        <li><a href="javascript:void(0);" class="search-link-submit" rel="grade" data="<%= grade %>"><%= grade %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <%= t('view.course_search_show.price') %><%= search_value_show('price') %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu _menu">
      <li>
        <a href="javascript:void(0);" class="search-link-submit" rel="price_sort" data="asc">
          <%= t('view.course_search_show.price_asc') %>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" class="search-link-submit" rel="price_sort" data="desc">
          <%= t('view.course_search_show.price_desc') %>
        </a>
      </li>
      <li class="divider"></li>
      <li class="dropdown-submenu pull-right">
        <a tabindex="-1" href="#"><%= self_settings %></a>
        <ul class="dropdown-menu">
          <li>
            <div class="search-form-div">
              <%= text_field_tag :price_floor, params[:price_floor], class: 'search-input' %>~
              <%= text_field_tag :price_ceil, params[:price_ceil], class: 'search-input' %>
              <%= search_submit %>
            </div>
            <div class="text-center">
              <%= link_to t('view.course_search_show.clear_range_btn'), 'javascript:void(0);', class: 'clear-range', rel: 'price' %>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <%= t('view.course_search_show.lesson_count') %><%= search_value_show('preset_lesson_count') %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu _menu">
      <li>
        <a href="javascript:void(0);" class="search-link-submit" rel="preset_lesson_count_sort" data="asc">
          <%= t('view.course_search_show.preset_lesson_count_asc') %>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" class="search-link-submit" rel="preset_lesson_count_sort" data="desc">
          <%= t('view.course_search_show.preset_lesson_count_desc') %>
        </a>
      </li>
      <li class="divider"></li>
      <li class="dropdown-submenu pull-right">
        <a tabindex="-1" href="#"><%= self_settings %></a>
        <ul class="dropdown-menu">
          <li>
            <div class="search-form-div">
              <%= text_field_tag :preset_lesson_count_floor, params[:preset_lesson_count_floor], class: 'search-input' %>~
              <%= text_field_tag :preset_lesson_count_ceil, params[:preset_lesson_count_ceil], class: 'search-input' %>
              <%= search_submit %>
            </div>
            <div class="text-center">
              <%= link_to t('view.course_search_show.clear_range_btn'), 'javascript:void(0);', class: 'clear-range', rel: 'preset_lesson_count' %>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <%= t('view.course_search_show.class_date') %><%= search_value_show('class_date') %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu _menu">
      <li><a href="javascript:void(0);" class="search-link-submit" rel="class_date_sort" data="asc"><%= t('view.course_search_show.class_date_asc') %></a></li>
      <li><a href="javascript:void(0);" class="search-link-submit" rel="class_date_sort" data="desc"><%= t('view.course_search_show.class_date_desc') %></a></li>
      <!--<li class="divider"></li>-->
      <!--<li class="dropdown-submenu pull-right">-->
        <!--<a tabindex="-1"  href="#"><%= self_settings %></a>-->
        <!--<ul class="dropdown-menu">-->
          <!--<li>-->
            <!--<div class="search-form-div">-->
              <!--<%#= text_field_tag :class_date_floor, params[:class_date_floor],type: :date, class: 'search-input date' %>-->
              <!--<%#= text_field_tag :class_date_ceil, params[:class_date_ceil],type: :date, class: 'search-input date' %>-->
              <!--<%#= search_submit %>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <%= t('view.course_search_show.status') %><%= search_value_show_word('status') %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0);" class="search-link-submit" rel="status" data="all"><%= t('activerecord.view.filter.all') %></a></li>
      <li><a href="javascript:void(0);" class="search-link-submit" rel="status" data="preview"><%= t('status.preview') %></a></li>
      <li><a href="javascript:void(0);" class="search-link-submit" rel="status" data="teaching"><%= t('status.teaching') %></a></li>
    </ul>
  </div>
</form>
<script>
  $('.clear-range').click(function(){
    var tag = $(this).attr('rel');
    $('#'+tag+'_floor').val('');
    $('#'+tag+'_ceil').val('');
    $('#search-form').submit();
  });

  $(".search-link-submit").click(function(){
    var tag = $(this).attr('rel');
    var value = $(this).attr('data');
    if(tag.indexOf('_sort') > 0){
      $("#sort_by").val(tag.replace('_sort','') +"."+value);
    }else{
      $("#"+tag).val(value);
    }
    $("#search-form").submit();
  });
</script>