<div class="screening-nav">

  <%= search_form_for @q do |f| %>
    <%= f.search_field :grade_eq %>
    <%= f.search_field :subject_eq %>
    <%= f.search_field :status_eq %>
    <%= f.search_field :class_date_gt %>
    <%= f.search_field :class_date_lt %>

    <%= f.sort_link :price %>
    <%= f.submit %>
  <% end %>
</div>


<% content_for :javascript do %>
<script>
$(function() {
  // 隐藏更多条件
  var hide_more = function() {
    $(".screening-hidden").slideUp(500);
    $(".up-conditions").hide();
    $(".more-conditions").show();
    $("#more").val("");
  };

  // 显示更多条件
  var show_more = function() {
    $(".screening-hidden").slideDown(500);
    $(".up-conditions").show();
    $(".more-conditions").hide();
    $("#more").val("1");
  };

  $(".remedial-drop-down").click(function(){
    if($(".screening-hidden").is(":visible")) {
      hide_more();
    } else {
      show_more();
    }
  });

  <% unless params[:more].blank? -%>
    show_more();
  <% end %>

  $(".search-link-submit").click(function() {
    var id = $(this).attr("data-key");
    $("#" + id).val($(this).attr("data-value"));
    $(this).parents("form").submit();
  });
});
</script>
<% end %>
