<%= simple_form_for @course do |f|%>

  <%= f.error_notification %>
  <%= f.input :invitation_id, as: :hidden %>
  <p class="file-title">一、辅导概况</p>
  <%= render 'course_fields', f: f%>
  <div class="editor-arrange">
    <div class="class-arrtitle">
      二、课程安排
    </div>
  </div>

  <div class="class-con">
    <%= f.input :lessons, label: false, input_html: {style: 'display: none;'} %>
    <%= f.fields_for :lessons do |lesson| %>
      <%= render 'lesson_fields', f: lesson%>
    <% end %>
    <center>
      <%= raw link_to_add_fields(image_tag('add.png', size: '18x18') + "添加新课程", f, :lessons, 'live_studio/courses/') %>
      <a href="javascript:void(0);" data-toggle="modal" data-target="#edit" class="add_fields">
        <%#=  %>
      </a>
    </center>
  </div>

  <div class="class-con">
  </div>
  <div class="present">
    <center>
      <%= link_to '预览', 'javascript: void(0);', id: 'course_preview' %>
      <%= link_to '发布招生', 'javascript: void(0);', class: 'submit' %>
    </center>
  </div>

<% end %>
<% content_for :javascript do %>
  <script>
    $(document).ready(function(){
      $('.submit').click(function(){
        $('form').submit();
      });

      $("#course_preview").click(function() {
        var action = $(this).parents("form").attr('action');
        $(this).parents("form").attr('action', "<%= live_studio.preview_courses_path %>");
        $(this).parents("form").attr('target', '_blank');
        $(this).parents("form").submit();
        $(this).parents("form").attr('action', action);
        $(this).parents("form").removeAttr('target');
      });
    })
    function _get_time(hour, minutes, duration){
      var duration_value = 0;
      var hour = parseInt(hour);
      var minutes = parseInt(minutes);
      switch(duration){
        case 'minutes_30':
          duration_value = 30;
          break;
        case 'minutes_45':
          duration_value = 45;
          break;
        case 'hours_1':
          duration_value = 60;
          break;
        case 'hours_half_90':
          duration_value = 90;
          break;
        case 'hours_2':
          duration_value = 120;
          break;
        case 'hours_half_150':
          duration_value = 150;
          break;
        case 'hours_3':
          duration_value = 180;
          break;
        case 'hours_half_210':
          duration_value = 210;
          break;
        case 'hours_4':
          duration_value = 240;
          break;
      }
      end_hour = hour + parseInt((minutes+duration_value)/60);
      end_minutes = minutes+duration_value % 60;
      if(end_hour > 23)
        end_hour = end_hour % 24
      if(end_hour < 10)
        end_hour = "0" + end_hour;
      if(end_minutes < 10)
        end_minutes = "0" + end_minutes;
      return end_hour + ':' + end_minutes;
    }
    function remove_lesson(obj){
      $(obj).parents("table").hide();
      var b = $(obj).attr('rel');
      $('#'+b).attr('checked', true);
    }
    function testShow(elem){
      $.jeDate(elem,{
        skinCell:"jedateblue",
        festival:false,
        insTrigger:false,
        //isinitVal:true,
        format:"YYYY-MM-DD",
        isClear:false,
        minDate: '<%= Date.tomorrow.to_s %>',
      });
    }
  </script>
<% end %>
