<%= simple_form_for @course do |f|%>

  <%= f.error_notification %>
  <%= f.input :invitation_id, as: :hidden %>
  <p class="file-title">一、辅导概况</p>
  <%= render 'course_fields', f: f%>
  <div class="editor-arrange">
    <div class="class-arrtitle">
      二、课程安排
    </div>
  </div>
  <div class="class-con">
    <%= f.input :lessons, label: false, input_html: {style: 'display: none;'} %>
    <%= f.fields_for :lessons do |lesson| %>
      <%= render 'lesson_fields', f: lesson%>
    <% end%>
    <%= raw link_to_add_fields("增加一条新课程", f, :lessons, 'live_studio/courses/') %>
  </div>
  <div class="present">
    <center>
      <%= link_to '预览', 'javascript: void(0);', id: 'course_preview' %>
      <%= link_to '发布招生', 'javascript: void(0);', class: 'submit' %>
    </center>
  </div>

<% end %>
<% content_for :javascript do %>
  <script>
    $(document).ready(function(){
      $('.remedial-date').each(function(_, el){
        $(el).click(function(){
          show_calendar(this)
        })
      })

      function show_calendar(el){
        $.jeDate(el, {
          insTrigger:false,
          //isinitVal:true,
          format:"YYYY-MM-DD", // 分隔符可以任意定义，该例子表示只显示年月
          isClear:false,
          festival: true, //显示节日
          minDate: '2000-06-01', //设定最小日期为当前日期
          //最大日期
        });
      }

      $('.submit').click(function(){
        $('form').submit();
      });

      $("#course_preview").click(function() {
        $(this).parents("form").attr('action', "<%= live_studio.preview_courses_path %>");
        $(this).parents("form").attr('target', '_blank');
        $(this).parents("form").submit();
        $(this).parents("form").attr('action', "<% live_studio.courses_path %>")
        $(this).parents("form").removeAttr('target')
      });

      $(".remove-lesson").click(function(){
        $(this).parents("tr").remove();
      });
    })
  </script>
<% end %>
