<div class="panel panel-default panel-profile">
  <div class="data-arrange">
    <div class="arrange-title">
      <div class="teacher-title-left">
       <%= image_tag 'icon.png'%>
       <span class="title-size">课程安排</span>
      </div>
    </div>

    <div class="arrange-con">
      <table border="0" cellspacing="0" cellpadding="0">
        <% @course.order_lessons.each_with_index do |lesson, i| %>
          <tr class="<%= lesson.is_over? ? 'prompt-con' : '' %>">
            <td>
              <span><%= beautify_index(i) %></span>
            </td>
            <td>
              <span>
                <%= lesson.class_date %>
                <%= lesson.start_time %>-<%= lesson.end_time %>
              </span>
            </td>
            <td>
              <span><%= lesson.name %></span>
              <% if lesson.replayable -%>
                <% if allow?("live_studio/lessons", "replay", lesson) -%>
                  <span class="playback-entrance">
                    <%= link_to live_studio.replay_lesson_path(lesson), class: 'link-play' do -%>
                      <%= image_tag 'play.png' %>
                      <%= LiveStudio::Lesson.human_attribute_name(:replay) %>
                    <% end -%>
                    <i><%= t("view.replay.left_replay_times", count: lesson.user_left_times(current_user)) %></i>
                  </span>
                <% elsif lesson.user_left_times(current_user) <= 0 %>
                  <span class="playback-entrance">
                    <%= link_to 'javascript: void(0);', class: 'link-play', "data-toggle"=>"modal", "data-target"=>"#failure" do -%>
                      <%= image_tag 'play.png' %>
                      <%= LiveStudio::Lesson.human_attribute_name(:replay) %>
                    <% end -%>
                    <i><%= t("view.replay.left_replay_times", count: lesson.user_left_times(current_user)) %></i>
                  </span>
                <% end %>
              <% end -%>
            </td>
            <td>
              <span>
                <%= lesson.status_text(current_user.try(:role)) %>
                <% if allow?(:lessons, :completed, lesson) && lesson.finished?  %>
                  <%= link_to t('view.course_info_show.completed_lesson'), live_studio.completed_course_lesson_path(@course, lesson), method: :patch %>
                <% end  %>
              </span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= content_for :mask do  %>
  <div class="modal fade" id="failure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="prompt-pwd">
        <div class="prompt-pwd-title"><%= t("common.tips") %></div>
        <div class="prompt-pwd-con">
            <center>
              <p><%= t("tips.replay_used_up") %></p>
            </center>
            <center>
              <p>
              <a href="javascript:void(0);" class="apply-change" data-dismiss="modal" aria-label="Close"><%= t("common.confirm") %></a>
            </p>
            </center>
        </div>
      </div>
  </div> 
<% end %>
