<div class="screening-con">
  <% @courses.in_groups_of(4).each do |course_group| %>
    <ul class="list-screening">
      <% course_group.each do |course| %>
        <% if course.present? %>
          <li>
            <%=link_to live_studio.course_path(course) do %>
              <%= content_tag(:div, image_tag(course.publicize_url(:list))) %>
            <% end %>
            <div class="dl-con">
              <dl class="dl-screening">
                <dd>
                  <span class="class-msg">
                    <%=link_to live_studio.course_path(course) do %>
                      <%= course.name %>
                    <% end %>
                  </span>
                  <span class="class-open"><%= course.status_text %></span>
                </dd>
                <dd>
                  <span><%= course.grade%><%= course.subject %>/<%= course.preset_lesson_count%><%= t('view.course_show.lesson_time') %></span>
                  <span class="tea-name"><i class="glyphicon glyphicon-user"></i><%= course.teacher.try(:name) %></span>
                </dd>
                <dd class="dd-num-msg">
                  <p><i class="glyphicon glyphicon-time dd-date"><%= course.live_start_time%>至<%= course.live_end_time%></i></p>
                  <p><i class="money-num">￥ <%= course.price %></i><i class="person-buy"><%= t "welcome.courses.buy_count" %><em class="person-num"><%= course.buy_tickets_count %></em></i></p>
                </dd>
              </dl>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <%= render partial: 'shared/will_paginate',locals: {list: @courses} %>
</div>
