<% @accounts.each do |account|%>
    <div class="new-information">
      <div class="information-title">
        <%= image_tag(account.icon_url,class: 'information-title-img')%>
        <span class="information-user"><%= truncate(account.name, length: 14) %></span>
        <span class="information-category"><%= t("view.role.#{account.user.role}") %></span>
      </div>
    </div>
<% end if @accounts.present? %>
<%= hidden_field_tag :online_token, @token %>

<% if @online_accounts %>
  <script type="text/javascript">
    if($("#team_online_count")){
      $("#team_online_count").html("<%= @online_accounts.count %>")
    }
  </script>
<% end %>
