<div class="row">
  <div class="video-area" id="player-and-chat">
    <div class="area-left">
      <div class="area-left-title"><%= @course.name %></div>
      <div class="area-left-con">
        <video id="my-video" class="video-js"  x-webkit-airplay="allow" webkit-playsinline controls poster="<%= image_url 'loading.png' %>" preload="auto" width="" height="" data-setup="{}">
        </video>
      </div>
    </div>
        
    <div class="area-right">
      <div class="area-right-title">
        <%= t "activerecord.view.chat.chat_team_members_count" %>
        <span id="team_online_count" class="online">0</span>
      </div>
      <div class="area-right-con">
        <video id="small-video" class="video-js"  x-webkit-airplay="allow" webkit-playsinline controls poster="<%= image_url 'loading.png' %>" preload="auto" width="" height="" data-setup="{}">
        </video>

      </div>
      <%= render 'play_chat' %>
    </div>
  </div>

  <div id="no-flash-area" style="display: none;">
    <p align="center">
      <%= t("activerecord.view.flash_can_not_call_msg.flash_uninstall_or_too_old_msg") %>
      <%= link_to t("activerecord.view.flash_can_not_call_msg.click_here_msg"), "https://get.adobe.com/cn/flashplayer/"  %>
      <%= t("activerecord.view.flash_can_not_call_msg.install_flash_msg") %>
    </p>
  </div>
</div>


<%= content_for :javascript do %>
<script>
  $(function() {
    var boardPlayer, cameraPlayer;
    var timer = -1;
    var state = 'init';

    // 白板播放器
    boardPlayer = neplayer("my-video", {}, function() {
    });

    boardPlayer.onError(function(err){
      console.log(err.errCode);
      console.log(err.errMsg);
    });

    boardPlayer.onPlayState(1,function(){
      console.log('board play');
    });
    boardPlayer.onPlayState(2,function(){
      console.log('board pause');
    });
    boardPlayer.onPlayState(3,function(){
      console.log('board ended');
      boardPlayer.reset();
      set_timer();
    });

    // 摄像头
    cameraPlayer = neplayer("small-video", {}, function() {
    });
    // cameraPlayer.play();
    cameraPlayer.onError(function(err){
      console.log(err.errCode);
      console.log(err.errMsg);
    });

    cameraPlayer.onPlayState(1,function(){
      console.log('camera play');
    });
    cameraPlayer.onPlayState(2,function(){
      console.log('camera pause');
    });
    cameraPlayer.onPlayState(3,function(){
      console.log('camera ended');
      cameraPlayer.reset();
      set_timer();
    });

    function player_status(){
      $.get("/live_studio/courses/<%= @course.id %>/live_status", {}, function (data, status) {
        if (status == 'success') {
          console.log('player_status');
          console.log(data);
          if (data['board'] == 1) {
            boardPlayer.setDataSource({
              type: "video/x-flv",
              src: "<%= @course.board_pull_stream('http') %>"
            });
            boardPlayer.play();
          }
          if (data['camera'] == 1) {
            cameraPlayer.setDataSource({
              type: "video/x-flv",
              src: "<%= @course.camera_pull_stream('http') %>"
            });
            cameraPlayer.play();
          }
          if( data['board'] == 1 && data['camera'] == 1){
            state = 'live';
            clearInterval(timer);
          }else{
            state = 'init';
            timer = -1;
          }
        }
      });
    }

    function set_timer(){
      player_status();
      if(state == 'init' && timer == -1){
        timer = setInterval(player_status, 10000);
      }
    }

    //判断flash是否安装
    if(flashChecker().f) {
      set_timer();
    } else{
      $("#player-and-chat").hide();
      $("#no-flash-area").show() //提示div
    }
  });
</script>

<% end %>