<div class="row">
  <div class="video-area" id="player-and-chat">
    <div class="area-left">
      <div class="area-left-title"><%= @course.name %></div>
      <div class="area-left-con">
        <video id="my-video" class="video-js"  x-webkit-airplay="allow" webkit-playsinline controls poster="<%= image_url 'loading.png' %>" preload="auto" width="" height="" data-setup="{}">
        </video>
      </div>
    </div>
        
    <div class="area-right">
      <div class="area-right-title">
        <%= t "activerecord.view.chat.chat_team_members_count" %>
        <span id="team_online_count" class="online">0</span>
      </div>
      <div class="area-right-con">
        <video id="small-video" class="video-js"  x-webkit-airplay="allow" webkit-playsinline controls poster="<%= image_url 'loading.png' %>" preload="auto" width="" height="" data-setup="{}">
        </video>

      </div>
      <%= render 'play_chat' %>
    </div>
  </div>

  <div id="no-flash-area" style="display: none;">
    <p align="center">
      <%= t("activerecord.view.flash_can_not_call_msg.flash_uninstall_or_too_old_msg") %>
      <%= link_to t("activerecord.view.flash_can_not_call_msg.click_here_msg"), "https://get.adobe.com/cn/flashplayer/"  %>
      <%= t("activerecord.view.flash_can_not_call_msg.install_flash_msg") %>
    </p>
  </div>
</div>


<%= content_for :javascript do %>
<script>
$(function() {
  var boardPlayer, cameraPlayer;

  var loadingPlayer = function() {
    // 白板播放器
    boardPlayer = neplayer("my-video", {}, function() {
    });
    boardPlayer.setDataSource({
      type: "video/x-flv",
      src: "<%= @course.board_pull_stream('http') %>"
    });


    boardPlayer.onError(function(err){
      console.log(err.errCode);
      console.log(err.errMsg);
    });

    boardPlayer.onPlayState(1,function(){
      console.log('play');
    });
    boardPlayer.onPlayState(2,function(){
      console.log('pause');
    });
    boardPlayer.onPlayState(3,function(){
      console.log('ended');
    });
    boardPlayer = boardPlayer.play();

    // 摄像头
    cameraPlayer = neplayer("small-video", {}, function() {
    });
    cameraPlayer.setDataSource({
      type: "video/x-flv",
      src: "<%= @course.camera_pull_stream('http') %>"
    });
    cameraPlayer.play();


    cameraPlayer.onError(function(err){
      console.log(err.errCode);
      console.log(err.errMsg);
    });

    cameraPlayer.onPlayState(1,function(){
      console.log('play');
    });
    cameraPlayer.onPlayState(2,function(){
      console.log('pause');
    });
    cameraPlayer.onPlayState(3,function(){
      console.log('ended');
    });
  };

  //判断flash是否安装
  if(flashChecker().f) {
    loadingPlayer();
  } else{
    $("#player-and-chat").hide();
    $("#no-flash-area").show() //提示div
  }
});
</script>

<% end %>