<div class="course-item">
  <div class="nav-item">
    <span><%= t('view.play.teacher_info')%></span>
  </div>

  <div class="course-lessons">
    <div class="lessons-detail tec-live">
      <%= image_tag @course.teacher.avatar_url, class: "handle_error_avatar" %>
      <p>
        <span><%= @course.teacher.name %></span>
        <%= image_tag "#{@course.teacher.gender || 'male'}_big.png" %>
      </p>
    </div>
    <div class="lessons-detail">
      <h3><%= t('view.play.teaching_years_text') %></h3>
      <p><%= @course.teacher.teaching_years_text %></p>
    </div>
    <div class="lessons-detail">
      <h3><%= t('view.play.teacher_school_name') %></h3>
      <p><%= @course.teacher.school.try(:name) %></p>
    </div>
    <div class="lessons-detail">
      <h3><%= t('view.play.teacher_summary')%></h3>
      <p>
        <%= raw @course.teacher.desc -%>
      </p>
    </div>
  </div>
</div>
