<% teacher = @course.teacher %>
<div class="col-md-9 col-md-left">
  <div class="panel panel-default">
    <div class="recommended-tutoring">
       <div class="tutoring-title">
         <div class="tutoring-title-left">
           <%= image_tag 'icon.png'%>
           <span class="title-size"><%= t('view.course_info_show.course_label')%></span>
         </div>
       </div>
       <div class="tec-data">
         <div class="data-con">
           <table border="0" cellspacing="0" cellpadding="0">
           <tr>
              <td rowspan="6">
                <%= image_tag @course.publicize_url(:info) %>
              </td>
              <td colspan="3">
                <div class="subject-title">
                <span><%= @course.name%></span><span><%= t('view.course_show.online')%></span>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="3"><span class="headline-color"><%= t('view.course_show.teacher')%></span><span class="title-color interval"><%= teacher.name%></span></td>
            </tr>
            <tr>
              <td><span class="headline-color"><%= t('view.course_info_show.subject')%></span><span class="title-color interval"><%= @course.subject%></span></td>
              <td><span class="headline-color"><%= t('view.course_info_show.category')%></span> <span class="title-color interval"><%= @course.grade %></span></td>
              <td><span class="headline-color"><%= t("view.course_show.lesson_time") %></span> <span class="title-color interval">共<%= @course.lessons_count %>课</span></td>
            </tr>
            <tr>
              <td colspan="3">
                <span class="headline-color"><%= t("activerecord.view.date") %></span>
                <span class="title-color interval">
                  <%
                     @live_start_date = @live_start_date || @course.live_start_date.try(:to_s)
                     @live_end_date = @live_end_date || @course.live_end_date.try(:to_s)
                  %>
                  <%= @live_start_date == @live_end_date ? @live_start_date : "#{@live_start_date}至#{@live_end_date}" %>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="3"><span class="headline-color"><%= t("activerecord.view.status") %></span>
                <span class="<%= @course.completed? ? 'separator' : 'title-color' %> interval">
                  <%= @course.status_text%>
                  (<%= @course.published? ? (t('view.course_show.distance_text1') % @course.distance_days) : "#{@course.finished_lessons_count}/#{@course.lessons_count}" %>)
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="price-details">
                  <div class="unit-price">
                    <span class="title-color price-num">
                      <%= number_to_currency(@course.price.to_f,unit: '￥') %>
                    </span>
                    <span class="sign-up"><%= t('view.course_search_show.purchase_number') %><%= @course.buy_user_count %></span>
                  </div>

                  <div class="listen-class">
                    <div class="btn-audition">
                      <%= link_to t('view.course_info_show.join_taste'), "javascript: void(0);" %>
                    </div>
                    <div class="btn-sign">
                      <%= link_to t('activerecord.view.enroll_now'), "javascript: void(0);" %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="data-introduction">
            <div class="introduction-label">
              <span><%= LiveStudio::Course.human_attribute_name(:tag_list) %></span>
              <% @course.tag_list.each do |tag| -%>
                <%= link_to tag, "javascript: void(0);" %>
              <% end %>
            </div>

            <div class="introduction-title">
              <p><%= LiveStudio::Course.human_attribute_name(:course_description) %></p>
            </div>
            <div class="introduction-con">
              <p><%= raw(@course.description) %></p>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
