<% teacher = @course.teacher %>
<div class="col-md-3 col-md-aside">
  <div class="panel panel-default">
    <div class="recommended-tec">
      <div class="tutoring-tec-title">
        <div class="teacher-title-left">
          <%= image_tag 'icon.png'%>
          <span class="title-size"><%= t('view.course_info_show.teacher_label')%></span>
        </div>
      </div>
      <div class="tec-details">
        <ul>
          <li>
            <center>
              <%=link_to profile_teacher_path(teacher.id) do %>
                <%= image_tag teacher.avatar ,class:"details-img"%>
              <% end %>
            </center>
          </li>
          <li>

            <p class="tec-name">
              <%=link_to profile_teacher_path(teacher.id) do %>
                <span><%= teacher.try(:name)%></span>
              <% end %>
              <%= image_tag "#{teacher.gender || 'male'}.png", class: 'gender-img' %>
            </p>
          </li>
          <li>
            <div class="details-con">
              <p><span class="con-title title-color"><%= t('view.course_info_show.teaching_years')%></span><span><%= teacher.teaching_years_text%></span></p>
              <p><span class="con-title title-color"><%= t('view.course_info_show.school')%></span><span><%= teacher.school.try(:name)%></span></p>
              <p>
                <span class="con-title title-color"><%= t('view.course_info_show.teacher_desc')%></span>
                <span><%= truncate(teacher.desc, length: 145, omission: '...') %></span>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
 </div>
