<div class="live-head">
  <div class="container live-big">
    <%= render 'player' %>
  </div>
</div>

<div class="container">
  <%= render 'play_course_info' %>
</div>

<div class="container">
  <%= render 'play_teacher_info' %>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'lesson_plan' %>
  </div>
</div>

<%= content_for :javascript do %>
<script>
$(function() {
  setInterval(function() {
    $.getJSON("<%= live_studio.live_info_course_path(@course) %>", function(data) {
      console.log(data);
    });
  }, 1000 * 10);
});
</script>
<% end %>