<% channel = @course.channels.first %>
<div class="qa_sep_15"></div>

<div class="row" style="width: 1200px;">

  <div class="col-md-8" style="padding: 0px;">
    <!-- 根据flash是否安装，来显示 -->
    <video id="my-video" class="video-js" controls poster="<%= image_url('publish-bg.png') %>" preload="auto" width="800" height="480" data-setup='{}' style="display:none;">
      <source src="MY_VIDEO.mp4" type="video/mp4">
    </video>
    <div style="display:none; height: 480px; width: 800px; background-color: #FFF; padding-top: 50px" id="no-flash-area">
      <p align="center">
        <%= t("activerecord.view.flash_can_not_call_msg.flash_uninstall_or_too_old_msg") %><a href="https://get.adobe.com/cn/flashplayer/"><%= t("activerecord.view.flash_can_not_call_msg.click_here_msg") %></a><%= t("activerecord.view.flash_can_not_call_msg.install_flash_msg") %>
      </p>
    </div>
    <div class="course-info-div">
      <%= content_tag(:div, '直播详情', class: 'info-title') %>
      <%= content_tag(:div, "辅导班名：#{@course.name}", class: 'info-cell') %>
      <%= content_tag(:div, "课程名称：#{@lesson.try(:name)}", class: 'info-cell') %>
      <%= content_tag(:div, "主讲老师：#{@teacher.name}", class: 'info-cell') %>
      <%= content_tag(:div, "所属科目：#{"暂无"}", class: 'info-cell') %>
      <%= content_tag(:div, "开播日期：#{@lesson.try(:class_date).try(:strftime)}", class: 'info-cell') %>
      <%= content_tag(:div, "开播时间：#{@lesson.try(:live_time)}", class: 'info-cell') %>
      <%= content_tag(:div, "辅导简介：#{@course.description}", class:'info-desc') %>
    </div>
  </div>

  <div class="col-md-1">
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-tabs" id="chat-tabs">
          <li role="members"><a href="#members"><%= t("activerecord.view.chat.team_members") %></a></li>
          <li role="message" class="active"><a href="#message"><%= t("activerecord.view.chat.team_message") %></a></li>
          <li role="notice"><a href="#notice"><%= t("activerecord.view.chat.team_notice") %></a></li>
        </ul>
        <div panel panel-default id="chat-panels">
          <div class="panel-body" id="members-panel" style="display: none;">
            <% @chat_team.accounts.each do |account|%>
                <%= content_tag(:div, class: 'media') do %>
                    <%= content_tag(:div, class: 'media_left') do %>
                        <%= image_tag(account.icon_url,class: 'media-object img-circle')%>
                    <% end %>
                    <%= content_tag(:div, account.name, class: 'media-body') %>
                <% end %>
            <% end if @chat_team %>
          </div>
          <div class="panel-body" id="message-panel">
            <div id="messages">
            </div>
            <div id="tool-bar">
              <!--
              <button type="button" class="btn btn-default btn-sm" id="scroll-btn">
                滚屏
              </button>
              -->
              <button type="button" class="btn btn-default btn-sm" id="clear-btn">
                清屏
              </button>

            </div>
            <div id="message-input">
              <form action="##" id="message-form">
                <div class="col-md-9">
                  <textarea name="message" id="message-area" cols="33" rows="5" oninput="if(value.length>100) value=value.substr(0,100)"></textarea>
                </div>
                <div class="col-md-3">
                  <input type="submit" name="send" id="send-btn" value="发送" style="display: float;">
                </div>
              </form>
            </div>
          </div>
          <div class="panel-body" id="notice-panel" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="media-template" style="display: none;">
  <div class="media">
    <div class="media-left">
    <!--
      <a href="##">
        <img class="media-object img-circle" height="30" width="30" style="width: 30px; height: 30px;" src="" alt="...">
      </a>
      -->
    </div>
    <div class="media-body">
    </div>
    <div>
    </div>
  </div>
</div>

<script>
var chatInited = false;

function chatInitCallback() {
  chatInited = true;
};
$(function() {
  var accid = "<%= @chat_account.try(:accid) %>";
  var token = "<%= @chat_account.try(:token) %>";
  var team_role = "<%= @join_record.try(:role) %>";
  var chat_team_id = "<%= @chat_team.try(:team_id) %>";

  $( window ).bind( "beforeunload", function() {
    return "是否离开直播页面";
  });

  $("#clear-btn").click(function() {
    $("#messages").empty();
  });

  var live_chat = new LiveChat("<%= Chat::IM.app_key %>");

  if(accid == "" || chat_team_id == "" || team_role == "") {
    $.getJSON("<%= chat.live_studio_course_teams_finish_path(@course) %>", function(data) {
      accid = data.accid;
      token = data.token;
      chat_team_id = data.team_id;
      live_chat.config(accid, token, chat_team_id);
      live_chat.init(chatInitCallback);
    });
  } else {
    live_chat.config(accid, token, chat_team_id);
    live_chat.init(chatInitCallback);
  }

  $("#chat-tabs").click(function(event) {
    if(!$(event.target).parent("li").attr("role")) return false;
    if($(event.target).parent("li").hasClass("active")) return false;
    $("#chat-tabs li").removeClass("active");
    $(event.target).parent("li").addClass("active");
    var panel_name = $(event.target).parent("li").attr("role");
    $("#chat-panels .panel-body").hide();
    $("#" + panel_name + "-panel").show();
  });

  $("#message-form").submit(function() {
    if(!chatInited) return false;
    msg = $("#message-area").val().trim();
    if(msg == '') return false;
    var msg = live_chat.nim.sendText({
      scene: 'team',
      to: live_chat.teamId,
      text: msg,
      done: sendMsgDone
    });
    console.log('正在发送p2p text消息, id=' + msg.idClient);
    $("#message-area").val("");
    live_chat.pushMsg(msg);
    return false;
  });



  function sendMsgDone(error, msg) {

    console.log(error);
    console.log(msg);
    console.log('发送' + msg.scene + ' ' + msg.type + '消息' + (!error?'成功':'失败') + ', id=' + msg.idClient);
    $("#messages").append(
        "<div class='talk-div'>" + msg.fromNick + "（我）说: " + msg.text +
        "<div class='talk-time-div'>" + sendMessageTime(msg) + "</div>" +
        "</div>");
    $("#messages").scrollTop($("#messages").prop('scrollHeight'));
    live_chat.pushMsg(msg);
  }
});



  function sendMessageTime(msg){
    var date = new Date(msg.time);
    var hours = date.getHours();
    var minutes = "0" + date.getMinutes();
    var seconds = "0" + date.getSeconds();
    return hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2)
  }

  //判断flash是否安装方法
  function flashChecker(){
    var hasFlash=0;　　　　//是否安装了flash
    var flashVersion=0;　　//flash版本

    if(document.all)
    {
      var swf = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
      if(swf) {
        hasFlash=1;
        VSwf=swf.GetVariable("$version");
        flashVersion=parseInt(VSwf.split(" ")[1].split(",")[0]);
      }
    }else
    {
      if (navigator.plugins && navigator.plugins.length > 0)
      {
        var swf=navigator.plugins["Shockwave Flash"];
        if (swf)
        {
          hasFlash=1;
          var words = swf.description.split(" ");
          for (var i = 0; i < words.length; ++i)
          {
            if (isNaN(parseInt(words[i]))) continue;
            flashVersion = parseInt(words[i]);
          }
        }
      }
    }
    return {f:hasFlash,v:flashVersion};
  }

  var fls=flashChecker();

  if(fls.f) //判断flash是否安装
  {
    $("#my-video").show() //显示播放器
    var myPlayer = neplayer("my-video", {}, function() {
    });
    myPlayer.setDataSource({
      type: "rtmp/flv",
      src: "<%= channel.pull_streams.last.address %>"
    });

    myPlayer.play();

    myPlayer.onError(function(err){
      console.log(err.errCode);
      console.log(err.errMsg);
    });
  }
  else{
    $("#no-flash-area").show() //提示div
  }

  $(document).ready(function() {
    $('#message-area').keydown(function() {
      var message = $(this).val();
      if (event.keyCode == 13) {
        if (message == "") {
          // alert("Enter Some Text In Textarea");

        } else {
          console.log($(this).val())
          $('#message-form').submit();
        }
        $("#message-area").val('');
        return false;
      }
    });
  });


</script>
