<div class="container container-details">
  <div class="row">
    <%= render partial: 'teacher_info' %>
    <%= render partial: 'course_info' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'lesson_plan' %>
  </div>
</div>






<!--

<div class="qa_box panel panel-default panel-support">
  <div class='course-header-div'>
    <%= link_to LiveStudio::Course.model_name.human, live_studio.courses_path(student_id: @student.try(:id)) %> &gt;
    <strong><%= @course.name %></strong>
    <%= content_tag(:div, class: 'search-link') do %>
      <%= link_to t('activerecord.view.course'), student_courses_path(current_user) %>
    <% end if current_user.student?%>
  </div>
  <div class="course-info-list">
    <a href='#content_info' data-toggle="tab">
      <div id="info_div" class="list-ceil <%= params[:index].blank? || params[:index] == 'info' ? ' active' : nil %>">
        <%= t('view.course_show.info') %>
      </div>
    </a>
    <a href='#lesson_list' data-toggle="tab">
      <div id="list_div" class="list-ceil<%= params[:index] == 'list' ? ' active' : nil %>">
        <%= t('view.course_show.lessons') %>
      </div>
    </a>
  </div>
  <div class="info-header">
    <div class="info-name">
      <strong><%= @course.name %></strong>
    </div>
    <%= content_tag :div, class: "info-subtitle #{params[:index] == 'list' ? 'hide' : nil}" do %>
      <div class="info-status">
        <%= t('view.course_show.status') %>
        <%= @course.status_text %>
      </div>
      <div class="info-preview">
        <%= preview_time(@course,{text2: true}) %>
      </div>
    <% end %>
    <%= content_tag :div, class: "info-list-subtitle #{params[:index] == 'list' ? nil : 'hide'}" do %>
      <div>
        <%= t('view.course_info_show.lesson_plan') % [@course.live_start_time ,@course.live_end_time] %>
      </div>
      <div>
        <%= "#{t('view.course_info_show.schedule')}#{@course.completed_lesson_count}/#{@course.preset_lesson_count}" %>
      </div>
    <% end %>
    <% flag = @course.sell_to?(current_user) && !@course.bought_by?(current_user) && current_user == @student %>
    <%= content_tag(:div,class: 'course-taste-btn') do%>
      <%= link_to(@course.tasting?(@student) ? t('view.course_search_show.tasted') : t('activerecord.view.filter.tasted'),
                  live_studio.taste_course_path(@course, student_id: @student.id),
                  id: "taste-course-#{@course.id}", method: :post, remote: true,
                  class: "btn btn-default #{@course.tasting?(@student) ? 'disabled' : nil}") %>
    <% end if flag %>
    <%= content_tag(:div, link_to(t('activerecord.view.buy_now'), new_course_order_path(@course), id: "buy-course-#{@course.id}",class: 'btn btn-default'),
                    class: 'course-buy-btn') if @student && @student.student?%>
  </div>
  <div class="tab-content">
    <div id="content_info" class="tab-pane fade<%= params[:index].blank? || params[:index] == 'info' ? ' in active' : nil %>">
      <%= render partial: '/live_studio/student/courses/course_info' %>
    </div>
    <div id="lesson_list" class="tab-pane fade<%= params[:index] == 'list' ? ' in active' : nil %>">
      <%= render partial: '/live_studio/student/courses/lesson' %>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('.list-ceil').click(function(event){
      $('.list-ceil').removeClass('active');
      $(this).addClass('active');
      if($(this).attr('id') == 'info_div'){
        $('.info-list-subtitle').addClass('hide');
        $('.info-subtitle').removeClass('hide');
      }
      if($(this).attr('id') == 'list_div'){
        $('.info-list-subtitle').removeClass('hide');
        $('.info-subtitle').addClass('hide');
      }
    });
  });
</script>



 -->


<!--<div class="qa_box">-->
<!--<div class="qa_big_cell">-->
<!--<span style="padding-left:10px" class="qa_f18">-->
<%#= link_to LiveStudio::Course.model_name.human, live_studio.courses_path %> &gt;
<!--<strong><%= @course.name %></strong>-->
<!--</span>-->
<!--</div>-->
<!--<div class="qa_cell">-->
<!--<div class="row">-->
<!--<div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:name)%></div>-->
<!--<div class="col-md-9"><%= @course.name %></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="qa_cell">-->
<!--<div class="row">-->
<!--<div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:teacher)%></div>-->
<!--<div class="col-md-9"><%= @course.teacher_name %></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="qa_cell">-->
<!--<div class="row">-->
<!--<div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:price)%></div>-->
<!--<div class="col-md-9"><%= @course.price %></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="qa_cell">-->
<!--<div class="row">-->
<!--<div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:description)%></div>-->
<!--<div class="col-md-9"><%= @course.description %></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="qa_cell">-->
<!--<div class="row">-->
<!--<div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Course.human_attribute_name(:status)%></div>-->
<!--<div class="col-md-9"><%= @course.status_text %></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="qa_cell">-->
<!--<div class="row">-->
<!--<div class="col-md-2" style="padding-left:40px"><%= LiveStudio::Ticket.human_attribute_name(:type_name)  %></div>-->
<!--<div class="col-md-9"><%= @ticket.try(:type_name) %></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="qa_sep_15"></div>-->
<!--<div class="qa_sep_15"></div>-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<strong>课程安排</strong>-->
<!--</div>-->

<!--&lt;!&ndash; Table &ndash;&gt;-->
<!--<table class="table">-->
<!--<tr>-->
<!--<% %w(name se_time date status operate).each do |col| %>-->
  <!--<th>-->
  <!--<%= t("activerecord.view.#{col}") %>-->
  <!--</th>-->
  <!--<% end %>-->
<!--</tr>-->
<!--<%= render @lessons %>-->
<!--</table>-->
<!--<div class="panel-footer">-->
<!--<%= will_paginate @lessons %>-->
<!--</div>-->
<!--</div>-->
