<%= link_to main_app.get_app_path(current_user.try(:role) || 'student'), class: 'phone-download app_download' do %>
  <span class="phone-download-left">
    <%= image_tag('wap/download-logo.png') %>
    <span>
      <i><%= t('wap.live_studio/courses.show.app_name') %></i>
      <i><%= t('wap.live_studio/courses.show.app_intro') %></i>
    </span>
  </span>
  <span class="phone-download-right">
    <i><%= t('wap.live_studio/courses.show.download_app') %></i>
    <%= image_tag('wap/download-del.png', class: 'close_alert') %>
  </span>
<% end %>

<script type="text/javascript">
  $(function(){
    $(document).on('click', '.close_alert', function(event){
      event.preventDefault();
      $('.phone-download').addClass('hide');
    });

    // 识别移动设备下载app
    var download_platform = '';
    if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) {
      download_platform = 'ios';
    } else if (navigator.userAgent.match(/android/i)) {
      download_platform = 'android';
    }

    if(download_platform.length > 0){
      $.ajax({
        url: '/softwares/' + download_platform + '/student_client/latest',
        type: 'GET',
        dataType: 'json',
        success: function(data){
          $('.app_download').attr('href', data.url);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){}
      })
    }


  });
</script>