<%= link_to main_app.get_app_path(current_user.try(:role) || 'student'), class: 'phone-download app_download' do %>
  <span class="phone-download-left">
    <%= image_tag('wap/download-logo.png') %>
    <span>
      <i><%= t('wap.live_studio/courses.show.app_name') %></i>
      <i><%= t('wap.live_studio/courses.show.app_intro') %></i>
    </span>
  </span>
  <span class="phone-download-right">
    <i><%= t('wap.live_studio/courses.show.download_app') %></i>
    <%= image_tag('wap/download-del.png', class: 'close_alert') %>
  </span>
<% end %>

<script type="text/javascript">
  $(function(){
    $(document).on('click', '.close_alert', function(event){
      event.preventDefault();
      $('.phone-download').addClass('hide');
    });
  });
</script>