<div class="header-logo"><%= image_tag 'logo.png' %></div>
<div class="header-nav">
  <span>
    <% if signed_in? %>
      <%= link_to send("info_#{current_user.role}_path",current_user) do %>
      <i class="glyphicon glyphicon-user"></i> <%= t('view.common_bars.personal_center') %>
      <% end %>
      <%= content_tag(:span, link_to(t('view.student_bars.schedules'), live_studio.send("schedules_#{current_user.role}_path",current_user))) if current_user.present? && (current_user.student? || current_user.teacher?) %>
      <span>
        <%= link_to t("view.common_bars.notice"), main_app.user_notifications_path(current_user) %>
      </span>
      <%= content_tag :span, link_to(t("view.common_bars.sign_out"), main_app.signout_path, method: :delete ) %>
    <% else %>
      <%= link_to t("view.common_bars.sing_in"), main_app.signin_path %>
      <i>/</i>
      <%= link_to t("view.common_bars.teacher_register"), main_app.new_teacher_path %>
      <i>/</i>
      <%= link_to t("view.common_bars.student_register"), main_app.new_student_path %>
    <% end %>
  </span>
  <span><%= link_to t("view.common_bars.download"), main_app.welcome_download_path %></span>
  <span><%= link_to t("view.common_bars.common_problem"), main_app.qa_faqs_path %></span>
</div>