<header class="live-nav">
  <div class="container">
  <div class="header-content">
  <div class="header-logo">
    <%= link_to home_path do -%>
      <%= image_tag "logo-live.png" %>
    <% end -%>
  </div>
  <div class="header-nav">
    <% if signed_in? -%>
      <span>
        <%= link_to live_studio.send("schedules_#{current_user.role}_path", current_user) do -%>
          <%= image_tag "curriculum.png" %>
          <%= t("nav.schedules") %>
        <% end  if current_user.student? || current_user.teacher? -%>
      </span>
      <span>
        <%= link_to user_notifications_path(current_user) do -%>
          <%= image_tag "msg.png" %>
          <%= t("nav.messages") %>
        <% end -%>
      </span>
      <span>
        <%= link_to user_notifications_path(current_user) do -%>
          <%= image_tag "person.png" %>
          <%= t("nav.user_center") %>
        <% end if (current_user.student? || current_user.teacher? ) -%>
      </span>
      <span>
        <%= link_to t("nav.signout"), signout_path, method: :delete -%>
      </span>
    <% else -%>
      <span>
        <%= link_to t("nav.signin"), signin_path -%>
      </span>
    <% end -%>
  </div>
  </div>
  </div>
</header>