<header class="live-nav">
  <div class="container live-big">
    <div class="header-content">
      <div class="header-logo">
        <%= link_to image_tag("logo-live.png"), home_path %>
      </div>
      <div class="header-nav">
        <span>
          <%= link_to live_studio.send("schedules_#{current_user.role}_path", current_user) do -%>
            <%= image_tag "curriculum.png" %>
            <%= t("menu.schedule") %>
          <% end if current_user.student_or_teacher? -%>
        </span>
        <span>
          <%= link_to user_notification_path do -%>
            <%= image_tag "msg.png" %>
            <%= t("menu.messages") %>
          <% end -%>
        </span>
        <span>
          <%= link_to main_app.send("info_#{current_user.role}_path", current_user) do %>
            <%= image_tag "person.png" %>
            <%= t("menu.ucenter") %>
          <% end if current_user.student_or_teacher? %>
        </span>
        <span><%= link_to t("common.logout"), signout_path, method: :delete %></span>
      </div>
    </div>
  </div>
</header>