<header class="live-nav">
  <div class="container">
  <div class="header-content">
  <div class="header-logo">
    <%= link_to home_path do -%>
      <%= image_tag "logo-live.png" %>
    <% end -%>
  </div>
  <div class="header-nav">
    <span>
      <%= link_to home_path do -%>
        <%= image_tag "curriculum.png" %>
        课程表
      <% end -%>
    </span>
    <span>
      <%= link_to home_path do -%>
        <%= image_tag "msg.png" %>
        消息
      <% end -%>
    </span>
    <span>
      <%= link_to home_path do -%>
        <%= image_tag "person.png" %>
        个人中心
      <% end -%>
    </span>
    <span>
      <%= link_to "退出", home_path-%>
    </span>
  </div>
  </div>
  </div>
</header>