<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="navbar-collapse collapse" style="height: 1px;">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to home_path do %>
        <%= content_tag :span, '', class: 'fa fa-angle-up upward' if current_page?(home_path) %>
        <%= t("view.common_bars.home_page") %>
      <% end %>
    </li>
    <li>
      <%= link_to live_studio.root_path do %>
        <%= content_tag :span, '', class: 'fa fa-angle-up upward' if current_page?(live_studio.root_path) %>
        <%= t("view.common_bars.live_studio_courses") %>
      <% end %>
    </li>
    <% @customized_path = main_app.send("customized_courses_#{current_user.role}_path",current_user) if current_user && (current_user.manager? || current_user.teacher? || current_user.student?) %>
    <li>
      <%= link_to main_app.send("customized_courses_#{current_user.role}_path",current_user) do %>
        <%= content_tag :span, '', class: 'fa fa-angle-up upward' if current_user && current_page?(main_app.customized_courses_student_path(current_user)) %>
        <%= t("view.common_bars.customized_courses") %>
      <% end if current_user && (current_user.student? || current_user.teacher? || current_user.manager?) %>

      <%= link_to t("view.common_bars.customized_courses"), signin_path unless current_user %>
    </li>
    <li>
      <%= link_to main_app.curriculums_path do %>
        <%= content_tag :span, '', class: 'fa fa-angle-up upward' if current_page?(main_app.curriculums_path) %>
        <%= t("view.common_bars.curriculums") %>
      <% end %>
    </li>
    <li>
      <%= link_to main_app.questions_path do %>
        <%= content_tag :span, '', class: 'fa fa-angle-up upward' if current_page?(main_app.questions_path) %>
        <%= t("view.common_bars.questions") %>
      <% end %>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right visible-md visible-lg visible-xs">
    <li><%= link_to t("view.common_bars.download"), main_app.welcome_download_path %></li>
    <li>
      <span class="help">|</span>
      <%= link_to main_app.qa_faqs_path do -%>
        <% if params[:controller] == 'qa_faqs' -%>
          <span class="fa fa-angle-up upward"></span>
        <% end -%>
        <%= t("view.common_bars.common_problem") %>
      <% end -%>
    </li>
  </ul>
</div>