<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><%= link_to '全部课程', courses_path(student_id: @student.id) %></li>
        <li><%= link_to '首页', user_home_path %></li>
        <li><%= link_to '公开课程', curriculums_path %></li>
        <li><%= link_to '专属课程', customized_courses_student_path(@student) %></li>
        <li><%= link_to '问答社区', questions_path %></li>
        <li><%= link_to '辅导班', live_studio.student_courses_path(@student) %></li>
        <li role="presentation"><a href="#">下载</a></li>
        <li role="presentation"><a href="#">常见问题</a></li>
      </ul>
    </div>
  </div>
</nav>
