<div class="navbar navbar-inverse <%= "navbar-fixed-top" if defined?(fixed) and fixed %>" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "答疑时间" , curriculums_path ,class: "navbar-brand" %>
    </div>

    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <% if signed_in? %>
            <!--li class="<%= "active" if controller_name == 'home' %>"><%=link_to '管理',root_path %></li-->
        <% else %>
            <li><%= link_to "教师注册", new_teacher_path %></li>
            <li><%= link_to "学生注册", new_student_path %></li>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% if signed_in? %>
          <li>
            <%= link_to current_user.name,user_home_path,class: "pull-left" %>
          </li>
        <% end %>
        <% if signed_in? %>
            <% if current_user.student? or current_user.teacher? %>
                <li>
                  <% if current_user.unread_notifications_count > 0 %>
                      <%= link_to "消息(#{current_user.unread_notifications_count})",user_notification_path %>
                  <% else %>
                      <%= link_to "消息",user_notification_path %>
                  <% end %>
                </li>
            <% end %>
            <li>
              <%= link_to '登出', signout_path, :method=>'delete' %>
            </li>

        <% else %>
            <li>
              <%= link_to '登录', signin_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>