<!DOCTYPE html>
<html lang="cn">
<head>
  <title>Qatime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_bar' %>

<div class="container">
  <div class='row'>
    <div class='col-md-2'>
      <ul class="menu" style="color: white">

        <li>
          <%= link_to admins_teachers_path do %>
              <span class="glyphicon glyphicon-user"></span> <span class="qa_f18"> 教师</span> Info
          <% end %>
        </li>
        <li>
          <%= link_to admins_schools_path do %>
              <span class="glyphicon glyphicon-home"></span> <span class="qa_f18"> 学校</span> School
          <% end %>
        </li>
        <li>
          <span class="glyphicon glyphicon-info-sign"></span><span class="qa_f18"> 消息</span> Message
        </li>

        <li>
          <%= link_to signout_path, :method=>'delete'  do %>
              <span class="glyphicon glyphicon-log-out"></span> <span class="qa_f18"> 退出</span> Exit
          <% end %>
        </li>
      </ul>
    </div>
    <div class='col-md-10'>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
