<!DOCTYPE html>
<html lang="cn">
<head>
  <meta name="renderer" content="webkit">

  <title>Qatime</title>
  <%= stylesheet_link_tag    "web_home", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_bar_new' %>

<div class="container">
  <div class='row'>
    <div class="col-md-12">
      <%= render partial: 'shared/flash_msg' %>
    </div>
    <div class='col-md-2'>
      <ul class="menu" style="color: white">
        <!--<li>-->
          <!--<%#= link_to admins_withdraws_path do %>-->
            <!--<span class="glyphicon glyphicon-user"></span> <span class="qa_f18">审核记录</span>-->
          <!--<%# end %>-->
        <!--</li>-->
        <li>
          <%= link_to main_app.admins_push_messages_path do %>
            <span class="glyphicon glyphicon-user"></span> <span class="qa_f18">消息推送</span>
          <% end %>
        </li>
        <li>
          <%= link_to recommend.position_banner_items_path(Recommend::BannerItem.default.presence || 0) do %>
            <span class="glyphicon glyphicon-list-alt"></span> <span class="qa_f18"><%= Recommend::Position.model_name.human %></span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.audit_admins_withdraws_path do %>
            <span class="glyphicon glyphicon-user"></span> <span class="qa_f18">提现审核</span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.audit_admins_refunds_path do %>
            <span class="glyphicon glyphicon-user"></span> <span class="qa_f18">退款审核</span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.teachers_path do %>
              <span class="glyphicon glyphicon-user"></span> <span class="qa_f18"> 教师</span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.admins_cities_path do %>
              <span class="glyphicon glyphicon-map-marker"></span> <span class="qa_f18"> 城市</span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.admins_workstations_path do %>
              <span class="glyphicon glyphicon-hand-up"></span> <span class="qa_f18"> <%= Workstation.model_name.human %></span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.admins_softwares_path do %>
            <span class="glyphicon glyphicon-home"></span>
              <span class="qa_f18">
                下载管理
              </span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.schools_path do %>
              <span class="glyphicon glyphicon-home"></span> <span class="qa_f18"> 学校</span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.questions_path do %>
              <span class="fa fa-university"></span> <span class="qa_f18"><%= VipClass.model_name.human %></span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.action_records_path do %>
              <span class="fa fa-cogs"></span> <span class="qa_f18"><%= ActionRecord.model_name.human %></span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.students_path do %>
              <span class="glyphicon glyphicon-hdd"></span>
              <span class="qa_f18"> <%= Student.model_name.human %> </span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.admins_recharge_codes_path do %>
              <span class="glyphicon glyphicon-credit-card"></span> <span class="qa_f18"> 充值</span>
          <% end %>
        </li>
        <li>
          <span class="glyphicon glyphicon-info-sign"></span><span class="qa_f18"> 消息</span>
        </li>

        <li>
          <%= link_to main_app.qa_faqs_path do %>
            <span class="glyphicon glyphicon-question-sign"></span><span class="qa_f18"> <%= QaFaq.model_name.human %></span>
          <% end %>
        </li>
        <li>
          <%= link_to live_studio.admin_courses_path do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="qa_f18"><%= LiveStudio::Course.model_name.human %></span>
          <% end %>
        </li>

        <li>
          <%= link_to main_app.admins_teaching_programs_path do %>
              <span class="glyphicon glyphicon-question-sign"></span>
              <span class="qa_f18">
                   <%=TeachingProgram.model_name.human%>
              </span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.admins_managers_path do %>
              <span class="glyphicon glyphicon-question-sign"></span>
              <span class="qa_f18">
                人员
              </span>
          <% end %>
        </li>

        <li>
          <%= link_to main_app.managers_register_codes_path do %>
              <span class="glyphicon glyphicon-question-sign"></span>
              <span class="qa_f18">
                <%= RegisterCode.model_name.human%>
              </span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.sidekiq_web_path do %>
              <span class="glyphicon glyphicon-question-sign"></span>
              <span class="qa_f18">
                队列
              </span>
          <% end %>
        </li>
        <li>
          <%= link_to main_app.signout_path, :method=>'delete'  do %>
              <span class="glyphicon glyphicon-log-out"></span> <span class="qa_f18">退出系统</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class='col-md-10'>
      <%= yield %>
    </div>
  </div>
  <%= debug(params) if Rails.env.development? %>
</div>
<%= render 'layouts/footer' %>
<%= yield :javascript %>

</body>
</html>
