<!DOCTYPE html>
<html lang="cn">
<head>
  <title>Qatime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%=javascript_include_tag "jwplayer/jwplayer" %>
  <!--link href="http://vjs.zencdn.net/4.4/video-js.css" rel="stylesheet"-->
  <!--script src="http://vjs.zencdn.net/4.4/video.js"></script-->
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_bar' %>

<div class="container">
  <div class='row'>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
