<!DOCTYPE html>
<html>
<head>
  <title>Qatime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <link href="http://vjs.zencdn.net/4.4/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.4/video.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">答疑时间</a>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页</a></li>
        <li><a href="#about">视频</a></li>
        <li><a href="#forum">论坛</a></li>
        <li><a href="#contact">投票</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li>
              <%= link_to '登出', destroy_user_session_path, :method=>'delete' %>
            </li>
        <% else %>
            <li>
              <%= link_to '登录', new_user_session_path %>
            </li>
        <% end %>
        <% if user_signed_in? %>
            <li>
              <%= link_to '编辑', edit_user_registration_path %>
            </li>
        <% else %>
            <li>
              <%= link_to '注册', new_user_registration_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>
<div class="container">
  <div class='row'>
    <div class='col-md-9'>
      <%= yield %>
    </div>
    <div class='col-md-3'>
      <%= yield :side_bar%>
    </div>
  </div>
</div>

</body>
</html>
