<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title><%= page_title(params[:controller], params[:action]) %> 111111</title>
  <%= stylesheet_link_tag    "wap", media: "all", "data-turbolinks-track" => false %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "wap", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= yield :mask %>
<%= yield :javascript %>
</body>
</html>
