<!DOCTYPE html>
<html lang="cn">
<head>
  <title>Qatime</title>
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <%= stylesheet_link_tag    "front", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheet %>
</head>
<body class="login-body" gtools_scp_screen_capture_injected="true">
<header class="head">
  <div class="container">
    <div class="login-header">
      <div class="login-left">
        <%= link_to image_tag('homepage-logo.png'), main_app.root_path %>
      </div>
      <div class="login-right">
        <i><%= t('view.common_bars.login_head_title') %></i>
        <span>
          <%= image_tag 'phone.png' %>
          <%= t('view.common_bars.phone') %>
        </span>
      </div>
    </div>
  </div>
</header>
<%= yield %>
<footer>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="copyright">
    <div><%= t('view.footer.copyright') %></div>
    <div><%= t('view.footer.record') %></div>
  </div>
</footer>
<%= yield :modal %>
<%= yield :javascript %>
</body>
</html>