<!DOCTYPE html>
<html>
<head>
  <title>Qatime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <!--link href="http://vjs.zencdn.net/4.4/video-js.css" rel="stylesheet"-->
  <!--script src="http://vjs.zencdn.net/4.4/video.js"></script-->
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_bar' %>

<div class="container">
  <div class='row'>
    <div class='col-md-2'>
      <% if user_signed_in? %>
          <%= render 'layouts/user_info' %>
      <% end %>
      <%= yield :side_bar%>
    </div>
    <div class='col-md-10'>
      <% if notice %>
          <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert %>
          <p class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>

  </div>
</div>

</body>
</html>
