<!DOCTYPE html>
<html>
<head>
  <title>Qatime</title>
  <meta name="renderer" content="webkit">

  <%= stylesheet_link_tag    "web_home", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_bar' %>

<div class="container">
  <div class='row'>
      <%= yield %>
  </div>
</div>

</body>
</html>
