<!DOCTYPE html>
<html lang="cn">
  <head>
    <title>Qatime</title>
    <meta name="renderer" content="webkit">
    <%= stylesheet_link_tag "front", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheet %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
    <%= render 'shared/flash_msg' %>

    <%= yield %>

    <%= render 'layouts/front_footer' %>
    <%= yield :mask %>
    <%= yield :javascript %>
  </body>
</html>
