<!DOCTYPE html>
<html lang="cn">
<head>
  <title>Qatime</title>
  <meta name="renderer" content="webkit">
  <%= stylesheet_link_tag    "front", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <div class="header-content">
      <div class="header-logo"><img src="/imgs/logo.png"></div>
      <div class="header-nav">
  			<span>
  				<i class="glyphicon glyphicon-user"></i>
          <% if signed_in? %>
              <%= content_tag(:span, link_to(t('view.student_bars.schedules'), live_studio.send("schedules_#{current_user.role}_path",current_user))) if @user.present? && (@user.student? || @user.teacher?) %>
            <span>
              <%= link_to t("view.common_bars.notice"), user_notification_path %>
            </span>
          <% else %>
            <%= link_to t("view.common_bars.sing_in"), signin_path %>
            <i>/</i>
            <%= link_to t("view.common_bars.teacher_register"), new_teacher_path %>
            <i>/</i>
            <%= link_to t("view.common_bars.student_register"), new_student_path %>
          <% end %>
  			</span>
        <span><%= link_to t("view.common_bars.download"), main_app.welcome_download_path %></span>
        <span><%= link_to t("view.common_bars.common_problem"), main_app.qa_faqs_path %></span>
      </div>
    </div>
  </div>
</header>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><%= link_to t("view.common_bars.home_page"), main_app.root_path %></li>
        <li><%= link_to t("view.common_bars.live_studio_courses"), live_studio.root_path %></li>
        <%= content_tag :li, link_to(t("view.common_bars.customized_courses"), @user.blank? ?
          signin_path : (@user.student? || @user.teacher? ? customized_courses_student_path(@user) : '')) %>
        <li><%= link_to t("view.common_bars.curriculums"), curriculums_path %></li>
        <li><%= link_to t("view.common_bars.questions"), questions_path %></li>
      </ul>
    </div>

  </div>
</div>

<%= yield %>
<div class="container container-footer">
  <div class="row">
    <footer class="recommended-link">
      <div class="link-content">
        <div class="row">
          <div class="col-md-6 link-left">
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td><p>关于我们</p></td>
                <td><img style='width: 121px;height: 121px;' src="/imgs/wechat_qrcode.png"></td>
                <td><p>扫描左侧二维码关注"答疑时间"官方公众号，随时随地了解最新的学习信息</p></td>
                <td></td>
              </tr>
              </tbody></table>
          </div>
          <div class="col-md-6 link-right">
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td>客服电话</td>
                <td class="link-phonenum">010-58442007</td>
                <td class="link-td">周一至周五<br>9:00-16:00</td>
              </tr>
              <tr>
                <td>客服QQ</td>
                <td colspan="2">263548456韩老师   / 3202005932关老师</td>
              </tr>
              <tr>
                <td>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 址</td>
                <td colspan="2">阳泉市荷藕镇ononetime小树村西天使203号</td>
              </tr>
              </tbody></table>
          </div>
        </div>
        <div class="link-city">
          <p>
            <span class="city-cooperation">合作城市</span>
            <a href="" class="city-name">诸暨</a>
            <a href="">阳泉</a>
            <a href="" class="city-feedback">意见反馈</a>
          </p>
        </div>
        <div class="copyright" style="text-align: center; padding-top: 20px;">
          <div>Copyright © 2013-2015 QaTime.</div>
          <div>京ICP备12031445号-3</div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
