<!DOCTYPE html>
<html lang="cn">
<head>
  <title>Qatime</title>
  <meta name="renderer" content="webkit">
  <%= stylesheet_link_tag    "front", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheet %>
</head>
<body>
<%
   @none_path = current_user.blank? ? signin_path : (!current_user.manager? && !current_user.student? && !current_user.teacher? && 'javascript:void(0);')
%>
<header>
  <div class="container">
    <div class="header-content">
      <%= render 'layouts/header' %>
    </div>
  </div>
</header>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <%= render 'layouts/nav' %>
  </div>
</div>

<% if flash.any? %>
  <div class="container message-nav">
    <div class="row">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
  </div>
<% end %>


<%= yield %>


<div class="container container-footer">
  <%= render 'layouts/front_footer' %>
</div>
<%= yield :mask %>
<%= yield :javascript %>
</body>
</html>
