<!DOCTYPE html>
<html>
<head>
<title>Qatime</title>
<meta name="renderer" content="webkit">

<%= stylesheet_link_tag "front_live", media: "all", "data-turbolinks-track" => false %>
<%= stylesheet_link_tag "live_studio/nep.min.css", media: "all", "data-turbolinks-track" => false %>
<%= yield :stylesheet %>

<%= javascript_include_tag "live_studio/application", "data-turbolinks-track" => false %>
<%= javascript_include_tag "live_studio/nep.min.js", "data-turbolinks-track" => false %>
</head>
<body class="live-body">
    
<%= render 'layouts/live_header' %>

<% if flash.any? %>
<div class="container message-nav">
  <div class="row">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
</div>
<% end %>

<%= yield %>

<div class="container container-footer">
  <div class="row">
    <%= render 'layouts/live_footer' %>
  </div>
</div>
<%= yield :mask %>
<%= yield :javascript %>
</body>
</html>
