<!DOCTYPE html>
<html lang="cn">
<head>
  <title>Qatime</title>
  <meta name="renderer" content="webkit">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "live_studio/student/courses", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "payment/application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "live_studio/student/courses", "data-turbolinks-track" => false %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_bar_new' %>

<div class="container">
  <div class='row'>
    <div class="col-md-12">
      <%= yield :breadcrumb %>
      <%= render 'layouts/shared/flash' %>
    </div>

    <div class='col-md-2'>
      <%= render "layouts/sidebar/student_new" %>
    </div>
    <div class='col-md-10'>
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>

<script>
  $(function() {
    $("form").preventDup();
  });
</script>

</body>
</html>
