<!DOCTYPE html>
<html lang="cn">
<head>
  <meta name="renderer" content="webkit">
  <title>Qatime</title>
  <%= stylesheet_link_tag    "web_home", media: "all", "data-turbolinks-track" => false %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_bar_new' %>

<div class="container">
  <div class='row'>
    <div class="col-md-12">
      <%= render partial: 'shared/flash_msg' %>
    </div>
    <div class='col-md-2'>
      <%= render "layouts/sidebar/workstation" %>
    </div>
    <div class='col-md-10'>
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
<%= yield :javascript %>
</body>
</html>
